Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Fix flaky help_options test: restore enableConsoleColoring after mutation (#19385)
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/FscOptionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix C3: ScopeCapture test uses cross-module pattern to prove scope capture
  docs/srtp-guide.md
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ScopeCapture.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

isolate checker (#19393)
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix sequence points for computed collections
  .github/skills/vsintegration-ide-debugging/SKILL.md
  src/Compiler/Optimize/LowerComputedCollections.fs
  vsintegration/tests/FSharp.Editor.IntegrationTests/DebuggingSequencePointTests.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/FSharp.Editor.IntegrationTests.csproj
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess_Debugging.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/ShellInProcess_Debugging.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/SolutionExplorerInProcess.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/TestData/Debugging/SequencePointIssues.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Introduce CallRelatedSymbolSink to avoid affect name resolution with related symbols (#19361)
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  src/Compiler/Checking/RelatedSymbolUse.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/SemanticClassification.fs
  src/Compiler/Service/SemanticClassification.fsi
  src/Compiler/Service/TransparentCompiler.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/src/FSharp.Editor/CodeFixes/RemoveSuperfluousCaptureForUnionCaseWithNoData.fs
  vsintegration/src/FSharp.Editor/DocumentHighlights/DocumentHighlightsService.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
  vsintegration/src/FSharp.LanguageService/Intellisense.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

AugmentWishHashCompare - remove 7 bools in matches
  src/Compiler/Checking/AugmentWithHashCompare.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  src/Compiler/TypedTree/WellKnownAttribs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rebalance the split
  eng/tests/TestSplit.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move System.* package versions to Version.Details.xml for source-build
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI: update trimmed FSharp.Core.dll expected size and restore missing release note
  docs/release-notes/.FSharp.Core/10.0.300.md
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move release notes from 10.0.300 to 11.0.100 (post-freeze)
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix MarshalAs regression: don't filter attribute before GenMarshal reads it
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Move release notes to 11.0.100, remove from 10.0.300
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add release notes for FSharp.Compiler.Service 11.0.100
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix fantomas formatting in TypedTree.fsi and TypedTreeOps.fsi
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Move release notes to 11.0.100
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Merge main, move release notes to 11.0.100
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix flaky ModuleReaderCancellationTests on Linux CI
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert ilwrite.fs MethodDefKey.Equals change to isolate vs_release NRE
  src/Compiler/AbstractIL/ilwrite.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update net472 EmittedIL baselines for exception serialization constructors
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/ExceptionType.fs.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOff.il.net472.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOn.il.net472.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOff.il.net472.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOn.il.net472.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix invalid XLF state attribute causing all CI failures
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Warn when function type passed to interpolated string (#19289)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Service/FSharpProjectSnapshot.fs
  src/Compiler/Utilities/DependencyGraph.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix flaky type-provider test in MultiProjectAnalysisTests by isolating its checker and disabling parallelization (#19395)
  tests/FSharp.Compiler.Service.Tests/MultiProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert constrained.callvirt change to isolate vs_release NRE
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Drop #18140 from release notes — handled by #19372
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove #18140 tests — fix handled by #19372
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Signatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove RoslynForTestingButNotForVSLayer hack (#19375)
  eng/Versions.props
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

FSharpType: add more predefined type checks (#19325)
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/Symbols.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add #version;; directive to F# Interactive (#19332)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Interactive/FSIstrings.txt
  src/Compiler/Interactive/fsi.fs
  src/Compiler/Interactive/xlf/FSIstrings.txt.cs.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.de.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.es.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.fr.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.it.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.ja.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.ko.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.pl.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.pt-BR.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.ru.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.tr.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.zh-Hans.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Scripting/Interactive.fs
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/fsharp/core/printing/output.1000.stdout.bsl
  tests/fsharp/core/printing/output.200.stdout.bsl
  tests/fsharp/core/printing/output.47.stdout.bsl
  tests/fsharp/core/printing/output.multiemit.stdout.bsl
  tests/fsharp/core/printing/output.off.stdout.bsl
  tests/fsharp/core/printing/output.stdout.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

update release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

wip
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
