Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Add release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Bound missing-ledger clarification history by issue creation
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/core.cjs
  .github/scripts/regression-triage/core.test.cjs
  .github/scripts/regression-triage/github.cjs
  .github/scripts/regression-triage/publish.cjs
  .github/scripts/regression-triage/publish.test.cjs
Due: none

Split Linux CoreCLR CI into two existing test batches
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Watch FSI host before pipe connection
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add independent reported regression triage workflow
  .gitattributes
  .github/aw/actions-lock.json
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/evaluate.cjs
  .github/scripts/regression-triage/evaluate.test.cjs
  .github/scripts/regression-triage/fixtures/classification.json
  .github/scripts/regression-triage/workflow.cjs
  .github/scripts/regression-triage/workflow.test.cjs
  .github/workflows/regression-triage.lock.yml
  .github/workflows/regression-triage.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix regression triage handoff and reconciliation
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/collector.integration.test.cjs
  .github/scripts/regression-triage/core.cjs
  .github/scripts/regression-triage/core.test.cjs
  .github/scripts/regression-triage/framework.test.cjs
  .github/scripts/regression-triage/github.cjs
  .github/scripts/regression-triage/output-validation.json
  .github/scripts/regression-triage/publish.cjs
  .github/scripts/regression-triage/publish.test.cjs
  .github/scripts/regression-triage/workflow.test.cjs
  .github/workflows/regression-triage.lock.yml
  .github/workflows/regression-triage.md
Due: none

Register FSI RPC handlers explicitly
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Prevent oversized triage reports from starving complete work
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/core.cjs
  .github/scripts/regression-triage/github.cjs
  .github/scripts/regression-triage/workflow.cjs
  .github/scripts/regression-triage/workflow.test.cjs
Due: none

Align regression triage proposals with pinned HTTP transport
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/framework.test.cjs
  .github/scripts/regression-triage/publish.cjs
  .github/scripts/regression-triage/publish.test.cjs
  .github/scripts/regression-triage/workflow.test.cjs
  .github/workflows/regression-triage.lock.yml
  .github/workflows/regression-triage.md
Due: none

Cover regression triage verification gaps
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/collector.integration.test.cjs
  .github/scripts/regression-triage/publish.test.cjs
Due: none

Implement RequireNamedArgumentsAttribute (FS-1095) (#20340)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/MethodCalls.fsi
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/NamedArguments/NamedArguments.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentsTests.fs
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/fsharp/typeProviders/requireNamedArguments/provider.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep parentheses around nested tuple argument next to a named argument
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/NicePrint.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add PR link to release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix regression triage retry fairness and redirected evidence
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/collector.integration.test.cjs
  .github/scripts/regression-triage/core.cjs
  .github/scripts/regression-triage/core.test.cjs
  .github/scripts/regression-triage/github.cjs
  .github/scripts/regression-triage/publish.test.cjs
  .github/scripts/regression-triage/workflow.test.cjs
Due: none

Reject transferred triage roots before batch admission
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/collector.integration.test.cjs
  .github/scripts/regression-triage/github.cjs
  .github/scripts/regression-triage/publish.test.cjs
Due: none

Preserve triage clarification identity and require verified completion
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/core.cjs
  .github/scripts/regression-triage/core.test.cjs
  .github/scripts/regression-triage/framework.test.cjs
  .github/scripts/regression-triage/github.cjs
  .github/scripts/regression-triage/publish.cjs
  .github/scripts/regression-triage/publish.test.cjs
  .github/scripts/regression-triage/workflow.test.cjs
  .github/workflows/regression-triage.lock.yml
  .github/workflows/regression-triage.md
Due: none

Stabilize non-inline forwarding closure test fixture
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep parentheses around nested tuple argument next to named arg (#20589)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/NicePrint.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Note when a shared field needs option instead of voption
  .github/instructions/FSharp.instructions.md
Due: none

Add Copilot rules reference for other agent engines
  .claude/rules/CcrOptout.md
  .claude/rules/CodeGen.md
  .claude/rules/ComponentTests.md
  .claude/rules/DebugEmit.md
  .claude/rules/EngVersioning.md
  .claude/rules/ExpertReview.md
  .claude/rules/FSComp.md
  .claude/rules/FSharpCore.md
  .claude/rules/LSP.md
  .claude/rules/NoBloat.md
  .claude/rules/Optimizer.md
  .claude/rules/SyntaxTree.md
  .claude/rules/TypedTreePickle.md
  AGENTS.md
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/ExpertReview.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Prefer the Visual Studio MCP server over the shell
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/FSharpCore.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Drop external URL from CLAUDE.md (prompt injection risk)
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/LSP.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/FSComp.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/ComponentTests.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/DebugEmit.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/EngVersioning.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Don't mirror CcrOptout into Claude Code sessions
  .claude/rules/CcrOptout.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/CodeGen.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/TypedTreePickle.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/NoBloat.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/SyntaxTree.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move Visual Studio guidance into copilot-instructions.md
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move Visual Studio guidance into copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/Optimizer.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Compare spans through ordinal helpers instead of spelling StringComparison out
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
