Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fix flaky help test: reset consolecolors before help output
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/misc/misc.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI: restore MSBuild NuGet feed removed by codeflow
  NuGet.config
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix flaky FindReferences test by isolating checker instance
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restrict open preprocessing to ModuleOrNamespace targets and add negative test
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add edge-case tests for invalid open and forward-reference in namespace rec
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Replace LSPSolutionSlim.slnx with VSFSharpExtension.slnx
  .github/workflows/copilot-setup-steps.yml
  VSFSharpExtension.slnx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update SDK to 10.0.202
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use heap dumps (type 2) instead of triage dumps for crash diagnostics
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19597: single-case struct DU gets spurious bar in signature
  src/Compiler/Checking/NicePrint.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #19592: backticked active pattern case names lose escaping in sig
  src/Compiler/SyntaxTree/PrettyNaming.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove sweep tooling (investigation artifacts, not production test infra)
  tests/sig-sweep-v2/Placeholder.fs
  tests/sig-sweep-v2/SigSweep.fsproj
  tests/sig-sweep-v2/sweep.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add failing test: namespace global roundtrip (found by corpus sweep)
  tests/FSharp.Compiler.ComponentTests/Signatures/ModuleOrNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19595: type params with special chars get backtick escaping
  src/Compiler/Checking/NicePrint.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add tooltip tests for signature generation display changes
  tests/FSharp.Compiler.Service.Tests/TooltipTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19594: SRTP constraints use explicit type param syntax in signatures
  src/Compiler/Checking/NicePrint.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add skipped test for #19596: overloaded member with unit parameter
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19593: namespace global dropped from generated signature
  src/Compiler/Service/FSharpCheckerResults.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/ModuleOrNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add sig-gen roundtrip failures from corpus sweep (positive code only)
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
  tests/sig-sweep-v2/Placeholder.fs
  tests/sig-sweep-v2/SigSweep.fsproj
  tests/sig-sweep-v2/sweep.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add skipped test for #19596: overloaded member with unit parameter
  tests/FSharp.Compiler.ComponentTests/Signatures/TestHelpers.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add missing roundtrip test for #19595: type param backtick escaping
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix namespace global + module layout and unskip 3 passing tests
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/ModuleOrNamespaceTests.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix cannot use user-defined CAE attribute
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for additional signature generation fixes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Update xcopy-msbuild to 18.0.0
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix test
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/CallerArgumentExpression/CallerArgumentExpression.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix test
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/CallerArgumentExpression/CallerArgumentExpression.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix formatting in PrettyNaming.fs
  src/Compiler/SyntaxTree/PrettyNaming.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix PR numbers in release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add IL verification: M(()) and M() produce identical IL method signatures
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19596: overloaded member with unit parameter conformance check
  src/Compiler/Checking/SignatureConformance.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update release notes: add #19596 fix, fix PR numbers
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add inverse conformance tests for unit param overload
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update xcopy-msbuild to 18.0.0 (#19610)
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove extra blank line in CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI failures: remove 'in' keyword triggering FS3885 and add XLF entries
  src/Compiler/Interactive/fsi.fs
  src/Compiler/Utilities/HashMultiMap.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
