Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Calculate Entity.PublicPath instead of storing (#20285)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/ServiceDeclarationLists.fs
  src/Compiler/Symbols/Exprs.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reject bitwise operators on char-backed enums (#11785) (#20322)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/E_BitwiseOpsOnCharEnum.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/EnumTypes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/ExtensionBitwiseOrOnCharEnum.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Replace the stringified pattern-match memo key with a typed one (#20337)
  src/Compiler/Checking/PatternMatchCompilation.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/GuardedOrPatternComplexity.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add postmortem
  .github/instructions/SyntaxTree.instructions.md
  docs/postmortems/README.md
  docs/postmortems/regression-parse-tree-fidelity-return-attributes.md
Due: none

Fuse the optimizer inlining copy + type-instantiation passes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Extract inline list combinators into a ListInline module
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Also carry [<InlineIfLambda>] on the ListInline / mapq / lengthsEqAndForall2 signatures
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove per-node closure allocations in post-inference type checking
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Characterize that an instance member inline preserves InlineIfLambda through <|
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review: array scatter for source order, extract TopologicalPostOrder
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Factor reorder into OptimizeInDependencyOrder, document optimizing=false diagnostics
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Correct the member/<| comment: the <| penalty is real under escape
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

ListInline.forall2: flatten with a struct-tuple match
  src/Compiler/Utilities/illib.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

ListInline.forall2: drop redundant struct keyword from the case patterns
  src/Compiler/Utilities/illib.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Test: split closure-form cases into DoesNotAllocate / AllocatesClosure; add top-level vs local partial-application
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add regression test: StackGuard inline Guard closure placement (IL baseline)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Inlining.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/StackGuardInlineIfLambda.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/StackGuardInlineIfLambda.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Avoid per-call closure allocation in type-hierarchy traversal
  src/Compiler/Checking/TypeHierarchy.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: reuse the cached ILTypeRef in ILTypeInfo.FromType (#20255)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/infos.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Check let bindings through active patterns like a match (#16856)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckIncrementalClasses.fs
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Named/ActivePatternInLetBindingBindsValue.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Named/ActivePatternInLetBindingLocalScope.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Named/ActivePatternInLetBindingTuplePattern.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Named/ActivePatternInLetBindingWithGenericRhs.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Named/E_ActivePatternInLetBindingValueRestriction.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Named/Named.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Named/PartialActivePatternInLetBinding.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add PR number to release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Avoid FullPath array allocation in fslibRefEq
  src/Compiler/TypedTree/TypedTreeBasics.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Unpickling: share one EntityRef per non-local reference row (#20364)
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Agent memory: define Stacked PRs and no-fork branch policy
  .github/copilot-instructions.md
Due: none

Use ListInline.foldBack in free-variable typar folds
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rotate [<return: X>] attributes during binding normalization (#20356)
  .github/instructions/SyntaxTree.instructions.md
  docs/postmortems/README.md
  docs/postmortems/regression-parse-tree-fidelity-return-attributes.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/SyntaxTree/SyntaxTreeOps.fsi
  tests/service/data/SyntaxTree/Attribute/ReturnTargetedAttributeGroupingIsPreserved.fs
  tests/service/data/SyntaxTree/Attribute/ReturnTargetedAttributeGroupingIsPreserved.fs.bsl
  tests/service/data/SyntaxTree/Attribute/ReturnTargetedAttributeStaysOnBinding.fs
  tests/service/data/SyntaxTree/Attribute/ReturnTargetedAttributeStaysOnBinding.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove public-scout Apex CI leg and its Roslyn-version workaround
  azure-pipelines-PR.yml
  eng/SetApexRoslynVersion.ps1
  eng/Versions.props
  eng/pipelines/apex-integration/README.md
  eng/pipelines/apex-integration/integration-job.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Drop stale P4/P5 note from Apex README (both already done)
  eng/pipelines/apex-integration/README.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add failing regression tests: nested module disables rec-group inline reorder
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix merge g Please enter the commit message for your changes. Lines starting
  vsintegration/src/FSharp.Editor/Common/DocumentCache.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Extend rec-group inline reorder to groups containing nested modules
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Import: share assembly CCUs between projects (#20296)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/Service/BackgroundCompiler.fs
  src/Compiler/Service/BackgroundCompiler.fsi
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/IncrementalBuild.fsi
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/Service/TransparentCompiler.fsi
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Optimize `String.filter` (netstandard 2.1+) - reduce allocations using stack allocation when possible
  src/FSharp.Core/FSharp.Core.fsproj
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply the same optimization to String.mapi
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Optimize String.map (netstandard 2.1+) - eliminate intermediate allocations via String.Create + Span
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Optimize `String.replicate` (netstandard 2.1+) - reduce allocations with Span magic
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add a comment back
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Correct typo
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix a nowarn that breaks fantomas
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run fantomas on string.fs
  src/FSharp.Core/string.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
