Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fix missed TypeDirectedConversion baseline for narrowed Warning 64 range
  tests/fsharp/Compiler/Language/TypeDirectedConversionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Show correct nullable type in dot-access warning message (#19658)
  src/Compiler/Driver/CompilerDiagnostics.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableCsharpImportTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.checknulls_on.err.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert narrow-mItem approach: keep 3 ranges, rewrap only FS0041
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add failing test for duplicate format specifier locations in CE (issue 16419)
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Dedup format specifier locations in TcResultsSinkImpl (issue 16419)
  src/Compiler/Checking/NameResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply remaining changes
  .executor-pid
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete .executor-pid
  .executor-pid
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[#19797, #19664] Add regression tests
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/StaticMethodResolution.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/PropertyResolution/StaticPropertyResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Pass isStatic to the ResolveExprDotLongIdent func and use it in order to determine a lookupKind
  src/Compiler/Checking/NameResolution.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix colorization of type name in MyType<Qualified.Name>.S (#18009)
  src/Compiler/Service/SemanticClassification.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove range parameter from Entity.Typars; fix shared entity typar race
  src/Compiler/Checking/AugmentWithHashCompare.fs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckIncrementalClasses.fs
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/InfoReader.fsi
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/QuotationTranslator.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/Checking/SignatureHash.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/Checking/infos.fsi
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/ServiceDeclarationLists.fs
  src/Compiler/Symbols/Exprs.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreeOps.Remap.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/TypedTree/TypedTreeOps.Transforms.fs
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add FS3888 diagnostic for namespace/type collision
  src/Compiler/FSComp.txt
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/NamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply remaining changes
  .executor-pid
  src/Compiler/Service/ServiceParsedInputOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix non-deterministic reference assembly MVIDs (#19751)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/fsc.fs
  src/Compiler/Utilities/TypeHashing.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/determinism/determinism.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for SRTP get_Item string indexer fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add release notes for FS1113 inline member fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add release notes for anonymous record type alias parser fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Address review feedback: add inline comment and additional tests
  src/Compiler/Service/FSharpCheckerResults.fs
  tests/FSharp.Compiler.Service.Tests/TooltipTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review feedback: remove dead else branch, fix comment, add single-case test
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/Basic.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for wildcard hover fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Unify 3 range params to 2: pass narrow mItemIdent as mItem
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/OverloadResolutionErrorRangeTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/ExperimentalAttributeCheckingTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/ObsoleteAttributeCheckingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix neg20/neg106 baselines: remove spurious duplicate diagnostics
  .github/aw/actions-lock.json
  tests/fsharp/typecheck/sigs/neg106.bsl
  tests/fsharp/typecheck/sigs/neg20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FS1182 not reported for unused let functions in class types (#13849)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckIncrementalClasses.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/warnon/warnon.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Narrow static property overload ranges via TcPropertyItemThen
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/OverloadResolutionErrorRangeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix neg106.vsbsl baseline: remove spurious FS1204 duplicates
  tests/fsharp/typecheck/sigs/neg106.vsbsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

modify the test job
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #18086: suppress NuGet restore stdout under FSI --quiet
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCliTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes entry for #18086
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix CI test baselines for narrowed diagnostic ranges
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AttributeUsage.fs
  tests/FSharp.Compiler.ComponentTests/Language/ObsoleteAttributeCheckingTests.fs
  tests/fsharp/Compiler/Language/DefaultInterfaceMemberTests.fs
  tests/fsharp/Compiler/Language/TypeDirectedConversionTests.fs
  tests/fsharp/typecheck/sigs/neg10.bsl
  tests/fsharp/typecheck/sigs/neg101.bsl
  tests/fsharp/typecheck/sigs/neg45.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add RED tests for issue #18841 (let _ = &expr triggers FS0421)
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/AddressOf/AddressOf.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #18841: let _ = &expr now compiles like let x = &expr
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix neg30.bsl baseline for CompilerMessage property range narrowing
  tests/fsharp/typecheck/sigs/neg30.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stabilize parallel optimizer Val iteration for deterministic names (#19732)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/OptimizeInputs.fs
  src/Compiler/Optimize/DetupleArgs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add failing tests for diagnostic duplication (issue #16360)
  vsintegration/tests/FSharp.Editor.Tests/DocumentDiagnosticAnalyzerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix neg30.bsl: FS0120 CompilerMessage warning emits from two paths
  tests/fsharp/typecheck/sigs/neg30.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
