Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Render ILFieldInit.String and Null literal fields in Go to Metadata
  src/Compiler/Checking/NicePrint.fs
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Block 11b.1: make the SourceGear sqlite vendoring helper build standalone
  Tools/FSharp.SqliteVendored/Directory.Build.targets
  Tools/FSharp.SqliteVendored/SourceGearSqlite.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 11c: build the VisualFSharpFull VSIX clean and verify it is sqlite-safe
  vsintegration/Vsix/Directory.Build.props
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpFull.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Handle remaining interpolated-string forms adjacent to '=' (#16696) (#19984)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/lex.fsl
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsExtendedMultiDollar.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsExtendedMultiDollar.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsVerbatim.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsVerbatim.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsVerbatimAtDollar.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsVerbatimAtDollar.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove duplicate test cases
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateCustomType.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericInstanceMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericInstanceMethod.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericInstanceMethod.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericInstanceMethod.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericInstanceMethod.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericStaticMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericStaticMethod.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericStaticMethod.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericStaticMethod.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericStaticMethod.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateILMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateInstanceMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateInstanceMethod.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateInstanceMethod.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateInstanceMethod.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateInstanceMethod.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateKnownFunction.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateKnownFunction.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateKnownFunction.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateKnownFunction.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateKnownFunction.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegatePartialApplication.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStaticMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStaticMethod.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStaticMethod.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStaticMethod.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStaticMethod.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitArg.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Avoid leaking a MeterListener per Cache in DEBUG builds
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Utilities/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CompilerCompat: generalize define to USES_PREVIEW_COMPILER, drop comments
  tests/projects/CompilerCompat/CompilerCompatApp/CompilerCompatApp.fsproj
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/CompilerCompatLib.fsproj
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Only wrap genuine enums (0x55 tag) as ILAttribElem.Enum on decode
  src/Compiler/AbstractIL/il.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix formatting in decodeILAttribData enum-wrap branch
  src/Compiler/AbstractIL/il.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Determinism CI: skip known-racy FSCS.dll, restore strict gate
  azure-pipelines-PR.yml
  eng/test-determinism.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Determinism CI: drop FSCS.dll from well-known-binary sanity check
  eng/test-determinism.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Improve implied argument names
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ArgumentNames.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

Allow closing '>' of multiline nested type arguments to align with the opener (#15171)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/SyntaxTree/LexFilter.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalFiltering/OffsideExceptions/MultilineNestedTypeArguments.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalFiltering/OffsideExceptions/OffsideExceptions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor
  src/Compiler/CodeGen/IlxGen.Delegates.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add SyntaxTree baseline for multiline nested type arguments (#15171)
  tests/service/data/SyntaxTree/SynType/SynTypeAppNestedMultilineClosingGreaterAligned.fs
  tests/service/data/SyntaxTree/SynType/SynTypeAppNestedMultilineClosingGreaterAligned.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build fix
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Build fix
  src/Compiler/CodeGen/IlxGen.Delegates.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Guard generated reflection-free ToString against deep-recursion overflow
  src/Compiler/Checking/AugmentWithHashCompare.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Test the reflection-free ToString deep-recursion guard
  src/Compiler/Checking/AugmentWithHashCompare.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/reflectionfree.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Minimize #15171 SyntaxTree test to a parse-only case
  tests/service/data/SyntaxTree/SynType/SynTypeAppNestedMultilineClosingGreaterAligned.fs
  tests/service/data/SyntaxTree/SynType/SynTypeAppNestedMultilineClosingGreaterAligned.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refine ilzero effect-freedom to fully-ground types; add tests
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/UncheckedDefaultofOptimization.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert defaultof elimination: unsafe for SRTP witness typars
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Observations.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/UncheckedDefaultofOptimization.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Detect duplicate sibling modules in recursive module groups (#19913)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ModuleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Wire the VS insertion build into CIBuild.cmd (opt-in via BUILD_INSERTION)
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Rename TyparsNoRange->Typars after main merge (member renamed on main)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Re-apply #19955 augmentation-member closure nesting (lost in --ours merge)
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CI: authenticate devdiv feed + enable insertion build by default
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

19929: regen 17 EmittedIL baselines + AOT placeholder sizes after stacking on 19810+main
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest1.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest2.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest3.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest4.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest6.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals10.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals11.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals12.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals13.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals14.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals15.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals16.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals17.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals18.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/AugmentationClosureNesting.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/LetIfThenElse01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/ModuleWithExpression01.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fantomas: format IlxGen.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Improve implied argument names (#20001)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ArgumentNames.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3010618
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Document raw-data prime-miss fallback is same-flags deterministic (abonie #19810 review)
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3010618
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore product-CI green: drop cross-org devdiv feed (CFS-noncompliant)
  NuGet.Config
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Document inheritResolutionFailed dedup rationale
  src/Compiler/Checking/CheckBasics.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add FS3888 diagnostic and SetInlineInfo mutator (infra)
  src/Compiler/FSComp.txt
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Detect recursive inline bindings in TcLetrecBindings (FS3888)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
