Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Block 9m: wire Arcade signing into CI (SignType=Test first)
  azure-pipelines.yml
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 9m.1: defer signing to the insertion build (empty ItemsToSign)
  azure-pipelines.yml
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Preserve scope and indentation when placing script opens
  src/Compiler/Service/ServiceParsedInputOps.fs
  tests/FSharp.Compiler.Service.Tests/OpenDeclarationInsertionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fuse check-then-extract idioms into active patterns; consolidate comments
  src/Compiler/Checking/import.fs
  src/Compiler/Checking/import.fsi
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeBasics.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fantomas formatting
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Block 9n (EPIC V/V2): repoint vsintegration off Microsoft.VisualFSharp.Msbuild.15.0
  eng/Versions.props
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.LanguageService.Base/FSharp.LanguageService.Base.csproj
  vsintegration/src/FSharp.LanguageService/FSharp.LanguageService.fsproj
  vsintegration/src/FSharp.ProjectSystem.Base/Project/ProjectSystem.Base.csproj
  vsintegration/src/FSharp.ProjectSystem.FSharp/ProjectSystem.fsproj
  vsintegration/src/FSharp.VS.FSI/FSharp.VS.FSI.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 9o (EPIC V/V1): FSharp.Insertion.sln + non-fatal vsintegration CI phase
  FSharp.Insertion.sln
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix F# editor semantic-classification issues (#19905 items 1/2/5/7)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/SemanticClassification.fs
  src/Compiler/Service/ServiceAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix spurious type errors for provided types under parallel compilation
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/TypedTree/TypeProviders.fs
  src/Compiler/TypedTree/TypeProviders.fsi
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  tests/FSharp.Compiler.Service.Tests/ManglingNameOfProvidedTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for type-provider parallel-checking and SDK hosting fixes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Block 9p (EPIC V): fix CI-surfaced vsintegration MSB3277 + FS2003
  build/targets/PackageVersions.props
  eng/Versions.props
  vsintegration/Directory.Build.props
  vsintegration/src/FSharp.ProjectSystem.Base/Project/ProjectSystem.Base.csproj
  vsintegration/src/FSharp.ProjectSystem.FSharp/ProjectSystem.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop agentic-workflow failure-issue spam (#19953)
  .github/workflows/aw-auto-update.lock.yml
  .github/workflows/aw-auto-update.md
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
  .github/workflows/regression-pr-shepherd.lock.yml
  .github/workflows/regression-pr-shepherd.md
Due: none

Allow interpolated string adjacent to '=' (e.g. C(Name=$"value")) (#19820)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Facilities/prim-lexing.fsi
  src/Compiler/lex.fsl
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEquals.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEquals.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsTripleQuote.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsTripleQuote.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsWithHole.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsWithHole.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Pass only narrow terminal-identifier range from name resolution (#19818)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/OnTypeMembers.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/OverloadResolutionErrorRangeTests.fs
  tests/FSharp.Compiler.ComponentTests/Interop/RequiredAndInitOnlyProperties.fs
  tests/FSharp.Compiler.ComponentTests/Interop/VisibilityTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/DotLambdaTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/ObsoleteAttributeCheckingTests.fs
  tests/fsharp/typecheck/sigs/neg10.bsl
  tests/fsharp/typecheck/sigs/neg15.bsl
  tests/fsharp/typecheck/sigs/neg17.bsl
  tests/fsharp/typecheck/sigs/neg90.bsl
  tests/fsharp/typecheck/sigs/neg91.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Block 9q (EPIC V): unwire the non-fatal vsintegration CI step; keep fixes staged
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix(hot-reload): drop unused bindings and clear nullness/XML-doc warnings
  src/Compiler/CodeGen/DeltaMetadataTables.fs
  src/Compiler/CodeGen/EncMethodDebugInformation.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/Service/service.fs
  src/Compiler/TypedTree/ClosureNameAllocator.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor(hot-reload): drop the SRM shadow metadata writer
  docs/hot-reload-tgro-closure-matrix.md
  src/Compiler/CodeGen/DeltaMetadataSrmWriter.fs
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  tests/scripts/check-hotreload-metadata-parity.sh
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): resolve the name-map holder once to kill a torn read
  src/Compiler/Generated/CompilerGeneratedNameMapState.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ThreadSafetyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor(hot-reload): move hand-written name-state files to TypedTree/
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/TypedTree/ClosureNameAllocationState.fs
  src/Compiler/TypedTree/CompilerGeneratedNameMapState.fs
  src/Compiler/TypedTree/GeneratedNames.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): pin determinism for the replay compile, not just capture
  src/Compiler/Driver/fsc.fs
  src/Compiler/Driver/fsc.fsi
  tests/FSharp.Compiler.Service.Tests/HotReload/ArchitectureGuardTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): fold base type and interfaces into the representation hash
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): mark public active-statement API types experimental
  src/Compiler/HotReload/ActiveStatements.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): build the PDB EncMap at the baseline method row
  src/Compiler/CodeGen/HotReloadPdb.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/PdbTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): stop wiping the capture store from the checker ctor
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): run the ilxgen name-path guard in CI; document emission-context invariant
  src/Compiler/HotReload/HotReloadState.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ArchitectureGuardTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor(hot-reload): move the hot-reload session types out of service.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

style(hot-reload): apply fantomas formatting
  src/Compiler/CodeGen/DeltaMetadataTables.fs
  src/Compiler/CodeGen/EncMethodDebugInformation.fs
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/CodeGen/HotReloadPdb.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/HotReload/ActiveStatements.fs
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Service/service.fs
  src/Compiler/TypedTree/ClosureNameAllocationState.fs
  src/Compiler/TypedTree/ClosureNameAllocator.fs
  src/Compiler/TypedTree/CompilerGeneratedNameMapState.fs
  src/Compiler/TypedTree/GeneratedNames.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): point the enc-instance guard at the moved session file
  tests/FSharp.Compiler.Service.Tests/HotReload/ArchitectureGuardTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix(hot-reload): restore checker-ctor capture reset; guard isEmpty against null
  src/Compiler/CodeGen/EncMethodDebugInformation.fs
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Checker: recover on checking language version
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckFormatStrings.fs
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/BooleanReturningAndReturnTypeDirectedPartialActivePatternTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Lower string-typed interpolation to String.Concat (reflection-free)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/SynExpr.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fsi
  src/Compiler/pars.fsy
  tests/AheadOfTime/NativeAOT/NativeAOT_Test.fsproj
  tests/AheadOfTime/NativeAOT/Program.fs
  tests/AheadOfTime/NativeAOT/check.cmd
  tests/AheadOfTime/NativeAOT/check.ps1
  tests/AheadOfTime/check.ps1
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/fsharp/core/quotes/test.fsx
  tests/service/data/SyntaxTree/String/InterpolatedStringOffsideInModule.fs.bsl
  tests/service/data/SyntaxTree/String/InterpolatedStringOffsideInNestedLet.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsWithHole.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithSynStringKindRegular.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithSynStringKindTripleQuote.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithSynStringKindVerbatim.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithTripleQuoteMultipleDollars.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithTripleQuoteMultipleDollars2.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for interpolated string String.Concat lowering
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add producer-agnostic probe of broker-available actions to failure dump
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Allow constructing F# records via their all-fields constructor (FS-1073)
  src/Compiler/Checking/AccessibilityLogic.fs
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/OverloadResolutionCache.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/Checking/infos.fsi
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rename MethInfo.RecdAllFieldsCtor to RecdCtor
  src/Compiler/Checking/AccessibilityLogic.fs
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/OverloadResolutionCache.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/Checking/infos.fsi
  src/Compiler/Symbols/SymbolHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for record constructors (FS-1073)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

Treat `]` before dot like `)` in QuickParse completion (#19934)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/QuickParse.fs
  tests/FSharp.Compiler.Service.Tests/QuickParseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
