Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Security scan: trusted authors get AI-Security-Scan-Clean immediately
  .github/workflows/labelops-pr-security-scan.md
Due: none

Security scan: add attack patterns and cited defense learnings
  .github/workflows/labelops-pr-security-scan.md
Due: none

Remove no longer needed recovery rule
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Allow <'T, .. > syntax to solve value restrictions
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  test_dotdot.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Enable < .. > wildcard
  src/Compiler/pars.fsy
  test_dotdot.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix Array.exists2 XML doc examples to use equal-length arrays
  src/FSharp.Core/array.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for Array.exists2 doc fix
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

Handle Const.Zero for enum types in custom attribute codegen
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/OptionalAttributeArgs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix internal error when using custom attribute with optional value type argument (#8353)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/OptionalAttributeArgs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix closure codegen ICE for nested SRTP witness typars
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

PR Tooling Safety Check: reframe, add phases, SAGE taxonomy
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
  docs/labelops-security-scan.md
Due: none

Backtest results: add bot authors to trusted list
  .github/workflows/labelops-pr-security-scan.md
  docs/labelops-security-scan.md
Due: none

Fix malformed XML in Microsoft.FSharp.Compiler.fsproj from merge conflict
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Skip full scan for non-fork PRs (write-access authors)
  .github/workflows/labelops-pr-security-scan.md
Due: none

Inline docs into workflow file, delete separate docs page
  .github/workflows/labelops-pr-security-scan.md
  docs/labelops-security-scan.md
Due: none

Fix ICE in BuildDisposableCleanup when Dispose extension methods are in scope (#19568)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/UseBindings/UseBindings.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Handle Const.Zero for primitive value types in custom attribute codegen (#19484)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/OptionalAttributeArgs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add scenario
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Graph/Scenarios.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

remove script extra handling
  src/Compiler/Driver/GraphChecking/DependencyResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

include AnonModules
  src/Compiler/Driver/GraphChecking/TrieMapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rename Prompt-Injection-Risk → Affects-Agent-Config
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

fix test
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Graph/TrieMappingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Narrow Affects-Test-Infra to execution infrastructure only
  .github/workflows/labelops-pr-security-scan.md
Due: none

Drop Affects-Test-Infra — test execution is out of scope
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Re-add Affects-Test-Tooling (narrowed from Test-Infra)
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Split generic vs repo-specific rules, trim name-dropped references
  .github/instructions/tooling-check-repo-rules.md
  .github/workflows/labelops-pr-security-scan.md
Due: none

Inline everything — no separate rules file
  .github/instructions/tooling-check-repo-rules.md
  .github/workflows/labelops-pr-security-scan.md
Due: none

Restore 3 dropped references with honest framing
  .github/workflows/labelops-pr-security-scan.md
Due: none

Fix 3 blocking issues from adversarial review
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Add untrusted-input rule, diff-size cap, labels-not-gates caveat
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Remove bogus rules: diff-size cap, labels-not-gates
  .github/workflows/labelops-pr-security-scan.md
Due: none

Rewrite categories as principles, not file lists
  .github/workflows/labelops-pr-security-scan.md
Due: none

[15.9] Bootstrap revival infra: global.json, INTERNAL.md, SDL config, .gitignore
  .gitignore
  INTERNAL.md
  eng/TSAConfig.gdntsa
  eng/config/guardian/.gdnsuppress
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Add azure-pipelines-official.yml + azure-pipelines.yml; refresh NuGet.Config; patch build.cmd to suppress nupkgs (B10); drop legacy .vsts-*.yaml
  .vsts-pr.yaml
  .vsts-signed.yaml
  NuGet.Config
  azure-pipelines-official.yml
  azure-pipelines.yml
  build.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Add local-validate scripts (D8/D9/D10) + LOCAL_VALIDATION.md; fix NuGet.Config to include nuget.org
  INTERNAL.md
  NuGet.Config
  scripts/LOCAL_VALIDATION.md
  scripts/compare-insertion-vs-rtm.ps1
  scripts/local-validate.ps1
  scripts/verify-vsix-targets.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add short comment when flagged, retest with novel vectors
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
