Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Bound decision-tree identity traversal
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fail closed on closure-name recapture mismatch
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bound baseline string heap reads
  src/Compiler/AbstractIL/ILBaselineReader.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ILBaselineReaderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format bounded string heap reader
  src/Compiler/AbstractIL/ILBaselineReader.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format bounded string heap reader
  src/Compiler/CodeGen/ILBaselineReader.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Secure release-note checks for fork pull requests
  .github/workflows/check_release_notes.yml
Due: none

Fix leading arg boxing
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/DelegateForwarding.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Make closure recapture test deterministic
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove Apex tests from slnx and gate on Insiders
  VisualFSharp.slnx
  eng/Build.ps1
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Suppress warning
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

List VS instances
  eng/Build.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Insertion: probe whether 499 can auth main's devdiv internal-tools feed (SwixBuild plugin)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Clean up goto-def tests: drop unused open System and redundant caret-anchor comments
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.ActivePatterns.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.Classes.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.DiscriminatedUnions.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.LetBindings.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.Members.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.Misc.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.Modules.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.PatternMatching.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.Records.fs
  tests/FSharp.Compiler.Service.Tests/GotoDefinition/GotoDefinitionTests.TypeAnnotations.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Collapse copy-pasted completion sources with ordered {caretN} markers
  tests/FSharp.Compiler.Service.Tests/Completion/CompletionTests.Functions.fs
  tests/FSharp.Compiler.Service.Tests/Completion/CompletionTests.IndexingSlicing.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: single-source xunit.v3.runner.console onto $(XunitVersion)
  eng/Packages.props
  eng/Versions.props
  tests/Directory.Build.props
  tests/EndToEndBuildTests/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CI: remove the internal-tools auth probe (result captured: 499 CAN auth devdiv/dotnet-core-internal-tooling)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Pin Apex 18.7
  eng/Build.ps1
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: add XML doc inheritance harness
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: harden XML doc inheritance expansion
  src/Compiler/Symbols/XmlDocInheritance.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor: extract nodesToString helper in inheritdoc engine
  src/Compiler/Symbols/XmlDocInheritance.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat: expand implicit <inheritdoc/> in tooltip/completion/sighelp (Path B)
  src/Compiler/Symbols/SymbolHelpers.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

perf: raw-line pre-scan for inheritdoc before GetXmlText elaboration
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: add XML doc include test framework
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: no implicit inheritdoc candidate for structs/enums/delegates (Roslyn parity)
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CPM: apply the dotnet/runtime central floor in source-build too
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix XML doc include test framework
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: only inherit for genuine overrides, matching base overload by signature
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore: Phase 7 cleanup - internal parser API, drop FS3390, verbatim-emit test, honest notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Driver/XmlDocFileWriter.fs
  src/Compiler/FSComp.txt
  src/Compiler/Symbols/XmlDocSigParser.fs
  src/Compiler/Symbols/XmlDocSigParser.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDoc.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore tool-version properties read by the test harness
  eng/Packages.props
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: do not centrally manage the implicit Microsoft.VSSDK.BuildTools ref
  eng/Packages.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: add C#-parity ORPA discriminators (red) for H1/H5/H6
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix byref unsoundness
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NotNullIfNotNullTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Roslyn-format EnC CustomDebugInformation codec and portable PDB method CDI emission (#20018)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/EncMethodDebugInformation.fs
  src/Compiler/AbstractIL/EncMethodDebugInformation.fsi
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/AbstractIL/ilwrite.fsi
  src/Compiler/AbstractIL/ilwritepdb.fs
  src/Compiler/AbstractIL/ilwritepdb.fsi
  src/Compiler/Driver/fsc.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
