Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Add OPERATORS_RESOLVE_ISSUES.md: standalone plan for orphan cleanup
  docs/OPERATORS_RESOLVE_ISSUES.md
Due: none

Phase A: Use already-computed entity flags in Phase1G
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Phase B: Compute entity flags ad-hoc in Phase1B and early typar check
  src/Compiler/Checking/CheckDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Phase C: Compute val flags ad-hoc in CheckExpressions
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Phase D: Compute val flags in GenParamAttribs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Phase E: Compute val flags ad-hoc for field-level attrs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix review findings: MeasureableAttribute name, AllowNullLiteral True/False
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add attribsHaveEntityFlag/attribsHaveValFlag helpers, refactor callsites
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove dead TryFindFSharpBoolAttribute helper (zero callers remain)
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove dead code and migrate remaining CompilationRepresentation/CompileAsEvent
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review council: iterative elif walk, typed constant patterns, test coverage
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/OperatorTests.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/TypeMismatchTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore orphan files to main versions (no RFC changes)
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/MethodOverrides.fs
  src/Compiler/Checking/MethodOverrides.fsi
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  src/Compiler/Symbols/FSharpDiagnostic.fs
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/Utilities/Caches.fs
  src/Compiler/Utilities/Caches.fsi
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Delete HasFSharpAttributeOpt (zero callers), migrate CheckFSharpAttributesForObsolete
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add byref escape analysis tests for ref T type var, async CE, and property getter
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add ExtensionConstraintSolutions alongside existing language features
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore Nullness.KnownFromConstructor in TypedTree
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Prototype: classifyEntityAttrib + tryFindEntityAttribByFlag
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Migrate NonSerializedAttribute to val flags
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore deleted functions in TypedTreeOps
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add tryFindEntityAttribString/Int32, delete TryFindFSharpInt32Attribute
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add (|EntityAttrib|_|) and (|ValAttrib|_|) active patterns for enum-powered data extraction
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix UnscopedRef detection on property getters and update tests
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Integrate RFC FS-1043 changes into ConstraintSolver with cache preserved
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore nullness/DIM orphans in CheckExpressions and CheckDeclarations
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore build infrastructure to origin/main versions
  Directory.Build.targets
  global.json
  tests/EndToEndBuildTests/BasicProvider/BasicProvider.Tests/BasicProvider.Tests.fsproj
  tests/EndToEndBuildTests/ComboProvider/ComboProvider.Tests/ComboProvider.Tests.fsproj
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/FSharp.Compiler.LanguageServer.Tests/FSharp.Compiler.LanguageServer.Tests.fsproj
  tests/FSharp.Compiler.Private.Scripting.UnitTests/FSharp.Compiler.Private.Scripting.UnitTests.fsproj
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/fsharp/FSharpSuite.Tests.fsproj
  vsintegration/tests/FSharp.Editor.IntegrationTests/FSharp.Editor.IntegrationTests.csproj
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/Salsa/VisualFSharp.Salsa.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add cross-assembly F# [<UnscopedRef>] struct method tests
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Deduplicate cross-assembly UnscopedRef test consumer source
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build verification and formatting cleanup
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Service/ServiceLexing.fs
  src/Compiler/Service/ServiceLexing.fsi
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/SyntaxTree/LexerStore.fs
  src/Compiler/SyntaxTree/LexerStore.fsi
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/SyntaxTree/SyntaxTrivia.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fsi
  src/Compiler/lex.fsl
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Document IL-path scoped mask limitation in RFC and add tests
  docs/rfc/FS-XXXX-improved-byreflike-escape-analysis.md
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build verification and formatting cleanup
  src/Compiler/Driver/fsc.fs
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.ComponentTests/CompilerCompatibilityTests.fsx
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Extract shared helpers in PostInferenceChecks.fs (Findings 8, 11, 15)
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore nullness orphan deletions and add #elif tests
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalAnalysis/PreprocessorElif.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix strong name signature size to align with Roslyn for public signing (#11887)
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/AbstractIL/ilsign.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/misc/PublicSign.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Debug assertions for silent fallbacks in PostInferenceChecks
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Upgrade 8 high-value error tests from withErrorCodes to withDiagnostics
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #1: Restore files lost during merge with main
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/Driver/GraphChecking/TrieMapping.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/TestConsole.fs
  tests/FSharp.Test.Utilities/XunitHelpers.fs
  tests/FSharp.Test.Utilities/XunitSetup.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: Restore 3 orphan files to main and remove debug printfn
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/fsharp/FSharpSuite.Tests.fsproj
  tests/fsharp/testconfig.json
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(compiler): register LanguageFeature.RuntimeAsync and add ILMethodDef.IsAsync
  eng/Versions.props
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilprint.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cache improvedByRefLikeEscapeAnalysis on cenv; extract RefSafetyRulesAttributeName constant
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/import.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(compiler): wire 0x2000 async flag through IlxGen
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
