Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Make Create public
  src/Compiler/AbstractIL/il.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fantomas
  src/Compiler/AbstractIL/il.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: share ILCallingConv instances
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: cache C# extension methods per CCU
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/ParseAndCheckInputs.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(Async): Add exception-unwrapping Await (#19785)
  azure-pipelines-PR.yml
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
  tests/FSharp.Compiler.Service.Tests/Tooltip/TooltipTests.Types.fs
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/XmlDocumentationValidation.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: fix leaking binary view (#20250)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/ilread.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/ILBinaryReaderMemoryTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reject tuple type extensions of arity > 7 with FS3905
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/TypeExtensions/basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/TypeExtensions/basic/TupleTypeExtension04.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply even more feedback goodness
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

feat(Async): StartTaskImmediate
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Tasklike overload
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Polish xmldoc
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address copilot review
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Harden ExtensionConstraints tests: coverage + tightened negatives (FS-1043)
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/BasicExtensionOperators.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/OpExplicitOptionalExtension.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Harden IWSAMsAndSRTPs tests: route positives through real extension lookup, pin negatives
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add graph-checking scenario for tuple type extension dependencies
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Graph/Scenarios.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add executing test for return-type-directed overloading (RFC FS-1043)
  tests/fsharp/Compiler/Conformance/ExtensionConstraints/ReturnTypeOverloadExecutionTests.fs
  tests/fsharp/FSharpSuite.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

IL: use empty tables for members when possible (#20249)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/ilread.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Teach compiler driver to ignore unknown warning codes (#20246)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerOptions.fs
  tests/FSharp.Compiler.ComponentTests/CompilerDirectives/NonStringArgs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on RelaxWhitespace language feature flag (#20226)
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/SyntaxTree/LexFilter.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove duplicate and nonexistent Compile entries from ComponentTests fsproj
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix net10 E2E compiler and coverage
  azure-pipelines-PR.yml
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  src/FSharp.Core/tasks.fs
  src/FSharp.Core/tasks.fsi
  tests/AheadOfTime/NetPackage/VerifyNetPackage.fsx
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
  tests/FSharp.Test.Utilities/SurfaceArea.fs
  tests/ILVerify/ilverify.ps1
  tests/ILVerify/ilverify_FSharp.Core_Debug_netcoreapp.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netcoreapp.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Suppress MessagePack GHSA-4qm4-8hg2-g2xm NuGet audit advisory
  Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bump FSBuildVersion to 401 to fix published-package-version check
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Compact IWSAM/SRTP tests: hoist duplicated compile-and-run pipeline
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Include Async ValueTask APIs in net10 FSharp.Core
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reference xmldoc/*.xml fragments in FSharp.Core.fsproj as compilation inputs
  src/FSharp.Core/FSharp.Core.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

review: tidy tests
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

doc: Tidy release notes
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

doc: Add crossreference to StartTaskImmediate from Await/AwaitTask
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

review: clarify comments
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

tidy: Linting/style
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: cover legacy inline metadata import
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.dll
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: isolate legacy metadata compilation
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: normalize legacy inline metadata flags
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: align legacy inline regression name
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: reproduce pre-witness inline metadata regression
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.dll
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: exercise legacy SRTP inline metadata
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.dll
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: keep legacy inline check at IL boundary
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
