Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Sprint 6: Update remaining test files to use centralized TFM
  tests/AheadOfTime/Equality/Equality.fsproj
  tests/AheadOfTime/Trimming/FSharpMetadataResource_Trimming_Test/FSharpMetadataResource_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/SelfContained_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/StaticLinkedFSharpCore_Trimming_Test/StaticLinkedFSharpCore_Trimming_Test.fsproj
  tests/EndToEndBuildTests/BasicProvider/TestBasicProvider.cmd
  tests/EndToEndBuildTests/ComboProvider/TestComboProvider.cmd
  tests/fsharp/SDKTests/tests/FSharpCoreVersionTest.props
  tests/scripts/identifierAnalysisByType.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Skip passing tests temporarily
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Extract ProjectFiltering module to eliminate duplicate code
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/ProjectFiltering.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Extract overload resolution cache to dedicated module
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/OverloadResolutionCache.fs
  src/Compiler/Checking/OverloadResolutionCache.fsi
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Extract union case tester constants to PrettyNaming module
  src/Compiler/Checking/AugmentWithHashCompare.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/SyntaxTree/PrettyNaming.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Centralize product TFM into eng/productTfm.txt
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  eng/templates/regression-test-jobs.yml
  eng/test-determinism.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Centralize product TFM into eng/productTfm.txt
  .ralph/CONTEXT.md
  .ralph/LAST_VALIDATOR.md
  .ralph/PROBLEMS.md
  .ralph/status.txt
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  eng/templates/regression-test-jobs.yml
  eng/test-determinism.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Skip passing tests temporarily v3
  azure-pipelines-PR.yml
  eng/Build.ps1
  tests/fsharp/TypeProviderTests.fs
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Describe reality with unused query variables via test comments
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add comprehensive E2E overload resolution cache correctness tests
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/OverloadResolutionAdversarialTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/OverloadResolutionBasicTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/OverloadResolutionCacheE2ETests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Centralize #18270 filtering in RoslynHelpers conversion layer
  vsintegration/src/FSharp.Editor/CodeFixes/RenameParamToMatchSignature.fs
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refactor: Move union case tester registration to property-specific layer
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  src/Compiler/SyntaxTree/PrettyNaming.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert skipping tests
  azure-pipelines-PR.yml
  eng/Build.ps1
  tests/fsharp/TypeProviderTests.fs
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/Checking/OverloadResolutionCache.fs
  src/Compiler/Checking/OverloadResolutionCache.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Temporarily remove some tests
  FSharp.sln
  xunit3-fsi-stdin-debugging-summary.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove VSTest IsTestProject
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.LanguageServer.Tests/FSharp.Compiler.LanguageServer.Tests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove more tests
  azure-pipelines-PR.yml
  tests/fsharp/TypeProviderTests.fs
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert "Remove more tests"
  azure-pipelines-PR.yml
  tests/fsharp/TypeProviderTests.fs
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove .ralph directory
  .ralph/CONTEXT.md
  .ralph/LAST_VALIDATOR.md
  .ralph/PROBLEMS.md
  .ralph/VISION.md
  .ralph/notes.txt
  .ralph/status.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove 3 CI legs temporarily
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Centralize product TFM into eng/productTfm.txt
  Directory.Build.props
  FSharpBuild.Directory.Build.targets
  UseLocalCompiler.Directory.Build.props
  buildtools/checkpackages/Directory.Build.props
  buildtools/checkpackages/FSharp.Compiler.Service_notshipped.fsproj
  buildtools/checkpackages/FSharp.Core_notshipped.fsproj
  buildtools/checkpackages/Version.txt
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  eng/Build.ps1
  eng/build-utils.ps1
  eng/build.sh
  eng/productTfm.txt
  eng/templates/regression-test-jobs.yml
  eng/test-determinism.ps1
  src/Compiler/Driver/FxResolver.fs
  src/Compiler/Facilities/CompilerLocation.fs
  tests/AheadOfTime/Equality/Equality.fsproj
  tests/AheadOfTime/Trimming/FSharpMetadataResource_Trimming_Test/FSharpMetadataResource_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/SelfContained_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/StaticLinkedFSharpCore_Trimming_Test/StaticLinkedFSharpCore_Trimming_Test.fsproj
  tests/EndToEndBuildTests/BasicProvider/BasicProvider.DesignTime/BasicProvider.DesignTime.fsproj
  tests/EndToEndBuildTests/BasicProvider/BasicProvider.Tests/BasicProvider.Tests.fsproj
  tests/EndToEndBuildTests/BasicProvider/BasicProvider/BasicProvider.fsproj
  tests/EndToEndBuildTests/BasicProvider/TestBasicProvider.cmd
  tests/EndToEndBuildTests/ComboProvider/ComboProvider.Tests/ComboProvider.Tests.fsproj
  tests/EndToEndBuildTests/ComboProvider/ComboProvider/ComboProvider.fsproj
  tests/EndToEndBuildTests/ComboProvider/TestComboProvider.cmd
  tests/EndToEndBuildTests/DesignTimeProviderPackaging/Host/Host.fsproj
  tests/EndToEndBuildTests/DesignTimeProviderPackaging/PlainLib/PlainLib.fsproj
  tests/EndToEndBuildTests/DesignTimeProviderPackaging/Provider/Provider.fsproj
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
  tests/FSharp.Test.Utilities/ProjectGeneration.fs
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/FSharp.Test.Utilities/Utilities.fs
  tests/ILVerify/ilverify.ps1
  tests/fsharp/SDKTests/tests/FSharpCoreVersionTest.props
  tests/fsharp/single-test.fs
  tests/scripts/identifierAnalysisByType.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

simplify productMajor and runningMajor logic for TP resolution
  FSharpBuild.Directory.Build.targets
  src/Compiler/Facilities/CompilerLocation.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Skip some tests
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix buildproperties.fs generation for FSharp.Core and array yield syntax
  FSharpBuild.Directory.Build.targets
  src/Compiler/Facilities/CompilerLocation.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for PR #19251
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
Due: none

Fix AheadOfTime tests: import Directory.Build.props for FSharpNetCoreProductDefaultTargetFramework
  tests/AheadOfTime/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Temp trim CI
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix AheadOfTime tests: read productTfm.txt directly instead of importing root props
  tests/AheadOfTime/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix formatting in FxResolver.fs
  src/Compiler/Driver/FxResolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Alloc console for net472 fsi tests
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/scripts/scriptlib.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix regression tests: include productTfm.txt in UseLocalCompilerProps artifact
  UseLocalCompiler.Directory.Build.props
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

refactor .md agentic instructions
  .github/agents/fsharp-generic.md
  .github/agents/ilverify-failure.md
  .github/agents/release-notes.md
  .github/copilot-instructions.md
  vsintegration/src/FSharp.Editor/CodeFixes/RenameParamToMatchSignature.fs
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove doc file with mostly hallucinations
  XUNIT3_BUILD_ISSUES.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update azure-pipelines-PR.yml
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI build errors: correct active pattern syntax in pattern matching
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update FSharp.Compiler.Service.fsproj
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix file ordering: move TryFSharpRangeToTextSpanForEditor to Tokenizer
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Strip UTF BOM in net472 in tests
  tests/FSharp.Test.Utilities/TestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml
