Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Rename the doc tag of a symbol found project-wide
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/InlineRenameXmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Count a named unit argument of a signature as no argument
  src/Compiler/Service/ServiceNavigation.fs
  tests/FSharp.Compiler.Service.Tests/NavigateToTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep one failed item from ending the search, and one name from meaning two assemblies
  vsintegration/src/FSharp.Editor/LanguageService/ProjectFiltering.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve every range's file the way a mapped name needs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep one release note for the path map fix
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Key a kept parse by everything it depends on
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/NavigateToSearchServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Note the priority documents instead of the multi-target fix twice
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Move the release note to the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Keep one release note, in the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Keep one copy of the release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Keep one release note, in the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Forget the caret of a closed editor, and test what the reactor reads
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/FocusedCaretTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the release note that says what the code does
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

fix rn
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Leave FromOptions as it was and name the host's entry point
  src/Compiler/Service/FSharpProjectSnapshot.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/ProjectSnapshot.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Prefer the origin's own project when a path names several documents
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the shorter release note, the one the review asked for
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Watch a reference's appearance and removal, not only its writes
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Check XML doc lines and tag text without copying
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Prefer span slices over substrings in the F# instructions
  .github/instructions/FSharp.instructions.md
Due: none

Transparent compiler: key file check results by the upstream results they used
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/Service/TransparentCompiler.fsi
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/TransparentCompiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

AsyncLazy: only complete the run that produced the result
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Facilities/AsyncMemoize.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/AsyncMemoize.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes: link PR #20643
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Release notes: link PR #20644
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

runtime-async outlining fallback
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/runtime-async.md
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fsi
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

hande delegates
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/runtime-async.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Outline residual runtime-async delegate invokes
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/runtime-async.md
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Outline nested runtime-async delegate sources
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/runtime-async.md
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Inline single-use runtime-async delegate sources before outlining
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/runtime-async.md
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add comment
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Support suspension inside try/with in runtime-async sequences
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/LowerAsyncSeq.fs
  src/Compiler/Optimize/LowerSequences.fs
  src/Compiler/Optimize/LowerSequences.fsi
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/FSharp.Core/FSharp.Core.fsproj
  src/FSharp.Core/seqasync.fs
  src/FSharp.Core/seqasync.fsi
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncSequenceTests.fs
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netcore.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netcore.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
