Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

one more time
  fuckingtest.ps1
  vsintegration/tests/Salsa/salsa.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

format
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IlVerify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

remove unused pattern
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

while loop
  src/Compiler/Utilities/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

vs initialize in background
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

let's see if we still need this
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

try it now
  vsintegration/tests/Salsa/salsa.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update OpenTelemetry package references to version 1.11.2 (#18902)
  .gitignore
  docs/release-notes/.VisualStudio/17.13.md
  docs/release-notes/.VisualStudio/17.14.md
  src/FSharp.VisualStudio.Extension/FSharp.VisualStudio.Extension.csproj
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix output pane
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/FSharpAnalysisSaveFileCommandHandler.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/Symbols.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/TooltipTests.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

toolsversion=current
  vsintegration/tests/Salsa/salsa.fs
  vsintegration/tests/UnitTests/LegacyProjectSystem/Tests.ProjectSystem.ProjectItems.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

surface area
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

fixes
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

format
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/TypedTree/TcGlobals.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
  vsintegration/tests/FSharp.Editor.Tests/QuickInfoProviderTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/AddReturnTypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

readme
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

Introduce Vs18OrNewerFactAttribute
  .gitignore
  azure-pipelines-PR.yml
  src/FSharp.Build/Fsc.fs
  src/FSharp.Build/Microsoft.FSharp.Targets
  src/FSharp.VisualStudio.Extension/FSharp.VisualStudio.Extension.csproj
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.LanguageService/FSharpSource.fs
  vsintegration/src/FSharp.ProjectSystem.Base/ProjectNode.cs
  vsintegration/tests/Salsa/salsa.fs
  vsintegration/tests/UnitTests/LegacyProjectSystem/Tests.ProjectSystem.ProjectItems.fs
  vsintegration/tests/UnitTests/TestLib.ProjectSystem.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

ilverify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete fuckingtest.ps1
  fuckingtest.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete docs/release-notes/.VisualStudio/17.15.md
  docs/release-notes/.VisualStudio/17.15.md
Due: none

Parser: Capture multiple block separators (#18899)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-01.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-06.fs.bsl
  tests/service/data/SyntaxTree/Expression/CopySynExprRecordContainsTheRangeOfTheEqualsSignInSynExprRecordField.fs.bsl
  tests/service/data/SyntaxTree/Expression/InheritRecord - Field 1.fs.bsl
  tests/service/data/SyntaxTree/Expression/InheritRecord - Field 2.fs.bsl
  tests/service/data/SyntaxTree/Expression/InheritSynExprRecordContainsTheRangeOfTheEqualsSignInSynExprRecordField.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 03.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 04.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 05.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 06.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 12.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Field 08.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Field 09.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Field 13.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Field 14.fs.bsl
  tests/service/data/SyntaxTree/Expression/SynExprRecordContainsTheRangeOfTheEqualsSignInSynExprRecordField.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 01.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 02.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 03.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 04.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 05.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 06.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 07.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 08.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 02.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 07.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 03.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 04.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 05.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FCS: allow getting captured types (#18878)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  tests/FSharp.Compiler.Service.Tests/CapturedTypes.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Import `IEnumerable` as `seq` (#18865)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/TypedTree/TcGlobals.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
  vsintegration/tests/FSharp.Editor.Tests/QuickInfoProviderTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/AddReturnTypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Checker: fix declaring type for abbreviated types extensions
  src/Compiler/Checking/CheckDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix setting solution analysis
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

rns
  docs/release-notes/.VisualStudio/18.0.md
Due: none

Nice print: format top-level generic types using a prefix style (#18897)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/Symbols.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/TooltipTests.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

VS: initialize package in the background (#18646)
  docs/release-notes/.VisualStudio/18.0.md
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/FSharpAnalysisSaveFileCommandHandler.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix type parameters
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/AbbreviationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Minimize diff
  src/Compiler/Checking/CheckDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

don't unload ad
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

server gc in netcore tests
  tests/Directory.Build.props
  tests/FSharp.Test.Utilities/XunitHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
