Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

update baselines
  tests/fsharp/typecheck/sigs/neg17.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix indentation issue found thanks to the new error
  tests/fsharp/typecheck/sigs/neg17.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Symbols/FSharpDiagnostic.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ExtendedDiagnosticDataTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

+ test
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ExtendedDiagnosticDataTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  docs/release-notes/.Language/preview.md
  tests/fsharp/typecheck/sigs/neg17.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

Update baselines
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/UpcastDowncastTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert "temp CI fix"
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/TypedTree/TypedTree.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

remove duplicated rules
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cleanup extended giagnostic data
  src/Compiler/Symbols/FSharpDiagnostic.fs
  src/Compiler/Symbols/FSharpDiagnostic.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update baselines
  tests/fsharpqa/Source/Conformance/Expressions/Type-relatedExpressions/E_StaticCoercion_class_not_impl_iface.fsx
  tests/fsharpqa/Source/Conformance/Expressions/Type-relatedExpressions/E_StaticCoercion_class_not_subclass.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

more bsl
  tests/fsharp/typecheck/sigs/neg01.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

more test updates
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ErrorOnInvalidDeclsInTypeDefinitions.fs
  tests/fsharp/typecheck/sigs/neg01.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

more tests
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/NamedPatPairs/NamedPatPairs.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update pars.fsy
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Parser: capture named field separators
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/ServiceXmlDocParser.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/pars.fsy
  tests/service/data/SyntaxTree/Pattern/Named field 01.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 02.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 03.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 04.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 05.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 06.fs
  tests/service/data/SyntaxTree/Pattern/Named field 06.fs.bsl
  tests/service/data/SyntaxTree/Pattern/ParenthesesOfSynArgPatsNamePatPairs.fs.bsl
  tests/service/data/SyntaxTree/Pattern/SynArgPatsNamePatPairsContainsTheRangeOfTheEqualsSign.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

udpate bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

ILVerify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Trying to fix editor test
  src/Compiler/Service/ServiceParsedInputOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

more cache methods, support reference identity
  src/Compiler/Utilities/Caches.fs
  src/Compiler/Utilities/Caches.fsi
  tests/FSharp.Compiler.ComponentTests/CompilerService/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

use the cache for implicit yields
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

use GetOrAdd
  src/Compiler/Checking/TypeRelations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

count adds and updates
  src/Compiler/Utilities/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

vibe code some tests
  tests/FSharp.Compiler.ComponentTests/CompilerService/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update tests
  tests/fsharp/typecheck/sigs/neg01.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Utilities/Caches.fs
  src/Compiler/Utilities/Caches.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

try to memoize optimizer free locals
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/Utilities/Caches.fs
  src/Compiler/Utilities/Caches.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

reduce memory use for the test run, again
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/Utilities/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Capture also block separators in SynPat.Record
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

update baselines
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update SyntaxTree tests
  tests/service/data/SyntaxTree/Lambda/ComplexArgumentsLambdaHasArrowRange.fs.bsl
  tests/service/data/SyntaxTree/Lambda/DestructedLambdaHasArrowRange.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 01.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 02.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 03.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 04.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 07.fs
  tests/service/data/SyntaxTree/Pattern/Record 07.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang 07.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang 08.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 03.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 04.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 05.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

format code
  src/Compiler/Service/ServiceParsedInputOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

ILVerify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix editor test
  src/Compiler/Service/FSharpCheckerResults.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fotmat code
  src/Compiler/Service/FSharpCheckerResults.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "fix editor test"
  src/Compiler/Service/FSharpCheckerResults.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
