Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fantomas
  src/Compiler/Facilities/DiagnosticsLogger.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FixedLengthMRU cache optimization for incremental build
  src/Compiler/Service/IncrementalBuild.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Type checker: recover function type unification in method checkin
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.Service.Tests/TypeChecker/TypeCheckerRecoveryTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes update
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

disable cosmetic typar overwrite in type extensions it needs to be made compatible with parallel checking
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/SyntaxTree/UnicodeLexing.fs
  src/Compiler/SyntaxTree/UnicodeLexing.fsi
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Add FSharpCodeCompletionOptions
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  tests/FSharp.Compiler.Service.Tests/Checker.fs
  tests/FSharp.Compiler.Service.Tests/CompletionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fantomas
  src/Compiler/Checking/NameResolution.fsi
  src/Compiler/Service/FSharpCheckerResults.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore behavior for CompilerMessageAttribute
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/NameResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update tests
  src/Compiler/Service/FSharpCheckerResults.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Surface area
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cleanup
  tests/FSharp.Compiler.Service.Tests/CompletionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add tests for pattern name and override suggestions, fix option check
  src/Compiler/Service/FSharpCheckerResults.fs
  tests/FSharp.Compiler.Service.Tests/CompletionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Visual Studio
  vsintegration/src/FSharp.Editor/Completion/CompletionProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fantomas
  vsintegration/src/FSharp.Editor/Completion/CompletionProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update baselines
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/MethodsAndProperties/MethodsAndProperties.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/TypeAbbreviations/TypeAbbreviations.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Constraints/Unmanaged.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ObjectExpressions/ObjectExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/ConsList/ConsList.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/AnonymousRecords.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ConstructorTests.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ElseBranchHasWrongTypeTests.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/TypeMismatchTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/FixedBindings/FixedBindings.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Safer recovery
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/fsharp/core/auto-widen/5.0/test.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update Visual Studio and xcopy-msbuild in global.json
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update baselines
  tests/FSharp.Compiler.ComponentTests/Language/FixedBindings/FixedBindings.fs
  tests/FSharp.Compiler.Service.Tests/PatternMatchCompilationTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/fsharp/Compiler/Language/AnonRecordTests.fs
  tests/fsharp/typeProviders/negTests/neg1.bsl
  tests/fsharp/typecheck/sigs/neg103.bsl
  tests/fsharp/typecheck/sigs/neg103.vsbsl
  tests/fsharp/typecheck/sigs/neg28.bsl
  tests/fsharp/typecheck/sigs/neg30.bsl
  tests/fsharp/typecheck/sigs/neg45.bsl
  tests/fsharp/typecheck/sigs/neg60.bsl
  tests/fsharp/typecheck/sigs/neg68.bsl
  tests/fsharp/typecheck/sigs/neg68.fsx
  tests/fsharp/typecheck/sigs/neg68.vsbsl
  tests/fsharp/typecheck/sigs/version47/neg24.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update documentation
  README.md
Due: none

Implement #elif preprocessor directive
  src/Compiler/Service/ServiceLexing.fs
  src/Compiler/Service/ServiceLexing.fsi
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/SyntaxTree/LexerStore.fs
  src/Compiler/SyntaxTree/LexerStore.fsi
  src/Compiler/SyntaxTree/SyntaxTrivia.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fsi
  src/Compiler/lex.fsl
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.ComponentTests/CompilerDirectives/Ifdef.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Try to fix the CI warning in the elif-tests
  tests/FSharp.Compiler.ComponentTests/CompilerDirectives/Ifdef.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

More improvements to #elif
  src/Compiler/Service/ServiceLexing.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/lex.fsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Disallow recursive structs with lifted type parameters (#19031)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/StructTypes/StructTypes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/UnionTypes/UnionStructTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add test
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/TypeChecks/CrgpLibrary.fs
  tests/FSharp.Compiler.ComponentTests/TypeChecks/TypeRelations.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

for unsolved always recompute TypeStructure
  src/Compiler/Utilities/TypeHashing.fs
  src/Compiler/Utilities/lib.fs
  src/Compiler/Utilities/lib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

nit
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor to avoid duplicate code
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/lex.fsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Create F# agent documentation with coding guidelines
  .github/agents/fsharp-generic.md
Due: none

wip
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

emit stamps for constrained vars only
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply suggestion from @T-Gro
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix misleading indentation in ConfigProvider.AddOutputPath (#19054)
  vsintegration/src/FSharp.ProjectSystem.Base/ConfigProvider.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix units-of-measure changes not invalidating incremental builds (#19050)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/Utilities/TypeHashing.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/ImpliedSignatureHashTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
