Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Surface area
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Enable by default
  src/Compiler/Driver/CompilerConfig.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fantomas
  src/Compiler/Driver/CompilerImports.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Point DartLab scaffold at the existing dnceng/internal/dotnet-fsharp mirror
  azure-pipelines-integration-dartlab.yml
  eng/pipelines/apex-integration/README.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share the IL references read from one pickled blob
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Align DartLab scaffold with Roslyn's current entry structure
  azure-pipelines-integration-dartlab.yml
  eng/pipelines/apex-integration/README.md
  eng/pipelines/apex-integration/stage.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

remove unused
  src/Compiler/Facilities/AsyncMemoize.fs
  src/Compiler/Facilities/AsyncMemoize.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

tidy: Use same test as Task.parallelDoLimit
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(Task, Async): parallelLimit, parallelDoLimit
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
  src/FSharp.Core/tasks.fs
  src/FSharp.Core/tasks.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncModuleFunctions.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

tidy: Polish xmldoc
  src/FSharp.Core/async.fsi
  src/FSharp.Core/tasks.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: Dispose Semaphore out of band
  src/FSharp.Core/tasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

review: validate maxDegreeOfParallelism
  src/FSharp.Core/tasks.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: Make argument guard synchronous
  src/FSharp.Core/tasks.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

review: Reword xmldoc
  src/FSharp.Core/async.fsi
  src/FSharp.Core/tasks.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(Task): Add startAsyncImmediate
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/tasks.fs
  src/FSharp.Core/tasks.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat: Task.sequentialDo
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/tasks.fs
  src/FSharp.Core/tasks.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat: Task.sequential
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/tasks.fs
  src/FSharp.Core/tasks.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix printf sign handling for -0 decimal and work around a .NET bug
  src/FSharp.Core/printf.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix negative zero behavior with printf "+" flag
  src/FSharp.Core/printf.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add printf tests for infinity and nan
  src/FSharp.Core/printf.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add failing test case demonstrating sprintf negative zero bug #15557
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Work around another corner case consequence of .NET negative decimal formatting bug
  src/FSharp.Core/printf.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor
  src/FSharp.Core/printf.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add test cases
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

Correct wrong issue link
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Comment out some test cases for now, and add some others
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix sign handling to not be a breaking change with respect to sprintf behavior on .NET Framework
  src/FSharp.Core/printf.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Change test case expected outputs in light of reviews
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Adjust printf test expectations to match runtime behavior (net framework on net framework, net core on net core), and reimplement the logic
  src/FSharp.Core/printf.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Eliminate isPositive closures and remove dead code
  src/FSharp.Core/printf.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reject empty ExtendedLayout struct + cover reflection/cross-assembly paths
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/ExtendedLayout.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add grounded folder-scoped Copilot instructions for compiler internals
  .github/instructions/abstract-il.instructions.md
  .github/instructions/checking.instructions.md
  .github/instructions/driver.instructions.md
  .github/instructions/expressions.instructions.md
  .github/instructions/facilities.instructions.md
  .github/instructions/fsharp-dependency-manager-nuget.instructions.md
  .github/instructions/fsharp-editor.instructions.md
  .github/instructions/fsharp-test-utilities.instructions.md
  .github/instructions/graph-checking.instructions.md
  .github/instructions/language-service.instructions.md
  .github/instructions/legacy-msbuild-resolver.instructions.md
  .github/instructions/service.instructions.md
  .github/instructions/utilities.instructions.md
  .github/skills/codeoracle-kb/SKILL.md
Due: none

Implement FS-1095 RequireNamedArgumentAttribute (polyfill)
  docs/release-notes/.Language/preview.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix non-inline SRTP trait-call soundness: error on ground unsatisfiable traits
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/ConstraintSolver/MemberConstraints.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Make Entity's adhoc members list lazy (#20286)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add neg117 SRTP regression test; strengthen neg116 assertion; de-duplicate codegen comments
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/ConstraintSolver/MemberConstraints.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

StartAsTask in threadpool
  src/Compiler/Utilities/Async2.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

format
  src/Compiler/Facilities/BuildGraph.fsi
  src/Compiler/Utilities/Async2.fs
  vsintegration/src/FSharp.Editor/Commands/XmlDocCommandService.fs
  vsintegration/src/FSharp.Editor/Completion/SignatureHelp.fs
  vsintegration/src/FSharp.Editor/Diagnostics/SimplifyNameDiagnosticAnalyzer.fs
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
  vsintegration/src/FSharp.Editor/TaskList/TaskListService.fs
  vsintegration/tests/FSharp.Editor.Tests/Hints/HintTestFramework.fs
  vsintegration/tests/FSharp.Editor.Tests/QuickInfoTests.fs
  vsintegration/tests/FSharp.Editor.Tests/SignatureHelpProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Minimize SRTP 39 debug-inline capture repro test
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 39 - Captured local function, callsite in a nested closure.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml
