Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fall back to the F# Interactive installed with Visual Studio
  docs/ide/FSI-Modern-Interactive-Window-Plan.md
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveEvaluator.fs
  vsintegration/src/FSharp.Interactive.Window/InteractiveHost.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix AddOpen suggesting the wrong namespace for generic types like IEnumerator<'t>
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Record the range of the `exception`in SynExceptionDefnRepr (#20612)
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/SyntaxTree/SyntaxTrivia.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fsi
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/service/data/SyntaxTree/Exception/Missing name 01.fs.bsl
  tests/service/data/SyntaxTree/Exception/Missing name 02.fs.bsl
  tests/service/data/SyntaxTree/Exception/Missing name 03.fs.bsl
  tests/service/data/SyntaxTree/Exception/Recover Function Type 01.fs.bsl
  tests/service/data/SyntaxTree/Exception/SynExceptionDefnReprShouldContainTheRangeOfTheExceptionKeyword.fs
  tests/service/data/SyntaxTree/Exception/SynExceptionDefnReprShouldContainTheRangeOfTheExceptionKeyword.fs.bsl
  tests/service/data/SyntaxTree/Exception/SynExceptionDefnShouldContainsTheRangeOfTheWithKeyword.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ActivePatternExceptionAnd 01.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ActivePatternExceptionAnd 02.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ActivePatternExceptionAnd 03.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ActivePatternExceptionAnd 04.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ActivePatternExceptionAnd 05.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ActivePatternExceptionAnd 06.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ActivePatternExceptionAnd 07.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ActivePatternExceptionAnd 08.fs.bsl
  tests/service/data/SyntaxTree/SignatureType/RangeOfAttributeShouldBeIncludedInSynExceptionDefnReprAndSynExceptionSig.fsi.bsl
  tests/service/data/SyntaxTree/SignatureType/RangeOfMembersShouldBeIncludedInSynExceptionSigAndSynModuleSigDeclException.fsi.bsl
  tests/service/data/SyntaxTree/SignatureType/SynExceptionDefnReprShouldContainTheRangeOfTheExceptionKeyword.fsi
  tests/service/data/SyntaxTree/SignatureType/SynExceptionDefnReprShouldContainTheRangeOfTheExceptionKeyword.fsi.bsl
  tests/service/data/SyntaxTree/SignatureType/SynExceptionSigShouldContainsTheRangeOfTheWithKeyword.fsi.bsl
  tests/service/data/SyntaxTree/Type/Cascading Nested Invalid Constructs 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Deeply Indented Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Double Semicolon Delimiters 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Exception Inside Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Multiple Invalid Constructs In Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/One Line With Semicolons 01.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Publish ILVerify actual baselines on CI failure (#20585)
  azure-pipelines-PR.yml
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  tests/ILVerify/ilverify.Artifacts.Tests.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review feedback
  azure-pipelines-PR.yml
  azure-pipelines.yml
  eng/PublishTestResults.ps1
  eng/templates/batched-test-steps.yml
  eng/templates/publish-test-results.yml
  eng/tests/PublishTestResults.Tests.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make FSI NuGet-output tests independent of network access
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCliTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Respect Apply and Cancel for Visual Studio compiler selection
  docs/release-notes/.VisualStudio/18.vNext.md
  tests/fsharp/SDKTests/AllSdkTargetsTests.proj
  tests/fsharp/SDKTests/RegistryCompilerSelection.Lifecycle.Tests.ps1
  tests/fsharp/SDKTests/RegistryCompilerSelection.Tests.ps1
  tests/fsharp/tests.fs
  vsintegration/src/FSharp.VS.FSI/fsiLanguageService.fs
  vsintegration/tests/UnitTests/Tests.FSharpCompilerOptionPage.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refine code-first F# documentation guidance
  .github/agents/fsharp-whatsnew-expert.agent.md
Due: none

Skip restore tests on signed builds
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCliTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Count distinct XUnit test names when verifying published results
  eng/PublishTestResults.ps1
  eng/tests/PublishTestResults.Tests.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Align RC2 release notes and prepare F# 11.2 for SDK 11.0.200 (#20617)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/release-notes/.FSharp.Core/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.200.md
  docs/release-notes/.Language/10.0.md
  docs/release-notes/.Language/11.0.md
  docs/release-notes/.Language/11.2.md
  docs/release-notes/.Language/9.0.md
  docs/release-notes/.Language/preview.md
  eng/Versions.props
  eng/templates/regression-test-jobs.yml
  src/Compiler/Facilities/LanguageFeatures.fs
  src/FSharp.Build/Microsoft.FSharp.NetSdk.props
  tests/FSharp.Compiler.ComponentTests/Conformance/DeclarationElements/PInvokeDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/QueryExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/QueryExpressions/FunctionWithinTopLevelLet01.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/TypeInference/TypeInference.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/EnumTypes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/TypeExtensions/basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/ConstraintSolver/PrimitiveConstraints.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Call 13.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Call 14.bsl
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentsTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/ReraiseInComputationExpressionsTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/FsharpSuiteMigrated.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/MigratedOverloadTests.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/MigratedTypeCheckTests.fs
  tests/FSharp.Compiler.Service.Tests/ConsoleOnlyOptionsTests.fs
  tests/FSharp.Test.Utilities/ScriptHelpers.fs
  tests/fsharp/SDKTests/tests/LanguageVersion - CompilerDefault.proj
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Skip restore tests on signed builds (#20634)
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCliTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use the public calling convention properties
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep independent hot reload baselines for long output options
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve upstream metadata documentation and refresh interface guards
  src/Compiler/AbstractIL/DeltaMetadataTypes.fs
  tests/scripts/main-fsi-drift-hashes.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Align experimental hot reload compilation with current trait context
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Detect hot reload metadata edits without body bindings
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Specify the optimizer fixture parameter type after SRTP inference changes
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Allocate resumption metadata only for hot reload capture
  src/Compiler/Optimize/LowerStateMachines.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Assert resolved output identifiers for independent hot reload sessions
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadCheckerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep intrinsic parameter identities stable across compilations
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve original metadata row identities for disk baselines
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use the test SDK and retain runtime delta evidence on request
  tests/FSharp.Compiler.ComponentTests/HotReload/MdvValidationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Preserve original metadata identities in disk hot reload sessions
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use the repository SDK for metadata validation fixtures
  tests/FSharp.Compiler.ComponentTests/HotReload/MdvValidationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Preserve upstream generated-name module structure
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/TypedTree/CompilerGeneratedNameMapState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/GeneratedNames.fs
  src/Compiler/TypedTree/SynthesizedTypeMaps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Adapt inherited typed tree regressions to the session test module
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Validate emitted deltas and preserve native pointer identities
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Distinguish the inherited ParamArray regression name
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refresh current release notes and signature guard fingerprints
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  tests/scripts/main-fsi-drift-hashes.txt
Due: none

Track emitted extension receiver metadata
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Isolate disk-start fixtures from previous capture sessions
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
