Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

test(compaction): trim narration + fail-fast package check
  Directory.Build.props
  Directory.Build.targets
  eng/TargetFrameworks.props
  tests/AheadOfTime/NativeAOT/NativeAOT_Test.fsproj
  tests/AheadOfTime/NetPackage/VerifyNetPackage.fsx
  tests/AheadOfTime/Trimming/FSharpMetadataResource_Trimming_Test/FSharpMetadataResource_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/SelfContained_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/StaticLinkedFSharpCore_Trimming_Test/StaticLinkedFSharpCore_Trimming_Test.fsproj
  tests/FSharp.Core.ApiCompat/FSharp.Core.ApiCompat.proj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update EmittedIL baselines and pin struct-seq collector IL (#20203)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ComputedCollections.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeArrays.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeLists.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInArray_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInArray_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInList_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInList_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInSeq_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInSeq_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollectToList.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollectToList.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollectToList.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - ActivePattern 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Arrow 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Tuple 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Tuple 02.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Value 02.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes for Seq.collect struct-seq InvalidProgramException fix (#20203)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

fix(FSharp.Core): compile net-current leg; simplify shipped-net pin
  eng/TargetFrameworks.props
  src/FSharp.Core/Query.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore: update commit ref to merged result
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix spurious FS0410 for tuple patternInput bindings (#4161) (#19947)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Tuple/Tuple.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Tuple/tuples02.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Tuple/tuples03.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/Tuple/tuples04.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Ignore lines starting with `#:` (RFC-1337) (#20212)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/11.0.md
  src/Compiler/FSComp.txt
  src/Compiler/lex.fsl
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/CompilerDirectives/IgnoreColon.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix FS0073 ICE in GenGenericArgs for phantom SRTP typars
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/NestedTraverseSequenceSRTP.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

simplify(FSharp.Core): drop net10 scaffolding; let consumers bind net10
  Directory.Build.props
  Directory.Build.targets
  azure-pipelines-PR.yml
  src/FSharp.Core/FSharp.Core.fsproj
  tests/AheadOfTime/NativeAOT/NativeAOT_Test.fsproj
  tests/AheadOfTime/NativeAOT/check.ps1
  tests/AheadOfTime/NetPackage/VerifyNetPackage.fsx
  tests/AheadOfTime/Trimming/FSharpMetadataResource_Trimming_Test/FSharpMetadataResource_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/SelfContained_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/StaticLinkedFSharpCore_Trimming_Test/StaticLinkedFSharpCore_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Core.ApiCompat/FSharp.Core.ApiCompat.proj
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
  tests/ILVerify/ilverify.ps1
  tests/ILVerify/ilverify_FSharp.Core_Debug_netcoreapp.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netcoreapp.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refine phantom-typar ICE fix per rubber-duck review
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/NestedTraverseSequenceSRTP.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: restore the load-bearing netstandard2.1 pin for in-repo consumers
  Directory.Build.targets
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(Async+Task+ValueTask): consistent helper modules (#19844)
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
  src/FSharp.Core/tasks.fs
  src/FSharp.Core/tasks.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncModuleFunctions.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add miniFSharpPlus end-to-end ComponentTest for extension-member SRTP
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/MiniFSharpPlusExtensionSRTP.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Regenerate remaining EmittedIL baselines for #20203 (ListExpressionStepping + ComputedListExpressions)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping05.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping05.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping06.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping06.fs.RealInternalSignatureOn.il.bsl
  tests/fsharp/Compiler/CodeGen/EmittedIL/ComputedListExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add hot reload baseline reading and recorded EnC state (#20026)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/EncMethodDebugInformation.fs
  src/Compiler/AbstractIL/EncMethodDebugInformation.fsi
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/AbstractIL/ilwrite.fsi
  src/Compiler/AbstractIL/ilwritepdb.fs
  src/Compiler/AbstractIL/ilwritepdb.fsi
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/CodeGen/ILBaselineReader.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
  tests/FSharp.Compiler.Service.Tests/DeltaMetadata/MetadataDeltaTestHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Optimizer: propagate NoDynamicInvocation (#20242)
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Stackalloc 01 - Debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Stackalloc 02 - Nested wrappers.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Stackalloc 03 - Different assembly.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Stackalloc 04 - Only the wrappers are force inlined.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Support OverloadResolutionPriority and a most-concrete overload tiebreaker
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
  src/Compiler/Checking/infos.fs
  src/Compiler/Checking/infos.fsi
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/FSComp.txt
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/ORPTestRunner.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/SharedTestHelpers.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on UseBindingValueDiscard language feature flag (#20162) (#20218)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on WildCardInForLoop language feature flag (#20221)
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/pars.fsy
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on AndBang language feature flag (#20223)
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on ImplicitYield language feature flag (#20230)
  src/Compiler/Checking/Expressions/CheckArrayOrListComputedExpressions.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release note for warning code handling
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

chore(Async.RunSynchronouslyImmediate): Stragglers from #19804
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/SomethingToCompile.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/SomethingToCompileSmaller.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.LanguageService/BackgroundRequests.fs
  vsintegration/src/FSharp.LanguageService/FSharpSource.fs
  vsintegration/src/FSharp.LanguageService/LanguageServiceConstants.fs
  vsintegration/tests/FSharp.Editor.Tests/BraceMatchingServiceTests.fs
  vsintegration/tests/Salsa/FSharpLanguageServiceTestable.fs
  vsintegration/tests/Salsa/salsa.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

review: Remove unnecessary shims
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/SomethingToCompile.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/SomethingToCompileSmaller.fs
  vsintegration/src/FSharp.LanguageService/LanguageServiceConstants.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: Revert RunImmediate removal to preserve compile cost baseline
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/SomethingToCompile.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/SomethingToCompileSmaller.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add test asserting no unexpanded <include> in generated FSharp.Core.xml
  tests/FSharp.Core.UnitTests/FSharp.Core/XmlDocumentationValidation.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Import: Don't walk non-F# assemblies when labelling trait constraint sources (#20090)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerImports.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore(Async.RunSynchronouslyImmediate): Stragglers re #19804 (#20245)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/SomethingToCompile.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/SomethingToCompileSmaller.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.LanguageService/BackgroundRequests.fs
  vsintegration/src/FSharp.LanguageService/FSharpSource.fs
  vsintegration/src/FSharp.LanguageService/LanguageServiceConstants.fs
  vsintegration/tests/FSharp.Editor.Tests/BraceMatchingServiceTests.fs
  vsintegration/tests/Salsa/FSharpLanguageServiceTestable.fs
  vsintegration/tests/Salsa/salsa.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Optimizer: fix accessing captured values when skipping inlining (#20089)
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 30 - Capture of enclosing local.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 31 - Capture used in nested closure.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 32 - Capture of mutable local.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 33 - Capture of this.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 34 - Capture of enclosing inline function parameter.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 35 - Capture of enclosing inline function parameter - Different assembly.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 36 - Capture at two instantiations.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 37 - Captured value with enclosing typar.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 38 - Free typar only in body.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Parser: recover on unfinished abstract members (#20070)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/pars.fsy
  tests/service/data/SyntaxTree/Member/Abstract - Method 01.fs
  tests/service/data/SyntaxTree/Member/Abstract - Method 01.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Method 02.fs
  tests/service/data/SyntaxTree/Member/Abstract - Method 02.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Property 06.fs
  tests/service/data/SyntaxTree/Member/Abstract - Property 06.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Property 07.fs
  tests/service/data/SyntaxTree/Member/Abstract - Property 07.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Property 08.fs
  tests/service/data/SyntaxTree/Member/Abstract - Property 08.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Property 09.fs
  tests/service/data/SyntaxTree/Member/Abstract - Property 09.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix recursive inline SRTP resolution truncated by one currying level
  azure-pipelines-PR.yml
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore: Move FSharpPlus pin past nowarn choke
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fantomas
  src/Compiler/AbstractIL/ilreflect.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/MethodOverrides.fsi
  src/Compiler/Checking/NicePrint.fsi
  src/Compiler/Checking/SignatureConformance.fsi
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/ParseAndCheckInputs.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/RichText.fs
  src/Compiler/Interactive/fsi.fs
  src/Compiler/SyntaxTree/WarnScopes.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/FSharp.Build/FSharpEmbedResourceText.fs
  vsintegration/tests/FSharp.Editor.Tests/QuickInfoProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix VS build
  FSharpBuild.Directory.Build.targets
  vsintegration/tests/FSharp.Editor.Tests/QuickInfoProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix build
  FSharpBuild.Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Preallocate string builds in RichText
  src/Compiler/Facilities/RichText.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Better classification
  src/Compiler/AbstractIL/ilreflect.fs
  src/Compiler/AbstractIL/ilreflect.fsi
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/DependencyManager/DependencyProvider.fsi
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/ScriptClosure.fs
  src/Compiler/Facilities/RichText.fs
  src/Compiler/Facilities/RichText.fsi
  src/Compiler/Interactive/fsi.fs
  src/Compiler/TypedTree/TypeProviders.fs
  src/Compiler/TypedTree/tainted.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Targets review
  FSharpBuild.Directory.Build.targets
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
