Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Isolate disk-start fixtures from previous capture sessions
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Match extension method metadata to emitted signatures
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Verify extension receiver parameter updates through runtime apply
  tests/FSharp.Compiler.ComponentTests/HotReload/ParameterEditTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report metadata validator failures instead of skipping them
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Align the naming boundary guard with the merged foundation
  tests/FSharp.Compiler.Service.Tests/HotReload/ArchitectureGuardTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Set explicit capabilities in inherited parameter rename regressions
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Reject runtime async implementation transitions during hot reload
  docs/hot-reload-runtime-async.md
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Clarify the runtime async restart requirement
  docs/hot-reload-runtime-async.md
Due: none

Inspect the original hot reload demo baseline
  tests/projects/HotReloadDemo/HotReloadDemoApp/HotReloadSession.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes entry for #20631
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Sign JSON-RPC dependencies with third-party certificate
  eng/Signing.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Name the navigable items cache's key and entry
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test NavigateTo across the target-framework instances of a project
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build the synthetic projects' id list through Seq and materialize once
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share the parse instead of skipping the file
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Format the multi-target NavigateTo tests
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build multi-project and multi-target Roslyn solutions in FSharp.Editor tests
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for the NavigateTo multi-target fix
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Search a project's priority documents first in Navigate To
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/NavigateToSearchServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Search each file of a multi-targeted project once in NavigateTo and read its text only for matches
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Run fslangmcp from nuget.org instead of the repo tool manifest
  .config/dotnet-tools.json
  .mcp.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20470
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Test navigation into a project built with a path map
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Ignore --pathmap in the IDE's project options
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Record the parameter and type parameter counts of a navigable item
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceNavigation.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/NavigateToTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the release note to its PR
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Let a consumer take a navigable container apart and rebuild one
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceNavigation.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the release note to PR #20529
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Avoid torn focused-caret publication
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release notes for the script caret hang
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Read a script's caret without waiting for the UI thread
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Format project options manager
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the caret in voption until GetProjectOptionsFromScript takes it
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the local caret lookup in voption after the torn-read fix
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Match a range's file against the solution, not the current directory
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the release note to PR #20519
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
