Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Ignore --pathmap in the IDE's project options
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Recognise a mapped name as the file a document holds
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test navigation into a project built with a path map
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20470
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Map the test's root with the platform's separator
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/PathMap.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test that a cached framework set does not lend its path map to a sibling project
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/PathMap.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build a project's TcGlobals with its own path map when the framework imports are cached
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/TransparentCompiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add the release note for PR #20476
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Name a mapped declaration from its root once
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Symbols/SymbolHelpers.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/PathMap.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the release note to PR #20518
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Build multi-project and multi-target Roslyn solutions in FSharp.Editor tests
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test NavigateTo across the target-framework instances of a project
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Search each file of a multi-targeted project once in NavigateTo and read its text only for matches
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share the parse instead of skipping the file
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Format the multi-target NavigateTo tests
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for the NavigateTo multi-target fix
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Build the synthetic projects' id list through Seq and materialize once
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Name the navigable items cache's key and entry
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test cross-language navigation into F# declarations
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Locate C# and VB navigation targets in F# without checking the whole project
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move the cross-language symbol navigation service into its own file
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20465
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Navigate to union cases and module literals from their compiled members
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test the fast path's document scope directly
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Search the C# and VB consumers alongside the F# projects
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test Find All References from an F# declaration into C#
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesFromCSharpTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Host C# projects in the editor test workspace
  eng/Packages.props
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesFromCSharpTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share the find-usages test context between test files
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20463
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Report C# and VB uses of an F# symbol in Find All References
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Give a literal the field id Roslyn resolves
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesFromCSharpTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve navigation targets through the workspace's current solution
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Route the multi-project test helper's project list through Seq
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Document CreateMultiTargetSolution and return its results as a struct tuple
  vsintegration/tests/FSharp.Editor.Tests/GoToDefinitionServiceTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Route the symbol scope's project list through Seq
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Collapse the declaration lookup into match!
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml
