Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Link the snippets release note to its issue and pull request
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Teach expert reviewers to check runtime representation preservation (#20511)
  .github/agents/expert-reviewer.md
Due: none

Clarify limits of InlineIfLambda closure elimination
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove unused feature-completeness test
  .github/skills/feature-completeness/tests/FrontMatter.Tests.ps1
Due: none

Keep metadata embedding activation out of the MT migration
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/FSharp.Build/Microsoft.FSharp.NetSdk.targets
  tests/EndToEndBuildTests/MultithreadedTasks/README.md
  tests/EndToEndBuildTests/MultithreadedTasks/run.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Exercise Fsc and Fsi compiler callbacks in isolated environments
  tests/FSharp.Build.UnitTests/BuildTaskTestHelpers.fs
  tests/FSharp.Build.UnitTests/MultiThreadedTaskTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Reduce recurring workflow notification noise
  .github/aw/actions-lock.json
  .github/docs/state-machine.md
  .github/workflows/agentic-state-machine.md
  .github/workflows/check_release_notes.yml
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
  .github/workflows/repo-assist-scheduled.lock.yml
  .github/workflows/repo-assist-scheduled.md
  .github/workflows/workflow-tests.yml
  eng/tests/WorkflowTests.mjs
  eng/tests/fixtures/release-notes-gh.cjs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Preserve nonblocking release-note warnings
  .github/workflows/check_release_notes.yml
  eng/tests/WorkflowTests.mjs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix automatic F# metadata stripping during trimming
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/StaticLinking.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  src/FSharp.Build/GenerateILLinkSubstitutions.fs
  src/FSharp.Build/Microsoft.FSharp.NetSdk.targets
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Directory.Build.props
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Library/Library.fs
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Library/MetadataLibrary.fsproj
  tests/AheadOfTime/Trimming/MetadataSubstitutions/MetadataSubstitutions.fsproj
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Program.fs
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Substitutions.xml
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/StaticLinking/StaticLinking.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the metadata stripping release note to its pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix FS0192 Iterate2D from ReflectedDefinition over a recursive value (#20488)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fsi
  tests/FSharp.Compiler.ComponentTests/Language/CodeQuotationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Optimizer: eta-float InlineIfLambda partial-application arguments to remove closures (#20487)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/LowerCalls.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/InlineIfLambdaEtaFloat.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Optimizations/InlineIfLambdaEtaFloat.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove workflow test scaffolding
  .github/aw/actions-lock.json
  .github/workflows/workflow-tests.yml
  eng/tests/WorkflowTests.mjs
  eng/tests/fixtures/release-notes-gh.cjs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the caret in voption until GetProjectOptionsFromScript takes it
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release notes for the script caret hang
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Read a script's caret without waiting for the UI thread
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Limit metadata stripping to existing ILLink publish wiring
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/StaticLinking.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  src/FSharp.Build/GenerateILLinkSubstitutions.fs
  src/FSharp.Build/Microsoft.FSharp.NetSdk.targets
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Directory.Build.props
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Library/Library.fs
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Library/MetadataLibrary.fsproj
  tests/AheadOfTime/Trimming/MetadataSubstitutions/MetadataSubstitutions.fsproj
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Program.fs
  tests/AheadOfTime/Trimming/MetadataSubstitutions/Substitutions.xml
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/StaticLinking/StaticLinking.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run fantomas on the files it actually covers
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Exempt StreamJsonRpc's serialization stack from Microsoft signing
  eng/Signing.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Point the release notes entry at the pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add a JSON-RPC server mode to F# Interactive
  FSharp.slnx
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  eng/Packages.props
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsi.targets
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim the comments to the repository style rule
  src/Compiler/Interactive/fsi.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run the interactive server tests on desktop fsi too
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Register the new test project with TestSplit.fsx
  eng/tests/TestSplit.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the execution queue off the wire and move the directory on it
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Surface what StreamJsonRpc the session loaded on a method-not-found failure
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Stop --realsig- from hiding FsiRpcTarget's methods from StreamJsonRpc
  src/fsi/fsiserver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Drop the % specifiers from the interpolated strings
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Interpolate strings and mark up the doc comments in the new code
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use .NET format specifiers for the generated names in the tests
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Exempt the new test project from the embedded-pdb check
  buildtools/AssemblyCheck/SkipVerifyEmbeddedPdb.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the new test project to VisualFSharp.slnx too
  VisualFSharp.slnx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Place the added open from the syntax tree, not from a line of text
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/ServiceParsedInputOps.fsi
  tests/FSharp.Compiler.Service.Tests/OpenDeclarationInsertionTests.fs
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOffTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Break the line when the declaration shares it with what precedes it
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Run dotnet fantomas
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Suggest open type where a plain open cannot reach
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Service/ServiceAssemblyContent.fs
  src/Compiler/Service/ServiceAssemblyContent.fsi
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/ServiceParsedInputOps.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Offer every open that resolves the name, not the first one found
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOffTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cover the qualification suggestions the fix offers alongside the opens
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Parallelize Copilot symbol lookup and cut allocations on the hot cache path
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Offer F# declarations to the Copilot chat "#" mention picker
  docs/release-notes/.VisualStudio/18.vNext.md
  eng/Packages.props
  vsintegration/src/FSharp.Editor/Common/Constants.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
