Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Correct the string-comparison rule for netstandard2.0 and identifiers
  .github/instructions/FSharp.instructions.md
Due: none

Note when a lambda must not be eta-reduced
  .github/instructions/FSharp.instructions.md
Due: none

Prefer one traversal over a chain of transformations
  .github/instructions/FSharp.instructions.md
Due: none

Add Copilot rules reference for other agent engines
  .claude/rules/CcrOptout.md
  .claude/rules/CodeGen.md
  .claude/rules/ComponentTests.md
  .claude/rules/DebugEmit.md
  .claude/rules/EngVersioning.md
  .claude/rules/ExpertReview.md
  .claude/rules/FSComp.md
  .claude/rules/FSharpCore.md
  .claude/rules/LSP.md
  .claude/rules/NoBloat.md
  .claude/rules/Optimizer.md
  .claude/rules/SyntaxTree.md
  .claude/rules/TypedTreePickle.md
  AGENTS.md
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Prefer the Visual Studio MCP server over the shell
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Drop external URL from CLAUDE.md (prompt injection risk)
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes for ErrorReportingOnStaticClasses flag removal
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

Gate expensive F# background analyzers to the active document only
  vsintegration/src/FSharp.Editor/Diagnostics/ActiveDocumentDetection.fs
  vsintegration/src/FSharp.Editor/Diagnostics/SimplifyNameDiagnosticAnalyzer.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedDeclarationsAnalyzer.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedOpensDiagnosticAnalyzer.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Hints/FSharpInlayHintsService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Perf: Refactor diagnostics cache with metadata record
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add version-stamp cache to FSharpDocumentDiagnosticAnalyzer to avoid recomputing diagnostics when document/project version is unchanged
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review: weak DocumentId cache, complete validity key, race-free update
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use ConditionalWeakTable for DocumentDiagnosticAnalyzer caches
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Perf: Add release notes (#20121)
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Lock on the cache table itself instead of a separate gate object
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

evict diagnostics cache on workspace events
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Allow 'reraise' in computation expression handlers
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  docs/rfcs/FS-XXXX-reraise-in-computation-expressions.md
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Checking/PatternMatchCompilation.fs
  src/Compiler/Checking/PatternMatchCompilation.fsi
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/ReraiseInComputationExpressionsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the release notes entries to the pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

Address review findings
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  docs/rfcs/FS-XXXX-reraise-in-computation-expressions.md
  src/Compiler/Checking/PatternMatchCompilation.fs
  tests/FSharp.Compiler.ComponentTests/Language/ReraiseInComputationExpressionsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Guard the stack-trace Contains overload by runtime
  tests/FSharp.Compiler.ComponentTests/Language/ReraiseInComputationExpressionsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Name the task before awaiting it in the two task tests
  tests/FSharp.Compiler.ComponentTests/Language/ReraiseInComputationExpressionsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Name the awaiter, not just the task
  tests/FSharp.Compiler.ComponentTests/Language/ReraiseInComputationExpressionsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore ScanToken's signature; add ScanTokenValue for the allocation-free path
  docs/fcs/tokenizer.fsx
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceLexing.fs
  src/Compiler/Service/ServiceLexing.fsi
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/TokenizerTests.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/src/FSharp.LanguageService/Colorize.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Recognise a mapped name as the file a document holds
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build against a locally built hive Roslyn from its own packages
  start-vs-VisualFSharpSln.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Let a consumer take a navigable container apart and rebuild one
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceNavigation.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep double backticks in a mention's fully qualified name
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the copied outlining work back out of this pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/Service/ServiceStructure.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the release note to PR #20529
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Clarify substitution inputs and opt-out tracking
  src/FSharp.Build/Microsoft.FSharp.NetSdk.targets
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run the postponed post-inference checks in signature files (#14580)
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Constraints/ConstraintSyntax.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

cleanup test RuntimeTaskBuilder
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeAsyncEnumerable.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTaskBuilder.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTasks.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update test baselines
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Record the parameter and type parameter counts of a navigable item
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceNavigation.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/NavigateToTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the release note to its PR
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Give Navigate To the counts it sorts equal F# matches by
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/NavigateToSearchServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Classify each Find All References line while the search runs
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Navigation/ClassifiedReferenceLine.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/tests/FSharp.Editor.Tests/ClassifiedReferenceLineTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Use ValueOption to look up a reference's definition item
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
