Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Add optional diagnostics FS3575/FS3576 for concreteness tiebreaker
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/FSComp.txt
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add LanguageFeature.MoreConcreteTiebreaker language feature flag
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update CONTEXT.md and VISION.md for Sprint 4 completion
  .ralph/CONTEXT.md
  .ralph/VISION.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add fsi.CommandLineArgs tests and additional FSIMODE=PIPE tests (BLOCKER 6)
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix InteractiveSession tests: replace exit calls with failwith to prevent test host crashes
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add TypeForwarding tests to ComponentTests project file (29 tests now included)
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update Sprint 5 verification status - PRECMD tests complete
  .ralph/LAST_VALIDATOR.md
  .ralph/PROBLEMS.md
  .ralph/logs/Implement-5-20260119-204120.prompt.txt
  .ralph/logs/Implement-5-20260119-205546.prompt.txt
  .ralph/logs/Verify-20260119-203347.prompt.txt
  .ralph/logs/Verify-20260119-204805.prompt.txt
  .ralph/status.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix legacy project tests
  vsintegration/tests/UnitTests/LegacyProjectSystem/Tests.ProjectSystem.MultiTargeting.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add TypeForwardingHelpers module for runtime type forwarding tests
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/TypeForwardingHelpersTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Migrate TypeForwarding Class and Struct tests (73 tests)
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/ClassTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/StructTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes and format OverloadResolutionRules for Most Concrete tiebreaker
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Migrate TypeForwarding batch 2 (Interface, Delegate, Nested, Cycle) and stress tests
  tests/FSharp.Compiler.ComponentTests/Conformance/Stress/StressTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/CycleTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/DelegateTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/InterfaceTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NestedTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Disable parallel execution of fsi tests
  tests/EndToEndBuildTests/Directory.Build.props
  tests/fsharp/tests.fs
  vsintegration/tests/UnitTests/LegacyProjectSystem/Tests.ProjectSystem.References.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refactor script execution for cross-platform compatibility
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Adjust tests
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDoc.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Downgrade .NET SDK version in global.json
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix remaining CI test failures
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/MigratedTypeCheckTests.fs
  tests/fsharp/typecheck/sigs/version50/neg20.bsl
  tests/fsharp/typecheck/sigs/version50/neg20.fs
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/E_MemberConstraint04.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/FixIndexerAccessLegacyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update CONTEXT.md
  .ralph/CONTEXT.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix nullness refinement for type aliases in match expressions (Issue #18488)
  .ralph/LAST_VALIDATOR.md
  .ralph/PROBLEMS.md
  .ralph/VISION.md
  .ralph/logs/Architect-20260120-100317.prompt.txt
  .ralph/logs/Implement-1-20260120-100855.prompt.txt
  .ralph/logs/Implement-1-20260120-101757.prompt.txt
  .ralph/logs/Verify-20260120-101447.prompt.txt
  .ralph/notes.txt
  .ralph/status.txt
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add regression tests for nullness refinement in match expressions (Issue #18488)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix script execution and extend timeout to 120 minutes
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs: Add RFC example coverage mapping to VISION.md
  .ralph/VISION.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Document deferred items for RFC MoreConcrete tiebreaker
  .ralph/CONTEXT.md
  .ralph/FINAL_REPORT.md
  .ralph/LAST_VALIDATOR.md
  .ralph/PROBLEMS.md
  .ralph/VISION.md
  .ralph/logs/Architect-20260120-114057.prompt.txt
  .ralph/logs/HonestReport-20260120-112656.prompt.txt
  .ralph/logs/Implement-1-20260120-114953.prompt.txt
  .ralph/logs/Implement-2-20260120-115449.prompt.txt
  .ralph/logs/Implement-3-20260119-183422.prompt.txt
  .ralph/logs/Implement-3-20260119-184734.prompt.txt
  .ralph/logs/Implement-3-20260120-120113.prompt.txt
  .ralph/logs/Implement-4-20260119-185437.prompt.txt
  .ralph/logs/Implement-5-20260119-190448.prompt.txt
  .ralph/logs/Review-1-20260119-182619.prompt.txt
  .ralph/logs/Review-1-20260120-115245.prompt.txt
  .ralph/logs/Review-2-20260119-183209.prompt.txt
  .ralph/logs/Review-2-20260120-115821.prompt.txt
  .ralph/logs/Review-3-20260119-185107.prompt.txt
  .ralph/logs/Review-4-20260119-190221.prompt.txt
  .ralph/logs/Review-5-20260119-225250.prompt.txt
  .ralph/logs/Verify-20260119-182515.prompt.txt
  .ralph/logs/Verify-20260119-182745.prompt.txt
  .ralph/logs/Verify-20260119-183044.prompt.txt
  .ralph/logs/Verify-20260119-183323.prompt.txt
  .ralph/logs/Verify-20260119-184948.prompt.txt
  .ralph/logs/Verify-20260119-185333.prompt.txt
  .ralph/logs/Verify-20260119-190053.prompt.txt
  .ralph/logs/Verify-20260119-190351.prompt.txt
  .ralph/logs/Verify-20260119-225044.prompt.txt
  .ralph/logs/Verify-20260120-112418.prompt.txt
  .ralph/logs/Verify-20260120-112535.prompt.txt
  .ralph/logs/Verify-20260120-115100.prompt.txt
  .ralph/logs/Verify-20260120-115356.prompt.txt
  .ralph/logs/Verify-20260120-115700.prompt.txt
  .ralph/logs/Verify-20260120-115948.prompt.txt
  .ralph/status.txt
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/Driver/XmlDocFileWriter.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix FixIndexerAccessLegacyTests - squiggly must end before bracket
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/FixIndexerAccessLegacyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update E_MemberConstraint04.fs
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/E_MemberConstraint04.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 2: Analyze ResolveOverloading hot path
  .ralph/CONTEXT.md
  .ralph/VISION.md
  METHOD_RESOLUTION_PERF_IDEAS.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bugfix :: Object expressions in struct types generating invalid IL with byref fields (#19070)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ObjectExpressions/StructObjectExpression.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove .ralph files from branch
  .ralph/LAST_VALIDATOR.md
  .ralph/PROBLEMS.md
  .ralph/VISION.md
  .ralph/logs/Architect-20260120-100317.prompt.txt
  .ralph/logs/Implement-1-20260120-100855.prompt.txt
  .ralph/logs/Implement-1-20260120-101757.prompt.txt
  .ralph/logs/Verify-20260120-101447.prompt.txt
  .ralph/notes.txt
  .ralph/status.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add early arity pre-filter for overload resolution optimization
  .ralph/CONTEXT.md
  METHOD_RESOLUTION_PERF_IDEAS.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/ArityFilteringTest.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/OverloadingMembers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Stress tests, multitargeting tests and interactivessession tests migrated
  tests/FSharp.Compiler.ComponentTests/Conformance/MultiTargeting.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Stress/StressTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_EmptyFilename.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_ErrorRanges01.fs
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_GlobalMicrosoft.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_InterfaceCrossConstrained02.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_RangeOperator01.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_emptyRecord.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_let_equal01.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_let_equal_n01.fs.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_let_equal_tuple.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_let_id.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_let_id_equal01.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_let_id_equal_let_id_equal_n.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_let_mutable_equal.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_load_badextension.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_module_mutable_id_equal.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/ErrorTestCases/E_type_id_equal_pipe.fsx
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix early arity filtering to provide real candidate pruning
  METHOD_RESOLUTION_PERF_IDEAS.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/ArityFilteringTest.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update 11.0.0.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Sprint 3: Add profiling data for arity pre-filter implementation
  .ralph/CONTEXT.md
  METHOD_RESOLUTION_PERF_IDEAS.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

remove ralph files
  .ralph/CONTEXT.md
  .ralph/LAST_VALIDATOR.md
  .ralph/PROBLEMS.md
  .ralph/VISION.md
  .ralph/logs/Architect-20260119-155022.prompt.txt
  .ralph/logs/Implement-1-20260119-155632.prompt.txt
  .ralph/logs/Implement-2-20260119-162045.prompt.txt
  .ralph/logs/Implement-2-20260119-163121.prompt.txt
  .ralph/logs/Implement-4-20260119-193939.prompt.txt
  .ralph/logs/Implement-5-20260119-201131.prompt.txt
  .ralph/logs/Implement-5-20260119-204120.prompt.txt
  .ralph/logs/Implement-5-20260119-205546.prompt.txt
  .ralph/logs/Review-1-20260119-160740.prompt.txt
  .ralph/logs/Review-1-20260119-161716.prompt.txt
  .ralph/logs/Review-2-20260119-164711.prompt.txt
  .ralph/logs/Review-3-20260119-170410.prompt.txt
  .ralph/logs/Review-3-20260119-171526.prompt.txt
  .ralph/logs/Review-3-20260119-172540.prompt.txt
  .ralph/logs/Review-4-20260119-193100.prompt.txt
  .ralph/logs/Review-4-20260119-200521.prompt.txt
  .ralph/logs/Verify-20260119-160145.prompt.txt
  .ralph/logs/Verify-20260119-160909.prompt.txt
  .ralph/logs/Verify-20260119-161926.prompt.txt
  .ralph/logs/Verify-20260119-162500.prompt.txt
  .ralph/logs/Verify-20260119-163639.prompt.txt
  .ralph/logs/Verify-20260119-164946.prompt.txt
  .ralph/logs/Verify-20260119-165901.prompt.txt
  .ralph/logs/Verify-20260119-170616.prompt.txt
  .ralph/logs/Verify-20260119-171702.prompt.txt
  .ralph/logs/Verify-20260119-172908.prompt.txt
  .ralph/logs/Verify-20260119-175649.prompt.txt
  .ralph/logs/Verify-20260119-182731.prompt.txt
  .ralph/logs/Verify-20260119-192111.prompt.txt
  .ralph/logs/Verify-20260119-192808.prompt.txt
  .ralph/logs/Verify-20260119-195717.prompt.txt
  .ralph/logs/Verify-20260119-200937.prompt.txt
  .ralph/logs/Verify-20260119-203347.prompt.txt
  .ralph/logs/Verify-20260119-204805.prompt.txt
  .ralph/notes.txt
  .ralph/status.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add '-ci' argument for Windows build script to fix XLF errors
  tests/ILVerify/ilverify.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add compareTypeConcreteness and aggregateComparisons to OverloadResolutionRules
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor better() and wasConcretenessTiebreaker() to use rule engine
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
