Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Register the new test project with TestSplit.fsx
  eng/tests/TestSplit.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Prefer the Visual Studio MCP server over the shell
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve F# frames for Show Call Stack on Code Map
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/Vsix/VisualFSharpFull/Source.extension.vsixmanifest
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackResolver.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpStackFrameNameParser.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpStackFrameNameParserTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add Copilot rules reference for other agent engines
  .claude/rules/CcrOptout.md
  .claude/rules/CodeGen.md
  .claude/rules/ComponentTests.md
  .claude/rules/DebugEmit.md
  .claude/rules/EngVersioning.md
  .claude/rules/ExpertReview.md
  .claude/rules/FSComp.md
  .claude/rules/FSharpCore.md
  .claude/rules/LSP.md
  .claude/rules/NoBloat.md
  .claude/rules/Optimizer.md
  .claude/rules/SyntaxTree.md
  .claude/rules/TypedTreePickle.md
  AGENTS.md
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Batch call-stack resolution and drop regex from frame name parsing
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackResolver.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpStackFrameNameParser.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpStackFrameNameParserTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fuse Code Map node identity with Roslyn's metadata provider
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackResolver.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpStackFrameNameParser.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add modern F# idiom instructions for Copilot and Claude Code
  .claude/rules/FSharp.md
  .github/instructions/FSharp.instructions.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Name what the call stack resolver passes around
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackResolver.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpStackFrameNameParser.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackSampleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take FSharp.Core out of the frame chain instead of colouring it grey
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackPlan.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackPlanTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Pin that raising an event is not being one
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Give the task scenario a continuation the debugger can walk
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/CallStackSample.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Answer a line with the declaration that contains it
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackResolver.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Carry what a frame is, not twenty-two answers to what it is not
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackResolver.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve F# accessors, module initialization and CE bodies on Code Map
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackResolver.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpStackFrameNameParser.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/CallStackSample.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackSampleTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpStackFrameNameParserTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Decide what to do with a frame without touching the graph
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackPlan.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackPlanTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cover events and delegates, and pin the boundary a stale line crossed
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/CallStackSample.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackSampleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fold FSharp.Core away the way the pipeline folds external code
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Answer an event as an event, not as the property behind it
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackResolver.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fold every FSharp.Core frame, not only the ones the parser reads
  vsintegration/src/FSharp.Editor/CodeMap/FSharpCallStackPlan.fs
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/CallStackSample.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackPlanTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Pin that two initializers in one startup method stay apart
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackResolverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fold FSharp.Core on every stop, and let a startup frame keep its declaration
  vsintegration/src/FSharp.Editor/CodeMap/FSharpGraphProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/CallStackSample.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeMap/FSharpCallStackSampleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix rns
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add the new test project to VisualFSharp.slnx too
  VisualFSharp.slnx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the Code Map release note to its issue and pull request
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Check in the solution the Code Map work was verified against
  tests/projects/CodeMapCallStack/ClassLibrary/ClassLibrary.fsproj
  tests/projects/CodeMapCallStack/ClassLibrary/Demo.fs
  tests/projects/CodeMapCallStack/CodeMapCallStack.sln
  tests/projects/CodeMapCallStack/ConsoleApp/ConsoleApp.csproj
  tests/projects/CodeMapCallStack/ConsoleApp/Program.cs
  tests/projects/CodeMapCallStack/Directory.Build.props
  tests/projects/CodeMapCallStack/README.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix recursive inline member dependencies
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Drop dead csenv param from TransactStaticReq/SolveTypStaticReqTypar
  src/Compiler/Checking/ConstraintSolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Simplify custom-operation opData destructuring: drop unused _methInfo discard
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on ExtendedStringInterpolation language feature flag
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/lex.fsl
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Drop dead g param from Freshen* typar family after IWSAM flag removal
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckFormatStrings.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  src/Compiler/Symbols/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

cleanup
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

chore(Test): Rollback precautionary serial testing
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncModuleFunctions.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report a proper error for a bare 'enum' constraint (#14580)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.ComponentTests/Conformance/Constraints/ConstraintSyntax.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Enum 01.fs
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Enum 01.fs.bsl
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 01.fs
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 01.fs.bsl
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 02.fs
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 02.fs.bsl
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 03.fs
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 03.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

improve debug stepping
  docs/runtime-async.md
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on language feature flag NonVariablePatternsToRightOfAsPatterns (#20158)
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on DotlessFloat32Literal language feature flag
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/lex.fsl
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Optimize skill prompts
  .github/agents/compiler-perf-investigator.md
  .github/agents/expert-reviewer.md
  .github/agents/extraction-pipeline.md
  .github/agents/fsharp-generic.md
  .github/instructions/NoBloat.instructions.md
  .github/skills/code-compaction/templates/logic-rounds.md
  .github/skills/hypothesis-driven-debugging/SKILL.md
Due: none

Remove always-on DefaultInterfaceMemberConsumption language feature flag
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/InfoReader.fsi
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/MethodOverrides.fs
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[MicroPerf] Drop the per-call closure in remarkExprs (#20425)
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[MicroPerf] Drop the per-call closure in generic type-argument codegen
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
