Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Add LabelOps agentic workflows (conflict & CI auto-resolve) (#19629)
  .github/aw/actions-lock.json
  .github/workflows/labelops-flake-fix.lock.yml
  .github/workflows/labelops-flake-fix.md
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
  docs/labelops.md
Due: none

[15.9] G1 GREEN: legacy build.cmd net40 debug succeeds end-to-end
  Directory.Build.targets
  NuGet.Config
  build.cmd
  packages.config
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] INTERNAL.md Session 4: Pattern B G1+G2+G3 GREEN locally
  INTERNAL.md
Due: none

Add skill-validation workflow for structural checks on skills and agents (#19668)
  .github/agents/agentic-workflows.agent.md
  .github/skills/reviewing-compiler-prs/SKILL.md
  .github/workflows/skill-validation.yml
Due: none

[15.9] G4 partial: msbuild-sdks pin + Session 5 honest blocker report
  INTERNAL.md
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Add .vsconfig (copy from F# main) + Session 5 resolutions
  .vsconfig
  INTERNAL.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Rename yamls to match F# convention (pipeline 499 reads azure-pipelines.yml)
  azure-pipelines-PR.yml
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix test scripts to use System.Memory 4.6.3 instead of 4.5.3
  tests/fsharp/core/span/common-pre.fsx
  tests/fsharp/typecheck/sigs/neg107-pre.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix flaky AsyncMemoize test: wait for all terminal events before asserting
  tests/FSharp.Compiler.ComponentTests/CompilerService/AsyncMemoize.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Re-add MSBuild darc NuGet source needed for Microsoft.Build 18.6.4
  NuGet.config
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] INTERNAL.md Session 5b: Roslyn 2.9.0-beta8 pkg blocker + G2b/G3a green
  INTERNAL.md
Due: none

[15.9] CORRECT Session 5b: Roslyn 2.9.0-beta8 NOT a blocker
  INTERNAL.md
Due: none

[15.9] INTERNAL.md Session 5d: documented mirror fix via history rewrite
  INTERNAL.md
Due: none

[15.9] Modernize ESRP cert names to match Roslyn 15.9 modernization (PR #83501)
  build/config/AssemblySignToolData.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] INTERNAL.md note: trigger mirror retry (was stuck at 0f75d09c)
  INTERNAL.md
Due: none

[15.9] yaml: pre-create artifacts/log+TestResults dirs + mirror legacy log paths
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] INTERNAL.md Session 5e: mirror divergence #19696 fix + lessons
  INTERNAL.md
Due: none

Fix #19664: Extension static methods are resolved if similar intrisic methods exist
  src/Compiler/Checking/NameResolution.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/StaticMethodResolution.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix typos
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/StaticMethodResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add a record to the release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Map this branch to rel/insiders, set VSMinorVersion=7
  azure-pipelines.yml
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] yaml: drop unauthorized variable groups (build 2968573 fix)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] yaml: drop 3 unauthorized NuGetAuthenticate connections, keep 1 (matches F# 16.11)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove obsolete UsingTask for NuGetRepack.Tasks
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[15.9] yaml: add featureFlags.autoBaseline + TSA notificationAliases (build 2969300 fixes)
  azure-pipelines.yml
  eng/TSAConfig.gdntsa
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] yaml: suppress CFS myget false-positive + fix TSA areaPath (build 2969322 fixes)
  azure-pipelines.yml
  eng/TSAConfig.gdntsa
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Remove m-y-get from NuGet.Config files; restore legacy via -Source cmdline (build 2969336 fix)
  NuGet.Config
  azure-pipelines.yml
  src/buildfromsource/NuGet.config
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[15.9] yaml: switch pre-restore to NuGetCommand@2 task + continueOnError (build 2969354 fix)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Replace PAT with WIF service connection for VS insertion (#19683)
  eng/release/insert-into-vs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Re-add m-y-get-legacy mirror to NuGet.Config (build 2969379 fix)
  NuGet.Config
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] packages.config: drop test-only StrawberryPerl64 + FSharp.Configuration (build 2969411 fix)
  packages.config
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] NuGet.Config: use @Prerelease view of m-y-get-legacy mirror
  NuGet.Config
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Pre-stage 2 more legacy packages (build 2969476 progress)
  packages-prestage/Microsoft.FSharp.TupleSample.1.0.0-alpha-161121.nupkg
  packages-prestage/Microsoft.VisualFSharp.Msbuild.15.0.1.0.1.nupkg
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Pre-stage FsLexYacc 7.0.6 (build 2969495 -> 44 of 45)
  packages-prestage/FsLexYacc.7.0.6.nupkg
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Parallel compilation of scripts (#19649)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/GraphChecking/DependencyResolution.fs
  src/Compiler/Driver/GraphChecking/TrieMapping.fs
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Graph/Scenarios.fs
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Graph/TrieMappingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
