Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fix flaky assertion in rigid generic type parameters test
  tests/FSharp.Compiler.Service.Tests/OverloadCacheTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Improve pr-build-status skill with collect-first workflow
  .github/skills/pr-build-status/SKILL.md
Due: none

Align signature size logic with Roslyn and fix cross-platform key import
  src/Compiler/AbstractIL/ilsign.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix IfThenElse: remove silent fallback that masks bugs
  src/FSharp.Core/Query.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add testconfig.json
  tests/FSharp.Test.Utilities/XunitSetup.fs
  tests/fsharp/FSharpSuite.Tests.fsproj
  tests/fsharp/testconfig.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix testconfig.json naming for MTP
  tests/fsharp/FSharpSuite.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Try synchronous write
  tests/scripts/scriptlib.fsx
Due: none

Make even more synchronous
  tests/FSharp.Test.Utilities/TestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add failing tests
  tests/FSharp.Compiler.Service.Tests/ExprTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Handle all cases of TType
  src/Compiler/Symbols/Exprs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Parameterise the tests
  tests/FSharp.Compiler.Service.Tests/ExprTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add temporary logging
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/scripts/scriptlib.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix overload cache key to include object argument types
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix Find All References for active patterns in signature files
  docs/SEARCH_AND_RENAME_ARCHITECTURE.md
  docs/TASKLIST.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #18270: Property rename no longer renames get/set keywords
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #18270: Apply tryFixupSpan filtering to FindUsagesService
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix operator rename issues (#14057, #17221)
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add tests for single-line interface syntax FindReferences (#15399)
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Simplify mkSimplePatForVarSpace: use List.map directly
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #9928: Find All References works correctly with #line directives
  src/Compiler/Service/ItemKey.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor: extract SimplePatsOfPatCompilerGenerated wrapper
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Inline markSimplePat helpers into SimplePatsOfPatCompilerGenerated
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix symbol resolution edge cases (#5546, #4136)
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/TransparentCompiler.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Extract storeCacheResult helper for overload resolution cache
  src/Compiler/Checking/ConstraintSolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix: Filter non-F# files in FindFSharpReferencesAsync (#16394)
  vsintegration/src/FSharp.Editor/Common/Pervasive.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix temporary logging
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/scripts/scriptlib.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix baseline: Update Project15 test for Or pattern secondary binding fix (#5546)
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix: Find references includes record copy-and-update and DU case testers (#15290, #16621)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Optimize cache lookups: pass cache directly to storeCacheResult
  .ralph/CONTEXT.md
  .ralph/VISION.md
  src/Compiler/Checking/ConstraintSolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Replace list prepend+reverse with ResizeArray in tryComputeOverloadCacheKey
  .ralph/CONTEXT.md
  src/Compiler/Checking/ConstraintSolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #14902: Register Item.Value for F# constructor usages
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/CommonWorkflows.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Include declaring type in ProvidedMeth hash for cache key
  src/Compiler/Checking/ConstraintSolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Optimize Find All References for external DLL symbols (#10227)
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Define MaxTokenCount constant in TypeHashing.fs
  .ralph/CONTEXT.md
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Extract checkSourceHasNoErrors helper to reduce test boilerplate
  tests/FSharp.Compiler.Service.Tests/OverloadCacheTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix Find References for C# extension methods (#16993)
  src/Compiler/Service/ItemKey.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

One last try with logging
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/scripts/scriptlib.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

address PR feedback
  eng/Versions.props
  src/FSharp.Core/Linq.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add searchable issue references to source code fixes
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  vsintegration/src/FSharp.Editor/Common/Pervasive.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add missing issue references and update TASKLIST.md
  docs/TASKLIST.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
