Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

fix test
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/ImportDeclarations/ImportDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix computation expression pattern matching order
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Service/ServiceAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/ImportDeclarations/ImportDeclarations.fs
  tests/service/data/SyntaxTree/OpenDeclaration/E_openInTypeDecl.fs
  tests/service/data/SyntaxTree/OpenDeclaration/E_openInTypeDecl.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/OpenInObjExprOrInterface.fs
  tests/service/data/SyntaxTree/OpenDeclaration/OpenInObjExprOrInterface.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/OpenInTypeWithWrongPos.fs
  tests/service/data/SyntaxTree/OpenDeclaration/OpenInTypeWithWrongPos.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeNotOnSameLine.fs
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeNotOnSameLine.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeNotOnSameLine2.fs
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeNotOnSameLine2.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeOnSameIndent.fs
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeOnSameIndent.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeOnSameIndent2.fs
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeOnSameIndent2.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/openInTypeDecl.fs
  tests/service/data/SyntaxTree/OpenDeclaration/openInTypeDecl.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/openModInFun.fs
  tests/service/data/SyntaxTree/OpenDeclaration/openModInFun.fs.bsl
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddMissingEqualsToTypeDefinitionTests.fs
  vsintegration/tests/UnitTests/LegacyLanguageService/Tests.LanguageService.ParameterInfo.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

format
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddMissingEqualsToTypeDefinitionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix build
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/MethodCalls.fsi
  src/Compiler/SyntaxTree/WarnScopes.fs
  src/Compiler/SyntaxTree/WarnScopes.fsi
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix test
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/ImportDeclarations/E_openInTypeDecl.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

format
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

ILVerify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update baselines
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix and enable test
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/CallerArgumentExpression/Big expr test.fsx
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/CallerArgumentExpression/CallerArgumentExpression.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix SynPat shouldBeParenthesizedInContext
  src/Compiler/Service/SynPat.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix LineDirectives.add
  src/Compiler/Utilities/range.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fantomas
  src/Compiler/Utilities/range.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update SynPat.fs
  src/Compiler/Service/SynPat.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix line directive application for caller info
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Utilities/range.fs
  tests/FSharp.Compiler.ComponentTests/CompilerDirectives/Line.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IlVerify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix test
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/ServiceAnalysis.fs
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/E_openInTypeDecl.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/OpenTypeOnSameIndent2.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/openInTypeDecl.fs.bsl
  tests/service/data/SyntaxTree/OpenDeclaration/openModInFun.fs.bsl
  vsintegration/tests/UnitTests/UnusedOpensTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

regression test - for now needs a .dll :((
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/TypedTree/TypedTree.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Updated baseline files
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix file path in line directive test
  tests/FSharp.Compiler.ComponentTests/CompilerDirectives/Line.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

revert changes in caller info tests made in #18699
  tests/fsharpqa/Source/Conformance/SpecialAttributesAndTypes/Imported/CallerInfo/CallerFilePath.fs
  tests/fsharpqa/Source/Conformance/SpecialAttributesAndTypes/Imported/CallerInfo/CallerLineNumber.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

remove typo
  tests/fsharpqa/Source/Conformance/SpecialAttributesAndTypes/Imported/CallerInfo/CallerFilePath.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Attempt to fix editor test
  src/Compiler/Service/SynPat.fs
  tests/FSharp.Compiler.Service.Tests/SynPatTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Simplify mkLetExpression
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

one more test
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 19.fs
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 19.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

split lang feature; fix tests
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  vsintegration/tests/UnitTests/UnusedOpensTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

remove open in type
  .editorconfig
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/ImportDeclarations/ImportDeclarations.fs
  vsintegration/tests/UnitTests/LegacyLanguageService/Tests.LanguageService.ParameterInfo.fs
  vsintegration/tests/UnitTests/UnusedOpensTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release note
  .editorconfig
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/CheckBasics.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add comments to explain the meaning of the new flags
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update to always use named fields
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

document isFromSource
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rename isComputed to isBang
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Service/SynPat.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add "," as separator for pattern matching on multiple named discriminated unions fields
  src/Compiler/pars.fsy
  tests/service/data/SyntaxTree/Pattern/Named field 06.fs
  tests/service/data/SyntaxTree/Pattern/Named field 06.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 07.fs
  tests/service/data/SyntaxTree/Pattern/Named field 07.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 08.fs
  tests/service/data/SyntaxTree/Pattern/Named field 08.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 09.fs
  tests/service/data/SyntaxTree/Pattern/Named field 09.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 10.fs
  tests/service/data/SyntaxTree/Pattern/Named field 10.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 11.fs
  tests/service/data/SyntaxTree/Pattern/Named field 11.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 12.fs
  tests/service/data/SyntaxTree/Pattern/Named field 12.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 13.fs
  tests/service/data/SyntaxTree/Pattern/Named field 13.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix build
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/SynExpr.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Component Tests
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/NamedPatPairs/NamedPatPairs.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/NamedPatPairs/NamedPatPairs01.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add LanguageFeature
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
