Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

align system versions with msbuild (towards 9.0.9)
  eng/Version.Details.props
  eng/Version.Details.xml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update the agent pool for the PR builds
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Change agent name
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Change agent name again
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

simplify deps
  src/fsc/fsc.targets
  vsintegration/Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bump versions for 18.3
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

more type relations caches
  src/Compiler/Checking/TypeRelations.fs
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

the rest rebased
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Optimizer/NestedApplications.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply suggestion from @T-Gro
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Work around for infinite restore in VS
  Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Work around for infinite restore in VS (#19106)
  Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestion from @T-Gro
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bump versions for 18.3 (#19105)
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update the agent pool for the PR builds (#19102)
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

sort stats by name
  src/Compiler/Utilities/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor
  src/Compiler/Checking/TypeRelations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

naming
  src/Compiler/Checking/TypeRelations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update global.json
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Upgrade Visual Studio and xcopy-msbuild version to 18.0 (#19098)
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Skip tests using nuget from signed builds (network isolation need for signed builds)
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/FSharp.Compiler.Private.Scripting.UnitTests/FSharpScriptTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/FSharp.Test.Utilities/Utilities.fs
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add IN keyword to SynMemberDefnLetBindingsTrivia
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Service/FSharpParseFileResults.fs
  src/Compiler/Service/ServiceInterfaceStubGenerator.fs
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/SyntaxTree/SyntaxTrivia.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fsi
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/service/data/SyntaxTree/Binding/RangeOfAttributeShouldBeIncludedInSynMemberDefnLetBindings.fs.bsl
  tests/service/data/SyntaxTree/LeadingKeyword/DoKeyword.fs.bsl
  tests/service/data/SyntaxTree/LeadingKeyword/DoStaticKeyword.fs.bsl
  tests/service/data/SyntaxTree/LeadingKeyword/StaticLetKeyword.fs.bsl
  tests/service/data/SyntaxTree/LeadingKeyword/StaticLetRecKeyword.fs.bsl
  tests/service/data/SyntaxTree/Member/Do 01.fs.bsl
  tests/service/data/SyntaxTree/Member/Do 02.fs.bsl
  tests/service/data/SyntaxTree/Member/Do 03.fs.bsl
  tests/service/data/SyntaxTree/Member/Do 04.fs.bsl
  tests/service/data/SyntaxTree/Member/Interface 06.fs.bsl
  tests/service/data/SyntaxTree/Member/Let 01.fs.bsl
  tests/service/data/SyntaxTree/Member/Let 02.fs.bsl
  tests/service/data/SyntaxTree/Member/Let 03.fs.bsl
  tests/service/data/SyntaxTree/Member/Let 04.fs.bsl
  tests/service/data/SyntaxTree/Member/Let 05.fs
  tests/service/data/SyntaxTree/Member/Let 05.fs.bsl
  tests/service/data/SyntaxTree/Member/Static 01.fs.bsl
  tests/service/data/SyntaxTree/OperatorName/ObjectModelWithTwoMembers.fs.bsl
  tests/service/data/SyntaxTree/Type/Keywords In Strings 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Let Inside Class 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module After Do Binding 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module And Type After Do Binding 01.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Include IN keyword in the range of SynModuleDecl.Let
  src/Compiler/SyntaxTree/ParseHelpers.fs
  tests/service/data/SyntaxTree/ModuleMember/Let 06.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Move SynLeadingKeyword back
  src/Compiler/SyntaxTree/SyntaxTrivia.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add test
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OptionalArguments/OptionalArguments.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OptionalArguments/RefAndStructOptionalArgParity.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Support explicit struct optional args
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply suggestions from code review
  tests/FSharp.Test.Utilities/Utilities.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix net472 ass resolve recursion (ours clashing with test frameworks)
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/Utilities/Async2.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

format
  src/Compiler/Service/BackgroundCompiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply suggestion from @T-Gro
  tests/FSharp.Test.Utilities/Utilities.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

struct
  src/Compiler/Utilities/Async2.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

wip
  src/Compiler/Utilities/Async2.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add name resolution order test
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml
