Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

revert try/with handler, add tests for it
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

more tests
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix YieldFromFinal/ReturnFromFinal being called in non-tail positions (#19403)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

unscopedref test
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/MissingTest.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix test
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

removed leading spaces from warn directive range
  src/Compiler/SyntaxTree/WarnScopes.fs
  tests/service/data/SyntaxTree/WarnScope/IndentedWarnDirective.fs
  tests/service/data/SyntaxTree/WarnScope/IndentedWarnDirective.fs.bsl
  tests/service/data/SyntaxTree/WarnScope/WarnScopeInSubmodule.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

moved release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

use FSharpScript everywhere, remove ScriptingShims.fsx
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/FsharpSuiteMigrated.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/ScriptHelpers.fs
  tests/FSharp.Test.Utilities/ScriptingShims.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

cleanup - this can run in parallel
  tests/fsharp/TypeProviderTests.fs
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove leading spaces from warn directive range (#19408)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/SyntaxTree/WarnScopes.fs
  tests/service/data/SyntaxTree/WarnScope/IndentedWarnDirective.fs
  tests/service/data/SyntaxTree/WarnScope/IndentedWarnDirective.fs.bsl
  tests/service/data/SyntaxTree/WarnScope/WarnScopeInSubmodule.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Move System.* package versions to Version.Details.xml for source-build (#19397)
  eng/Version.Details.props
  eng/Version.Details.xml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix duplicate PackageReference from merge (RoslynForTestingButNotForVSLayer removal)
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI: update tests for new diagnostic messages
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/OverloadingMembers.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalFiltering/OffsideExceptions/OffsideExceptions.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/RealInternalSignature/ClassTypeInitialization.fs
  tests/FSharp.Compiler.ComponentTests/Language/StateMachineTests.fs
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/E_CannotShadowIndexedPropertyWithExtensionMethod.fsx.err.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/E_CannotShadowIndexedPropertyWithTypeExtension.fsx.err.bsl
  tests/FSharp.Compiler.Service.Tests/ExprTests.fs
  tests/fsharp/Compiler/Conformance/DataExpressions/ComputationExpressions.fs
  tests/service/data/SyntaxTree/SynType/Typed LetBang 05.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang 06.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang 17.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang 18.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 15.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed UseBang 03.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed UseBang 04.fs.bsl
  vsintegration/tests/FSharp.Editor.Tests/DocumentDiagnosticAnalyzerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 2917180 (#19378)
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.cs.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.de.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.es.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.fr.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.it.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.ja.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.ko.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.pl.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.pt-BR.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.ru.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.tr.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.zh-Hans.xlf
  vsintegration/src/FSharp.UIResources/xlf/Strings.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 2923162
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 2923162
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix release notes: move entry to 11.0.100.md and restore files from main
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/10.0.300.md
  docs/release-notes/.Language/10.0.md
  docs/release-notes/.Language/11.0.md
  docs/release-notes/.Language/preview.md
  docs/release-notes/.VisualStudio/18.vNext.md
  docs/release-notes/PENDING_BREAKING_CHANGES.md
Due: none

Add release notes entry for <include> XML doc tag to 11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add flaky-test-detector skill
  .github/skills/flaky-test-detector/SKILL.md
  .github/skills/flaky-test-detector/scripts/Get-FlakyTests.ps1
Due: none

Fix duplicate error number 3395 for xmlDocIncludeError
  src/Compiler/FSComp.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use union merge strategy for release notes to avoid conflicts
  .gitattributes
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make Alt-F1 work for inline hints
  vsintegration/src/FSharp.Editor/Hints/FSharpInlayHintsService.fs
  vsintegration/src/FSharp.Editor/Hints/HintService.fs
  vsintegration/src/FSharp.Editor/Hints/Hints.fs
  vsintegration/src/FSharp.Editor/Hints/NativeToRoslynHintConverter.fs
  vsintegration/tests/FSharp.Editor.Tests/Hints/HintTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

cleanup
  vsintegration/src/FSharp.Editor/Hints/FSharpInlayHintsService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fantomas
  vsintegration/src/FSharp.Editor/Hints/FSharpInlayHintsService.fs
  vsintegration/src/FSharp.Editor/Hints/Hints.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Code review changes: add more tests, update comment, and move release note
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/9.0.200.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/TypeMismatchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Guard type-annotation unwrapping to avoid breaking type-directed conversions
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/9.0.200.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

cleanup
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/fsharp/single-test.fs
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add error handling for TestSplit.fsx
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add path to binlog for MacOS publish
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

VS: make Alt-F1 work for inline hints (#19421)
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Hints/FSharpInlayHintsService.fs
  vsintegration/src/FSharp.Editor/Hints/HintService.fs
  vsintegration/src/FSharp.Editor/Hints/Hints.fs
  vsintegration/src/FSharp.Editor/Hints/NativeToRoslynHintConverter.fs
  vsintegration/tests/FSharp.Editor.Tests/Hints/HintTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update ILVerify and trimming baselines after main merge
  tests/AheadOfTime/Trimming/check.ps1
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use union merge strategy for release notes to avoid conflicts (#19420)
  .gitattributes
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix flaky tests: isolate shared state, fix timing, add diagnostics
  .github/skills/flaky-test-detector/SKILL.md
  .github/skills/flaky-test-detector/scripts/Get-FlakyTests.ps1
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AssemblyVersion03.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/ComparersRegression.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
  tests/fsharp/core/attributes/test.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml
