Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Editor: Fix Record fields completion in update record with partial field name (#18946)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Service/ServiceParseTreeWalk.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Failing test
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use code completion context
  src/Compiler/Service/ServiceParseTreeWalk.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix
  src/Compiler/Service/ServiceParseTreeWalk.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

Remove unneeded augmentations
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_ExplicitShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_ExtraFieldsAreIgnored.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_NoOverlap_Explicit_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_NoOverlap_Spread_Explicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_NoOverlap_Spread_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_SpreadShadowsExplicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_SpreadShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_ExplicitShadowsSpread.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_ExplicitShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_ExtraFieldsAreIgnored.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_ExtraFieldsAreIgnored.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Explicit_Spread.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Explicit_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_SpreadFromAnon.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_SpreadFromAnon.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Spread_Explicit.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Spread_Explicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Spread_Spread.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Spread_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_SpreadShadowsExplicit.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_SpreadShadowsExplicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_SpreadShadowsSpread.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_SpreadShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_ExplicitShadowsSpread.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_ExplicitShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_Explicit_Spread.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_Explicit_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_SpreadFromAnon.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_SpreadFromAnon.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_Spread_Explicit.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_Spread_Explicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_Spread_Spread.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_Spread_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_SpreadShadowsExplicit.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_SpreadShadowsExplicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_SpreadShadowsSpread.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_SpreadShadowsSpread.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

better
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Utilities/Async2.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

use thread pool for stack guad on net core
  src/Compiler/Facilities/DiagnosticsLogger.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

temp bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update branch names for F# and VS insertion (#18944)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

WIP: Remove recursion and StackGuard, use explicit mutable stack
  src/Compiler/Checking/FindUnsolved.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Double the iterations in StackOverflowRepro - see if it fails in MacOS
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TryCatch/StackOverflowRepro.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Improve assertion for stack overflow error handling
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TryCatch/TryCatch.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestion from @T-Gro
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TryCatch/StackOverflowRepro.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update F# build and package versions
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move Roslyn deps from manually managed to darc
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update Versions.props
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update F# pre-release iteration and major version
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cascade of consequences
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update F# build and package versions (#18954)
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

no nuget errors, lets see what VS integration says
  eng/Versions.props
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.LanguageService.Base/FSharp.LanguageService.Base.csproj
  vsintegration/src/FSharp.LanguageService/FSharp.LanguageService.fsproj
  vsintegration/src/FSharp.ProjectSystem.Base/FSharp.ProjectSystem.Base.csproj
  vsintegration/src/FSharp.ProjectSystem.FSharp/FSharp.ProjectSystem.FSharp.fsproj
  vsintegration/src/FSharp.ProjectSystem.PropertyPages/FSharp.ProjectSystem.PropertyPages.vbproj
  vsintegration/src/FSharp.VS.FSI/FSharp.VS.FSI.fsproj
  vsintegration/tests/Salsa/VisualFSharp.Salsa.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

un-harcode csc,ildasm,ilasm deps for testframework
  tests/FSharp.Test.Utilities/TestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update codeflow metadata to unblock VMR codeflow
  eng/Version.Details.xml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix
  src/Compiler/Utilities/Async2.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/AsyncMemoize.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run IL spread tests only against .NET (Core)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/AnonymousRecordExpressionSpreads.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/NominalRecordExpressionSpreads.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/RecordTypeSpreads.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_SpreadFromAnon.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add attribute shadowing test
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/RecordTypeSpreads.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_AttributesAreShadowed.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_AttributesAreShadowed.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/DependencyManager/DependencyProvider.fs
  src/Compiler/DependencyManager/DependencyProvider.fsi
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/FxResolver.fs
  src/Compiler/Driver/ScriptClosure.fs
  src/Compiler/Facilities/CompilerLocation.fs
  src/Compiler/Facilities/CompilerLocation.fsi
  src/Compiler/Interactive/fsi.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.ProjectFile.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.Utilities.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.ProjectFile.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

cleanup
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.Utilities.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix tests
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

+ test
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.ProjectFile.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

remove confusing restore info
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.ProjectFile.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

surface area
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestion from @T-Gro
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

VSSDK Build Tools
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

adapt roslyn api change
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update LanguageService.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI crashes
  eng/Versions.props
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpDebug.csproj
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpFull.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update codeflow metadata to unblock the `main`/`main` flow
  eng/Version.Details.xml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
