Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

fixup! Fix NRE on unlinked placeholder entities and add release notes
  src/Compiler/Utilities/lib.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Convert FSharpLineTokenizer.ScanToken to allocation-free voption struct return
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceLexing.fs
  src/Compiler/Service/ServiceLexing.fsi
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/TokenizerTests.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/src/FSharp.LanguageService/Colorize.fs
  vsintegration/src/FSharp.LanguageService/Intellisense.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add VS release notes entry for SourceTextData thread-safety fix (PR #20113)
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Avoid redundant allocations in Tokenizer.fs hot paths
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review: inherit the IL method in the 20264 test, resolve via FindByNameAndArity, and keep a try/with around signature matching.
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Interop/SimpleInteropTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix inherited IL base-call crash and add release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Interop/SimpleInteropTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add doc comment explaining new isPositive approach
  src/FSharp.Core/printf.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Collapse always-on RelaxWhitespace2 gate in LexFilter.fs
  src/Compiler/SyntaxTree/LexFilter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Flatten always-on InterfacesWithMultipleGenericInstantiation language feature (#20147)
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove IndexerNotationWithoutDot flag, dead strings, regenerate xlf
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

PR review fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  tests/FSharp.Compiler.ComponentTests/Interop/SimpleInteropTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove always-on RelaxWhitespace2 language feature declaration and regenerate xlf
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix surface area
  src/FSharp.Core/resumable.fs
  src/FSharp.Core/resumable.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netcore.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netcore.release.bsl
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: formatting
  tests/FSharp.Compiler.Service.Tests/MultiProjectAnalysisTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

doc: Clarify test collection
  tests/FSharp.Test.Utilities/XunitSetup.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

cleanup: Remove XUNIT_EXTRAS straggler reference
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

refactor: Replace RunTestCasesInSequence with comments
  tests/FSharp.Compiler.ComponentTests/Language/BooleanReturningAndReturnTypeDirectedPartialActivePatternTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/SequenceExpressions/SequenceExpressionTests.fs
  tests/FSharp.Compiler.Service.Tests/ErrorList/ScriptDiagnosticsTests.fs
  tests/FSharp.Compiler.Service.Tests/FsiTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/FSharp.Compiler.Service.Tests/ScriptOptionsTests.fs
  tests/FSharp.Test.Utilities/XunitSetup.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/DeterministicTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

refactor(RunTestCasesInSequenceAttribute): replace with DisableParallelization shims
  tests/FSharp.Compiler.ComponentTests/Language/BooleanReturningAndReturnTypeDirectedPartialActivePatternTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/SequenceExpressions/SequenceExpressionTests.fs
  tests/FSharp.Compiler.Service.Tests/ErrorList/ScriptDiagnosticsTests.fs
  tests/FSharp.Compiler.Service.Tests/FsiTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/FSharp.Compiler.Service.Tests/ScriptOptionsTests.fs
  tests/FSharp.Test.Utilities/XunitSetup.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/DeterministicTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: Remove warning build break
  tests/FSharp.Test.Utilities/XunitSetup.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add launch script so contributors can F5 the VS extension without a matching-Roslyn VS
  DEVGUIDE.md
  start-vs-VisualFSharpSln.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Roll back compiler temp RunSynchronously use
  src/Compiler/Driver/fsc.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Interactive/fsi.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

straggler RunTestCasesInSequence -> DisableParallization migrations
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

review: Change ContinueWith back to use
  src/FSharp.Core/tasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

surf
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netcore.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netcore.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Test.Utilities/SurfaceArea.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

doc: Async.StartChild xmldoc/example tweaks
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

do not emit .tail in runtime async methods
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

error on AsyncHelpers use outside of async method
  docs/runtime-async.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add non-preservable-value diagnostics
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/runtime-async.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reject bitwise operators on char-backed enums (#11785)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/E_BitwiseOpsOnCharEnum.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/EnumTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add PR number to release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

Regenerate xlf after rebase
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

make it work in debug
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/runtime-async.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix duplicated release notes entries after rebase
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

fix regressed
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore(Tests): Reinstate RunSynchronouslyImmediate usage
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncModuleFunctions.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove always-on WhileBang language feature flag
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/pars.fsy
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Flatten always-on NestedCopyAndUpdate language feature (#20184)
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/disableLanguageFeature.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Flatten always-on DiagnosticForObjInference language feature (#20178)
  src/Compiler/Checking/TypeRelations.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Flatten always-on WarningWhenInliningMethodImplNoInlineMarkedFunction feature
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
