Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Bump add-comment max: 5→25 for realistic batch throughput
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Parser: rebuild project automatically on grammar changes (#19731)
  buildtools/buildtools.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Regenerate unified netcore baselines with serialization methods
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOn.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOn.il.netcore.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Parser: fix unexpected diagnostics in debug builds, improve error messages (#19730)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/FSStrings.resx
  src/Compiler/xlf/FSStrings.cs.xlf
  src/Compiler/xlf/FSStrings.de.xlf
  src/Compiler/xlf/FSStrings.es.xlf
  src/Compiler/xlf/FSStrings.fr.xlf
  src/Compiler/xlf/FSStrings.it.xlf
  src/Compiler/xlf/FSStrings.ja.xlf
  src/Compiler/xlf/FSStrings.ko.xlf
  src/Compiler/xlf/FSStrings.pl.xlf
  src/Compiler/xlf/FSStrings.pt-BR.xlf
  src/Compiler/xlf/FSStrings.ru.xlf
  src/Compiler/xlf/FSStrings.tr.xlf
  src/Compiler/xlf/FSStrings.zh-Hans.xlf
  src/Compiler/xlf/FSStrings.zh-Hant.xlf
  tests/service/data/SyntaxTree/Member/Abstract - Property 03.fs.bsl
  tests/service/data/SyntaxTree/Member/Auto property 05.fs.bsl
  tests/service/data/SyntaxTree/Member/Auto property 06.fs.bsl
  tests/service/data/SyntaxTree/Member/Auto property 08.fs.bsl
  tests/service/data/SyntaxTree/Member/Auto property 09.fs.bsl
  tests/service/data/SyntaxTree/Member/Auto property 10.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bugfix :: Fix F# exception serialization to preserve fields (#19342)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Exceptions.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/ExceptionType.fs.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/ExceptionType.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOn.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOn.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI: update baselines, fix TupleTypeExtension03 types, fix symbol leak assertion
  src/Compiler/Checking/CheckBasics.fsi
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
  tests/service/data/SyntaxTree/Type/Inline IL With Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/TupleTypeExtensionRecovery 01.fs.bsl
  tests/service/data/SyntaxTree/Type/TupleTypeExtensionRecovery 02.fs.bsl
  tests/service/data/SyntaxTree/Type/TupleTypeExtensionRecovery 03.fs.bsl
  tests/service/data/SyntaxTree/Type/TupleTypeExtensionRecovery 04.fs.bsl
  tests/service/data/SyntaxTree/Type/TupleTypeExtensionRecovery 05.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[Fix #19667] Move Async.StartChild to "Starting Async Computations" docs category (#19725)
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix attributes silently dropped on unparenthesized tuple return types (#19714)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/ReturnType04.fs
  tests/service/data/SyntaxTree/Attribute/ReturnTypeAttributeOnBareTuple.fs
  tests/service/data/SyntaxTree/Attribute/ReturnTypeAttributeOnBareTuple.fs.bsl
  tests/service/data/SyntaxTree/Attribute/ReturnTypeAttributeOnParenthesizedTuple.fs
  tests/service/data/SyntaxTree/Attribute/ReturnTypeAttributeOnParenthesizedTuple.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix parser recovery, name resolution, and code completion for unfinished enum patterns (#19708)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.Service.Tests/CompletionTests.fs
  tests/FSharp.Compiler.Service.Tests/SyntaxTreeTests.fs
  tests/FSharp.Compiler.Service.Tests/TypeChecker/TypeCheckerRecoveryTests.fs
  tests/service/data/SyntaxTree/Expression/Object - Class 13.fs.bsl
  tests/service/data/SyntaxTree/Member/Member 03.fs.bsl
  tests/service/data/SyntaxTree/Member/Member 07.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 01.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 01.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 02.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 02.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 03.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 03.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 04.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 04.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 05.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 05.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 06.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 06.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 07.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 07.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 08.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 08.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 09.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 09.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Identifier 10.fs
  tests/service/data/SyntaxTree/Pattern/Identifier 10.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 01: Test scaffolding for attribute resolution in recursive scopes
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 02: Fix union case attributes in module rec
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Language/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 03: Fix record field attributes in module rec
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  tests/FSharp.Compiler.ComponentTests/Language/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 04: Fix typar attributes in module rec
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  tests/FSharp.Compiler.ComponentTests/Language/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 5: edge-case and negative tests for attribute resolution in rec scopes
  tests/FSharp.Compiler.ComponentTests/Language/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 06: final validation, namespace-rec union case test, release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  tests/FSharp.Compiler.ComponentTests/Language/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 07: Fixup #1 — gate typar attr re-resolution, preserve fixup on recoverable exn
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rotate [<return:>] binding attrs into the arity-info return position
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Language/AttributeCheckingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

PR Tooling Safety Check: use repo-memory for state, skip drafts, minimize comment noise (#19729)
  .github/aw/actions-lock.json
  .github/workflows/agentic-state-machine.lock.yml
  .github/workflows/aw-auto-update.lock.yml
  .github/workflows/labelops-flake-fix.lock.yml
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
  .github/workflows/regression-pr-shepherd.lock.yml
  .github/workflows/repo-assist.lock.yml
Due: none

Trim verbose comments to short technical notes
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  tests/FSharp.Compiler.ComponentTests/Language/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ValueOption optional args via ?param caller syntax (#19711)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OptionalArguments/OptionalArguments.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add PR link to release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Gate exception serialization codegen behind LanguageFeature.ExceptionFieldSerializationSupport (F# 11)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Exceptions.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/ExceptionType.fs.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/ExceptionType.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOn.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOn.il.netcore.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add agentic workflow state machine documentation (#19720)
  .github/docs/state-machine.md
Due: none

Add failing TDD tests for #19657: MeasureAnnotatedAbbreviation over reference type with | null
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add failing tests + strings + ContextInfo for dot-access nullness warning (#19658, sprint 1/3)
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSStrings.resx
  src/Compiler/Symbols/FSharpDiagnostic.fs
  src/Compiler/xlf/FSStrings.cs.xlf
  src/Compiler/xlf/FSStrings.de.xlf
  src/Compiler/xlf/FSStrings.es.xlf
  src/Compiler/xlf/FSStrings.fr.xlf
  src/Compiler/xlf/FSStrings.it.xlf
  src/Compiler/xlf/FSStrings.ja.xlf
  src/Compiler/xlf/FSStrings.ko.xlf
  src/Compiler/xlf/FSStrings.pl.xlf
  src/Compiler/xlf/FSStrings.pt-BR.xlf
  src/Compiler/xlf/FSStrings.ru.xlf
  src/Compiler/xlf/FSStrings.tr.xlf
  src/Compiler/xlf/FSStrings.zh-Hans.xlf
  src/Compiler/xlf/FSStrings.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #19657: strip measure equations in SolveTypeIsReferenceType
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Pick up rotated [<return:>] attribs in TcNormalizedBinding and active-pattern detection
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format SyntaxTreeOps.fs with fantomas
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes for #19657 MeasureAnnotatedAbbreviation + | null fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Emit dot-access-specific nullness warning with receiver range (#19658, sprint 2/3)
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Tests: extract 'should update baselines' checks
  tests/FSharp.Compiler.Service.Tests/SyntaxTreeTests.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/SurfaceArea.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update baselines, surface area, and release notes for dot-access nullness warning (#19658, sprint 3/3)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerDiagnostics.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableCsharpImportTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.checknulls_on.err.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Redist and Tasks.Extensions dlls to swix
  setup/Swix/Microsoft.FSharp.Compiler.MSBuild/Microsoft.FSharp.Compiler.MSBuild.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove dead [<return:>] rotation block in TcNormalizedBinding
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release note for #17904 and #19020 fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Simplify regression tests for #17904 and #19020
  tests/FSharp.Compiler.ComponentTests/Language/AttributeCheckingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add regression test mirroring the FSharp.Core Option.Value scenario
  tests/FSharp.Compiler.ComponentTests/Language/AttributeCheckingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address Copilot review: drop double-counted return attribs in TcNormalizedBinding
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Redist and Tasks.Extensions dlls to swix (#19748)
  setup/Swix/Microsoft.FSharp.Compiler.MSBuild/Microsoft.FSharp.Compiler.MSBuild.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Increase max-patch-size for LabelOps PR Maintenance workflow (#19726)
  .github/aw/actions-lock.json
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
Due: none

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
