Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fix CI failures after merge
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix CI failures
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TasksDynamic.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Document TryGetSolutionDocumentFromPath
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Route the symbol scope's project list through Seq
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Route the multi-project test helper's project list through Seq
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Collapse the declaration lookup into match!
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make TargetInstance a struct record
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Feed the excluded paths to the HashSet as a seq
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make CreateMultiTargetSolution's instance tuples struct
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Isolate forwarding helper in InlineIfLambda allocation tests
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Document CreateMultiTargetSolution and return its results as a struct tuple
  vsintegration/tests/FSharp.Editor.Tests/GoToDefinitionServiceTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the Copilot mention picker release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Slice source text instead of copying it line by line for outlining
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/Service/ServiceStructure.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Answer the mention picker with the open files first
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Collect subscriptions into an array, not a list
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Walk the solution once for both the picker and a picked mention
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Track comment lines by number instead of storing their text
  src/Compiler/Service/ServiceStructure.fs
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Answer the picker before it knows what is being mentioned
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Parallelize Copilot symbol lookup and cut allocations on the hot cache path
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the main thread before registering the Copilot context provider
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Match declaration names over spans instead of building them
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Trace Copilot context-provider registration through the output pane
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Rank and label F# declarations in the picker the way Copilot does C#
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Offer F# declarations to the Copilot chat "#" mention picker
  docs/release-notes/.VisualStudio/18.vNext.md
  eng/Packages.props
  vsintegration/src/FSharp.Editor/Common/Constants.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the copied outlining work back out of this pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/Service/ServiceStructure.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format the Copilot context provider
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep double backticks in a mention's fully qualified name
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Answer the Copilot mention picker from what is already parsed
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Pipe items into Seq.map instead of applying it prefix-style
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Throttle through FSharp.Core's Task.parallelDoLimit
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Harden Copilot provider registration and widen one-line snippets
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Isolate InlineIfLambda closure assertions to call sites
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI failures after merge
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/TestUtilities.fs
  tests/FSharp.Test.Utilities/TestConsole.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore runtime feature gating after merge
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/InfoReader.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove obsolete static let language feature flag (#20512)
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FCS: add FSharpCheckFileResults.FileSignature (#20478)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckDeclarations.fsi
  src/Compiler/Driver/ParseAndCheckInputs.fs
  src/Compiler/Driver/ParseAndCheckInputs.fsi
  src/Compiler/Service/BackgroundCompiler.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/IncrementalBuild.fsi
  src/Compiler/Service/TransparentCompiler.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix recursive inline member ordering in optimizer (#20111)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use portable ILDASM method-selection switch
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share the empty-array singleton for zero-length Array results (#20388)
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/array.fs
  src/FSharp.Core/array.fsi
  src/FSharp.Core/local.fs
  src/FSharp.Core/seq.fs
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/ArrayModule.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TasksDynamic.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Align RequireNamedArgumentsAttribute with approved API
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/MethodCalls.fsi
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentsTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/fsharp/typeProviders/requireNamedArguments/provider.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
