Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Map release notes to the packages that actually shipped
  docs/release-notes/.aux/Common.fsx
  docs/release-notes/FSharp.Compiler.Service.fsx
  docs/release-notes/FSharp.Core.fsx
  docs/release-notes/Language.fsx
Due: none

Give every docs page a category in the published navigation
  .github/skills/postmortem/SKILL.md
  docs/labelops.md
  docs/lsp.md
  docs/optimizations-equality.md
  docs/perf-discussions-archive.md
  docs/postmortems/README.md
  docs/postmortems/regression-fs0229-bstream-misalignment.md
  docs/postmortems/regression-legacy-inline-metadata-dynamic-invocation.md
  docs/postmortems/regression-parse-tree-fidelity-return-attributes.md
  docs/postmortems/regression-sourcebuild-cpm-runtime-version-floor.md
  docs/reflectionfree-printing.md
  docs/regression-testing-pipeline.md
  docs/release-notes/PENDING_BREAKING_CHANGES.md
  docs/running-documentation-locally.md
  docs/srtp-guide.md
Due: none

Review fixes
  src/Compiler/Service/BackgroundCompiler.fs
  tests/FSharp.Compiler.Service.Tests/IncrementalBuilderRaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix RequireNamedArgument review regressions
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/NamedArguments/NamedArguments.fs
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentTests.fs
  tests/fsharp/typeProviders/requireNamedArguments/provider.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Review fixes
  src/Compiler/Utilities/FileSystem.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[MicroPerf] Inline the static-abstract interface-constraint predicate (#20374)
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Improve FCS docs (#20508)
  .github/skills/postmortem/SKILL.md
  docs/fcs/editor.fsx
  docs/fcs/tokenizer.fsx
  docs/fcs/typedtree.fsx
  docs/fcs/untypedtree-apis.fsx
  docs/fcs/untypedtree.fsx
  docs/labelops.md
  docs/lsp.md
  docs/optimizations-equality.md
  docs/perf-discussions-archive.md
  docs/postmortems/README.md
  docs/postmortems/regression-fs0229-bstream-misalignment.md
  docs/postmortems/regression-legacy-inline-metadata-dynamic-invocation.md
  docs/postmortems/regression-parse-tree-fidelity-return-attributes.md
  docs/postmortems/regression-sourcebuild-cpm-runtime-version-floor.md
  docs/reflectionfree-printing.md
  docs/regression-testing-pipeline.md
  docs/release-notes/.aux/Common.fsx
  docs/release-notes/FSharp.Compiler.Service.fsx
  docs/release-notes/FSharp.Core.fsx
  docs/release-notes/Language.fsx
  docs/release-notes/PENDING_BREAKING_CHANGES.md
  docs/running-documentation-locally.md
  docs/srtp-guide.md
Due: none

Optimize skill prompts (#20436)
  .github/agents/compiler-perf-investigator.md
  .github/agents/expert-reviewer.md
  .github/agents/extraction-pipeline.md
  .github/agents/fsharp-generic.md
  .github/instructions/NoBloat.instructions.md
  .github/skills/code-compaction/templates/logic-rounds.md
  .github/skills/hypothesis-driven-debugging/SKILL.md
Due: none

[MicroPerf] Drop the per-call closure in generic type-argument codegen (#20437)
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[MicroPerf] Drop accessibility and attribute-scan closures via ListInline (#20421)
  src/Compiler/Checking/AccessibilityLogic.fs
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Review fixes
  src/Compiler/Driver/ParseAndCheckInputs.fs
  src/Compiler/Service/BackgroundCompiler.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/IncrementalBuild.fsi
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/Service/TransparentCompiler.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep SDK reference options out of desktop FSI tests
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/NamedArguments/NamedArguments.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test NativeAOT against the shipped FSharp.Core target framework
  tests/AheadOfTime/NativeAOT/NativeAOT_Test.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI failures
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TryCatch/TryCatch.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review feedback
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/array.fs
  src/FSharp.Core/seq.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/ArrayModule.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add proposing-pr-rewrites skill
  .github/skills/proposing-pr-rewrites/SKILL.md
Due: none

Make agent model defaults configurable and use Sol (#20496)
  .github/agents/extraction-pipeline.md
  .github/skills/code-compaction/SKILL.md
  .github/workflows/agentic-state-machine.lock.yml
  .github/workflows/agentic-state-machine.md
  .github/workflows/aw-auto-update.lock.yml
  .github/workflows/aw-auto-update.md
  .github/workflows/labelops-flake-fix.lock.yml
  .github/workflows/labelops-flake-fix.md
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/msbuild-quality-review.md
  .github/workflows/regression-pr-shepherd.lock.yml
  .github/workflows/regression-pr-shepherd.md
  .github/workflows/repo-assist.lock.yml
  .github/workflows/repo-assist.md
  .github/workflows/shared/model-defaults.md
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_RealsigPrivate.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make zero-based Array2D allocation AOT-clean (#20338)
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/array2.fs
  src/FSharp.Core/prim-types.fs
  src/FSharp.Core/prim-types.fsi
  tests/AheadOfTime/NativeAOT/Array2DProgram.fs
  tests/AheadOfTime/NativeAOT/NativeAOT_Test.fsproj
  tests/AheadOfTime/NativeAOT/Program.fs
  tests/AheadOfTime/NativeAOT/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/Misc.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/Array2Module.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Show diagnostics when the NuGet smoke test fails
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Avoid per-call FSharpFunc closure in remapVal member-info remap (#20426)
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix portable PDB debug reservation after path mapping
  src/Compiler/AbstractIL/ilwrite.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/determinism/determinism.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Quote subprocess arguments containing spaces in the CLI test harness
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/determinism/determinism.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes entry for #20509
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove obsolete static let language feature flag
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Teach expert reviewers to check runtime representation preservation
  .github/agents/expert-reviewer.md
Due: none

Remove RefCellNotationInformationals feature flag
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/fsharp/core/ref-ops-deprecation/test-langversion-preview.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on RequiredPropertiesSupport flag
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on ErrorReportingOnStaticClasses flag
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Checker: don't copy the inferred signature of a file without a signature file
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fsi
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

review: add failing test cases
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update debug surface area
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netcore.debug.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Review fixes
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remap.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  tests/FSharp.Compiler.Service.Tests/ProjectReferenceHandoverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Import: share a referenced project's CCU instead of pickling it
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/Service/BackgroundCompiler.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/IncrementalBuild.fsi
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remap.fs
  src/Compiler/TypedTree/TypedTreeOps.Remap.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fsi
  src/Compiler/TypedTree/TypedTreeOps.Transforms.fs
  src/Compiler/TypedTree/TypedTreeOps.Transforms.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/ProjectReferenceHandoverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Expand and surround with code snippets in F# files
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Common/Vs.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/LanguageService/FSharpEditorFactory.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetCommandHandler.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetExpansionClient.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetFunctions.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetIndentation.fs
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetCatalogTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetIndentationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

address review
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  src/Compiler/Optimize/RuntimeAsyncExceptionRewrite.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
