Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Fix enum constraints in recursive groups and improve constraint diagnostics (#14580) (#20454)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fsi
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.ComponentTests/Conformance/Constraints/ConstraintSyntax.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Enum 01.fs
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Enum 01.fs.bsl
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 01.fs
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 01.fs.bsl
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 02.fs
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 02.fs.bsl
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 03.fs
  tests/service/data/SyntaxTree/SynTyparDecl/Constraint - Unknown identifier 03.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Say why CommitDelayedDiagnostics copies the collection (#20515)
  src/Compiler/Facilities/DiagnosticsLogger.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Stop Debug builds writing `StandardOutput.txt`/`StandardError.txt` into the project directory (#20458)
  src/Compiler/Driver/FxResolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address remaining stackalloc review regressions
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/TypeRelations.fs
  src/Compiler/Checking/TypeRelations.fsi
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/TypesAndTypeConstraints/TypesAndTypeConstraints.fs
  tests/FSharp.Compiler.ComponentTests/Libraries/NativeInterop.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address remaining stackalloc and constraint review feedback
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/TypesAndTypeConstraints/TypesAndTypeConstraints.fs
  tests/FSharp.Compiler.ComponentTests/Libraries/NativeInterop.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Test reference-cell diagnostics with F# 8.0
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/MigratedCoreTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Retry rejected triage labels and preserve transferred human decisions
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/core.cjs
  .github/scripts/regression-triage/publish.cjs
  .github/scripts/regression-triage/publish.test.cjs
Due: none

Retain the successful collector binding on downstream reruns
  .github/docs/regression-triage.md
  .github/scripts/regression-triage/README.md
  .github/scripts/regression-triage/workflow.cjs
  .github/scripts/regression-triage/workflow.test.cjs
  .github/workflows/regression-triage.lock.yml
  .github/workflows/regression-triage.md
Due: none

Embed F# metadata trimming rules in compiled assemblies (#20527)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/Driver/ILLinkSubstitutions.fs
  src/Compiler/Driver/StaticLinking.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Utilities/FileSystem.fs
  src/FSharp.Build/FSharp.Build.fsproj
  src/FSharp.Build/Fsc.fs
  src/FSharp.Build/GenerateILLinkSubstitutions.fs
  src/FSharp.Build/Microsoft.FSharp.NetSdk.targets
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/CustomSubstitutions.xml
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/SelfContained_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/check.ps1
  tests/EndToEndBuildTests/MultithreadedTasks/run.fsx
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/FSharp.Build.UnitTests/ResourceTests.fs
  tests/FSharp.Compiler.ComponentTests/StaticLinking/StaticLinking.fs
  tests/FSharp.Compiler.Service.Tests/ByteMemoryTests.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/StaticLinkTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve computed stackalloc helper boundaries
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Libraries/NativeInterop.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve stackalloc delegate boundaries
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Libraries/NativeInterop.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add a JSON-RPC server mode to F# Interactive
  FSharp.slnx
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  eng/Packages.props
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsi.targets
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim the comments to the repository style rule
  src/Compiler/Interactive/fsi.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Point the release notes entry at the pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Drop the % specifiers from the interpolated strings
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use .NET format specifiers for the generated names in the tests
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop --realsig- from hiding FsiRpcTarget's methods from StreamJsonRpc
  src/fsi/fsiserver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Shorten the test pipe name to fit the macOS socket path limit
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the execution queue off the wire and move the directory on it
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Exempt StreamJsonRpc's serialization stack from Microsoft signing
  eng/Signing.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Register the new test project with TestSplit.fsx
  eng/tests/TestSplit.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Surface what StreamJsonRpc the session loaded on a method-not-found failure
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run fantomas on the files it actually covers
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Strip the macOS /private prefix before comparing working directories
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Run the interactive server tests on desktop fsi too
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Return evaluated FSI values over JSON-RPC
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address FSI JSON-RPC review findings
  setup/Swix/Microsoft.FSharp.Compiler.MSBuild/Microsoft.FSharp.Compiler.MSBuild.csproj
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Exempt the new test project from the embedded-pdb check
  buildtools/AssemblyCheck/SkipVerifyEmbeddedPdb.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the new test project to VisualFSharp.slnx too
  VisualFSharp.slnx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Interpolate strings and mark up the doc comments in the new code
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Ship the server's assembly closure in Microsoft.FSharp.Compiler, not in the VS setup
  setup/Swix/Microsoft.FSharp.Compiler.MSBuild/Microsoft.FSharp.Compiler.MSBuild.csproj
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.nuspec
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix remaining FSI JSON-RPC review issues
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Register FSI RPC handlers explicitly
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Admit only the current user to the fsi server pipe and let the session split and print
  src/fsi/fsi.targets
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Watch FSI host before pipe connection
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Evaluate every interaction EvalInteraction is given and expose the server options on the session
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Interactive/fsi.fs
  src/Compiler/Interactive/fsi.fsi
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FsiTests.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Compact FSI JSON-RPC remediation
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
  tests/FSharp.Compiler.Service.Tests/FsiTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Harden FSI JSON-RPC protocol handling
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.ComponentTests/Scripting/Interactive.fs
  tests/FSharp.Compiler.ComponentTests/resources/tests/InteractiveSession/Misc/Array2D01.fs
  tests/FSharp.Compiler.ComponentTests/resources/tests/InteractiveSession/Misc/NativeIntSuffix01.fs
  tests/FSharp.Compiler.ComponentTests/resources/tests/InteractiveSession/Misc/PipingWithDirectives.fs
  tests/FSharp.Compiler.ComponentTests/resources/tests/InteractiveSession/Misc/UNativeIntSuffix01.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
  tests/FSharp.Compiler.Service.Tests/FsiTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Compare the reported framework and file name ordinally
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Format FSI server fixup
  src/fsi/fsiserver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
