Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Rebalance the split
  eng/tests/TestSplit.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add static optimizations for string, char, and bool
  src/FSharp.Core/fslib-extra-pervasives.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/PrintFunction.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add IL baseline tests for print and println
  tests/FSharp.Compiler.ComponentTests/EmittedIL/PrintFunction.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add generic print and println functions to FSharp.Core
  docs/release-notes/.FSharp.Core/10.0.300.md
  src/FSharp.Core/fslib-extra-pervasives.fs
  src/FSharp.Core/fslib-extra-pervasives.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add FSI options tests and wire up CLI test infrastructure
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/Fsc/FscCliTests.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCliTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add #version;; directive to F# Interactive
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Interactive/FSIstrings.txt
  src/Compiler/Interactive/fsi.fs
  src/Compiler/Interactive/xlf/FSIstrings.txt.cs.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.de.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.es.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.fr.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.it.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.ja.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.ko.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.pl.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.pt-BR.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.ru.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.tr.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.zh-Hans.xlf
  src/Compiler/Interactive/xlf/FSIstrings.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Scripting/Interactive.fs
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/fsharp/core/printing/output.1000.stdout.bsl
  tests/fsharp/core/printing/output.200.stdout.bsl
  tests/fsharp/core/printing/output.47.stdout.bsl
  tests/fsharp/core/printing/output.multiemit.stdout.bsl
  tests/fsharp/core/printing/output.off.stdout.bsl
  tests/fsharp/core/printing/output.stdout.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Report warnings from ErrorResult branches in IlxGen
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/FscOptionTests.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/misc/PublicSign.fs
  tests/service/data/SyntaxTree/ConditionalDirective/IfElifElseEndif.fs
  tests/service/data/SyntaxTree/ConditionalDirective/IfElifElseEndif.fs.bsl
  tests/service/data/SyntaxTree/ConditionalDirective/IfElifElseEndifSignatureFile.fsi
  tests/service/data/SyntaxTree/ConditionalDirective/IfElifElseEndifSignatureFile.fsi.bsl
  vsintegration/src/FSharp.Editor/Hints/FSharpInlayHintsService.fs
  vsintegration/src/FSharp.Editor/Hints/InlayParameterNameHints.fs
  vsintegration/src/FSharp.Editor/Hints/InlayReturnTypeHints.fs
  vsintegration/src/FSharp.Editor/Hints/InlayTypeHints.fs
  vsintegration/tests/FSharp.Editor.Tests/Hints/InlayParameterNameHintTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Hints/InlayReturnTypeHintTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Hints/InlayTypeHintTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor FS0025 for-loop hint: replace bool threading with DiagnosticsLogger interceptor
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  src/Compiler/Checking/PatternMatchCompilation.fs
  src/Compiler/Checking/PatternMatchCompilation.fsi
  src/Compiler/Driver/CompilerDiagnostics.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add ValueAsStaticPropertyAttribute to WellKnownValAttributes for O(1) lookup
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ScopeCapture test to use extrinsic extension on external type
  docs/srtp-guide.md
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ScopeCapture.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add HasWellKnownAttribute members on Entity and Val for transparent caching
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add WellKnownMethAttribute struct to bundle correlated attribute check parameters
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/NameResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add ValTryGetBoolAttribute for three-state bool attribute queries on Val
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ScopeCapture to demonstrate call-site scope capture with Widget
  docs/srtp-guide.md
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ScopeCapture.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove unused parameters from AttributeChecking functions
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/NameResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rewrite TryFindAutoOpenAttr and TryFindInternalsVisibleToAttr to use classifyILAttrib
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ScopeCapture to use extrinsic extension in separate module
  docs/srtp-guide.md
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ScopeCapture.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add well-known attribute API navigation guide comment block
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ScopeCapture to use extrinsic extension with [<AutoOpen>]
  docs/srtp-guide.md
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ScopeCapture.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add built-in operator priority and accessibility negative tests
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Strengthen DateTime genericity test to prove weak resolution deferral
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix verifier issues: BSL baseline, CompilerCompat test bugs, trailing newlines
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AttributeUsage.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add return-type SRTP resolution test (AllowOverloadOnReturnType H2)
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/AllowOverloadOnReturnType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test AllowOverloadOnReturnType through SRTP constraint
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/AllowOverloadOnReturnType.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix AllowOverloadOnReturnType SRTP test to handle both FSharp.Core configs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Extract shared AllowOverloadOnReturnType attribute detection helper
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Tighten negative test diagnostics with withDiagnostics assertions
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix SRTP guide: workaround text and aspirational examples
  docs/srtp-guide.md
Due: none

Update FileContentMapping.fs (#19391)
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add IWSAM orthogonality, genericity, and FSharpPlus priority tests
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/IssueRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add TailCallAttribute to WellKnownValAttributes for O(1) flag-based lookup
  src/Compiler/Checking/TailCallChecks.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Consolidate TypeProviderAssemblyAttribute detection into classifyAssemblyAttrib
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix test quality and coverage issues from verifiers
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/misc/PublicSign.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fast-path DefaultMemberAttribute in indexer resolution
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove [<AutoOpen>] from ScopeCapture test and srtp-guide doc
  docs/srtp-guide.md
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ScopeCapture.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove duplicate DefaultAugmentation(false) test
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AttributeUsage.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix C3: ScopeCapture uses genuinely extrinsic extension on BCL type
  docs/srtp-guide.md
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ScopeCapture.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove duplicate SRTP scope test from IWSAMsAndSRTPsTests
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

isolate checker
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
