Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Fix #19594: SRTP constraints use explicit type param syntax in signatures
  src/Compiler/Checking/NicePrint.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add failing test: namespace global roundtrip (found by corpus sweep)
  tests/FSharp.Compiler.ComponentTests/Signatures/ModuleOrNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19592: backticked active pattern case names lose escaping in sig
  src/Compiler/SyntaxTree/PrettyNaming.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #19593: namespace global dropped from generated signature
  src/Compiler/Service/FSharpCheckerResults.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/ModuleOrNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add sig-gen roundtrip failures from corpus sweep (positive code only)
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
  tests/sig-sweep-v2/Placeholder.fs
  tests/sig-sweep-v2/SigSweep.fsproj
  tests/sig-sweep-v2/sweep.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19597: single-case struct DU gets spurious bar in signature
  src/Compiler/Checking/NicePrint.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add tooltip tests for signature generation display changes
  tests/FSharp.Compiler.Service.Tests/TooltipTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add skipped test for #19596: overloaded member with unit parameter
  tests/FSharp.Compiler.ComponentTests/Signatures/TestHelpers.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes for additional signature generation fixes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix PR numbers in release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove sweep tooling (investigation artifacts, not production test infra)
  tests/sig-sweep-v2/Placeholder.fs
  tests/sig-sweep-v2/SigSweep.fsproj
  tests/sig-sweep-v2/sweep.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix formatting in PrettyNaming.fs
  src/Compiler/SyntaxTree/PrettyNaming.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix tooltip display: skip prefix SRTP form in shortConstraints mode
  src/Compiler/Checking/NicePrint.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update baselines for SRTP prefix constraint display format
  tests/fsharp/typecheck/overloads/neg_known_return_type_and_known_type_arguments.bsl
  tests/fsharp/typecheck/sigs/neg117.bsl
  tests/fsharp/typecheck/sigs/neg119a.bsl
  tests/fsharp/typecheck/sigs/neg119b.bsl
  tests/fsharp/typecheck/sigs/neg131.bsl
  tests/fsharp/typecheck/sigs/neg132.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI failures: NRE null guard, SRTP constraint dedup, active pattern escaping scope
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/SyntaxTree/PrettyNaming.fs
  src/Compiler/SyntaxTree/PrettyNaming.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/TooltipTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix namespace global + module layout and unskip 3 passing tests
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/ModuleOrNamespaceTests.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add missing roundtrip test for #19595: type param backtick escaping
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update FSBuildVersion
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix ICE in BuildDisposableCleanup when Dispose extension methods are in scope
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/UseBindings/UseBindings.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Review fixes: deduplicate release notes, make EscapeActivePatternCases internal
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/SyntaxTree/PrettyNaming.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review findings: FullName for nested types, add encodable array tests
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Language/AttributeCheckingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #12796: handle arrays of user-defined types in custom attributes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/AttributeCheckingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

LabelOps: trim prose, fix test names, broaden scope
  .github/workflows/labelops-flake-fix.lock.yml
  .github/workflows/labelops-flake-fix.md
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
  docs/labelops.md
Due: none

LabelOps: remove example lists, trust agent intelligence
  .github/workflows/labelops-flake-fix.md
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
Due: none

Update VSMinorVersion to 6 in Versions.props (#19651)
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Increment F# build version from 100 to 101
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update VSMinorVersion to 5 (#19650)
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix build: replace removed arcade BuildReleasePackages.targets with PackageReference
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Disable NuGet package pruning in DependencyManager project template
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.ProjectFile.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix seq try-with handler body executing twice (#19660)
  docs/release-notes/.FSharp.Core/10.0.300.md
  src/FSharp.Core/seqcore.fs
  tests/FSharp.Compiler.ComponentTests/Language/SequenceExpressions/SequenceExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix NuGet scripting resolution for framework-provided assemblies
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.ProjectFile.fs
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix test: expect 1 root (directly-requested package) instead of 0
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add LabelOps PR security scan workflow
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
  docs/labelops-security-scan.md
Due: none

Migrate dn-bot-devdiv-drop-rw-code-rw PAT to WIF service connection
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Merge gusty + fix IlxGen ICE for deeply nested SRTP on FSharpFunc
  src/Compiler/CodeGen/IlxGen.fs
  tests/service/data/SyntaxTree/Type/TupleTypeExtensionRecovery 02.fs.bsl
  tests/service/data/SyntaxTree/Type/TupleTypeExtensionRecovery 05.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add skill-validation workflow for structural checks on skills and agents
  .github/workflows/skill-validation.yml
Due: none

LabelOps: PR security scan — text-only, no bash, no checkout
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Fix skill-validator errors: rename skill dir, add agent name field
  .github/agents/agentic-workflows.agent.md
  .github/skills/reviewing-compiler-prs/SKILL.md
Due: none

LabelOps security scan: labels only, no comments
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none
