Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Review
  src/Compiler/TypedTree/TypedTree.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove incorrect runtime issue link from extended-layout comments
  src/Compiler/AbstractIL/il.fs
  src/Compiler/Checking/CheckDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Tidy neg116 regression-test comment wording
  tests/FSharp.Compiler.ComponentTests/ConstraintSolver/MemberConstraints.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add withFSharpCoreShippedNet so ComponentTests can exercise the shipped net FSharp.Core (#20293)
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Libraries/FSharpCoreShippedNet.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/FSharp.Test.Utilities/Utilities.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

WIP: Deduplicate FSharp.Core XML docs via <include> (#20231)
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/FSharp.Core.fsproj
  src/FSharp.Core/array.fsi
  src/FSharp.Core/list.fsi
  src/FSharp.Core/resumable.fsi
  src/FSharp.Core/seq.fsi
  src/FSharp.Core/tasks.fsi
  src/FSharp.Core/xmldoc/dynamic.xml
  src/FSharp.Core/xmldoc/parallel.xml
  src/FSharp.Core/xmldoc/sort.xml
  tests/FSharp.Core.UnitTests/FSharp.Core/XmlDocumentationValidation.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "StartAsTask in threadpool"
  src/Compiler/Utilities/Async2.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix recursive inline dependency ordering
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_MutualInnerRec_CapturedEnv.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_MutualInnerRec_Generic.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use stack guard for dependency traversal
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ComponentTests host termination: tuple-extension run tests must not call exit
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/TypeExtensions/basic/TupleTypeExtension01.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/TypeExtensions/basic/TupleTypeExtension02.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/TypeExtensions/basic/TupleTypeExtension03.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

FS-1095 Round 1: scope attribute recognition + fix ParamArray hole
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FS-1095 Round 1: add council-approved interop tests (overload, extension, first-class)
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix Async2 cancellation compensation
  src/Compiler/Utilities/Async2.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FS-1095: skip enforcement where named args are impossible; fix .ctor diagnostic
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add ExtendedLayoutAttribute support for F# compiler (#19194)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilprint.fs
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/AbstractIL/ilreflect.fs
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/E_StructLayout_Extended.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/ExtendedLayout.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FS-1095: Round-2 council-approved tests + comment trim
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

DocumentCache: preserve cancellation semantics
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/DocumentCache.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Avoid cancellableTask in DocumentCache and add release notes
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/DocumentCache.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

FS-1095: Round-3 council-approved interop regression tests
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Spill the evaluation stack around 'localloc'
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Libraries/NativeInterop.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FS-1095: assert the constructor-name fix via the imported-C# ctor path
  tests/FSharp.Compiler.ComponentTests/Language/RequireNamedArgumentTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update AOT trimming size baseline
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix InvalidProgramException from Seq.collect over a struct seq materialised with List.ofSeq/Seq.toList/Seq.toArray (#20227)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/LowerComputedCollections.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ComputedCollections.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeArrays.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeLists.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInArray_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInArray_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInList_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInList_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInSeq_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInSeq_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollectToList.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollectToList.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollectToList.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping05.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping05.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping06.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping06.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - ActivePattern 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Arrow 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Tuple 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Tuple 02.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Value 02.bsl
  tests/FSharp.Compiler.ComponentTests/Language/RegressionTests.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/ComputedListExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trigger F# Apex DartLab tests via /pr-val PR comment, not on VS builds
  .github/workflows/pr-validation.yml
  azure-pipelines-integration-dartlab.yml
  eng/pipelines/apex-integration/README.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Perf: throttle parallel typechecks in Find All References (#20127)
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Perf: Add release notes (#20127)
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Perf: add CancellableTask.whenAllThrottled to cap parallel typechecks in Find All References (#20127)
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Perf: Refactor `whenAllThrottled` for clearer resource handling
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

IL: fix the per-reader string cache sizing
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/ilread.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Perf: Add release notes (#20121)
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

evict diagnostics cache on workspace events
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add version-stamp cache to FSharpDocumentDiagnosticAnalyzer to avoid recomputing diagnostics when document/project version is unchanged
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use ConditionalWeakTable for DocumentDiagnosticAnalyzer caches
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Perf: Refactor diagnostics cache with metadata record
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix migrated printf/printf-interpolated tests (and others) not actually running due to partial application
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/FsharpSuiteMigrated.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Eliminate type test branching by using strIsNegative for all number types, not just single/double/decimal
  src/FSharp.Core/printf.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add some more corner case tests
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

restrict to net10, rename to __runtimeAsyncReturn
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.100.md
  docs/runtime-async.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/FSharp.Core/resumable.fs
  src/FSharp.Core/resumable.fsi
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeAsyncBasic.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTaskBuilder.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTasksAsyncDisposalException.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

ns surfacearea
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
