Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Take the main thread before registering the Copilot context provider
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Let a consumer take a navigable container apart and rebuild one
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceNavigation.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Answer the Navigate-To search that runs while the solution loads
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/NavigateToSearchWhileLoadingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move the release note to the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Trace Copilot context-provider registration through the output pane
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Give the quick parsing options the file they parse
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build multi-project and multi-target Roslyn solutions in FSharp.Editor tests
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the shared test fixture as #20462 lands it
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test NavigateTo across the target-framework instances of a project
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the shared fixture's results private
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the release note to PR #20689
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Build the synthetic projects' id list through Seq and materialize once
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Key a kept parse by everything it depends on
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/NavigateToSearchServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share the parse instead of skipping the file
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for the NavigateTo multi-target fix
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Name the navigable items cache's key and entry
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Format the multi-target NavigateTo tests
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetNavigateToSearchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep Navigate To's items on disk between sessions
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/FilePersistentStorage.fs
  vsintegration/src/FSharp.Editor/Common/PersistentStorage.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Navigation/NavigableItemsIndex.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/NavigateToPersistentCacheTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Search each file of a multi-targeted project once in NavigateTo and read its text only for matches
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cover the qualification suggestions the fix offers alongside the opens
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Offer every open that resolves the name, not the first one found
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOffTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Qualify from the first identifier written, not the unresolved one
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Don't offer open type for a type inside a generic type
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Tell open from open type by the symbol, not by a new AssemblySymbol field
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Service/ServiceAssemblyContent.fs
  src/Compiler/Service/ServiceAssemblyContent.fsi
  src/Compiler/Service/ServiceParsedInputOps.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Put what System holds first among the qualifications too
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Suggest open type where a plain open cannot reach
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Service/ServiceAssemblyContent.fs
  src/Compiler/Service/ServiceAssemblyContent.fsi
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/ServiceParsedInputOps.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenOnTopOnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add the release note for the extension member opens
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Offer the open that brings an extension member into scope
  vsintegration/src/FSharp.Editor/CodeFixes/AddOpenCodeFixProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddOpenForExtensionMembersTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Resume a token cache scan only from a line no edit above has invalidated
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/tests/FSharp.Editor.Tests/TokenizerCacheConcurrencyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release note for resolving script references from the current text
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Follow a script's caret even when its options were computed before its editor
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
  vsintegration/tests/FSharp.Editor.Tests/FocusedCaretTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve a script's references from its current text when the caret leaves a line
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Outline with the quick parsing options when a project has none
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
  vsintegration/tests/FSharp.Editor.Tests/BlockStructureServiceTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cache the whole-file classification of an open document
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bring the rebased branch to what it had before the rebase
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Define the orRaise helper the voption options accessors call
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bring the rebased branch to what it had before the rebase
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/DocumentCacheTests.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refuse a waiter once a shared classification is being cancelled
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Join the shared classification outside the resumable code, and test the key itself
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
