Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Maintain order
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Wrap in union
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bind spread sources
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_SpreadShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use right error; only drop unneeded fields from spreads
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_SpreadShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix nested copy+updates; update tests
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/Constraints/Unmanaged.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/AnonymousRecords.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
  tests/FSharp.Compiler.ComponentTests/Language/CopyAndUpdateTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

better sort out bound vs immediate start
  src/Compiler/Utilities/Async2.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "Parser: Capture multiple block separators (#18899)" (#18937)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-01.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-06.fs.bsl
  tests/service/data/SyntaxTree/Expression/CopySynExprRecordContainsTheRangeOfTheEqualsSignInSynExprRecordField.fs.bsl
  tests/service/data/SyntaxTree/Expression/InheritRecord - Field 1.fs.bsl
  tests/service/data/SyntaxTree/Expression/InheritRecord - Field 2.fs.bsl
  tests/service/data/SyntaxTree/Expression/InheritSynExprRecordContainsTheRangeOfTheEqualsSignInSynExprRecordField.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 03.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 04.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 05.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 06.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 12.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Field 08.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Field 09.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Field 13.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Field 14.fs.bsl
  tests/service/data/SyntaxTree/Expression/SynExprRecordContainsTheRangeOfTheEqualsSignInSynExprRecordField.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 01.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 02.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 03.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 04.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 05.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 06.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 07.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Named field 08.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 02.fs.bsl
  tests/service/data/SyntaxTree/Pattern/Record 07.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 03.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 04.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 05.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update branch names for F# and VS insertion
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

extract table printing to module
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Utilities/Activity.fs
  src/Compiler/Utilities/Activity.fsi
  src/Compiler/Utilities/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

remove meter version
  src/Compiler/Utilities/Activity.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update merge configurations for release branches
  .config/service-branch-merge.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Failing test
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix
  src/Compiler/Service/ServiceParseTreeWalk.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Error on recursive type spreads
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use code completion context
  src/Compiler/Service/ServiceParseTreeWalk.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

separate column for source location
  src/Compiler/Facilities/DiagnosticsLogger.fs
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

Do TODOs
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
  src/Compiler/Service/FSharpParseFileResults.fs
  src/Compiler/Service/ServiceInterfaceStubGenerator.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/Service/SynExpr.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove speculative `without` nodes for now
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fmt
  src/Compiler/Service/ServiceParseTreeWalk.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update surface area
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Only need the last one
  src/Compiler/Checking/CheckPatterns.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Missed those
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update baselines
  tests/service/data/SyntaxTree/Member/Auto property 08.fs.bsl
  tests/service/data/SyntaxTree/Member/Auto property 09.fs.bsl
  tests/service/data/SyntaxTree/Member/Auto property 10.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update baselines again
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_ExplicitShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_ExtraFieldsAreIgnored.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_NoOverlap_Explicit_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_NoOverlap_Spread_Explicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_NoOverlap_Spread_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_SpreadShadowsExplicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Anonymous_SpreadShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_ExplicitShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_ExtraFieldsAreIgnored.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Explicit_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_SpreadFromAnon.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Spread_Explicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_NoOverlap_Spread_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_SpreadShadowsExplicit.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_SpreadShadowsSpread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_NoOverlap_Spread_Spread.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Type_SpreadShadowsSpread.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

automatically prevent sync over async
  src/Compiler/Utilities/Async2.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Collect StackGuard stats (#18941)
  src/Compiler/Driver/fsc.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Utilities/Activity.fs
  src/Compiler/Utilities/Activity.fsi
  src/Compiler/Utilities/Caches.fs
  tests/FSharp.Test.Utilities/XunitHelpers.fs
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

print with --times
  src/Compiler/Driver/fsc.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Utilities/Activity.fs
  src/Compiler/Utilities/Activity.fsi
  src/Compiler/Utilities/Caches.fs
  tests/FSharp.Test.Utilities/XunitHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

print stack guard thread jump counts
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

use known tag name
  src/Compiler/Facilities/DiagnosticsLogger.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

internal
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Utilities/Activity.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

more sync over async
  src/Compiler/Utilities/Async2.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

wip
  src/Compiler/Utilities/Async2.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

temp bsl
  src/Compiler/Utilities/Async2.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix merge
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
