Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Build a project's TcGlobals with its own path map when the framework imports are cached
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/TransparentCompiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the release note to PR #20518
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Build multi-project and multi-target Roslyn solutions in FSharp.Editor tests
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep a mapped name from narrowing a search to a file it only resembles
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the release note to PR #20519
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Resolve every range's file the way a mapped name needs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Ignore --pathmap in the IDE's project options
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20470
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Match a range's file against the solution, not the current directory
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Recognise a mapped name as the file a document holds
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test navigation into a project built with a path map
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Normalise a mapped name once, not once per document
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the shared fixture's results private
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the shared test fixture as #20462 lands it
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep one release note for the path map fix
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Answer Peek Definition from C# and Visual Basic with the F# source
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Locate C# and VB navigation targets in F# without checking the whole project
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move the cross-language symbol navigation service into its own file
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20465
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Link the release note to PR #20520
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Navigate to union cases and module literals from their compiled members
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test cross-language navigation into F# declarations
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep one copy of the release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Expand and surround with code snippets in F# files
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Common/Vs.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/LanguageService/FSharpEditorFactory.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetCommandHandler.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetExpansionClient.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetFunctions.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetIndentation.fs
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetCatalogTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetIndentationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add a backgroundTask snippet
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/Vsix/VisualFSharpFull/snippets/1033/FSharp/backgroundTask.snippet
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetCatalogTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share one line-break lookup between the snippets and the signature code fix
  vsintegration/src/FSharp.Editor/CodeFixes/AddMissingAttributeToSignature.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve the second round of snippet review findings
  vsintegration/src/FSharp.Editor/Snippets/SnippetCommandHandler.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetExpansionClient.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetFunctions.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetIndentation.fs
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetIndentationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the snippets release note to its issue and pull request
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Compact the snippet support
  vsintegration/src/FSharp.Editor/Common/Vs.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetCommandHandler.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetExpansionClient.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetFunctions.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetIndentation.fs
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetCatalogTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetFunctionTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetIndentationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix the five review findings on the snippet catalog and indentation
  vsintegration/Vsix/VisualFSharpFull/snippets/1033/FSharp/lock.snippet
  vsintegration/src/FSharp.Editor/Snippets/SnippetExpansionClient.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetFunctions.fs
  vsintegration/src/FSharp.Editor/Snippets/SnippetIndentation.fs
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetIndentationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test the snippet functions against a real document
  vsintegration/src/FSharp.Editor/Snippets/SnippetFunctions.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Snippets/SnippetFunctionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Read a script's caret without waiting for the UI thread
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release notes for the script caret hang
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Keep the caret in voption until GetProjectOptionsFromScript takes it
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Avoid torn focused-caret publication
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the local caret lookup in voption after the torn-read fix
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Forget the caret of a closed editor, and test what the reactor reads
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/FocusedCaretTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build against a locally built hive Roslyn from its own packages
  start-vs-VisualFSharpSln.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take -RoslynRepo literally and absolutely, escape it in the props, and drop stale -dev packages
  start-vs-VisualFSharpSln.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml
