Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

test: quote legacy compiler paths
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

cleanup: Use/cover RunSynchronouslyImmediate
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: pin legacy inline fixture semantics
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: make legacy inline fixture reproducible
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.dll
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs: note legacy inline metadata fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

test: drop legacy binary fixture
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.dll
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: restore untouched assembly boundary file
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

IL: hold custom attributes in fields rather than a union case
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

doc(release notes): Polish
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

TAST: allocate an entity's ad-hoc member list and compiled-representation cache on first use
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update dependencies from https://github.com/dotnet/arcade build 20260813.3
  eng/Version.Details.props
  eng/Version.Details.xml
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Let Roslyn's transitive VS-host packages flow instead of hand-pinning them
  eng/Packages.props
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
  vsintegration/Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs: postmortem for legacy inline metadata regression
  .github/instructions/TypedTreePickle.instructions.md
  docs/postmortems/README.md
  docs/postmortems/regression-legacy-inline-metadata-dynamic-invocation.md
Due: none

Add build step for Oxpecker_Solid
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove baseline reader entries duplicated by the merged baseline slice
  src/Compiler/CodeGen/ILBaselineReader.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore legacy cross-assembly inline metadata (#20260)
  .github/instructions/TypedTreePickle.instructions.md
  docs/postmortems/README.md
  docs/postmortems/regression-legacy-inline-metadata-dynamic-invocation.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: cover legacy inline metadata import
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.dll
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: keep legacy inline check at IL boundary
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: normalize legacy inline metadata flags
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: align legacy inline regression name
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: exercise legacy SRTP inline metadata
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.dll
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: isolate legacy metadata compilation
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: reproduce pre-witness inline metadata regression
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/AssemblyBoundary.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.dll
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AssemblyBoundary/LegacyInline.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

do code fixes
  .fantomasignore
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/src/FSharp.Editor/CodeFixes/AddMissingAttributeToSignature.fs
  vsintegration/src/FSharp.Editor/CodeFixes/RemoveExtraAttributeFromImplementation.fs
  vsintegration/src/FSharp.Editor/Debugging/LanguageDebugInfoService.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddMissingAttributeToSignatureTests.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/RemoveExtraAttributeFromImplementationTests.fs
  vsintegration/tests/FSharp.Editor.Tests/DocumentDiagnosticAnalyzerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Trim verbose dependency-management comments
  eng/Versions.props
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
  vsintegration/Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bump FSharp.Core to 10.1.401 (10.1.400 published to nuget.org)
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix S-2: homograph extension operators crash under --optimize- inline specialization
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/DuplicateBuiltinOperatorInlineDistinctScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Un-skip Fsx.Bug5073; keep this PR dependency-only
  tests/FSharp.Compiler.Service.Tests/Tooltip/TooltipTests.Declarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Ship FSharp.Core with a net10.0 target framework (#20229)
  Directory.Build.props
  Directory.Build.targets
  azure-pipelines-PR.yml
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.100.md
  eng/TargetFrameworks.props
  src/Compiler/CodeGen/IlxGen.fs
  src/FSharp.Core/FSharp.Core.fsproj
  src/FSharp.Core/FSharp.Core.nuspec
  src/FSharp.Core/Query.fs
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
  src/FSharp.Core/local.fs
  src/FSharp.Core/prim-types.fs
  src/FSharp.Core/prim-types.fsi
  src/FSharp.Core/set.fs
  src/FSharp.Core/set.fsi
  src/FSharp.Core/tasks.fs
  src/FSharp.Core/tasks.fsi
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
  tests/AheadOfTime/NetPackage/VerifyNetPackage.fsx
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
  tests/FSharp.Test.Utilities/SurfaceArea.fs
  tests/ILVerify/ilverify.ps1
  tests/ILVerify/ilverify_FSharp.Core_Debug_netcoreapp.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netcoreapp.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add nullness regression test for recursive inline SRTP memoization (#20247)
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Document net10 surface compat-baseline rationale
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Unpin MSBuild deps and flow to VS 18.11 (18.11.0-1.26417.9)
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix exponential compilation of guarded shared-or partial-active-pattern matches (#18425)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  src/Compiler/Checking/PatternMatchCompilation.fs
  src/Compiler/Checking/PatternMatchCompilation.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/QuotationRenderingTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/GuardedOrPatternComplexity.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
