Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Remove the ArithmeticInLiterals language feature flag and its resources
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Collapse InterfacesWithAbstractStaticMembers enforcement sites to always-on path
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/Checking/TypeHierarchy.fs
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run extension-method equivalence test as an executable so the runtime check executes
  tests/FSharp.Compiler.ComponentTests/Language/ExtensionMethodTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Merge duplicate .cctors for generic unions with nullary cases and static bindings (#19445)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_TypeDefs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Document fixup-ordering invariant with a debug assertion in RecordReqdBrFixups
  src/Compiler/AbstractIL/ilwrite.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add PR number to release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Preserve IWSAM runtime capability check via dedicated InfoReader member
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/InfoReader.fsi
  src/Compiler/Checking/MethodOverrides.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim comments
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_TypeDefs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Suppress TFM-support warnings from bumped Microsoft.Build packages
  Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refactor runtime async boundary analysis
  docs/runtime-async.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/LowerLocalMutables.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  src/Compiler/Optimize/RuntimeAsyncExceptionRewrite.fs
  src/Compiler/TypedTree/RuntimeAsync.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI failures: bump transitive VS SDK package pins for new Roslyn
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Import: share a referenced project's CCU instead of pickling it
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/Service/BackgroundCompiler.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/IncrementalBuild.fsi
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remap.fs
  src/Compiler/TypedTree/TypedTreeOps.Remap.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fsi
  src/Compiler/TypedTree/TypedTreeOps.Transforms.fs
  src/Compiler/TypedTree/TypedTreeOps.Transforms.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/ProjectReferenceHandoverTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add runtime async module signatures
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fsi
  src/Compiler/Optimize/RuntimeAsyncExceptionRewrite.fsi
  src/Compiler/TypedTree/RuntimeAsync.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on InterfacesWithAbstractStaticMembers language feature flag
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

reenable more ported tests
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

reduce diff
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(parallelLimit): Honor outer cancellation even if child doesnt throw
  src/FSharp.Core/tasks.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(Async): sequentialDo
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update tests for .NET 11 breaking changes (saturating narrow conversions, decimal rounding, new String APIs)
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/OperatorsModule2.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/OperatorsModuleDynamic.fs
  tests/FSharp.Core.UnitTests/TestFrameworkHelpers.fs
  tests/fsharp/core/printf/test.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert incompatible dotnet/msbuild bump (18.10.1 targets net11.0)
  Directory.Build.props
  eng/Version.Details.props
  eng/Version.Details.xml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix testVs failures: bump VSEditor pin to 18.9.179 to match Text.*
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes entry for IWSAM feature flag removal (#20432)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

refactor
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/RuntimeAsync.fs
  src/Compiler/TypedTree/RuntimeAsync.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove orphaned diagnostic tcCustomOperationMayNotBeOverloaded (FS3087)
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

format
  src/Compiler/TypedTree/RuntimeAsync.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

update doc
  docs/runtime-async.md
Due: none

Link the Copilot mention picker release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Parallelize Copilot symbol lookup and cut allocations on the hot cache path
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Offer F# declarations to the Copilot chat "#" mention picker
  docs/release-notes/.VisualStudio/18.vNext.md
  eng/Packages.props
  vsintegration/src/FSharp.Editor/Common/Constants.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add a JSON-RPC server mode to F# Interactive
  FSharp.slnx
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  eng/Packages.props
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsi.targets
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim the comments to the repository style rule
  src/Compiler/Interactive/fsi.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Point the release notes entry at the pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Drop external URL from CLAUDE.md (prompt injection risk)
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add Copilot rules reference for other agent engines
  .claude/rules/CcrOptout.md
  .claude/rules/CodeGen.md
  .claude/rules/ComponentTests.md
  .claude/rules/DebugEmit.md
  .claude/rules/EngVersioning.md
  .claude/rules/ExpertReview.md
  .claude/rules/FSComp.md
  .claude/rules/FSharpCore.md
  .claude/rules/LSP.md
  .claude/rules/NoBloat.md
  .claude/rules/Optimizer.md
  .claude/rules/SyntaxTree.md
  .claude/rules/TypedTreePickle.md
  AGENTS.md
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Prefer the Visual Studio MCP server over the shell
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Strip release-notes changes (NO_RELEASE_NOTES)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Run fantomas on the files it actually covers
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Exempt StreamJsonRpc's serialization stack from Microsoft signing
  eng/Signing.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Exempt the new test project from the embedded-pdb check
  buildtools/AssemblyCheck/SkipVerifyEmbeddedPdb.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml
