Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fix multi-arg curried override inheritdoc and align stale tooltip tests
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: Update extractXmlDocBlocks to handle cond compilation
  src/FSharp.Core/async.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core/XmlDocumentationValidation.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: Correct error message line numbering
  tests/FSharp.Core.UnitTests/FSharp.Core/XmlDocumentationValidation.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: normalize inheritdoc engine output to LF (Windows CRLF escaping)
  src/Compiler/Symbols/XmlDocInheritance.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

doc: Correct/sync Task+ ValueTask * catch+catchWith
  src/FSharp.Core/tasks.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Skip VS sign in
  vsintegration/tests/FSharp.Editor.Apex.IntegrationTests/TestFramework/FSharpLanguageServiceApexTest.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: Handle netstandard2.0 quickinfo rendering
  tests/FSharp.Compiler.Service.Tests/Tooltip/TooltipTests.Types.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Start VS with an empty env
  eng/SetupVSHive.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

doc: Per review, drop reference to honoring SyncContext
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: Make RSI shim unconditional per review
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Test.Utilities/Utilities.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

doc: Apply Tomas rewording of summary
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Pin Roslyn packages differently for CI
  azure-pipelines-PR.yml
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add missing eng/SetApexRoslynVersion.ps1 for the Apex Roslyn detection step
  eng/SetApexRoslynVersion.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Roll System.Composition/Immutable back to 10.0.2 for the Apex leg
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix redundant closing tag in `Version.Details.xml`
  eng/Version.Details.xml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix redundant closing tag in `Version.Details.xml` (#20087)
  eng/Version.Details.xml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert "Roll System.Composition/Immutable back to 10.0.2 for the Apex leg"
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Avoid per-instance lock object in InterruptibleLazy and DelayInitArrayMap
  src/Compiler/Utilities/illib.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add DartLab VS-integration pipeline scaffold for the F# Apex tests
  azure-pipelines-integration-dartlab.yml
  eng/pipelines/apex-integration/README.md
  eng/pipelines/apex-integration/integration-job.yml
  eng/pipelines/apex-integration/stage.yml
  eng/setup-pr-validation.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Optimizer: fix accessing captured values when skipping inlining
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 30 - Capture of enclosing local.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 31 - Capture used in nested closure.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 32 - Capture of mutable local.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 33 - Capture of this.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 34 - Capture of enclosing inline function parameter.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 35 - Capture of enclosing inline function parameter - Different assembly.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 36 - Capture at two instantiations.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 37 - Captured value with enclosing typar.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 38 - Free typar only in body.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Don't walk non-F# assemblies when labelling trait constraint sources
  src/Compiler/Driver/CompilerImports.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix release notes check for fork pull requests
  .github/workflows/check_release_notes.yml
Due: none

Support NotNullIfNotNullAttribute (#19977)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/DependencyManager/AssemblyResolveHandler.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  src/Compiler/Utilities/range.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NotNullIfNotNullTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Merge
  src/Compiler/Facilities/LanguageFeatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix test framework reference resolution
  tests/FSharp.Test.Utilities/ProjectGeneration.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix minimal API test
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix test
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move SDL/TSA validation to 1ES templates after Arcade 11 upgrade
  azure-pipelines-PR.yml
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move SDL/TSA validation to 1ES templates after Arcade 11 upgrade (#20096)
  azure-pipelines-PR.yml
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move to Roslyn's unified ExternalAccess library
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
  vsintegration/Directory.Build.targets
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update release notes
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Run ilverify via the tool manifest instead of a hard-coded cache path
  tests/FSharp.Test.Utilities/ILVerifierModule.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Compiled ToStrings under -reflectionfree for DUs and Records (#19976)
  docs/reflectionfree-printing.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/AugmentWithHashCompare.fs
  src/Compiler/Checking/AugmentWithHashCompare.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fsi
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/reflectionfree.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ReflectionFreeToString.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use the shared mkStringConcat helper for interpolation lowering
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: add ILPreNamespace, make ILPreTypeDef creation lazy
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/import.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: restore the TypeDef order where it is needed, not in ILTypeDefs
  src/Compiler/AbstractIL/il.fs
  src/Compiler/Driver/StaticLinking.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

WIP: shared namespace-level machinery, import over it, benchmarks
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/StaticLinking.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/FSharp.Compiler.Benchmarks.fsproj
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/NamespaceImportBenchmarks.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/Program.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/README.md
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
