Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Compact overload-resolution RFCs to terse expert register
  docs/rfcs/FS-1338-OverloadResolutionPriorityAttribute.md
  docs/rfcs/FS-1340-most-concrete-tiebreaker.md
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3038596
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3038596
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Pin transitive MessagePack to patched 2.5.302 in LSP Framework Proxy project
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

check_release_notes: tolerate read-only token when commenting
  .github/workflows/check_release_notes.yml
Due: none

Fix Windows CI: revert OpenTelemetry to 1.11.2 and suppress transitive audit advisories
  Directory.Build.props
  src/FSharp.VisualStudio.Extension/FSharp.VisualStudio.Extension.csproj
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove duplicate System.Security.Cryptography.Xml PackageReference (fix NU1504)
  src/fsc/fscProject/fsc.fsproj
  src/fsi/fsiProject/fsi.fsproj
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Pin nonvulnerable version of MessagePack package
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Disable UpdateXlfOnBuild for EndToEndBuildTests local build to fix intermittent MSB4057
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Skip flaky Fsx.Bug5073 tooltip test (non-deterministic #r resolution in FCS host)
  tests/FSharp.Compiler.Service.Tests/Tooltip/TooltipTests.Declarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix ILVerify CI: disable UpdateXlf target during build
  tests/ILVerify/ilverify.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revise overload-resolution RFCs for voice and close two spec gaps
  docs/rfcs/FS-1338-OverloadResolutionPriorityAttribute.md
  docs/rfcs/FS-1340-most-concrete-tiebreaker.md
Due: none

Fix ILVerify: pass UpdateXlfOnBuild=false as MSBuild property, not just env var
  tests/ILVerify/ilverify.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply voice/compactness/clarity audit findings to both RFCs
  docs/rfcs/FS-1338-OverloadResolutionPriorityAttribute.md
  docs/rfcs/FS-1340-most-concrete-tiebreaker.md
Due: none

Fix CI: add missing FSharp.Core/FCS release notes + PR link; drop non-parsing scratch files
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.100.md
  docs/release-notes/.Language/preview.md
  test_dotdot.fs
  test_dotdot.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert redundant check_release_notes.yml change
  .github/workflows/check_release_notes.yml
Due: none

Add RED tests for unconditional %B and rejected --disableLanguageFeature:PrintfBinaryFormat
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/disableLanguageFeature.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore pull-requests: write so release-note comments can post
  .github/workflows/check_release_notes.yml
Due: none

Move RFC docs to fslang-design
  docs/rfcs/FS-1338-OverloadResolutionPriorityAttribute.md
  docs/rfcs/FS-1340-most-concrete-tiebreaker.md
Due: none

Restore accidentally-removed release-notes entries
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

Pin transitive MessagePack in CLaSP Proxy project (fix NU1902/NU1903)
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on PrintfBinaryFormat language feature flag
  src/Compiler/Checking/CheckFormatStrings.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3038733
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3038733
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix TupleTypeExtension03 test: correct expected tuple to match operator result
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/TypeExtensions/basic/TupleTypeExtension03.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Correct langversion comment in disableLanguageFeature %B guard test
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/disableLanguageFeature.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stabilize preview language features into F# 11.0
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/11.0.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Facilities/LanguageFeatures.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Spreads/RecordSpreadsTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/RecordSpreadsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fill PR number in release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove dead function-type type-extension code + unreachable FS3905
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Make release-notes comment step non-fatal (fixes check_release_notes 403)
  .github/workflows/check_release_notes.yml
Due: none

check_release_notes: restore pull-requests: write and tolerate comment 403
  .github/workflows/check_release_notes.yml
Due: none

Adopt WellKnownAttribs cache for OverloadResolutionPriority
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fsi
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add cross-assembly known-limitation test for definition-site extension capture
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore write permission for release-notes check comment
  .github/workflows/check_release_notes.yml
Due: none

Fix duplicate PackageReference in CLaSP Proxy under CPM (NU1504/NU1008)
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
