Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Classify each Find All References line while the search runs
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Navigation/ClassifiedReferenceLine.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/tests/FSharp.Editor.Tests/ClassifiedReferenceLineTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Link the release note to PR #20520
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Answer Peek Definition from C# and Visual Basic with the F# source
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Locate C# and VB navigation targets in F# without checking the whole project
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move the cross-language symbol navigation service into its own file
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test cross-language navigation into F# declarations
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Navigate to union cases and module literals from their compiled members
  vsintegration/src/FSharp.Editor/Navigation/CrossLanguageSymbolNavigation.fs
  vsintegration/tests/FSharp.Editor.Tests/CrossLanguageSymbolNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20465
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Take the main thread before registering the Copilot context provider
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Track comment lines by number instead of storing their text
  src/Compiler/Service/ServiceStructure.fs
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Slice source text instead of copying it line by line for outlining
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/Service/ServiceStructure.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trace Copilot context-provider registration through the output pane
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Match declaration names over spans instead of building them
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the Copilot mention picker release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Answer the Navigate-To search that runs while the solution loads
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/NavigateToSearchWhileLoadingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Offer F# declarations to the Copilot chat "#" mention picker
  docs/release-notes/.VisualStudio/18.vNext.md
  eng/Packages.props
  vsintegration/src/FSharp.Editor/Common/Constants.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Parallelize Copilot symbol lookup and cut allocations on the hot cache path
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Give the quick parsing options the file they parse
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Harden Copilot provider registration and widen one-line snippets
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20464
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Share the find-usages test context between test files
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Materialize the project list of a multi-project solution once
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report the references of a document together and leave a core to the editor
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report a use once when several instances compile its file
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetFindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the instance to search in full without ordering the rest
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build multi-project and multi-target Roslyn solutions in FSharp.Editor tests
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Search from the first file that can compile differently, not by file
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetFindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test Find All References across target-framework instances
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetFindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Search each file of a multi-targeted project once and throttle across the solution
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report XML doc parameter names as related symbol uses
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckIncrementalClasses.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  src/Compiler/Checking/RelatedSymbolUse.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/SemanticClassification.fs
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/SyntaxTree/XmlDoc.fs
  src/Compiler/SyntaxTree/XmlDoc.fsi
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release note for XML doc parameter symbol uses
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Rename a parameter together with its XML doc param tags
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/tests/FSharp.Editor.Tests/DocumentHighlightsServiceTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesTests.fs
  vsintegration/tests/FSharp.Editor.Tests/InlineRenameXmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep a mapped name from narrowing a search to a file it only resembles
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/tests/FSharp.Editor.Tests/PathMapNavigationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release note for renaming XML doc param tags
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Ask the assembly that declares the symbol, and name an enum case as a field
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesFromCSharpTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix no-opt inline base class call
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/FSComp.txt
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Call 17 - Inline base member.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Inlining.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Normalise a mapped name once, not once per document
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Scan XML doc attributes as tokens across lines
  src/Compiler/SyntaxTree/XmlDoc.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
