Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Collapse Symbols 'Nested copy-and-update' 8 copied sources into one {caretN}
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix XML doc include validation regressions
  src/Compiler/Driver/XmlDocFileWriter.fs
  src/Compiler/SyntaxTree/XmlDoc.fs
  src/Compiler/SyntaxTree/XmlDoc.fsi
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: don't surface a sibling overload's docs on an implicit override (Path A)
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: never let doc-inheritance expansion throw into FSharpSymbol.XmlDoc
  src/Compiler/Symbols/XmlDocInheritance.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: FS3575/3576 render distinct signatures; localize FS0041 concreteness detail (H2/H9/A1)
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Harden external XML include loading
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

BreakpointLocation: mark expected ranges with {selstart}/{selend} in source
  tests/FSharp.Compiler.Service.Tests/BreakpointLocationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: tooltip inheritdoc resolves grandparent-declared overrides
  src/Compiler/Symbols/SymbolHelpers.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: most-concrete tiebreaker for ctors & generic-type members (red) + guards (a)
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19457: lift CE constructs from plain let RHS in computation expressions (#19868)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/SyntaxTree/SyntaxTreeOps.fsi
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix attribute resolution in recursive module/namespace scopes (#19744)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AttributeResolutionInRecursiveScopes.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/AttributeResolutionInRecursiveScopes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore: remove dead code flagged by review
  src/Compiler/Symbols/XmlDocSigParser.fs
  src/Compiler/Symbols/XmlDocSigParser.fsi
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insertion: restore only the SwixBuild plugin (minimal proj); skip the RoslynServiced local feed
  eng/CIBuild.cmd
  eng/restore-swixplugin.proj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use OS-aware path comparison and struct cycle key for XML includes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address release-note workflow review feedback
  .github/workflows/check_release_notes.yml
Due: none

feat: most-concrete tiebreaker applies to ctors & generic-type members (a)
  src/Compiler/Checking/OverloadResolutionRules.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: edge-case matrix + differential no-regression gate for most-concrete (a)
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Complete hot reload merge integration
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix compiled baseline metadata table parsing
  src/Compiler/AbstractIL/ILBaselineReader.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update delta metadata test writer options
  tests/FSharp.Compiler.Service.Tests/DeltaMetadata/MetadataDeltaTestHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Complete baseline reader merge integration
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: apply overload gate to property indexers (Path A)
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Complete session merge integration
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Deduplicate merged compiler source entries
  src/Compiler/FSharp.Compiler.Service.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bound and share XML doc include expansion
  src/Compiler/Driver/XmlDocFileWriter.fs
  src/Compiler/SyntaxTree/XmlDoc.fs
  src/Compiler/SyntaxTree/XmlDoc.fsi
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fsi
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: order most-concrete tiebreak last; Gate 6V reuse/compactness/test-plan
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove obsolete baseline reader copy
  src/Compiler/CodeGen/ILBaselineReader.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cover baseline metadata table parsing in umbrella
  tests/FSharp.Compiler.ComponentTests/HotReload/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Insertion: fix the SwixBuild plugin-dir search (mid-path wildcard didn't recurse)
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Renumber hot reload driver diagnostics
  src/Compiler/FSComp.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Complete umbrella merge integration
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve delta stream builder compatibility
  src/Compiler/AbstractIL/IlxDeltaStreams.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add more VS setup
  eng/SetupVSHive.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refresh intentional interface drift guard
  src/Compiler/TypedTree/CompilerGlobalState.fsi
  tests/scripts/main-fsi-allowlist.txt
  tests/scripts/main-fsi-drift-hashes.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Place baseline reader release note in current FCS notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  release-notes.md
Due: none

Deduplicate composite release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Give session slice a single current release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Give in-process slice a single current release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Consolidate umbrella release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Keep hot reload diagnostics sorted
  src/Compiler/FSComp.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
