Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Use XunitXml logger
  eng/Build.ps1
  eng/Versions.props
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Tweak command line args
  eng/Build.ps1
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

find all, typehints skills
  .github/skills/fsharp-diagnostics/SKILL.md
  .github/skills/fsharp-diagnostics/scripts/get-fsharp-errors.sh
  .github/skills/fsharp-diagnostics/server/Server.fs
Due: none

PR feedback
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/OverloadCacheTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix: replace '.' in repo names for valid AzDO job identifiers
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix regression test template for buildScript with arguments
  azure-pipelines-PR.yml
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes for 20 codegen bug fixes and clean up redundant comments
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/CodeGen/EraseClosures.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix regression test failures: add .NET 9.0 SDK, use direct dotnet commands
  azure-pipelines-PR.yml
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add dotnet tool restore step before build
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add KnownFromConstructor DU case to Nullness and update constraint solver
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeBasics.fsi
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullnessInternalsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Split OpenTK into two matrix entries to test both projects
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert TypeNullIsExtraValueNew to sound AllowNullLiteral logic and update tests
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix FS3356 false positive: only check static extension members for duplicate type name conflict
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Language/ExtensionMethodTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Support multi-command buildScript with ';;' separator
  azure-pipelines-PR.yml
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FS0229: B-stream misalignment in TypedTreePickle when langFeatureNullness disabled
  src/Compiler/TypedTree/TypedTreePickle.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Import/ImportTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add documentation for FS0229 B-stream misalignment regression
  docs/regression-fs0229-bstream-misalignment.md
Due: none

Fix code quality: restore docs, add comments, remove meaningless test
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullnessInternalsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for FS0229 and FS3356 fixes
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

Add CompileFromCheckedProject API to FSharpChecker
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: deduplicate ILookup test source, remove redundant comments
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix quadratic CCU attribute growth in CompileFromCheckedProject
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/PerfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add compile handler to diagnostics server
  .github/skills/fsharp-diagnostics/server/Server.fs
Due: none

Rename result files, check CI
  eng/Build.ps1
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup: narrow context passing to nullness-only in TcExprFlex and UnifyOverallType
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/fsharp/typecheck/sigs/neg83.vsbsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Switch FSharpDiagServer to Proto FCS reference with NuGet fallback
  .github/skills/fsharp-diagnostics/server/FSharpDiagServer.fsproj
Due: none

Sprint 3: Multi-project ProjectManager with dictionary cache
  .github/skills/fsharp-diagnostics/server/ProjectManager.fs
  .github/skills/fsharp-diagnostics/server/Server.fs
Due: none

Fixup: extract nullnessContextOnly helper, remove test-only public API (IsFromConstructor, KnownWithoutNullFromCtor)
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeBasics.fsi
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullnessInternalsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 03: Multi-project ProjectManager with tests
  .github/skills/fsharp-diagnostics/server/FSharpDiagServer.fsproj
  .github/skills/fsharp-diagnostics/server/ProjectRouting.fs
  .github/skills/fsharp-diagnostics/server/Server.fs
  .github/skills/fsharp-diagnostics/tests/Directory.Build.props
  .github/skills/fsharp-diagnostics/tests/FSharpDiagServer.Tests.fsproj
  .github/skills/fsharp-diagnostics/tests/ProjectManagerTests.fs
  .github/skills/fsharp-diagnostics/tests/ResolveProjectTests.fs
Due: none

Sprint 03: Multi-project ProjectManager with behavioral tests
  .github/skills/fsharp-diagnostics/server/ProjectManager.fs
  .github/skills/fsharp-diagnostics/tests/ProjectManagerTests.fs
  .github/skills/fsharp-diagnostics/tests/ResolveProjectTests.fs
Due: none

Fixup: remove dead KnownFromConstructor DU case and clean up cosmetic issues
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeBasics.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullnessInternalsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix FS3356 tests: use static members for IL collision tests, allow instance members
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/DuplicateExtensionMemberTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 03: Fix test-only members visibility and add missing edge-case tests
  .github/skills/fsharp-diagnostics/server/FSharpDiagServer.fsproj
  .github/skills/fsharp-diagnostics/server/ProjectManager.fs
  .github/skills/fsharp-diagnostics/tests/ProjectManagerTests.fs
  .github/skills/fsharp-diagnostics/tests/ResolveProjectTests.fs
Due: none

Sprint 4: Extend FastBuildFromCache MSBuild targets to ComponentTests
  FSharpTests.Directory.Build.targets
  eng/targets/FastBuildFromCache.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 5 Fixup: Address verifier feedback
  .github/skills/fsharp-diagnostics/SKILL.md
  .github/skills/fsharp-diagnostics/scripts/get-fsharp-errors.sh
  .github/skills/fsharp-diagnostics/server/ProjectRouting.fs
  .github/skills/fsharp-diagnostics/server/Server.fs
  .github/skills/fsharp-diagnostics/tests/DesignTimeBuildTests.fs
  .github/skills/fsharp-diagnostics/tests/FSharpDiagServer.Tests.fsproj
  .github/skills/fsharp-diagnostics/tests/ProjectManagerTests.fs
  .github/skills/fsharp-diagnostics/tests/ResolveProjectTests.fs
  FSharpBuild.Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup: use ListSet.isSubsetOf in typarsAEquivWithFilter instead of inlined subset check
  .github/skills/fsharp-diagnostics/SKILL.md
  .github/skills/fsharp-diagnostics/scripts/get-fsharp-errors.sh
  .github/skills/fsharp-diagnostics/server/DesignTimeBuild.fs
  .github/skills/fsharp-diagnostics/server/DiagnosticsFormatter.fs
  .github/skills/fsharp-diagnostics/server/Directory.Build.props
  .github/skills/fsharp-diagnostics/server/FSharpDiagServer.fsproj
  .github/skills/fsharp-diagnostics/server/Program.fs
  .github/skills/fsharp-diagnostics/server/ProjectManager.fs
  .github/skills/fsharp-diagnostics/server/Server.fs
  eng/Version.Details.xml
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix pre-existing ImportTests warning 52 on net472
  tests/FSharp.Compiler.ComponentTests/Import/ImportTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup: remove leftover NullnessInternalsTests, restore TypeNullIsExtraValueNew comments
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullnessInternalsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 5 Fixup: Extract shared normalizeAssemblyRefs, make CompileFromCheckedProject internal
  .github/skills/fsharp-diagnostics/tests/ResolveProjectTests.fs
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/Driver/fsc.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add sprint file 28_Fixup_3.md for HONEST-ASSESSMENT scope verification
  .tools/ralph/sprints/28_Fixup_3.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
