Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Update diagnostic test
  tests/FSharp.Compiler.ComponentTests/Diagnostics/RichDiagnosticTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Rebase
  tests/FSharp.Compiler.Service.Tests/RecordConstructorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove duplicate comments
  src/Compiler/Checking/MethodOverrides.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/RichText.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Make RichText helpers internal
  src/Compiler/Facilities/RichText.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Baselines
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Avoid per-instance lock object in InterruptibleLazy and DelayInitArrayMap
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Utilities/illib.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add comment
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add PR link to memoizeN SRTP fix release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove always-on SingleUnderscorePattern language feature flag (#20222)
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/pars.fsy
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Avoid per-instance lock object in InterruptibleLazy and DelayInitArrayMap (#20088)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Regression matrix: build unmodified repos against local FSharp.Core (#20240)
  .github/agents/compiler-perf-investigator.md
  UseLocalCompiler.Directory.Build.props
  UseLocalCompiler.Directory.Build.targets
  azure-pipelines-PR.yml
  docs/regression-testing-pipeline.md
  eng/scripts/BuildWithLocalFSharp.fsx
  eng/scripts/PrepareRepoForRegressionTesting.fsx
  eng/templates/regression-test-jobs.yml
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/SolutionExplorerInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

IL: create empty tables for members when possible
  src/Compiler/AbstractIL/ilread.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

WIP: shared namespace-level machinery, import over it, benchmarks
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Driver/StaticLinking.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/FSharp.Compiler.Benchmarks.fsproj
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/NamespaceImportBenchmarks.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/Program.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/README.md
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: simplify namespace grouping, restore metadata order when flattening
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/import.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: add ILPreNamespace, make ILPreTypeDef creation lazy
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/import.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: redesign the namespace level around ILPreNamespace
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/import.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: shrink per-ILTypeDefs namespace overhead
  src/Compiler/AbstractIL/il.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fantomas
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/ilread.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add end-to-end tests for what checking a file reads out of a reference
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Don't force namespace contents when building the initial TcEnv
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/TypedTree/TypedTree.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cleanup comments
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Driver/StaticLinking.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/NamespaceImportBenchmarks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: restore the TypeDef order where it is needed, not in ILTypeDefs
  src/Compiler/AbstractIL/il.fs
  src/Compiler/Driver/StaticLinking.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Require SRTP solutions to be public (fix def-site accessibility leak)
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ExtensionAccessibility.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: add ILPreNamespace, make ILPreTypeDef creation lazy (#20092)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Driver/StaticLinking.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/FSharp.Compiler.Benchmarks.fsproj
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/NamespaceImportBenchmarks.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/Program.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/README.md
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore: sync all FSharpPlus upstreams
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix InvalidProgramException for struct extension member solving SRTP
  src/Compiler/Checking/MethodCalls.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/StructExtensionMemberSRTP.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Compact SRTP fix comment and memoization test
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Gate SRTP trait-context capture behind the ExtensionConstraintSolutions feature
  src/Compiler/Checking/CheckBasics.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove dead 'opt_struct' grammar production
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

IL: fix leaking binary view
  src/Compiler/AbstractIL/ilread.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/ILBinaryReaderMemoryTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add nullness regression test for SRTP memoization under checknulls
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs: document the public-only SRTP witness rule and correct op_Implicit status
  docs/release-notes/.Language/preview.md
  docs/srtp-guide.md
Due: none

Harden SRTP extension tests: assert struct ToString run, add realsig multi-constraint positive
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Force using Create
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilpars.fsy
  src/Compiler/AbstractIL/ilprint.fs
  src/Compiler/AbstractIL/ilreflect.fs
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/TypedTree/TypedTreePickle.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
