Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

IL: shrink per-ILTypeDefs namespace overhead
  src/Compiler/AbstractIL/il.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add end-to-end tests for what checking a file reads out of a reference
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

IL: simplify namespace grouping, restore metadata order when flattening
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/import.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderNamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Don't force namespace contents when building the initial TcEnv
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/TypedTree/TypedTree.fs
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Accept a nullable string in a '%s' interpolation hole
  src/Compiler/Checking/CheckFormatStrings.fs
  src/Compiler/Checking/CheckFormatStrings.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep parens around a dangling hole with an alignment
  src/Compiler/Service/SynExpr.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update expected trimmed sizes for the interpolation codegen change
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix VS build
  FSharpBuild.Directory.Build.targets
  vsintegration/tests/FSharp.Editor.Tests/QuickInfoProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update diagnostic test
  tests/FSharp.Compiler.ComponentTests/Diagnostics/RichDiagnosticTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix build
  FSharpBuild.Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update baseline
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fantomas
  src/Compiler/AbstractIL/ilreflect.fs
  src/Compiler/Checking/Expressions/CheckArrayOrListComputedExpressions.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/MethodOverrides.fsi
  src/Compiler/Checking/NicePrint.fsi
  src/Compiler/Checking/SignatureConformance.fsi
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/ParseAndCheckInputs.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/RichText.fs
  src/Compiler/Interactive/fsi.fs
  src/Compiler/SyntaxTree/WarnScopes.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/FSharp.Build/FSharpEmbedResourceText.fs
  vsintegration/tests/FSharp.Editor.Tests/QuickInfoProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Take some latest changes from FSharp.TypeProviders.SDK that fixes the parallel compilation issues
  tests/service/data/TestTP/ProvidedTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Run ilverify via the tool manifest instead of a hard-coded cache path (#20101)
  tests/FSharp.Test.Utilities/ILVerifierModule.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: Correct merge
  tests/FSharp.Compiler.Service.Tests/ErrorList/ScriptDiagnosticsTests.fs
  tests/FSharp.Compiler.Service.Tests/ScriptOptionsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update test project to net11
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fantomas
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Facilities/prim-lexing.fs
  src/Compiler/Facilities/prim-lexing.fsi
  src/Compiler/Interactive/fsi.fs
  src/Compiler/Service/ServiceLexing.fs
  vsintegration/src/FSharp.Editor/CodeFixes/AddMissingFunKeyword.fs
  vsintegration/src/FSharp.Editor/Completion/CompletionUtils.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/TaskList/TaskListService.fs
  vsintegration/tests/FSharp.Editor.Tests/CompletionProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix VS build
  vsintegration/src/FSharp.Editor/Completion/CompletionProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CompletionProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Parser: recover on missing interface members
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/pars.fsy
  tests/service/data/SyntaxTree/Member/Interface 11.fs
  tests/service/data/SyntaxTree/Member/Interface 11.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Implement interpolated strings via String.Concat (#19971)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckFormatStrings.fs
  src/Compiler/Checking/CheckFormatStrings.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/SynExpr.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fsi
  src/Compiler/pars.fsy
  tests/AheadOfTime/NativeAOT/NativeAOT_Test.fsproj
  tests/AheadOfTime/NativeAOT/Program.fs
  tests/AheadOfTime/NativeAOT/check.cmd
  tests/AheadOfTime/NativeAOT/check.ps1
  tests/AheadOfTime/Trimming/check.ps1
  tests/AheadOfTime/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StringFormatAndInterpolation.fs
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/fsharp/core/quotes/test.fsx
  tests/service/data/SyntaxTree/String/InterpolatedStringOffsideInModule.fs.bsl
  tests/service/data/SyntaxTree/String/InterpolatedStringOffsideInNestedLet.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsWithHole.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithSynStringKindRegular.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithSynStringKindTripleQuote.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithSynStringKindVerbatim.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithTripleQuoteMultipleDollars.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringWithTripleQuoteMultipleDollars2.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3036509
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3036509
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add regression repro for parallel cross-assembly inline overloads
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_ParallelCrossAssemblyInlineOverloads.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add regression test for parallel cross-assembly inline overloads
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_ParallelCrossAssemblyInlineOverloads.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

tighten the regression fixture
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_ParallelCrossAssemblyInlineOverloads.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

add sequential repro
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_ParallelCrossAssemblyInlineOverloads.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Generalize recursive inline member ordering fix
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_ParallelCrossAssemblyInlineOverloads.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix quoted args in fsc subprocess tests
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update emitted IL baselines
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_MutualInnerRec_CapturedEnv.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_MutualInnerRec_Generic.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

add comments
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "Fix quoted args in fsc subprocess tests"
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Simplify recursive inline member regression tests
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

simplify tests
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
