Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Update baselines
  tests/service/data/SyntaxTree/SignatureType/NestedTypeHasStaticTypeAsLeadingKeyword.fsi.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 02.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 03.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 04.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 06.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 07.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 08.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 09.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 10.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 11.fs.bsl
  tests/service/data/SyntaxTree/Type/NestedTypeHasStaticTypeAsLeadingKeyword.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update Directory.Build.props
  tests/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

rename ilverify bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run test-baseline
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/ReferenceDU.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StaticOptimizations/String_Enum.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StaticOptimizations/String_SignedIntegralTypes.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/LinqCount.fsx.realInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/LinqCount.fsx.realInternalSignatureOn.il.netcore.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

assert enhancement
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ApplicationExpressions/AssertExpression.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert wrong ilbaseline adjustion
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/ReferenceDU.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StaticOptimizations/String_Enum.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StaticOptimizations/String_SignedIntegralTypes.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update SpanOptimizationTests.fs
  tests/fsharp/Compiler/Language/SpanOptimizationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

No warning - all declarations at same indentation level
  src/Compiler/SyntaxTree/LexFilter.fs
  tests/service/data/SyntaxTree/Type/Same Line Declarations 01.fs
  tests/service/data/SyntaxTree/Type/Same Line Declarations 01.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update FSComp.txt
  src/Compiler/FSComp.txt
  src/Compiler/SyntaxTree/LexFilter.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/service/data/SyntaxTree/Type/Code Quotations 01.fs
  tests/service/data/SyntaxTree/Type/Code Quotations 01.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rename LanguageFeature and use it in the parser
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/pars.fsy
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

update test
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ApplicationExpressions/AssertExpression.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

update tests
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/NamedPatPairs/NamedPatPairs.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/NamedPatPairs/NamedPatPairs01.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

format code
  src/Compiler/Facilities/LanguageFeatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

adjust tests that need illink,
  tests/AheadOfTime/Directory.Build.props
  tests/AheadOfTime/Equality/Equality.fsproj
  tests/AheadOfTime/Equality/check.ps1
  tests/AheadOfTime/Trimming/FSharpMetadataResource_Trimming_Test/FSharpMetadataResource_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/SelfContained_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/StaticLinkedFSharpCore_Trimming_Test/StaticLinkedFSharpCore_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

See what happens
  tests/EndToEndBuildTests/ComboProvider/ComboProvider.Tests/ComboProvider.Tests.fsproj
  tests/EndToEndBuildTests/ComboProvider/ComboProvider/ComboProvider.fsproj
  tests/EndToEndBuildTests/ComboProvider/TestComboProvider.cmd
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

SDK to 10.0.100-preview.7.25380.108 because of https://github.com/dotnet/sdk/issues/49786
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

make devcontainer work with unpublished sdks
  .devcontainer/devcontainer.json
Due: none

Add more tests and rename feature flag
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/SyntaxTree/LexFilter.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/WarningInvalidConstructsInTypeDefinition.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/WarningOnInvalidDeclsInTypeDefinitions.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

more
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ByRefTests.fs
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/Utilities.fs
  tests/fsharp/Compiler/Language/DefaultInterfaceMemberTests.fs
  tests/fsharp/Compiler/Language/InterfaceTests.fs
  tests/fsharp/Compiler/Language/OpenTypeDeclarationTests.fs
  tests/fsharp/Compiler/Language/OptionalInteropTests.fs
  tests/fsharp/Compiler/Language/StaticNameResolutionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

change test that needs runtime support
  tests/fsharp/Compiler/Language/DefaultInterfaceMemberTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update tests
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AttributeUsage.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/ImportDeclarations/ImportDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/RealInternalSignature/ClassTypeVisibilityNamespaceRootWithFsi.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run ilverify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

net9.0 to net10.0 (#18840)
  DEVGUIDE.md
  Directory.Build.props
  UseLocalCompiler.Directory.Build.props
  buildtools/checkpackages/FSharp.Compiler.Service_notshipped.fsproj
  buildtools/checkpackages/FSharp.Core_notshipped.fsproj
  eng/Build.ps1
  eng/build-utils.ps1
  eng/build.sh
  eng/test-determinism.ps1
  src/Compiler/Driver/FxResolver.fs
  tests/AheadOfTime/Directory.Build.props
  tests/AheadOfTime/Equality/Equality.fsproj
  tests/AheadOfTime/Trimming/FSharpMetadataResource_Trimming_Test/FSharpMetadataResource_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/SelfContained_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/StaticLinkedFSharpCore_Trimming_Test/StaticLinkedFSharpCore_Trimming_Test.fsproj
  tests/Directory.Build.props
  tests/EndToEndBuildTests/BasicProvider/BasicProvider.DesignTime/BasicProvider.DesignTime.fsproj
  tests/EndToEndBuildTests/BasicProvider/BasicProvider.Tests/BasicProvider.Tests.fsproj
  tests/EndToEndBuildTests/BasicProvider/BasicProvider/BasicProvider.fsproj
  tests/EndToEndBuildTests/BasicProvider/TestBasicProvider.cmd
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/LinqCount.fsx.realInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/LinqCount.fsx.realInternalSignatureOn.il.netcore.bsl
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Test.Utilities/CompilerAssert.fs
  tests/FSharp.Test.Utilities/ProjectGeneration.fs
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/FSharp.Test.Utilities/Utilities.fs
  tests/ILVerify/ilverify.ps1
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/benchmarks/FCSBenchmarks/BenchmarkComparison/runner.ipynb
  tests/fsharp/Compiler/Language/SpanOptimizationTests.fs
  tests/fsharp/single-test.fs
  tests/fsharpqa/run.fsharpqa.test.fsx
  tests/scripts/identifierAnalysisByType.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Removing test duplicate
  tests/fsharp/Compiler/Language/DefaultInterfaceMemberTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix SRTP nullness constraint resolution for types imported from older assemblies (#18785)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/TypedTree/TypedTree.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.Private.Scripting.UnitTests/FSharpScriptTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

removing another duplicate
  tests/fsharp/Compiler/Language/DefaultInterfaceMemberTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update tests
  src/Compiler/SyntaxTree/LexFilter.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/AttributeUsage/AttributeUsage.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/RealInternalSignature/ClassTypeVisibilityNamespaceRootWithFsi.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/WarningOnInvalidDeclsInTypeDefinitions.fs
  tests/service/data/SyntaxTree/SignatureType/NestedTypeHasStaticTypeAsLeadingKeyword.fsi.bsl
  tests/service/data/SyntaxTree/Type/Abstract Class With Invalid Constructs 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Cascading Invalid Constructs 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Deeply Indented Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Do Binding With Invalid Constructs 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Exception Inside Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Inherit With Invalid Constructs 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Interleaved Invalid Constructs 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module After Do Binding 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module After Members 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Class 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Class With Constructor 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Delegate 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Interface 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Nested Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Record 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Struct 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type With Augmentation 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Union 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Multiple Constructors With Invalid Constructs 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Multiple Invalid Constructs In Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Nested Module Hierarchy 01.fs.bsl
  tests/service/data/SyntaxTree/Type/NestedTypeHasStaticTypeAsLeadingKeyword.fs.bsl
  tests/service/data/SyntaxTree/Type/Open Inside Type 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Static Members With Invalid Constructs 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Type Inside Type 01.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix thread safety issue in XmlDocumentation Provider by replacing Dictionary with ConcurrentDictionary (#18798)
  vsintegration/src/FSharp.Editor/DocComments/XMLDocumentation.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

net6.0 + netcoreapp31 cleanup for TP tests and test utilities - check if it can go away (#18846)
  tests/EndToEndBuildTests/ComboProvider/ComboProvider.Tests/ComboProvider.Tests.fsproj
  tests/EndToEndBuildTests/ComboProvider/ComboProvider/ComboProvider.fsproj
  tests/EndToEndBuildTests/ComboProvider/TestComboProvider.cmd
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ByRefTests.fs
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/Utilities.fs
  tests/fsharp/Compiler/Language/DefaultInterfaceMemberTests.fs
  tests/fsharp/Compiler/Language/InterfaceTests.fs
  tests/fsharp/Compiler/Language/OpenTypeDeclarationTests.fs
  tests/fsharp/Compiler/Language/OptionalInteropTests.fs
  tests/fsharp/Compiler/Language/StaticNameResolutionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

more renaming
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/SyntaxTree/LexFilter.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/ImportDeclarations/ImportDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ErrorOnInvalidDeclsInTypeDefinitions.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Type checker: use inner expr range in upcast constraints errors
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ControlFlowExpressions/Type-relatedExpressions/Type-relatedExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

wip
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ExtendedDiagnosticDataTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

temp CI fix
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/TypedTree/TypedTree.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

use a simple function instead of an AP
  src/Compiler/SyntaxTree/LexFilter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
