Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Add comment on flagged PRs, reduce .fsproj noise
  .github/workflows/labelops-pr-security-scan.md
Due: none

Re-add MSBuild darc NuGet source needed for Microsoft.Build 18.6.4
  NuGet.config
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply Anthropic prompt engineering best practices
  .github/workflows/labelops-pr-security-scan.md
Due: none

Tighten safe-outputs: max 10 labels, max 1 comment
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

[15.9] INTERNAL.md status log: pivot to pipeline 499 / Arcade infra
  INTERNAL.md
Due: none

Separate generic workflow from repo-specific rules
  .github/tooling-check-repo-rules.md
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Strip non-agent content from prompt: safety, methodology, setup, state machine
  .github/workflows/labelops-pr-security-scan.md
Due: none

Strip ALL non-agent content: refs, setup, methodology
  .github/workflows/labelops-pr-security-scan.md
Due: none

Fix state management: comment SHA is the memory
  .github/workflows/labelops-pr-security-scan.md
Due: none

[15.9] G1 progress: patch slnx->sln in eng/Build.ps1; import eng/restore/optimizationData.targets
  INTERNAL.md
  eng/Build.ps1
  eng/restore/optimizationData.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove trusted-author list — non-fork bypass is sufficient
  .github/tooling-check-repo-rules.md
  .github/workflows/labelops-pr-security-scan.md
Due: none

Fix flaky async/task tests: remove premature Task disposal and increase timeouts
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update VSMinorVersion from 7 to 8
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #12796: handle arrays of user-defined types in custom attributes (#19472)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/AttributeCheckingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 2967648
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 2967648
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Protect against repo-rules tampering via PR
  .github/workflows/labelops-pr-security-scan.md
Due: none

Expand Affects-Agent-Config with full SAGE taxonomy + OWASP context
  .github/workflows/labelops-pr-security-scan.md
Due: none

Split: Affects-Agent-Config (files) vs Suspicious-Prompting (content)
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Add repo context to rules file, verify label consistency
  .github/tooling-check-repo-rules.md
Due: none

Add agentic state machine diagram generator workflow
  .github/workflows/agentic-state-machine.lock.yml
  .github/workflows/agentic-state-machine.md
Due: none

Rewrite state machine generator with multi-diagram approach
  .github/workflows/agentic-state-machine.lock.yml
  .github/workflows/agentic-state-machine.md
Due: none

Add actors, CI, incremental updates to state machine generator
  .github/workflows/agentic-state-machine.md
Due: none

Rewrite state machine generator: 173 → 75 lines
  .github/workflows/agentic-state-machine.lock.yml
  .github/workflows/agentic-state-machine.md
Due: none

Replace PAT with WIF service connection for VS insertion
  eng/release/insert-into-vs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add scoped #nowarn/#warnon FS0042 regression test
  tests/FSharp.Compiler.Service.Tests/WarnScopeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add seq literal and for-arrow sequence coverage
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionStepping.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest08.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest08.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest08.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/Language/SequenceExpressions/SequenceExpressions01.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add SequenceIteration coverage for IEnumerable foreach disposal
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ControlFlowExpressions/SequenceIteration/IEnumerableIterationGenericDisposal01.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ControlFlowExpressions/SequenceIteration/SequenceIteration.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CE builder method lookup and add diagnostics regressions
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ComputationExpressions/ComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add yield! and use! semantics regression tests
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/SequenceExpressions/SequenceExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add IL coverage for foreach iterable shapes
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/ForLoop.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Emit CE final Delay/Run calls as tailcall candidates
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TailCalls.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update VSMinorVersion from 7 to 8 (#19681)
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[15.9] Remove accidental .tools/ + binary commits from f814ee97f
  .gitignore
Due: azure-pipelines-PR.yml, azure-pipelines.yml
