Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Follow a script's caret even when its options were computed before its editor
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FocusedCaret.fs
  vsintegration/tests/FSharp.Editor.Tests/FocusedCaretTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release note for resolving script references from the current text
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Resolve a script's references from its current text when the caret leaves a line
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cache the whole-file classification of an open document
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share one whole-file classification between requests for a version
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Key a document's classification by its project's semantic version too
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Join the shared classification outside the resumable code, and test the key itself
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refuse a waiter once a shared classification is being cancelled
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Key DocumentCache by a document's semantic version too, not just its text
  vsintegration/tests/FSharp.Editor.Tests/DocumentCacheTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bring the rebased branch to what it had before the rebase
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/tests/FSharp.Editor.Tests/DocumentCacheTests.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Outline with the quick parsing options when a project has none
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
  vsintegration/tests/FSharp.Editor.Tests/BlockStructureServiceTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Define the orRaise helper the voption options accessors call
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bring the rebased branch to what it had before the rebase
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note for PR #20464
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Share the find-usages test context between test files
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test Find All References across target-framework instances
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetFindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Search each file of a multi-targeted project once and throttle across the solution
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Build multi-project and multi-target Roslyn solutions in FSharp.Editor tests
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the instance to search in full without ordering the rest
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report the references of a document together and leave a core to the editor
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report a use once when several instances compile its file
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetFindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Materialize the project list of a multi-project solution once
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the shared test fixture as #20462 lands it
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetFindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Search from the first file that can compile differently, not by file
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
  vsintegration/tests/FSharp.Editor.Tests/MultiTargetFindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore ScanToken's signature; add ScanTokenValue for the allocation-free path
  docs/fcs/tokenizer.fsx
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceLexing.fs
  src/Compiler/Service/ServiceLexing.fsi
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/TokenizerTests.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/src/FSharp.LanguageService/Colorize.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Move the release note to 11.0.200
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Guard only the growth of the token cache, and read it without a lock
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add concurrent SourceTextData cache test; fix stale lex-state read it caught
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/TokenizerCacheConcurrencyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the validated start entry instead of reading its slot again
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Describe the lock-based cache in the release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Cover growing the token cache under concurrent scans
  vsintegration/tests/FSharp.Editor.Tests/TokenizerCacheConcurrencyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resume a token cache scan only from a line no edit above has invalidated
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/tests/FSharp.Editor.Tests/TokenizerCacheConcurrencyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

refactor(CancellableTasks): Apply Task.sequential/parallelLimit
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move release note to 11.0.200
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

share captured mutables
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

preserve callback debug points
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/Optimize/RuntimeAsyncAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add guidelines for shepherding PRs
  .github/copilot-instructions.md
Due: none

Set F# Apex CloudTest lab
  azure-pipelines-integration-dartlab.yml
  eng/pipelines/apex-integration/README.md
  eng/pipelines/apex-integration/stage.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
