Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Delete StackOverflow reproduction test case
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TryCatch/TryCatch.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix excessive StackGuard thread jumps (#18971)
  docs/large-inputs-and-stack-overflows.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/AbstractIL/ilwritepdb.fs
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckIncrementalClasses.fs
  src/Compiler/Checking/FindUnsolved.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/TailCallChecks.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Optimize/DetupleArgs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
  src/Compiler/Optimize/LowerCalls.fs
  src/Compiler/Optimize/LowerLocalMutables.fs
  src/Compiler/Optimize/LowerStateMachines.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TryCatch/TryCatch.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reduce duplicate test deps, downgrade roslyn used for testing (keep high one for vsintegration)
  FSharp.sln
  eng/Versions.props
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/fsharp/Compiler/Language/OptionalInteropTests.fs
  tests/fsharp/FSharpSuite.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestion from @T-Gro
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Avoid xunit catastrophic failure caused by testcollection ID
  tests/FSharp.Test.Utilities/XunitHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

IDE tests - enforce roslyn version matching editor components
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

remove obsolete prop
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/fsharp/FSharpSuite.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

workaround xunit bug that treat displayname as if it were a unique ID
  tests/FSharp.Test.Utilities/XunitHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix exn signature range
  src/Compiler/Symbols/SymbolHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Automate Roslyn Dependency Management with Darc & Prune Direct References (#18957)
  FSharp.sln
  eng/Version.Details.xml
  eng/Versions.props
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/TestFramework.fs
  tests/FSharp.Test.Utilities/XunitHelpers.fs
  tests/fsharp/Compiler/Language/OptionalInteropTests.fs
  tests/fsharp/FSharpSuite.Tests.fsproj
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpDebug.csproj
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpFull.csproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.LanguageService.Base/FSharp.LanguageService.Base.csproj
  vsintegration/src/FSharp.LanguageService/FSharp.LanguageService.fsproj
  vsintegration/src/FSharp.LanguageService/ProjectSitesAndFiles.fs
  vsintegration/src/FSharp.ProjectSystem.Base/FSharp.ProjectSystem.Base.csproj
  vsintegration/src/FSharp.ProjectSystem.FSharp/FSharp.ProjectSystem.FSharp.fsproj
  vsintegration/src/FSharp.ProjectSystem.PropertyPages/FSharp.ProjectSystem.PropertyPages.vbproj
  vsintegration/src/FSharp.VS.FSI/FSharp.VS.FSI.fsproj
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/Salsa/VisualFSharp.Salsa.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

F# Scripts: Fix resolving the dotnet host path when an SDK directory is specified (#18960)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/DependencyManager/DependencyProvider.fs
  src/Compiler/DependencyManager/DependencyProvider.fsi
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/FxResolver.fs
  src/Compiler/Driver/ScriptClosure.fs
  src/Compiler/Facilities/CompilerLocation.fs
  src/Compiler/Facilities/CompilerLocation.fsi
  src/Compiler/Interactive/fsi.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.ProjectFile.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.Utilities.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.fs
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.fsi
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

UseDotNet for e2e tests
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FSharpExpr documentation to reference correct module (#18969)
  src/Compiler/Symbols/Exprs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Name is bound multiple times is not reported in 'as' pattern
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Checking/CheckPatterns.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/NameIsBoundMultipleTimesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

More tests
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/NameIsBoundMultipleTimesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Another one
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/NameIsBoundMultipleTimesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

enable parallel optimization by default
  src/Compiler/Driver/OptimizeInputs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

parallel reference resolution with deterministic order
  src/Compiler/Driver/CompilerImports.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add exn signature tests
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

one more test and put back the unitVar explanation
  src/Compiler/Checking/CheckPatterns.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/NameIsBoundMultipleTimesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

prevent fsi deadlock
  src/Compiler/Driver/CompilerImports.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Removed explicit lang version since current default is sufficient. Fix typo in func name.
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/CopyAndUpdateTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

phase2, too
  src/Compiler/Driver/CompilerImports.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

last one
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/NameIsBoundMultipleTimesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

enable ilxgen, too
  src/Compiler/Driver/OptimizeInputs.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Match01.fs.RealInternalSignatureOff.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction06.fs.RealInternalSignatureOff.OptimizeOn.il.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction23.fs.RealInternalSignatureOff.OptimizeOn.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOff.OptimizeOn.il.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOn.OptimizeOn.il.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

desktop baselines
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Match01.fs.RealInternalSignatureOff.il.net472.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction23.fs.RealInternalSignatureOff.OptimizeOn.il.net472.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

enable graph checking
  src/Compiler/Driver/ParseAndCheckInputs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix sneakily disabled tests
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/FsharpSuiteMigrated.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

print more info
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update baselines
  tests/fsharp/typecheck/sigs/neg04.bsl
  tests/fsharp/typecheck/sigs/neg05.bsl
  tests/fsharp/typecheck/sigs/neg07.bsl
  tests/fsharp/typecheck/sigs/neg113.bsl
  tests/fsharp/typecheck/sigs/neg113.vsbsl
  tests/fsharp/typecheck/sigs/neg15.bsl
  tests/fsharp/typecheck/sigs/neg16.bsl
  tests/fsharp/typecheck/sigs/neg20.bsl
  tests/fsharp/typecheck/sigs/neg28.bsl
  tests/fsharp/typecheck/sigs/neg32.bsl
  tests/fsharp/typecheck/sigs/neg37.bsl
  tests/fsharp/typecheck/sigs/neg_anon_1.bsl
  tests/fsharp/typecheck/sigs/neg_byref_16.bsl
  tests/fsharp/typecheck/sigs/neg_byref_3.bsl
  tests/fsharp/typecheck/sigs/version50/neg20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix neg15
  tests/fsharp/typecheck/sigs/neg15.bsl
  tests/fsharp/typecheck/sigs/neg15.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix
  tests/fsharp/typecheck/sigs/neg15.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix exn signature range (#18982)
  src/Compiler/Symbols/SymbolHelpers.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reenable a bunch of tests (#18991)
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/FsharpSuiteMigrated.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/fsharp/typecheck/sigs/neg04.bsl
  tests/fsharp/typecheck/sigs/neg05.bsl
  tests/fsharp/typecheck/sigs/neg07.bsl
  tests/fsharp/typecheck/sigs/neg113.bsl
  tests/fsharp/typecheck/sigs/neg113.vsbsl
  tests/fsharp/typecheck/sigs/neg15.fs
  tests/fsharp/typecheck/sigs/neg16.bsl
  tests/fsharp/typecheck/sigs/neg20.bsl
  tests/fsharp/typecheck/sigs/neg28.bsl
  tests/fsharp/typecheck/sigs/neg32.bsl
  tests/fsharp/typecheck/sigs/neg37.bsl
  tests/fsharp/typecheck/sigs/neg_anon_1.bsl
  tests/fsharp/typecheck/sigs/neg_byref_16.bsl
  tests/fsharp/typecheck/sigs/neg_byref_3.bsl
  tests/fsharp/typecheck/sigs/version50/neg20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Merge lsp vsix into the old vsix
  src/FSharp.Compiler.LanguageServer/FSharpLanguageServer.fs
  src/FSharp.VisualStudio.Extension/ExtensionEntrypoint.cs
  src/FSharp.VisualStudio.Extension/FSharp.VisualStudio.Extension.csproj
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpDebug.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add ExtensionType to vsixmanifest
  vsintegration/Vsix/VisualFSharpFull/Source.extension.vsixmanifest
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move project ref to the targets file
  vsintegration/Vsix/VisualFSharpFull/VisualFSharp.Core.targets
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpDebug.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove some debug code
  src/FSharp.Compiler.LanguageServer/FSharpLanguageServer.fs
  src/FSharp.VisualStudio.Extension/ExtensionEntrypoint.cs
  vsintegration/Vsix/VisualFSharpFull/VisualFSharp.Core.targets
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpDebug.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Set installation target to a range
  src/FSharp.VisualStudio.Extension/ExtensionEntrypoint.cs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
