Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

chore: update FSharp.Core baselines
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Strip trailing whitespace flagged by Fantomas in LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Collapse ImplicitYield enforcement sites to always-enabled path
  src/Compiler/Checking/Expressions/CheckArrayOrListComputedExpressions.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: RED repro for #20203 struct Seq.collect InvalidProgramException
  tests/FSharp.Compiler.ComponentTests/Language/RegressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove ImplicitYield language feature flag definition
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: coerce struct sub-collection and use unit try/finally result type in list/array collector lowering (#20203)
  src/Compiler/Optimize/LowerComputedCollections.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs(release-notes): point net10.0 entry at PR #20229
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

test: regenerate ComputedCollections baselines and pin struct-collect IL (#20203)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ComputedCollections.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeArrays.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeLists.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInArray_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInArray_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInList_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInList_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInSeq_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInSeq_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollect.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollect.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/StructSeqCollect.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - ActivePattern 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Arrow 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Tuple 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Tuple 02.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SequencePoints/ForEach/Array - Comprehensions - Value 02.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test(FSharp.Core): refresh net SurfaceArea baselines for Async.RunSynchronouslyImmediate
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.net.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.net.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

refactor(FSharp.Core): trim narration comments in net10.0 TFM scaffolding (NoBloat)
  eng/tests/AuditFSharpCoreTfmGuards.fsx
  src/FSharp.Core/prim-types.fs
  src/FSharp.Core/prim-types.fsi
  tests/AheadOfTime/NetTfmResolution/VerifyNetResolution.fsx
  tests/FSharp.Core.ApiCompat/FSharp.Core.ApiCompat.proj
  tests/FSharp.Core.PackageVerification/VerifyFSharpCorePackage.fsx
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor(tests): tighten e2e-2 consumer comments (NoBloat round 2)
  tests/AheadOfTime/NetTfmResolution/NetTfmResolution.fsproj
  tests/AheadOfTime/NetTfmResolution/Program.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Compaction round 1: drop dangling plan ref + phase tag
  tests/AheadOfTime/NetTfmResolution/VerifyNetResolution.fsx
  tests/FSharp.Core.ApiCompat/FSharp.Core.ApiCompat.proj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Compaction round 2: dedup e2e-1 asserts, harden gates, drop dead ns2.1 baseline
  azure-pipelines-PR.yml
  eng/tests/AuditFSharpCoreTfmGuards.fsx
  tests/AheadOfTime/NetTfmResolution/Program.fs
  tests/AheadOfTime/NetTfmResolution/VerifyNetResolution.fsx
  tests/FSharp.Core.PackageVerification/VerifyFSharpCorePackage.fsx
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

ci(FSharp.Core): relocate e2e-2 resolution witness to EndToEndBuildTests job
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: parameterize #20203 struct Seq.collect scenarios + release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping05.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping05.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping06.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ListExpressionStepping/ListExpressionStepping06.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/Language/RegressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

harden(net10 pin): clear error on malformed pin TFM + fail-closed e2e-2 section check
  eng/TargetFrameworks.props
  tests/AheadOfTime/NetTfmResolution/VerifyNetResolution.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix cross-file extension operator SRTP resolution in same assembly
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Allow closing '>' of multiline nested type arguments to align with the opener (#15171) (#20003)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/SyntaxTree/LexFilter.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalFiltering/OffsideExceptions/MultilineNestedTypeArguments.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalFiltering/OffsideExceptions/OffsideExceptions.fs
  tests/service/data/SyntaxTree/SynType/SynTypeAppNestedMultilineClosingGreaterAligned.fs
  tests/service/data/SyntaxTree/SynType/SynTypeAppNestedMultilineClosingGreaterAligned.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on SingleUnderscorePattern language feature flag (#20141)
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/pars.fsy
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(FSharp.Core): keep in-repo consumers on netstandard2.1 (net10.0 is package-only)
  Directory.Build.targets
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/SurfaceArea.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Deduplicate FSharp.Core XML docs via <include>
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/array.fsi
  src/FSharp.Core/list.fsi
  src/FSharp.Core/resumable.fsi
  src/FSharp.Core/seq.fsi
  src/FSharp.Core/tasks.fsi
  src/FSharp.Core/xmldoc/dynamic.xml
  src/FSharp.Core/xmldoc/parallel.xml
  src/FSharp.Core/xmldoc/sort.xml
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove in-repo RFC copies (belong in fsharp/fslang-design)
  docs/RFC_Changes.md
  docs/RFC_Original.md
Due: none

Add Unchecked.withNull for unconstrained C# nullable-generic interop
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/prim-types.fs
  src/FSharp.Core/prim-types.fsi
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableCsharpImportTests.fs
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fill PR link in release note
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

fix(test): e2e-2 resolves FSharp.Core from the packages root, not a fixed lane
  tests/AheadOfTime/NetTfmResolution/NuGet.Config
  tests/AheadOfTime/NetTfmResolution/VerifyNetResolution.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove always-on ImplicitYield language feature flag (#20143)
  src/Compiler/Checking/Expressions/CheckArrayOrListComputedExpressions.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(test): e2e-2 stages FSharp.Core into a flat local feed for deterministic restore
  tests/AheadOfTime/NetTfmResolution/NuGet.Config
  tests/AheadOfTime/NetTfmResolution/VerifyNetResolution.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Record constructors (FS-1073) (#19974)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/AccessibilityLogic.fs
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/OverloadResolutionCache.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/Checking/infos.fsi
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/QuotationRenderingTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/RecordConstructor.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/RecordConstructorTests.fs
  tests/projects/CompilerCompat/CompilerCompatApp/CompilerCompatApp.fsproj
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/CompilerCompatLib.fsproj
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Assign moduleCustomDebugInfoRows in delta metadata test helper writer options
  tests/FSharp.Compiler.Service.Tests/DeltaMetadata/MetadataDeltaTestHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs
  docs/index.md
  docs/runtime-async.md
Due: none

feature
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/CodeGen/EraseClosures.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/FSharp.Core/resumable.fs
  src/FSharp.Core/resumable.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

tests
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeAsyncBasic.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTaskBuilder.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTasks.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTasksAsyncDisposalException.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

surface area
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

rns
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

translations
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add pr numbers
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

Restore F# 11.0 feature registrations dropped when adding RuntimeAsync; add Language preview release notes
  docs/release-notes/.Language/preview.md
  src/Compiler/Facilities/LanguageFeatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

surface area
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

chore: update netstandard2.0 baselines
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

doc: Sync doc to align with Task equivalents
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
