Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Revert Roslyn diagnostics workaround (fix #16360)
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Diagnostics/DocumentDiagnosticAnalyzer.fs
  vsintegration/tests/FSharp.Editor.Tests/DocumentDiagnosticAnalyzerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix nullness narrowing in match inside comprehensions (#19743)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableRegressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply remaining changes
  .executor-pid
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes entry for #18841 fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Apply remaining changes
  .copilot-prompt.txt
  .executor-pid
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix delegate Invoke classification in declaration (#16982)
  src/Compiler/Service/SemanticClassification.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove executor artifact
  .executor-pid
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove executor artifact
  .copilot-prompt.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update stale documentation: protected-files guardrail description
  .github/workflows/labelops-pr-maintenance.md
Due: none

Allow =$"..." (interpolated string adjacent to =) (#16696)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Facilities/prim-lexing.fsi
  src/Compiler/lex.fsl
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEquals.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEquals.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsTripleQuote.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsTripleQuote.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsWithHole.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsWithHole.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix test name
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add Val.Stamp tiebreaker to sort keys; fix release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/DetupleArgs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI: replace LINQ extension test case with instance method; format IlxGen.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Override System.Security.Cryptography.Xml to 10.0.8
  eng/Versions.props
  src/FSharp.Build/FSharp.Build.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Override System.Security.Cryptography.Xml to 10.0.8 (#19830)
  eng/Versions.props
  src/FSharp.Build/FSharp.Build.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add catalog signing for non-PE XML content files
  eng/Signing.props
  eng/generate-catalog.ps1
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpDebug.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove dead range parameters left over from Entity.Typars cleanup
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/InfoReader.fsi
  src/Compiler/Checking/MethodOverrides.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/Checking/infos.fsi
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Change protected-files policy to 'allowed' for labelops-pr-maintenance workflow (#19783)
  .github/aw/actions-lock.json
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
Due: none

Address self-review: extract helper, trim prose, run determinism in Release
  azure-pipelines-PR.yml
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/OptimizeInputs.fs
  src/Compiler/Optimize/DetupleArgs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[VERIFY-ONLY] revert optimizer sort - should make Release determinism CI fail
  src/Compiler/Optimize/DetupleArgs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix source-build: track System.Security.Cryptography.Xml via Version.Details
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
  src/FSharp.Build/FSharp.Build.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix Repo Assist: recompile lock files to v0.76.1, harden data fetch step (#19727)
  .github/aw/actions-lock.json
  .github/workflows/agentic-state-machine.lock.yml
  .github/workflows/aw-auto-update.lock.yml
  .github/workflows/labelops-flake-fix.lock.yml
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/regression-pr-shepherd.lock.yml
  .github/workflows/repo-assist.lock.yml
  .github/workflows/repo-assist.md
Due: none

Fix overload resolution of static member extension (#19698)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/NameResolution.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/StaticMethodResolution.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/PropertyResolution/StaticPropertyResolution.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[Auto Update] Agentic workflows — fix safe-outputs config and apply pending upgrade (#19756)
  .github/agents/agentic-workflows.agent.md
  .github/workflows/aw-auto-update.lock.yml
  .github/workflows/aw-auto-update.md
Due: none

Rename Verify*_HACK_PLEASE_REFER_TO_COMMENT_INSIDE helpers
  vsintegration/tests/FSharp.Editor.Tests/DocumentDiagnosticAnalyzerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Parser: recover on unfinished if and binary expressions (#19724)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalFiltering/OffsideExceptions/OffsideExceptions.fs
  tests/fsharp/typecheck/sigs/neg29.bsl
  tests/service/data/SyntaxTree/Expression/Binary - Eq 05.fs.bsl
  tests/service/data/SyntaxTree/Expression/Binary - Eq 06.fs.bsl
  tests/service/data/SyntaxTree/Expression/Binary - Plus 04.fs.bsl
  tests/service/data/SyntaxTree/Expression/If 03.fs.bsl
  tests/service/data/SyntaxTree/Expression/If 11.fs
  tests/service/data/SyntaxTree/Expression/If 11.fs.bsl
  tests/service/data/SyntaxTree/Expression/If 12.fs
  tests/service/data/SyntaxTree/Expression/If 12.fs.bsl
  tests/service/data/SyntaxTree/Expression/If 13.fs
  tests/service/data/SyntaxTree/Expression/If 13.fs.bsl
  tests/service/data/SyntaxTree/Expression/If 14.fs
  tests/service/data/SyntaxTree/Expression/If 14.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ValueOption optional args via ?param caller syntax (#19711) (#19742)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OptionalArguments/OptionalArguments.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Parser: recover on unfinished 'match' expressions
  src/Compiler/FSComp.txt
  src/Compiler/pars.fsy
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/service/data/SyntaxTree/Expression/Match 01.fs
  tests/service/data/SyntaxTree/Expression/Match 01.fs.bsl
  tests/service/data/SyntaxTree/Expression/Match 02.fs
  tests/service/data/SyntaxTree/Expression/Match 02.fs.bsl
  tests/service/data/SyntaxTree/Expression/Match 03.fs
  tests/service/data/SyntaxTree/Expression/Match 03.fs.bsl
  tests/service/data/SyntaxTree/Expression/Match 04.fs
  tests/service/data/SyntaxTree/Expression/Match 04.fs.bsl
  tests/service/data/SyntaxTree/Expression/Match 05.fs
  tests/service/data/SyntaxTree/Expression/Match 05.fs.bsl
  tests/service/data/SyntaxTree/Expression/Match 06.fs
  tests/service/data/SyntaxTree/Expression/Match 06.fs.bsl
  tests/service/data/SyntaxTree/Expression/Match 07.fs
  tests/service/data/SyntaxTree/Expression/Match 07.fs.bsl
  tests/service/data/SyntaxTree/Expression/Match 08.fs
  tests/service/data/SyntaxTree/Expression/Match 08.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add failing tests for indexed-setter named-arg ICE (#16034)
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/IndexedSetterNamedArgTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add failing tests for Sequential in record/anon-record (#17826)
  tests/FSharp.Compiler.Service.Tests/SynExprTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix shouldBeParenthesizedInContext for Sequential in record fields (#17826)
  src/Compiler/Service/SynExpr.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
