Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

feat(hot-reload): delta metadata writer stack
  src/Compiler/CodeGen/DeltaIndexSizing.fs
  src/Compiler/CodeGen/DeltaMetadataEncoding.fs
  src/Compiler/CodeGen/DeltaMetadataSerializer.fs
  src/Compiler/CodeGen/DeltaMetadataSrmWriter.fs
  src/Compiler/CodeGen/DeltaMetadataTables.fs
  src/Compiler/CodeGen/DeltaMetadataTypes.fs
  src/Compiler/CodeGen/DeltaTableLayout.fs
  src/Compiler/CodeGen/FSharpDefinitionIndex.fs
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/CodeGen/IlxDeltaStreams.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/HotReload/FSharpSymbolChanges.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Merge main + regen 2 baselines for CompiledNameAttribute06/07 (#19928)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CompiledNameAttribute/CompiledNameAttribute06.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CompiledNameAttribute/CompiledNameAttribute07.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(hot-reload): add typed EditAndContinueCapabilities model
  docs/hot-reload-capabilities.md
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Utilities/EditAndContinueCapabilities.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/HotReload/EditAndContinueCapabilitiesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): gate edit classification on negotiated runtime capabilities
  src/Compiler/FSComp.txt
  src/Compiler/HotReload/DeltaBuilder.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/HotReload/RudeEditDiagnostics.fs
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  src/Compiler/TypedTree/TypedTreeDiff.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/HotReload/RudeEditDiagnosticsTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
  tests/scripts/main-fsi-drift-hashes.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): classify capability-gated module value and function additions
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadCheckerTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fantomas: format IlxGen.fs after 2-bucket method sort (#19928)
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): add field rows to the delta metadata writer
  src/Compiler/CodeGen/DeltaMetadataSerializer.fs
  src/Compiler/CodeGen/DeltaMetadataSrmWriter.fs
  src/Compiler/CodeGen/DeltaMetadataTables.fs
  src/Compiler/CodeGen/DeltaMetadataTypes.fs
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/FSharpDeltaMetadataWriterTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/MetadataDeltaTestHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): add multi-generation runtime coverage for added module values
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(hot-reload): emit added module values in deltas
  docs/hot-reload-member-additions.md
  src/Compiler/AbstractIL/ILBaselineReader.fs
  src/Compiler/AbstractIL/ILDeltaHandles.fs
  src/Compiler/CodeGen/DeltaMetadataTypes.fs
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/DeltaBuilder.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/MdvValidationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/FSharpDeltaMetadataWriterTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadCheckerTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/MetadataDeltaTestHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): structured lambda occurrence model and alignment in the typed-tree diff
  docs/hot-reload-closure-mapping.md
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DefinitionMapTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/SymbolChangesTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): EnC method debug information blob encoder and decoder
  docs/hot-reload-closure-mapping.md
  src/Compiler/CodeGen/EncMethodDebugInformation.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/HotReload/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): emit EnC CDI blobs for lambda-bearing methods under hotreloaddeltas
  docs/hot-reload-closure-mapping.md
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/AbstractIL/ilwrite.fsi
  src/Compiler/AbstractIL/ilwritepdb.fs
  src/Compiler/AbstractIL/ilwritepdb.fsi
  src/Compiler/CodeGen/EncMethodDebugInformation.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/Interactive/fsi.fs
  src/Compiler/Service/service.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/HotReload/MdvValidationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/PdbCdiEmissionTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/TestHelpers.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/MetadataDeltaTestHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): read baseline EnC CDI blobs into the hot reload session
  docs/hot-reload-closure-mapping.md
  src/Compiler/CodeGen/EncMethodDebugInformation.fs
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/HotReloadContracts.fs
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/PdbCdiEmissionTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/TestHelpers.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/DeltaBuilderTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/EdgeCaseTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ErrorPathTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim: update sizes again — fluctuates between builds (#19928)
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(hot-reload): occurrence-keyed closure name allocation model
  docs/hot-reload-closure-mapping.md
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/TypedTree/ClosureNameAllocator.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/HotReload/ClosureNameAllocatorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): closure identity preserved across delta generations
  docs/hot-reload-closure-mapping.md
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/HotReload/ClosureIdentityTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ClosureNameAllocatorTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(hot-reload): record lambda root stamps and baseline closure names
  docs/hot-reload-closure-mapping.md
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Generated/ClosureNameAllocationState.fs
  src/Compiler/TypedTree/ClosureNameAllocator.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/ClosureIdentityTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/TestHelpers.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ClosureNameAllocatorTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/DeltaBuilderTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/EdgeCaseTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ErrorPathTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): occurrence-keyed closure naming in delta compiles
  docs/hot-reload-closure-mapping.md
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/HotReloadContracts.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): occurrence-keyed naming survives lambda set changes in delta compiles
  docs/hot-reload-closure-mapping.md
  tests/FSharp.Compiler.ComponentTests/HotReload/ClosureIdentityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(hot-reload): emit new type definitions in deltas
  docs/hot-reload-member-additions.md
  src/Compiler/CodeGen/DeltaMetadataSerializer.fs
  src/Compiler/CodeGen/DeltaMetadataSrmWriter.fs
  src/Compiler/CodeGen/DeltaMetadataTables.fs
  src/Compiler/CodeGen/DeltaMetadataTypes.fs
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/TypedTree/ClosureNameAllocator.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/FSharpDeltaMetadataWriterTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): emit added lambdas as new closure types in deltas
  docs/hot-reload-closure-mapping.md
  docs/hot-reload-member-additions.md
  src/Compiler/AbstractIL/ILBaselineReader.fs
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/Service/service.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/TestHelpers.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/DeltaBuilderTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/EdgeCaseTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ErrorPathTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): closure addition coverage
  docs/hot-reload-member-additions.md
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

chore(hot-reload): allowlist ilwritepdb.fsi surface drift for the CDI conduit
  tests/scripts/main-fsi-allowlist.txt
  tests/scripts/main-fsi-drift-hashes.txt
Due: none

feat(hot-reload): emit added instance fields in deltas
  docs/hot-reload-capabilities.md
  docs/hot-reload-member-additions.md
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): emit added properties and events in deltas
  docs/hot-reload-member-additions.md
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/DeltaBuilder.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/MdvValidationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): chain only appended rows into next-generation table counts
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): member addition coverage consolidation
  docs/hot-reload-member-additions.md
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add RED tests for QuickParse `]`-tail dot handling (#4966)
  tests/FSharp.Compiler.Service.Tests/QuickParseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(hot-reload): derive baseline closure names from occurrence identity
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/Generated/GeneratedNames.fs
  src/Compiler/TypedTree/ClosureNameAllocator.fs
  src/Compiler/TypedTree/SynthesizedTypeMaps.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NameMapTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ClosureNameAllocatorTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/NameMapTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): reconstruct closure names from CDI for disk-started sessions
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix QuickParse: treat `]` before dot like `)` (#4966)
  src/Compiler/Service/QuickParse.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): cross-process closure addition coverage
  docs/hot-reload-closure-mapping.md
  src/Compiler/CodeGen/HotReloadBaseline.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): update session capabilities without restarting
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadCheckerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[fsharp-15.9] Day 7: SourceGear sign-tool integration (signproj + Signing.props) (commit 7.0)
  eng/Signing.props
  setup/Swix/Microsoft.FSharp.SDK/SourceGearSqlite.signproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

[fsharp-15.9] Day 6: SWIX harvest row for SourceGearSqlite.swr (commit 6.0)
  setup/Swix/Microsoft.FSharp.SDK/SourceGearSqlite.swr
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpFull.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
