Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Simplify TcNameOfExpr and TcLongIdentThen to pass result tuples directly
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim .fsi doc comments and update test baselines for narrowed ranges
  src/Compiler/Checking/NameResolution.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Literals.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/OverloadResolutionErrorRangeTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableCsharpImportTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.checknulls_on.err.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/E_NoChangeForEvent.fsx.err.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore dual-range architecture: wide mItem for expressions/PDB, narrow mItemIdent for diagnostics
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/UnionTypes/UnionTypes.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/PortablePdbs.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/OverloadResolutionErrorRangeTests.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/TypeMismatchTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/FixedBindings/FixedBindings.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableCsharpImportTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableRegressionTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.checknulls_on.err.bsl
  tests/FSharp.Compiler.ComponentTests/Language/ObsoleteAttributeCheckingTests.fs
  tests/fsharp/Compiler/Language/StringInterpolation.fs
  tests/fsharp/Compiler/Libraries/Core/NativeInterop/StackallocTests.fs
  tests/fsharp/core/auto-widen/preview/test.bsl
  tests/fsharp/core/quotesDebugInfo/test.fsx
  tests/fsharp/typeProviders/negTests/EVIL_PROVIDER_GetInvokerExpression_Exception.bsl
  tests/fsharp/typeProviders/negTests/EVIL_PROVIDER_GetInvokerExpression_Null.bsl
  tests/fsharp/typeProviders/negTests/InvalidInvokerExpression.bsl
  tests/fsharp/typeProviders/negTests/neg1.bsl
  tests/fsharp/typecheck/sigs/neg10.bsl
  tests/fsharp/typecheck/sigs/neg15.bsl
  tests/fsharp/typecheck/sigs/neg17.bsl
  tests/fsharp/typecheck/sigs/neg37_a.bsl
  tests/fsharp/typecheck/sigs/neg56_a.bsl
  tests/fsharp/typecheck/sigs/neg56_b.bsl
  tests/fsharp/typecheck/sigs/neg90.bsl
  tests/fsharp/typecheck/sigs/neg91.bsl
  tests/fsharp/typecheck/sigs/neg_byref_3.bsl
  tests/fsharp/typecheck/sigs/neg_byref_4.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Round 2 cleanup: consistent naming and restored test comments
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/OverloadResolutionErrorRangeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Narrow remaining diagnostic ranges and restore context comments
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove wide mItem range, pass only narrow terminal-identifier range
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/OnTypeMembers.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/UnionTypes/UnionTypes.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/PortablePdbs.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Literals.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/TypeMismatchTests.fs
  tests/FSharp.Compiler.ComponentTests/Interop/RequiredAndInitOnlyProperties.fs
  tests/FSharp.Compiler.ComponentTests/Interop/VisibilityTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/DotLambdaTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/FixedBindings/FixedBindings.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableCsharpImportTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableRegressionTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/ObsoleteAttributeCheckingTests.fs
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/E_NoChangeForEvent.fsx.err.bsl
  tests/fsharp/Compiler/Language/StringInterpolation.fs
  tests/fsharp/Compiler/Libraries/Core/NativeInterop/StackallocTests.fs
  tests/fsharp/core/auto-widen/preview/test.bsl
  tests/fsharp/core/quotesDebugInfo/test.fsx
  tests/fsharp/typeProviders/negTests/EVIL_PROVIDER_GetInvokerExpression_Exception.bsl
  tests/fsharp/typeProviders/negTests/EVIL_PROVIDER_GetInvokerExpression_Null.bsl
  tests/fsharp/typeProviders/negTests/InvalidInvokerExpression.bsl
  tests/fsharp/typeProviders/negTests/neg1.bsl
  tests/fsharp/typecheck/sigs/neg10.bsl
  tests/fsharp/typecheck/sigs/neg15.bsl
  tests/fsharp/typecheck/sigs/neg17.bsl
  tests/fsharp/typecheck/sigs/neg37_a.bsl
  tests/fsharp/typecheck/sigs/neg56_a.bsl
  tests/fsharp/typecheck/sigs/neg56_b.bsl
  tests/fsharp/typecheck/sigs/neg90.bsl
  tests/fsharp/typecheck/sigs/neg91.bsl
  tests/fsharp/typecheck/sigs/neg_byref_3.bsl
  tests/fsharp/typecheck/sigs/neg_byref_4.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI: add agent name field, pass -ci to AOT build
  .github/agents/agentic-workflows.agent.md
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add PR link to release notes for #19560
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Option B: per-ImplFile naming scope + deterministic FileIndex pre-registration
  src/Compiler/Driver/OptimizeInputs.fs
  src/Compiler/Driver/ParseAndCheckInputs.fs
  src/Compiler/Optimize/DetupleArgs.fs
  src/Compiler/Optimize/DetupleArgs.fsi
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fsi
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bucket compiler-generated names by emitting file for parallel determinism
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fsi
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/AnonRecd.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/AnonRecords.fs.il.netcore.bsl
  tests/fsharp/Compiler/CodeGen/EmittedIL/DeterministicTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Glossary improvement
  .github/copilot-instructions.md
  docs/coding-standards.md
Due: none

Revert "Bucket compiler-generated names by emitting file for parallel determinism"
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fsi
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/AnonRecd.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/AnonRecords.fs.il.netcore.bsl
  tests/fsharp/Compiler/CodeGen/EmittedIL/DeterministicTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs: add release notes for IsAccessorProperty (#18157)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add failing tests for issue #13099: optimizer drops side-effectful receiver of unit member access
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Optimizations/TaskCEUnitPropertyAccess.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix XmlDoc validation for get/set property pairs (#13684)
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/SyntaxTree/XmlDoc.fs
  src/Compiler/SyntaxTree/XmlDoc.fsi
  tests/FSharp.Compiler.ComponentTests/Language/XmlComments.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix FSComp.txt error-code sort order for 3888 (issue #19560)
  src/Compiler/FSComp.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add FSharp.Core release notes for #19560
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

Add release notes for XmlDoc get/set property fix (#13684)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix #13099: optimizer drops side-effectful receiver of unit member access in task CE
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes entry for issue #13099 optimizer fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove duplicate and unused file SkipLocalsInit.fs file exisits in two different folders and only one of the copies is actually included in the project.
  tests/FSharp.Compiler.ComponentTests/SkipLocalsInit.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make unused-opens/declarations error guard configurable via AnalysisScope (#16415)
  src/Compiler/Service/ServiceAnalysis.fs
  src/Compiler/Service/ServiceAnalysis.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/CompilerServiceBenchmarks.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedDeclarationsAnalyzer.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedOpensDiagnosticAnalyzer.fs
  vsintegration/tests/UnitTests/UnusedOpensTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review: suggest plain 'let' shadowing first in FS0027 parameter message
  src/Compiler/FSStrings.resx
  src/Compiler/xlf/FSStrings.cs.xlf
  src/Compiler/xlf/FSStrings.de.xlf
  src/Compiler/xlf/FSStrings.es.xlf
  src/Compiler/xlf/FSStrings.fr.xlf
  src/Compiler/xlf/FSStrings.it.xlf
  src/Compiler/xlf/FSStrings.ja.xlf
  src/Compiler/xlf/FSStrings.ko.xlf
  src/Compiler/xlf/FSStrings.pl.xlf
  src/Compiler/xlf/FSStrings.pt-BR.xlf
  src/Compiler/xlf/FSStrings.ru.xlf
  src/Compiler/xlf/FSStrings.tr.xlf
  src/Compiler/xlf/FSStrings.zh-Hans.xlf
  src/Compiler/xlf/FSStrings.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/AssignmentToParameterErrorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Glossary improvement (#19881)
  .github/copilot-instructions.md
  docs/coding-standards.md
Due: none

Remove duplicate and unused file (#19886)
  tests/FSharp.Compiler.ComponentTests/SkipLocalsInit.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make analysisScope an optional parameter in FCS public API (#16415)
  src/Compiler/Service/ServiceAnalysis.fs
  src/Compiler/Service/ServiceAnalysis.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/benchmarks/FCSBenchmarks/CompilerServiceBenchmarks/CompilerServiceBenchmarks.fs
  vsintegration/tests/UnitTests/UnusedOpensTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI: add release notes and correct surface area baseline
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix surface area baseline: include FSharpOption<AnalysisScope> param
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add PR link to release notes entry for #19550
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix UseDotNet@2 temp extraction conflict in regression tests
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cleanup
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Tests: debug point in operand position is emitted at an empty stack
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugPointsOnStack/DebugPointInOperandPosition.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugPointsOnStack/DebugPointInOperandPosition.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugPointsOnStack/DebugPointsOnStack.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Don't spill an uninitialized reference-type 'this' at debug points
  src/Compiler/CodeGen/IlxGen.fs
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugPointsOnStack/DebugPointInOperandPosition.fs.il.net472.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fantomas
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Emit debug points at a stack-empty position
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeArrays.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeLists.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInArray_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInArray_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInList_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInList_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInSeq_ToArray.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForXInSeq_ToList.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GeneratedIterators/GenIter01.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GeneratedIterators/GenIter02.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GeneratedIterators/GenIter03.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GeneratedIterators/GenIter04.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GeneratedIterators/GenIter04.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/LetIfThenElse01.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/LetIfThenElse01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/Structs02.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/Structs02_asNetStandard20.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest06.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest06.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest07.fs.RealInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest07.fs.RealInternalSignatureOn.il.netcore.bsl
  tests/fsharp/Compiler/CodeGen/EmittedIL/ComputedListExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Track value-type constructor 'this' as a byref in codegen
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/Misc.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/StructCtorDebugPoints.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/StructCtorDebugPoints.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rename IsAccessorProperty to IsPropertyAccessor
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/Symbols.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
