Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fix IEEE float casing tests to ignore warnings
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalAnalysis/NumericLiterals.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Implement FS3576 diagnostic for bypassed generic overloads
  .ralph/VISION.md
  docs/TIEBREAKERS_DESIGN.md
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix constraint-based overload tests to expect FS0438
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Migrate OCaml-style comment tests to ComponentTests
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalAnalysis/Comments.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update release note placeholders with clear TBD markers
  .ralph/VISION.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  docs/release-notes/.Language/preview.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update TASKLIST.md to reflect 100% migration completion
  TASKLIST.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix SRTP regression in MoreConcrete tiebreaker rule
  src/Compiler/Checking/OverloadResolutionRules.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix overload resolution cache: include return type in key
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add cache diagnostics and fix unresolved return type handling
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/OverloadCacheTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reject static abstract member invocations on F# interface types (fixes #19231)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Clean up disabled overload resolution optimizations
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove obsolete langversion 5.0/6.0 tests and migrate to 8.0
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/ComputationExpressions/CombineResults01.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/ComputationExpressions/ComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/ComputationExpressions/ForLoop01.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/ComputationExpressions/Regressions01.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfAppliedFunction.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfAsAFunction.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfDictLookup.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfIntConst.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfIntegerAppliedFunction.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfParameterAppliedFunction.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfPartiallyAppliedFunction.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfStringConst.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfUnresolvableName.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/E_NameOfWithPipe.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/NameOf/NameOf.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/ObjectExpressions/E_ObjExprWithSameInterface01.5.0.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/DataExpressions/ObjectExpressions/ObjectExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ImplementationFilesAndSignatureFiles/NamespacesFragmentsAndImplementationFiles.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/NameResolution/RequireQualifiedAccess/RequireQualifiedAccess.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add RFC quality assessment for FS-XXXX Most Concrete tiebreaker
  RFC-PROPOSED-IMPROVEMENTS.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove VSTest references
  MTP_MIGRATION_PLAN.md
  tests/Directory.Build.props
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/Salsa/VisualFSharp.Salsa.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete garbage file from merge resolution
  tests/FSharp.Compiler.ComponentTests/resources/tests/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/.!40563!E_MemberConstraint04.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add consolidated PerfTestGenerator.fsx to .copilot/skills/perf-tools
  .copilot/skills/perf-tools/.gitignore
  .copilot/skills/perf-tools/PerfTestGenerator.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Consolidate perf tools into .copilot/skills/perf-tools
  .copilot/skills/perf-tools/PERF_SKILL.md
  .copilot/skills/perf-tools/PerfProfiler.fsx
  .copilot/skills/perf-tools/RunPerfAnalysis.ps1
  .copilot/skills/perf-tools/RunPerfAnalysis.sh
  PERFORMANCE_ASSISTANT.md
  tools/perf-repro/.gitignore
  tools/perf-repro/AnalyzeTrace.fsx
  tools/perf-repro/GenerateXUnitPerfTest.fsx
  tools/perf-repro/PERF_REPORT.md
  tools/perf-repro/PERF_REPORT_INT_ONLY.md
  tools/perf-repro/PERF_REPORT_SCALING_VERIFICATION.md
  tools/perf-repro/ProfileCompilation.fsx
  tools/perf-repro/README.md
  tools/perf-repro/RunPerfAnalysis.ps1
  tools/perf-repro/RunPerfAnalysis.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix ProcessStartInfo type annotation in PerfProfiler.fsx
  .copilot/skills/perf-tools/PerfProfiler.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete PERFORMANCE_ASSISTANT.md (replaced by perf-tools/PERF_SKILL.md)
  .copilot/skills/PERFORMANCE_ASSISTANT.md
  .copilot/skills/perf-tools/.gitignore
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add *.nettrace to perf-tools .gitignore
  .copilot/skills/perf-tools/.gitignore
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Consolidate PERF_SKILL.md with hot paths and optimization patterns
  .copilot/skills/perf-tools/PERF_SKILL.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update references from tools/perf-repro to .copilot/skills/perf-tools
  .ralph/VISION.md
  METHOD_RESOLUTION_PERF_IDEAS.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 3 verification: Conformance tests already migrated to LangVersion8
  .ralph/CONTEXT.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Migrate Conformance tests to langversion 8.0
  tests/FSharp.Compiler.ComponentTests/Conformance/DeclarationElements/ObjectConstructors.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/Regressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ImplementationFilesAndSignatureFiles/NamespacesFragmentsAndImplementationFiles.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/NameResolution/RequireQualifiedAccess/RequireQualifiedAccess.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/InterfaceTypes/InterfaceTypes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypesAndTypeConstraints/TypesAndTypeConstraints.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Show only direct base types in tooltips (#17856)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Service/ServiceDeclarationLists.fs
  tests/FSharp.Compiler.Service.Tests/TooltipTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Migrate NONTERM tests to use default LangVersion (remove langversion:5.0)
  tests/FSharp.Compiler.ComponentTests/Diagnostics/NONTERM.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes moved
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
Due: none

Add performance comparison evidence for overload resolution optimization
  PERF_COMPARISON.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove internal-only perf tooling, keep only PerfProfiler.fsx
  .copilot/skills/perf-tools/PERF_SKILL.md
  .copilot/skills/perf-tools/PerfTestGenerator.fsx
  .copilot/skills/perf-tools/RunPerfAnalysis.ps1
  .copilot/skills/perf-tools/RunPerfAnalysis.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix PerfProfiler.fsx to be standalone (embed generation logic)
  .copilot/skills/perf-tools/PERF_SKILL.md
  .copilot/skills/perf-tools/PerfProfiler.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update RFC diagnostic messages to match FSComp.txt exactly
  docs/TIEBREAKERS_DESIGN.md
Due: none

Verify RFC claims vs implementation
  .ralph/VISION.md
  docs/TIEBREAKERS_DESIGN.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use CompileAsEvent instead of direct HasFSharpAttribute in XmlDocSig
  .ralph/VISION.md
  .ralph/debug-json.txt
  .ralph/notes.txt
  .ralph/sprints.json
  .ralph/status.txt
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes entry for duplicate extension member detection (PR #18821)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Apply infrastructure changes from main
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
  tests/FSharp.Test.Utilities/Utilities.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 1: Validation complete - build and tests pass
  .ralph/VISION.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove internal development artifacts from PR
  .copilot/skills/perf-tools/.gitignore
  .copilot/skills/perf-tools/PERF_SKILL.md
  .copilot/skills/perf-tools/PerfProfiler.fsx
  METHOD_RESOLUTION_PERF_IDEAS.md
  PERF_COMPARISON.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix reviewer feedback: use {caret} marker pattern and remove redundant comments
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add edge case tests for duplicate extension member name detection
  tests/FSharp.Compiler.ComponentTests/Language/ExtensionMethodTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
