Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Stuff
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NotNullIfNotNullTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stuff
  src/Compiler/Checking/NicePrint.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NotNullIfNotNullTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Correctness, refactor
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Compact issue-19963 test comments; hoist shared BaseClass lib
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/OnTypeMembers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stabilize code-action tests: retry, re-analysis trigger, quarantine unused-opens
  vsintegration/tests/FSharp.Editor.IntegrationTests/CodeActionTests.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test that struct/CLIMutable records expose no parameterless constructor
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 9r: rubber-duck cleanup of the Block 9m-9q signing/vsintegration work
  azure-pipelines.yml
  build/targets/PackageVersions.props
  eng/CIBuild.cmd
  temp-msbuild/.signature.p7s
  temp-msbuild/Microsoft.Build.Conversion.Core.nuspec
  temp-msbuild/[Content_Types].xml
  temp-msbuild/_rels/.rels
  temp-msbuild/lib/net46/Microsoft.Build.Conversion.Core.dll
  temp-msbuild/lib/net46/Microsoft.Build.Conversion.Core.xml
  temp-msbuild/microsoft.build.conversion.core.15.8.166.nupkg
  temp-msbuild/notices/THIRDPARTYNOTICES.txt
  temp-msbuild/package/services/metadata/core-properties/29a686b05ee640dcbb5893756e0ef38a.psmdcp
  vsintegration/Directory.Build.props
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.LanguageService.Base/FSharp.LanguageService.Base.csproj
  vsintegration/src/FSharp.LanguageService/FSharp.LanguageService.fsproj
  vsintegration/src/FSharp.ProjectSystem.Base/Project/ProjectSystem.Base.csproj
  vsintegration/src/FSharp.ProjectSystem.FSharp/ProjectSystem.fsproj
  vsintegration/src/FSharp.VS.FSI/FSharp.VS.FSI.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Clarify wording: struct = default initialization, CLIMutable = parameterless ctor
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 9s: rubber-duck round 2 - remove accidental blob + trim residual prose
  .gitignore
  azure-pipelines.yml
  build/targets/PackageVersions.props
  eng/CIBuild.cmd
  temp-msbuild/.signature.p7s
  temp-msbuild/Microsoft.Build.Conversion.Core.nuspec
  temp-msbuild/[Content_Types].xml
  temp-msbuild/_rels/.rels
  temp-msbuild/lib/net46/Microsoft.Build.Conversion.Core.dll
  temp-msbuild/lib/net46/Microsoft.Build.Conversion.Core.xml
  temp-msbuild/microsoft.build.conversion.core.15.8.166.nupkg
  temp-msbuild/notices/THIRDPARTYNOTICES.txt
  temp-msbuild/package/services/metadata/core-properties/29a686b05ee640dcbb5893756e0ef38a.psmdcp
  vsintegration/src/FSharp.ProjectSystem.Base/Project/ProjectSystem.Base.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 9t: rubber-duck round 3 - trim last residual provenance comment
  build/targets/PackageVersions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Shorten RecordKind code-size comment
  src/Compiler/Utilities/sformat.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Block 9u: revert vsintegration CI step - product-only green clean slate
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove MaxAttempts: incompatible with xunit.console -xml reporter
  vsintegration/tests/FSharp.Editor.IntegrationTests/CodeActionTests.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix GoToDefinition for record constructor calls + IDE smoke tests
  src/Compiler/Symbols/SymbolHelpers.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/RecordConstructorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bump versions
  global.json
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Test record constructor on a RequireQualifiedAccess record
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix, add tests
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NotNullIfNotNullTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Re-force F# diagnostics periodically inside the code-action retry loop
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add generic print and printn functions to FSharp.Core
  docs/release-notes/.FSharp.Core/10.0.300.md
  src/FSharp.Core/fslib-extra-pervasives.fs
  src/FSharp.Core/fslib-extra-pervasives.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/PrintTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add IL baseline tests for print and printn
  tests/FSharp.Compiler.ComponentTests/EmittedIL/PrintFunction.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use CI-measured trimmed sizes for AOT check (311296 / 9169920)
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add CompilerCompat cross-compiler tests for record constructors (FS-1073)
  tests/projects/CompilerCompat/CompilerCompatApp/CompilerCompatApp.fsproj
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/CompilerCompatLib.fsproj
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test record constructor signature-file interplay
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs(hot-reload): note the prestart confirmation is trace-gated
  docs/hot-reload-quickstart.md
Due: none

Check NativeAOT interpolated-string output against expected values
  tests/AheadOfTime/NativeAOT/Program.fs
  tests/AheadOfTime/NativeAOT/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

tests(hot-reload): characterize structural edits to non-struct CEs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add EmittedIL tests for interpolation cases not optimized before
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StringFormatAndInterpolation.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test that a hand-written ToString override is kept under --reflectionfree
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/reflectionfree.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Rename ToString generators for clarity
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore tabular layout for string_operator_info in TcGlobals
  src/Compiler/TypedTree/TcGlobals.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run inttests_release VS on an interactive desktop session (Roslyn-style infra)
  azure-pipelines-PR.yml
  eng/Build.ps1
  eng/SetupVSHive.ps1
  eng/build-utils-win.ps1
  vsintegration/tests/FSharp.Editor.IntegrationTests/CodeActionTests.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Emit class-form resumable state machines under hot reload (EnC)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/CompilerOptions.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add reflection-free ToString tests for field shapes, structs, anon records and recursion
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/reflectionfree.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add EmittedIL tests for reflection-free record and union ToString
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ReflectionFreeToString.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Generate reflection-free ToString in the augmentation phase
  src/Compiler/Checking/AugmentWithHashCompare.fs
  src/Compiler/Checking/AugmentWithHashCompare.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ReflectionFreeToString.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add diagnostic tracing to UnusedOpens pipeline for CI investigation
  src/Compiler/Service/ServiceAnalysis.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedOpensDiagnosticAnalyzer.fs
  vsintegration/tests/FSharp.Editor.IntegrationTests/AbstractIntegrationTest.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/CodeActionTests.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/AsyncOperationWaiter.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bump versions (#19981)
  global.json
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

More tests
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NotNullIfNotNullTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FieldAccessException when optimizer relocates protected base-field access (#19963) (#19964)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/import.fs
  src/Compiler/Checking/import.fsi
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeBasics.fsi
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/BaseClass.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/OnTypeMembers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
