Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Check nullness in the interactive window
  src/fsi/interactiveProtocol.fs
  vsintegration/src/FSharp.Interactive.Window/FSharp.Interactive.Window.fsproj
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveCommandFilter.fs
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveEvaluator.fs
  vsintegration/src/FSharp.Interactive.Window/FSharpVsInteractiveWindowProvider.fs
  vsintegration/src/FSharp.Interactive.Window/InteractiveHost.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Name the command and bracket cases with active patterns
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveCommandFilter.fs
  vsintegration/src/FSharp.Interactive.Window/FSharpVsInteractiveWindowProvider.fs
  vsintegration/src/FSharp.Interactive.Window/SubmissionAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test for null by matching
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveEvaluator.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bring the interactive window plan's status up to date
  docs/ide/FSI-Modern-Interactive-Window-Plan.md
Due: none

Recognise the output buffer as ours
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveClassifier.fs
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveEvaluator.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Do not install a session that exited before it was published
  vsintegration/src/FSharp.Interactive.Window/InteractiveHost.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Start the window's session where `dotnet fsi` would, and only on .NET
  docs/ide/FSI-Modern-Interactive-Window-Plan.md
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveEvaluator.fs
  vsintegration/src/FSharp.Interactive.Window/FSharpVsInteractiveWindowProvider.fs
  vsintegration/src/FSharp.Interactive.Window/InteractiveHost.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Name the host process on the session's command line
  docs/ide/FSI-Modern-Interactive-Window-Plan.md
  vsintegration/src/FSharp.Interactive.Window/InteractiveHost.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Leave the lexer to the editor: the window no longer compiles against the F# compiler
  docs/ide/FSI-Modern-Interactive-Window-Plan.md
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/SubmissionAnalysisTests.fs
  vsintegration/src/FSharp.Editor/Commands/InteractiveLexicalScanner.fs
  vsintegration/src/FSharp.Editor/Commands/InteractiveLexicalScannerExport.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Interactive.Window/FSharp.Interactive.Window.fsproj
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveClassifier.fs
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveEvaluator.fs
  vsintegration/src/FSharp.Interactive.Window/FSharpVsInteractiveWindowProvider.fs
  vsintegration/src/FSharp.Interactive.Window/LexicalScanning.fs
  vsintegration/src/FSharp.Interactive.Window/SubmissionAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Install the .NET F# Interactive with Visual Studio
  setup/Swix/Microsoft.FSharp.Compiler.MSBuild/Microsoft.FSharp.Compiler.MSBuild.csproj
  vsintegration/Vsix/Directory.Build.props
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpDebug.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Claim only the send commands in the editor's command status
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveCommandFilter.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Forget an editor submission's origin when its execution fails
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveEvaluator.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Open a new window after the old one is closed
  vsintegration/src/FSharp.Interactive.Window/FSharpVsInteractiveWindowProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Put the window's server switches after the user's arguments
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  vsintegration/src/FSharp.Interactive.Window/InteractiveHost.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fall back to the F# Interactive installed with Visual Studio
  docs/ide/FSI-Modern-Interactive-Window-Plan.md
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Interactive.Window/FSharpInteractiveEvaluator.fs
  vsintegration/src/FSharp.Interactive.Window/InteractiveHost.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use Seq.filter/map for AdhocMembers processing
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Note when a shared field needs option instead of voption
  .github/instructions/FSharp.instructions.md
Due: none

Add release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Move the release note to 11.0.200.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Keep the release note in the existing Fixed section
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Report a hand-written `__` self identifier to the name resolution sink
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refuse a rename whose set of locations omits the declaration
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refuse `_` as a rename target for a binding that has uses
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move the release note to 11.0.200.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Accept an escaped `_` and rename active pattern cases
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/tests/FSharp.Editor.Tests/InlineRenameServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Point the __ use-site caret at the use
  vsintegration/tests/FSharp.Editor.Tests/InlineRenameServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Reference EditorFeatures from the editor test project
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add inline rename tests for self identifiers
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/InlineRenameServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Use the ordinal helpers where the editor spells out StringComparison
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move the string and span ordinal extensions into Strings.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Utilities/Strings.fs
  src/Compiler/Utilities/Strings.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Make the ordinal extensions non-inline and drop the FSharp.Editor link
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Utilities/Strings.fs
  src/Compiler/Utilities/Strings.fsi
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep the public inline XmlDocComment.IsBlank free of internal calls
  src/Compiler/Service/ServiceXmlDocParser.fs
  src/Compiler/Utilities/Strings.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Build multi-project and multi-target Roslyn solutions in FSharp.Editor tests
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
