Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fix double Dispose in use bindings with as patterns (#12300) (#19858)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/UseBindingDisposalTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Simplify #19457 lift: reuse ExprAsLetBang/ExprAsUseBang + DoBang head
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Round 2 compaction: kill dead letBoundVars + generic With + keyed helper + chatty docs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Round 2 compaction (part 2): test dedup + chatty p_ModuleInfo + delayCodeGen comment
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/DeterministicTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs(hot-reload): remove internal phase labels from design docs
  docs/hot-reload-active-statements.md
  docs/hot-reload-capabilities.md
  docs/hot-reload-closure-mapping.md
  docs/hot-reload-member-additions.md
Due: none

chore(hot-reload): remove internal phase labels from comments
  src/Compiler/CodeGen/EncMethodDebugInformation.fs
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/Generated/ClosureNameAllocationState.fs
  src/Compiler/Generated/GeneratedNames.fs
  src/Compiler/HotReload/ActiveStatements.fs
  src/Compiler/HotReload/DeltaBuilder.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Optimize/LowerStateMachines.fs
  src/Compiler/Optimize/LowerStateMachines.fsi
  src/Compiler/Service/service.fs
  src/Compiler/TypedTree/ClosureNameAllocator.fs
  src/Compiler/TypedTree/SynthesizedTypeMaps.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/AttributeEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/BaselineDeterminismTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/ClosureIdentityTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/GenericEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/MdvValidationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NameMapTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NewTypeDefinitionTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/ParameterEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/PdbCdiEmissionTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ActiveStatementTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ClosureNameAllocatorTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ErrorPathTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadCheckerTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Round 3 micros: tryFindIndex, sortBy, drop dead short-circuit, condense closure-name match
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/DetupleArgs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): call TypedImplementationFiles directly instead of via reflection
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Unused analyzers: disable in VS when file has errors (#19892)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedDeclarationsAnalyzer.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedOpensDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

perf(hot-reload): build the ilwrite metadata snapshot only when a sink is installed
  src/Compiler/AbstractIL/ilwrite.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

perf(hot-reload): collect state machine resumption points only when capture is active
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Generated/ClosureNameAllocationState.fs
  src/Compiler/Optimize/LowerStateMachines.fs
  src/Compiler/Optimize/LowerStateMachines.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

ci(hot-reload): gate the demo smoke test behind an explicit -testHotReload switch
  eng/Build.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Round 3 floor: trim chatty docstrings in CGS + collapse mkFileNamingScope helper
  src/Compiler/Driver/OptimizeInputs.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

perf(hot-reload): resolve closure-name state once per codegen run and snapshot the IlxGen env only for capture
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/CodeGen/IlxGen.fsi
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/Generated/ClosureNameAllocationState.fs
  tests/scripts/main-fsi-allowlist.txt
  tests/scripts/main-fsi-drift-hashes.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

perf(hot-reload): thread the optimized tree and IlxGen env to emit only when capture is active
  src/Compiler/Driver/fsc.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

perf(hot-reload): resolve the synthesized-name map slot once per CompilerGlobalState
  src/Compiler/Generated/CompilerGeneratedNameMapState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ArchitectureGuardTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): move tracked-input staleness from ProjectConfig to the session
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/HotReload/TrackedInputs.fs
  src/Compiler/Service/FSharpProjectSnapshot.fs
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/FSharpWorkspace.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadCheckerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor(hot-reload): remove dead duplicate EnC types from ilbinary
  src/Compiler/AbstractIL/ilbinary.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ICE on named-arg indexer setter (#16034) (#19851)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/MethodCalls.fsi
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/IndexedSetterNamedArgTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): serialize generation-tracking tests with other global-store suites
  tests/FSharp.Compiler.Service.Tests/HotReload/EdgeCaseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix GoToDefinition integration tests: poll for async navigation
  vsintegration/tests/FSharp.Editor.IntegrationTests/GoToDefinitionTests.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Remove outdated test
  tests/FSharp.Compiler.ComponentTests/Debugger/MatchEndSequencePoint.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update baselines
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Compare04.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals03.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Match01.fs.RealInternalSignatureOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Match01.fs.RealInternalSignatureOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/StructUnion01.fs.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StaticInit/StaticInit_Struct01.fs.RealInternalSignatureOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StaticInit/StaticInit_Struct01.fs.RealInternalSignatureOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SteppingMatch/SteppingMatch06.fs.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SteppingMatch/SteppingMatch07.fs.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22f.fs.RealInternalSignatureOff.OptimizeOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22f.fs.RealInternalSignatureOn.OptimizeOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22g.fs.RealInternalSignatureOff.OptimizeOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22g.fs.RealInternalSignatureOn.OptimizeOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOff.OptimizeOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOff.OptimizeOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOn.OptimizeOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOn.OptimizeOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction24.fs.RealInternalSignatureOff.OptimizeOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction24.fs.RealInternalSignatureOn.OptimizeOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Tuples/OptionalArg01.fs.OptimizeOn.il.net472.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
  tests/fsharp/Compiler/CodeGen/EmittedIL/ComplexShadowingFunction.debuginfo.expected
  tests/fsharp/Compiler/CodeGen/EmittedIL/Mutation.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/TaskGeneratedCode.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

Update baselines
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Match01.fs.RealInternalSignatureOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_MutualInnerRec.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_MutualInnerRec_CapturedEnv.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_MutualInnerRec_Generic.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_MutualInnerRec_Point2D.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix ParallelCompilation prop passing in msbuild
  src/FSharp.Build/Microsoft.FSharp.Targets
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update parsing for better errors in more places
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/pars.fsy
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Record spread feature intersection conformance tests
  tests/FSharp.Compiler.ComponentTests/Conformance/Spreads/RecordSpreads.fsx
  tests/FSharp.Compiler.ComponentTests/Conformance/Spreads/RecordSpreadsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Spreads/SpreadInlineLib.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix field type unification for nominal record spreads
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Spreads/Expression_Nominal_CoercionsApplied.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Don't duplicate errors for recursive type spreads
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix access mapping in type spreads
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Build the project in GoesToDefinition before navigating
  vsintegration/tests/FSharp.Editor.IntegrationTests/GoToDefinitionTests.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Re-open source file after build in GoesToDefinition
  vsintegration/tests/FSharp.Editor.IntegrationTests/GoToDefinitionTests.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Replace GoToDefinition retry loop with a single invoke + wait for navigation
  vsintegration/tests/FSharp.Editor.IntegrationTests/GoToDefinitionTests.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

try to keep ParallelCompilation optional
  src/FSharp.Build/Microsoft.FSharp.NetSdk.props
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
