Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Link the release note to its PR
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Record the parameter and type parameter counts of a navigable item
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceNavigation.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/NavigateToTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Move the release note to the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Count a named unit argument of a signature as no argument
  src/Compiler/Service/ServiceNavigation.fs
  tests/FSharp.Compiler.Service.Tests/NavigateToTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep one release note, in the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Pass case sensitivity and matched spans with each Navigate To result
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/NavigateToSearchServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Give Navigate To the counts it sorts equal F# matches by
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/NavigateToSearchServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Keep one copy of the release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Classify each Find All References line while the search runs
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Navigation/ClassifiedReferenceLine.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/tests/FSharp.Editor.Tests/ClassifiedReferenceLineTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add a refactoring between 'fun x -> x.Prop' and the '_.Prop' shorthand
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/Refactor/ConvertDotLambda.fs
  vsintegration/src/FSharp.Editor/Telemetry/TelemetryReporter.fs
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertDotLambdaTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the release note to the pull request and move it to a random line of its section
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Share the _. body chain walk between pushUnaryArg and its inverse
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/SyntaxTree/SyntaxTreeOps.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/SyntaxTreeOpsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Write the refactoring test code as multi-line strings
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertDotLambdaTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Ask the compiler which lambda bodies _. can express, and count assignment targets as uses
  vsintegration/src/FSharp.Editor/Refactor/ConvertDotLambda.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertDotLambdaTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add a refactoring between a namespace with one nested module and a root-level module
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/Refactor/ConvertNamespaceModule.fs
  vsintegration/src/FSharp.Editor/Telemetry/TelemetryReporter.fs
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertNamespaceModuleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Write the refactoring test code as multi-line strings
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertNamespaceModuleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove the moved opens when a comment precedes them
  vsintegration/src/FSharp.Editor/Refactor/ConvertNamespaceModule.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertNamespaceModuleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep string lines of inactive #if branches where they are when re-indenting
  vsintegration/src/FSharp.Editor/Refactor/ConvertNamespaceModule.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertNamespaceModuleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Write the refactoring test code as multi-line strings
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ExtractLetBindingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Extract a parenthesized lambda from a caret in its fun ... -> header
  vsintegration/src/FSharp.Editor/Refactor/ExtractLetBinding.fs
  vsintegration/src/FSharp.Editor/Refactor/RefactoringHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ExtractLetBindingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add refactorings that extract a selected expression into a let binding or a literal
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/Refactor/ExtractLetBinding.fs
  vsintegration/src/FSharp.Editor/Refactor/RefactoringHelpers.fs
  vsintegration/src/FSharp.Editor/Telemetry/TelemetryReporter.fs
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ExtractLetBindingTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/RefactorTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Offer Extract to literal on a caret inside a constant, as C# does
  vsintegration/src/FSharp.Editor/Refactor/ExtractLetBinding.fs
  vsintegration/src/FSharp.Editor/Refactor/RefactoringHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ExtractLetBindingTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Mention the caret in the Extract to literal release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Keep assignment targets and inactive string lines out of the extraction's way
  vsintegration/src/FSharp.Editor/Refactor/ExtractLetBinding.fs
  vsintegration/src/FSharp.Editor/Refactor/RefactoringHelpers.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ExtractLetBindingTests.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/RefactorTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Offer the active pattern conversion only for FSharp.Core option cases
  vsintegration/src/FSharp.Editor/Refactor/ConvertActivePatternReturn.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertActivePatternReturnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Write the active pattern test code as multi-line strings
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertActivePatternReturnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add a refactoring between option-returning and struct partial active patterns
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/Refactor/ConvertActivePatternReturn.fs
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertActivePatternReturnTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add the optional parameter refactoring titles to the xlf files
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add a refactoring between option and struct optional member parameters
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/Refactor/ConvertOptionalParameterStruct.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertOptionalParameterStructTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Write the optional parameter test code as multi-line strings
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertOptionalParameterStructTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve option cases and functions by symbol before renaming them
  vsintegration/src/FSharp.Editor/Refactor/ConvertOptionalParameterStruct.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/ConvertOptionalParameterStructTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml
