Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

fix and a test
  src/Compiler/Interactive/fsi.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Scripting/Interactive.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

move test
  tests/FSharp.Compiler.ComponentTests/Language/RegressionTests.fs
  tests/FSharp.Compiler.ComponentTests/Scripting/Interactive.fs
  tests/walkthroughs/DebugStepping/TheBigFileOfDebugStepping.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add emitted IL tests for more kinds of possibly-overflowing mappings
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeArrays.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeArrays.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeLists.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeLists.fs.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update .NET SDK version in global.json (#19149)
  global.json
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Skip tests using nuget from signed builds (#19111)
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/FSharp.Compiler.Private.Scripting.UnitTests/FSharpScriptTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  tests/FSharp.Test.Utilities/Utilities.fs
  tests/fsharp/tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

expand XML docs
  src/Compiler/Interactive/fsi.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Feedback
  buildtools/fsyacc/fsyaccast.fs
  buildtools/fsyacc/fsyaccpars.fs
  src/Compiler/pars.fsy
  src/FSharp.Core/prim-types-prelude.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Migrate from deprecated NuGet.SolutionRestoreManager.Interop to NuGet.VisualStudio 17.14.0 (#19160)
  eng/Versions.props
  vsintegration/tests/FSharp.Editor.IntegrationTests/FSharp.Editor.IntegrationTests.csproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run test-baseline
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Structure/FloatsAndDoubles.fs.RealInternalSignatureOff.il.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Structure/FloatsAndDoubles.fs.RealInternalSignatureOn.il.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

release notes 2
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
Due: none

cleanup
  src/Compiler/Facilities/DiagnosticsLogger.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update tests/FSharp.Compiler.ComponentTests/EmittedIL/TailCalls.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TailCalls.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #19156 (#19157)
  src/Compiler/Interactive/fsi.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeArrays.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeArrays.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeLists.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ComputedCollections/ForNInRangeLists.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/Language/RegressionTests.fs
  tests/walkthroughs/DebugStepping/TheBigFileOfDebugStepping.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/Service/QuickParse.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Prevent tailcalls when pinning locals; add regression coverage (#19148)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Structure/FloatsAndDoubles.fs.RealInternalSignatureOff.il.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Structure/FloatsAndDoubles.fs.RealInternalSignatureOn.il.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TailCalls.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update image to vs2026 in azdo pipeline
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update image to vs2026 in azdo pipeline (#19166)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove VSTest references
  Directory.Build.targets
  eng/Versions.props
  global.json
  tests/Directory.Build.props
  tests/EndToEndBuildTests/BasicProvider/BasicProvider.Tests/BasicProvider.Tests.fsproj
  tests/EndToEndBuildTests/BasicProvider/BasicProvider.Tests/xunit.runner.json
  tests/EndToEndBuildTests/ComboProvider/ComboProvider.Tests/ComboProvider.Tests.fsproj
  tests/EndToEndBuildTests/ComboProvider/ComboProvider.Tests/xunit.runner.json
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/FSharp.Build.UnitTests/xunit.runner.json
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/xunit.runner.json
  tests/FSharp.Compiler.Private.Scripting.UnitTests/FSharp.Compiler.Private.Scripting.UnitTests.fsproj
  tests/FSharp.Compiler.Private.Scripting.UnitTests/xunit.runner.json
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/xunit.runner.json
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/FSharp.Core.UnitTests/xunit.runner.json
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/xunit.runner.json
  tests/fsharp/FSharpSuite.Tests.fsproj
  tests/fsharp/xunit.runner.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove duplicate entry
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix doc
  src/Compiler/Symbols/FSharpDiagnostic.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Change to xunit query syntax
  eng/Build.ps1
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

FSharpDiagnostic: add default severity (#19152)
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/Driver/CompilerDiagnostics.fsi
  src/Compiler/Driver/ScriptClosure.fs
  src/Compiler/Driver/ScriptClosure.fsi
  src/Compiler/Driver/fsc.fs
  src/Compiler/Driver/fsc.fsi
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Interactive/fsi.fs
  src/Compiler/Service/BackgroundCompiler.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/FSharpProjectSnapshot.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/IncrementalBuild.fsi
  src/Compiler/Service/ServiceDeclarationLists.fs
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/Service/TransparentCompiler.fsi
  src/Compiler/Service/service.fs
  src/Compiler/Symbols/FSharpDiagnostic.fs
  src/Compiler/Symbols/FSharpDiagnostic.fsi
  tests/FSharp.Compiler.ComponentTests/CompilerService/AsyncMemoize.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/FSharpDiagnosticTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.Service.Tests/BuildGraphTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/HashIfExpression.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add UMX SlowBuildRepro repository to test matrix
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
Due: none

Migrate tests except FSharp.Editor.IntegrationTests
  tests/Directory.Build.props
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.Private.Scripting.UnitTests/FSharp.Compiler.Private.Scripting.UnitTests.fsproj
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/fsharp/FSharpSuite.Tests.fsproj
  vsintegration/tests/FSharp.Editor.IntegrationTests/FSharp.Editor.IntegrationTests.csproj
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/Salsa/VisualFSharp.Salsa.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove xunit.runner from FSharp.Editor
  tests/FSharp.Compiler.LanguageServer.Tests/FSharp.Compiler.LanguageServer.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/xunit.runner.json
  vsintegration/tests/UnitTests/xunit.runner.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove xunit.runner from vsintegration
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Support built-in dotnet commands in regression test template (#19171)
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update output path for NoneSubstituteTextFiles target to include subdirectory
  FSharpBuild.Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add support for triple quoted ASCII byte string
  src/Compiler/lex.fsl
  tests/fsharp/Compiler/Conformance/BasicGrammarElements/BasicConstants.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Add support for triple quoted ASCII byte string (#19182)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/lex.fsl
  tests/fsharp/Compiler/Conformance/BasicGrammarElements/BasicConstants.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix preferreduilang switch leaking into fsi.CommandLineArgs (#19151)
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Scripting/PreferredUiLangTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix syntax highlighting for optional parameters with ? prefix (#19162)
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  src/Compiler/Service/QuickParse.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/QuickParseTests.fs
  tests/FSharp.Compiler.Service.Tests/TokenizerTests.fs
  vsintegration/tests/FSharp.Editor.Tests/SemanticClassificationServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply patch from /run ilverify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
