Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Avoid redundant allocations in Tokenizer.fs hot paths
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cover the script debounce and dependent-version checks with tests
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/ProjectOptionsReactorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Invalidate project options asynchronously and debounce script updates
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Clear single-file options through the reactor
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Reduce allocations in Md5Hasher and fix broken ThreadLocal<MD5> reuse
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Facilities/Hashing.fs
  src/Compiler/Facilities/Hashing.fsi
  src/Compiler/Facilities/prim-lexing.fs
  src/Compiler/Service/FSharpProjectSnapshot.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep only the netstandard2.0 MD5 path in Md5Hasher
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Facilities/Hashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rent the exact UTF8 byte count rather than the upper bound
  src/Compiler/Facilities/Hashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep the project check out of the Object Browser's background task
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserLibrary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Populate Object Browser and Class View for F# projects
  docs/ide/ObjectBrowser-Integration.md
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/Constants.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/NavInfo.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserDescription.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserItems.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserLibrary.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserList.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserModel.fs
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/ObjectBrowserListTests.fs
  vsintegration/tests/FSharp.Editor.Tests/ObjectBrowserNavInfoTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the Object Browser release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Address review: stale caches on ProjectChanged and reference nav identity
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserItems.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserLibrary.fs
  vsintegration/tests/FSharp.Editor.Tests/ObjectBrowserListTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Give FSharpPackage its own VSPackage resource set
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/VSPackage.resx
  vsintegration/src/FSharp.Editor/xlf/VSPackage.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.de.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.es.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.it.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Seed VSPackage translations and document the resource-set split
  vsintegration/src/FSharp.Editor/VSPackage.resx
  vsintegration/src/FSharp.Editor/xlf/VSPackage.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.de.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.es.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.it.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Describe resource 100 as the language service's name
  vsintegration/src/FSharp.Editor/VSPackage.resx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes entry for VSPackage.resx fix
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Parallelize Copilot symbol lookup and cut allocations on the hot cache path
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the Copilot mention picker release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Offer F# declarations to the Copilot chat "#" mention picker
  docs/release-notes/.VisualStudio/18.vNext.md
  eng/Packages.props
  vsintegration/src/FSharp.Editor/Common/Constants.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Answer the Copilot mention picker from what is already parsed
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Navigation/NavigateToSearchService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Format the Copilot context provider
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Pipe items into Seq.map instead of applying it prefix-style
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Answer the picker before it knows what is being mentioned
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Match declaration names over spans instead of building them
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Walk the solution once for both the picker and a picked mention
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Rank and label F# declarations in the picker the way Copilot does C#
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Throttle through FSharp.Core's Task.parallelDoLimit
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Answer the mention picker with the open files first
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Harden Copilot provider registration and widen one-line snippets
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Slice source text instead of copying it line by line for outlining
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/Service/ServiceStructure.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep double backticks in a mention's fully qualified name
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the copied outlining work back out of this pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/Service/ServiceStructure.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Track comment lines by number instead of storing their text
  src/Compiler/Service/ServiceStructure.fs
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Take the main thread before registering the Copilot context provider
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Collect subscriptions into an array, not a list
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Trace Copilot context-provider registration through the output pane
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take the span ordinal helpers from illib instead of copying them
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preallocate the open-documents bucket in tiers by its known upper bound
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert "Take the span ordinal helpers from illib instead of copying them"
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "Compare spans through ordinal helpers instead of spelling StringComparison out"
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Take Copilot picker focus from Copilot's own document-context service
  vsintegration/src/FSharp.Editor/Copilot/ActiveDocumentTracker.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/EditorFocus.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml
