Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Add AllowOverloadOnReturnType call-site test, fix TypeHashing bootstrap
  src/Compiler/Utilities/TypeHashing.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

drop range arithmetics
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FSharpType: add more predefined type checks
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/Symbols.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

Fix codegen crash for unsolved SRTP constraints on rigid typars
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add 9 witness quotation tests for RFC FS-1043 new functionality
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Surface area
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete TEST_ORPHANS.md
  TEST_ORPHANS.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestions from code review
  src/Compiler/Checking/NameResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix FSComp.txt error code sorting and update ILVerify baselines
  src/Compiler/FSComp.txt
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ILVerify baselines: add entries to netstandard2.0, revert net10.0
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix ILVerify baselines: correct ServiceLexing entries for all 4 configs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix ILVerify net10.0 baselines: remove shifted original offsets
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

remove catch all 3511 nowarns
  src/FSharp.Core/FSharp.Core.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TasksDynamic.fs
  vsintegration/src/FSharp.Editor/CodeFixes/CodeFixHelpers.fs
  vsintegration/src/FSharp.Editor/CodeFixes/ImplementInterface.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix handling outer expandVars ("The resumable code value(s) 'code' does not have a definition.")
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/LowerStateMachines.fs
  src/Compiler/Optimize/LowerStateMachines.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix double wrapped Delay in CancellableTask
  vsintegration/src/FSharp.Editor/Common/CancellableTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix fantomas
  vsintegration/src/FSharp.Editor/CodeFixes/ImplementInterface.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Add release note for inline-to-inlay hints rename
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Add breaking change regression tests for RFC FS-1043 top 5 scenarios
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add RFC FS-1043 proposed changes document with original for diffing
  docs/RFC_Changes.md
  docs/RFC_Original.md
Due: none

fix range logic for x.IsCaseA.ToString() chain + extended testing
  src/Compiler/Checking/NameResolution.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add unary negate, multiply, delegate compat tests for RFC FS-1043
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

DRAFT for console encoding in fsi tests
  tests/FSharp.Test.Utilities/TestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Support #exit;; as alias to #quit;; in fsi
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.Private.Scripting.UnitTests/DependencyManagerInteractiveTests.fs
  tests/fsharp/core/printing/output.1000.stdout.bsl
  tests/fsharp/core/printing/output.200.stdout.bsl
  tests/fsharp/core/printing/output.47.stdout.bsl
  tests/fsharp/core/printing/output.multiemit.stdout.bsl
  tests/fsharp/core/printing/output.off.stdout.bsl
  tests/fsharp/core/printing/output.stdout.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release note for #exit directive support
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

Update TestFramework.fs
  tests/FSharp.Test.Utilities/TestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

extract scatterPartitioned
  src/FSharp.Core/array.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/ArrayModule.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/CollectionModulesConsistency.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix net11 scouting CI failures: baselines and test harness
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/LinqCount.fsx.realInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/LinqCount.fsx.realInternalSignatureOn.il.netcore.bsl
  tests/FSharp.Test.Utilities/CompilerAssert.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net11.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net11.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Disable R2R for fsi bootstrap: crossgen2 net11 preview crash
  src/fsi/fsiProject/fsi.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Make baselines TFM-agnostic for future net version bumps
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/LinqCount.fsx.realInternalSignatureOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/LinqCount.fsx.realInternalSignatureOn.il.netcore.bsl
  tests/FSharp.Test.Utilities/ILChecker.fs
  tests/ILVerify/ilverify.ps1
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netcoreapp.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netcoreapp.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add LanguageFeature.ImprovedByRefLikeEscapeAnalysis feature flag (preview)
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add ReadOnlySpan, inref, MemoryMarshal, and nested scope byref safety tests
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add C# interop tests for custom IsByRefLike and struct receiver escape analysis
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Improved byref-like escape analysis for ref fields
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/E_ReturnSpanFromLocalByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/E_ReturnSpanFromLocalByref02.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ReturnSpanFromArray.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ReturnSpanFromParamByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/UseSpanFromLocalByref.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Deduplicate C# interop test sources for scoped constructor and generic escape tests
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add C# interop tests for scoped ref constructors and fix hasReceiver for constructors
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Code quality improvements in PostInferenceChecks.fs
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
