Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Apply remaining changes
  .executor-pid
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove executor artifact
  .executor-pid
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update tests and regen localization for FS3888 recursive-inline diagnostic
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/RecursiveSafetyAnalysis/RecursiveSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Clarify inheritResolutionFailed comment: passes are required, not accidental
  src/Compiler/Checking/CheckBasics.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address #19810 review: HasFields() encapsulation + @-in-member-name codegen test
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/LexicalAnalysis/IdentifiersAndKeywords.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #16419 at source: silence the seq implicit-yield classification probe
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review: Queue worklist, doc comment, tests; keep inline-only guard
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/RecursiveSafetyAnalysis/RecursiveSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for FS3890 recursive-inline diagnostic
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Renumber test expectations FS3888 -> FS3890
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/RecursiveSafetyAnalysis/RecursiveSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Unit arg
  src/Compiler/CodeGen/IlxGen.Delegates.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Facilities/LanguageFeatures.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateCustomType.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateInstanceMethod.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateKnownFunction.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateKnownFunction.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegatePartialApplication.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegatePartialApplication.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStaticMethod.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStaticMethod.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitArg.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitArg.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitArg.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitArg.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitArg.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FS1113: restore accessibility check for inline members (fix #17899 regression)
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/ClassTypes/MemberDeclarations/MemberDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CI: restore serviced Roslyn via the 'DevDiv - VS package feed' service connection + enable insertion
  NuGet.Config
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

revert ToString additions to fsharp.core types
  src/FSharp.Core/prim-types.fs
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Core/ResultTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove stale FSharp.Core release note for the reverted Result/Choice ToString
  docs/release-notes/.FSharp.Core/10.0.300.md
Due: none

Force F# FullSolution background analysis in integration tests
  vsintegration/tests/FSharp.Editor.IntegrationTests/CodeActionTests.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Detect recursive inline bindings and emit FS3888 diagnostic (#19803)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  src/Compiler/FSComp.txt
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/RecursiveSafetyAnalysis/RecursiveSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3010815
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3010815
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insert release notes at a random line to avoid merge conflicts
  .github/skills/release-notes/SKILL.md
  .github/skills/release-notes/pick-insert-line.fsx
Due: none

Add regression test for cross-assembly equality of a private-constructor record (#17773)
  tests/FSharp.Compiler.ComponentTests/Conformance/GeneratedEqualityHashingComparison/Basic/Basic.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test quoted representation of record constructor matches { } syntax
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/QuotationRenderingTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/RecordConstructor.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Extension methods
  src/Compiler/CodeGen/IlxGen.Delegates.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegatePartialApplication.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegatePartialApplication.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegatePartialApplication.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegatePartialApplication.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegatePartialApplication.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore product-CI green: keep devdiv feed out of NuGet.Config (CFS)
  NuGet.Config
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Value types
  src/Compiler/CodeGen/IlxGen.Delegates.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reformat
  src/Compiler/CodeGen/IlxGen.Delegates.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

ASP.NET smoke test
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNegativeCases.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Replace opaque positional bool with named DU in NicePrint method rendering
  src/Compiler/Checking/NicePrint.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review: use dedicated IsParameter flag and drop unneeded MSB3277 suppression
  src/Compiler/Checking/CheckIncrementalClasses.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/fsc/fsc.targets
  src/fsi/fsi.targets
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "Revert defaultof elimination: unsafe for SRTP witness typars"
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Observations.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/UncheckedDefaultofOptimization.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Consolidate defaultof tests; keep ilzero effect guard sound
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Observations.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/UncheckedDefaultofOptimization.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Render declaring type for C#-style extensions in overload errors (#19925)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/NicePrint.fsi
  src/Compiler/Driver/CompilerDiagnostics.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/Issue9838Tests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Specialize FS0027 for function/method parameters (#19866)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckIncrementalClasses.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/FSStrings.resx
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/xlf/FSStrings.cs.xlf
  src/Compiler/xlf/FSStrings.de.xlf
  src/Compiler/xlf/FSStrings.es.xlf
  src/Compiler/xlf/FSStrings.fr.xlf
  src/Compiler/xlf/FSStrings.it.xlf
  src/Compiler/xlf/FSStrings.ja.xlf
  src/Compiler/xlf/FSStrings.ko.xlf
  src/Compiler/xlf/FSStrings.pl.xlf
  src/Compiler/xlf/FSStrings.pt-BR.xlf
  src/Compiler/xlf/FSStrings.ru.xlf
  src/Compiler/xlf/FSStrings.tr.xlf
  src/Compiler/xlf/FSStrings.zh-Hans.xlf
  src/Compiler/xlf/FSStrings.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/AssignmentToParameterErrorTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Do not ReadyToRun-publish the proto tools on ppc64le
  Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3011517
  src/Compiler/xlf/FSStrings.cs.xlf
  src/Compiler/xlf/FSStrings.de.xlf
  src/Compiler/xlf/FSStrings.es.xlf
  src/Compiler/xlf/FSStrings.fr.xlf
  src/Compiler/xlf/FSStrings.it.xlf
  src/Compiler/xlf/FSStrings.ja.xlf
  src/Compiler/xlf/FSStrings.ko.xlf
  src/Compiler/xlf/FSStrings.pl.xlf
  src/Compiler/xlf/FSStrings.pt-BR.xlf
  src/Compiler/xlf/FSStrings.ru.xlf
  src/Compiler/xlf/FSStrings.tr.xlf
  src/Compiler/xlf/FSStrings.zh-Hans.xlf
  src/Compiler/xlf/FSStrings.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review: spread sparse-section inserts and flag VNEXT/--file divergence
  .github/skills/release-notes/SKILL.md
  .github/skills/release-notes/pick-insert-line.fsx
Due: none

Short-circuit exprReferencesProtectedILField fold once a hit is found
  src/Compiler/Checking/AccessibilityLogic.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address PR review: document GetSlice/open-type classification heuristics
  src/Compiler/Service/SemanticClassification.fs
  src/Compiler/Service/ServiceAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review feedback: harden provided-type cache coherence, strengthen guard test, document embedding path
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/Utilities/lib.fs
  src/Compiler/Utilities/lib.fsi
  tests/FSharp.Compiler.Service.Tests/ManglingNameOfProvidedTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply fantomas formatting to InnerLambdasToTopLevelFuncs.fsi
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
