Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Add IL-level classifyILAttrib + (|ILAttribDecoded|_|) AP, migrate 9 TryDecodeILAttribute sites
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Delete attrib_IlExperimentalAttribute (zero callers)
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(samples): add runtime-async CE library sample with attribute as impl detail
  docs/samples/runtime-async-library/README.md
  docs/samples/runtime-async-library/RuntimeAsync.Demo/Program.fs
  docs/samples/runtime-async-library/RuntimeAsync.Demo/RuntimeAsync.Demo.fsproj
  docs/samples/runtime-async-library/RuntimeAsync.Library/Api.fs
  docs/samples/runtime-async-library/RuntimeAsync.Library/RuntimeAsync.Library.fsproj
  docs/samples/runtime-async-library/RuntimeAsync.Library/RuntimeTaskBuilder.fs
  docs/samples/runtime-async-library/kill-dotnet.ps1
  docs/samples/runtime-async-library/kill-dotnet.sh
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(samples): add ILDasm.targets for post-build IL disassembly
  docs/samples/runtime-async-library/ILDasm.targets
  docs/samples/runtime-async-library/RuntimeAsync.Demo/RuntimeAsync.Demo.fsproj
  docs/samples/runtime-async-library/RuntimeAsync.Library/RuntimeAsync.Library.fsproj
Due: none

Use `char` overload of `IndexOf`
  src/FSharp.Core/printf.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update release notes
  docs/release-notes/.FSharp.Core/10.0.300.md
Due: none

fix(compiler): detect AwaitAwaiter/UnsafeAwaitAwaiter in async body analysis
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(samples): add generic awaitable Bind, ConfigureAwait, and Task.Yield support
  docs/samples/runtime-async-library/RuntimeAsync.Demo/Program.fs
  docs/samples/runtime-async-library/RuntimeAsync.Library/Api.fs
  docs/samples/runtime-async-library/RuntimeAsync.Library/RuntimeTaskBuilder.fs
Due: none

docs(samples): update README for generic awaitable support and new examples
  docs/samples/runtime-async-library/README.md
Due: none

feat(compiler): add RuntimeAsyncAttribute to TcGlobals and update doc comment
  src/Compiler/TypedTree/TcGlobals.fs
  src/FSharp.Core/runtimeAsync.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(compiler): implicit NoDynamicInvocation for RuntimeAsync-marked CE builders
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/TcGlobals.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(compiler): gate runtime-async flag and optimizer inlining behind RuntimeAsyncAttribute
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ILVerify: avoid filter blocks inside finally handlers
  src/Compiler/CodeGen/IlxGen.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add ILGen codegen benchmarks comparing SDK vs local compiler
  tests/benchmarks/CompiledCodeBenchmarks/ILGenCodegen/BENCHMARK_RESULTS.md
  tests/benchmarks/CompiledCodeBenchmarks/ILGenCodegen/CallVirtOnValueType.fs
  tests/benchmarks/CompiledCodeBenchmarks/ILGenCodegen/CastThenBr.fs
  tests/benchmarks/CompiledCodeBenchmarks/ILGenCodegen/FilterInFinally.fs
  tests/benchmarks/CompiledCodeBenchmarks/ILGenCodegen/ILGenCodegen.fsproj
  tests/benchmarks/CompiledCodeBenchmarks/ILGenCodegen/Program.fs
  tests/benchmarks/CompiledCodeBenchmarks/ILGenCodegen/StelemLdelem.fs
  tests/benchmarks/CompiledCodeBenchmarks/ILGenCodegen/TaskMergeSources.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

remove superflous comments
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix ILVerify errors: callvirt on value types and interface join point casts
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/StructDU.fs.il.netcore.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix source-level ILVerify errors: HashMultiMap interface upcast and Range struct GetHashCode
  src/Compiler/Utilities/HashMultiMap.fs
  src/Compiler/Utilities/range.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix witness field misalignment in state machine struct initialization
  src/Compiler/CodeGen/IlxGen.fs
  tests/ILVerify/ilverify_FSharp.Core_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Core_Debug_netstandard2.1.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netstandard2.1.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "Fix source-level ILVerify errors: HashMultiMap interface upcast and Range struct GetHashCode"
  src/Compiler/Utilities/HashMultiMap.fs
  src/Compiler/Utilities/range.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for ILVerify codegen fixes
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

fantomas
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(compiler): prevent cross-module inlining of all runtime-async functions
  docs/samples/runtime-async-library/RuntimeAsync.Demo/RuntimeAsync.Demo.fsproj
  docs/samples/runtime-async-library/RuntimeAsync.Library/RuntimeAsync.Library.fsproj
  docs/samples/runtime-async-library/RuntimeAsync.Library/RuntimeTaskBuilder.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TcGlobals.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix flaky Project25 TP test by replacing FSharp.Data NuGet with TestTP (#19364)
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Compiler.Service.Tests/MultiProjectAnalysisTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Skip serialization members for FSharp.Core exceptions
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restrict Issue_19068 struct delegate byref test to NET_CORE_APP
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Closures.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix MethodDefKey equality and restrict IWSAM test to NET_CORE_APP
  src/Compiler/AbstractIL/ilwrite.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Signatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix flaky ModuleReaderCancellationTests on MacOS
  tests/FSharp.Compiler.Service.Tests/ModuleReaderCancellationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test(runtimeasync): update tests and docs for [<RuntimeAsync>] architecture
  docs/samples/runtime-async-library/README.md
  tests/FSharp.Compiler.ComponentTests/EmittedIL/MethodImplAttribute/MethodImplAttribute.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/RuntimeTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refine FSharp.Core exception serialization: keep deserialization ctor, add test
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Exceptions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Audit cleanup: hasFlag helper, CheckFlag dedup, ILAttributes extension, docs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(compiler): gate runtime-async body analysis and optimizer behind RuntimeAsyncAttribute
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/MethodImplAttribute/MethodImplAttribute.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix Get-PrBuildIds.ps1 reporting SUCCESS while builds in progress (#19313)
  .github/skills/pr-build-status/scripts/Get-PrBuildIds.ps1
Due: none

Fix flaky Project25 TP test by replacing FSharp.Data NuGet with TestTP (#19364) (#19373)
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Compiler.Service.Tests/MultiProjectAnalysisTests.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

add remarks to .md files
  docs/RFC_Changes.md
  docs/RFC_Original.md
  docs/srtp-guide.md
Due: none

Revert surface area baseline: no GetObjectData on FSharp.Core exceptions
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update MSBuild, Roslyn, and System.* dependencies
  FSharpBuild.Directory.Build.targets
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI baseline mismatches from codegen changes
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/StructDU.fs.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TailCalls.fs
  tests/ILVerify/ilverify.ps1
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add MethInfoHasWellKnownAttribute for O(1) checks on overload resolution hot path
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

more tests added
  docs/RFC_Changes.md
  docs/srtp-guide.md
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/ExtensionConstraintsTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/AllowOverloadOnReturnType.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/BasicExtensionOperators.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ExtensionAccessibility.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/ExtensionPrecedence.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/IssueRegressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/ExtensionConstraints/testFiles/WeakResolution.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
