Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Fixup #3: Fix unnamedArgsRule to use flat comparison list for cross-group dominance
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: Code quality and perf improvements for overload resolution
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #2: Add MoreConcrete, function-type, and tuple-type test coverage
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #2: Deduplicate tests, absorb standalone Fact tests into moreConcreteTestCases Theory
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove inconsistent ignore from verifyMethodDebugPointsInRange helper
  tests/FSharp.Compiler.ComponentTests/Debugger/DebuggerTestHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Clean up excessive comments: remove banner separators, redundant xmldoc, and echo comments
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/SyntaxTree/PrettyNaming.fs
  src/Compiler/SyntaxTree/PrettyNaming.fsi
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/FindReferences.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
  vsintegration/src/FSharp.Editor/Classification/ClassificationService.fs
  vsintegration/src/FSharp.Editor/Common/Pervasive.fs
  vsintegration/src/FSharp.Editor/LanguageService/ProjectFiltering.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: Perf optimizations and test coverage improvements
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove RegisterUnionCaseTesterForProperty from public API surface
  src/Compiler/Checking/NameResolution.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix PERF and TEST-CODE-QUALITY verifier issues
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix fantomas formatting in OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply patch from /run fantomas
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI: update XLF files, fix formatting, add Language release note
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/OverloadResolutionCache.fs
  src/Compiler/Checking/OverloadResolutionCache.fsi
  src/Compiler/Utilities/Caches.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix script to prevent global.json spill
  azure-pipelines-PR.yml
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add DIM slot coverage tests: partial filtering (B1) and explicit IA declaration (B7)
  tests/FSharp.Compiler.ComponentTests/Interop/DIMSlotCoverageTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix DIM tests: correct error codes, remove duplicates, match DoD
  tests/FSharp.Compiler.ComponentTests/Interop/DIMSlotCoverageTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

draft rfc
  docs/rfcs/FS-XXXX-most-concrete-tiebreaker.md
Due: none

Fix CI failures from orphan test recovery
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/CliProcessTests.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/Fsc/pdb/Pdb.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/target/target.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCliTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ImplementationFilesAndSignatureFiles/CheckingOfImplementationFiles.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/NameResolution/RequireQualifiedAccess/RequireQualifiedAccess.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/MultiTargeting.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/TypeForwardingHelpers.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypesAndTypeConstraints/TypesAndTypeConstraints.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/RealInternalSignature/ClassTypeVisibility.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/RealInternalSignature/RealInternalSignature.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/DuplicateExtensionMemberTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Import/ImportTests.fs
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
  tests/FSharp.Compiler.ComponentTests/Language/ExtensionMethodTests.fs
  tests/FSharp.Compiler.ComponentTests/Misc.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix extraction: set workingDirectory to BinaryLogs to escape global.json
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove Description field from TiebreakRule record
  src/Compiler/Checking/OverloadResolutionRules.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Require implementation for explicitly declared interfaces with external DIM coverage
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodOverrides.fs
  src/Compiler/Checking/MethodOverrides.fsi
  tests/FSharp.Compiler.ComponentTests/Interop/DIMSlotCoverageTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix |> MyType. usage
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI: update PerfTests.fs tuple destructuring + format
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/PerfTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Wrap paramDataCache, srtpCache, and decidingRuleCache with voption
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Extract computeConcretenessWarnings helper from GetMostApplicableOverload
  src/Compiler/Checking/ConstraintSolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Debug.Assert ORPA test verifying two-arg overload selection
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FSharp.Data: resolve via NuGet + stage DLLs side-by-side for type provider
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/NuGet.Config
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes entry for PR #19267
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

Add CI fixup sprint for release notes
  .tools/ralph/sprints/99_CI_Fixup_ReleaseNotes.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add test pinning ORPA behavior on C# indexed properties
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FS1182: remove unused cfg binding in runToolProcess
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix verifier issues: remove tracked sprint file, add missing IntermediateOutputPath field
  .github/skills/fsharp-diagnostics/tests/DesignTimeBuildTests.fs
  .tools/ralph/sprints/99_CI_Fixup_ReleaseNotes.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report error 3586 when OverloadResolutionPriority is applied to override member
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Commit sprints 2-4: sealed DIM, event DIM, obj-expr diamond tests; reduce nesting, remove TcGlobals qualification, defer allMatchedVirts, tighten assertion
  src/Compiler/Checking/MethodOverrides.fs
  tests/FSharp.Compiler.ComponentTests/Interop/DIMSlotCoverageTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Virtual Base ORPA inheritance test
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/ORPTestRunner.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix TypeForwardingHelpers net472 build: guard AssemblyLoadContext with NETCOREAPP
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/TypeForwardingHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use dnceng managed pool for Linux CI jobs
  azure-pipelines-PR.yml
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Skip 2 Pdb tests that require filesystem setup unavailable in test infrastructure
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/Fsc/pdb/Pdb.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

adjust baseline
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.nullness_disabled.err.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix 2 Pdb tests: use temp dirs with absolute --pdb paths instead of skipping
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/Fsc/pdb/Pdb.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
