Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals windows.vs2022.amd64.open
      timeoutInMinutes: 60
      steps:
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Apply patch from /run ilverify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

carry tailCall flag in context
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

emit tailcall method versions
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add basictest stub
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

handle "do!"
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fsi
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

update bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix unrelated test that was silently skipped because of CompilerAssert bug
  tests/FSharp.Compiler.ComponentTests/resources/tests/Conformance/Printing/WidthForAFormatter.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Reuse `SynBinding` to model `and!`
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
  src/Compiler/Service/FSharpParseFileResults.fs
  src/Compiler/Service/ServiceInterfaceStubGenerator.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fsi
  tests/service/data/SyntaxTree/ComputationExpression/MultipleSynExprAndBangHaveRangeThatStartsAtAndAndEndsAfterExpression.fs.bsl
  tests/service/data/SyntaxTree/ComputationExpression/SynExprAndBangRangeStartsAtAndAndEndsAfterExpression.fs.bsl
  tests/service/data/SyntaxTree/Expression/SynExprLetOrUseBangContainsTheRangeOfTheEqualsSign.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang 14.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 01.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 02.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 03.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 04.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 05.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 06.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 07.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 08.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 09.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 10.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 11.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 12.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 13.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 14.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 16.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 17.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 18.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix runFsi not picking up source from file
  tests/FSharp.Compiler.ComponentTests/resources/tests/Conformance/Printing/WidthForAFormatter.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test yield!
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update baselines
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

test try ... with
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update baseline
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test the coroutines sample
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

another
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Preserve ilFields variable in function scope, but sort locally for enum nice printing case
  src/Compiler/Checking/NicePrint.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

remove unused mEquals
  src/Compiler/SyntaxTree/ParseHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

update baselines
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

more testing
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

add lang feature
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  docs/release-notes/.Language/preview.md
Due: none

Update src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Check if the module appears to be incorrectly nested based on indentation
  src/Compiler/pars.fsy
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 01.fs
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 01.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 02.fs
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 02.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 03.fs
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 03.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 04.fs
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 04.fs.bsl
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 05.fs
  tests/service/data/SyntaxTree/Type/Module Inside Type Defn 05.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

one more test
  tests/service/data/SyntaxTree/Type/Union 08.fs
  tests/service/data/SyntaxTree/Type/Union 08.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

move TcOpen to CheckExpressions
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckDeclarations.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

prototype
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
  src/Compiler/Service/FSharpParseFileResults.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/SyntaxTree/LexFilter.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

desugar do! to YieldFromFinal if necessary
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[WIP] Support --typecheck-only for fsi run (just typecheck, no execution) (#18687)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Driver/CompilerOptions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Interactive/fsi.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Scripting/TypeCheckOnlyTests.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net9.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
  tests/fsharpqa/Source/CompilerOptions/fsi/help/help40-nologo.437.1033.bsl
  tests/fsharpqa/Source/CompilerOptions/fsi/help/help40.437.1033.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix IsByRefLikeAttribute types being incorrectly suppressed in completion lists (#18784)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  tests/FSharp.Compiler.Service.Tests/CompletionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add more negative tests
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use `Synbinding` to model `and!` (#18805)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
  src/Compiler/Service/FSharpParseFileResults.fs
  src/Compiler/Service/ServiceInterfaceStubGenerator.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/Service/ServiceParsedInputOps.fs
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fs
  src/Compiler/SyntaxTree/SyntaxTrivia.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.release.bsl
  tests/service/data/SyntaxTree/ComputationExpression/MultipleSynExprAndBangHaveRangeThatStartsAtAndAndEndsAfterExpression.fs.bsl
  tests/service/data/SyntaxTree/ComputationExpression/SynExprAndBangRangeStartsAtAndAndEndsAfterExpression.fs.bsl
  tests/service/data/SyntaxTree/Expression/SynExprLetOrUseBangContainsTheRangeOfTheEqualsSign.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang 14.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 01.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 02.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 03.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 04.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 05.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 06.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 07.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 08.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 09.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 10.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 11.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 12.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 13.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 14.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 16.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 17.fs.bsl
  tests/service/data/SyntaxTree/SynType/Typed LetBang AndBang 18.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Tests: fix runFsi not picking up source from file (#18806)
  tests/FSharp.Compiler.ComponentTests/resources/tests/Conformance/Printing/WidthForAFormatter.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: the later line can have more indents
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/pars.fsy
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: ce
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src/Compiler, src/fsc, src/FSharp.Core, src/FSharp.Build, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
