Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Add recursive inline member regression coverage
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Handle trait-witness inline regression
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RecursiveInlineMemberDependencies.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix optimizer ordering regressions
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reduce F# editor background CPU load by gating expensive analyzers to active document only
  vsintegration/src/FSharp.Editor/Diagnostics/ActiveDocumentDetection.fs
  vsintegration/src/FSharp.Editor/Diagnostics/SimplifyNameDiagnosticAnalyzer.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedDeclarationsAnalyzer.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedOpensDiagnosticAnalyzer.fs
  vsintegration/src/FSharp.Editor/Hints/FSharpInlayHintsService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix duplicate ActiveDocumentDetection.fs entry in FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Gate expensive F# background analyzers to the active document only
  vsintegration/src/FSharp.Editor/Diagnostics/ActiveDocumentDetection.fs
  vsintegration/src/FSharp.Editor/Diagnostics/SimplifyNameDiagnosticAnalyzer.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedDeclarationsAnalyzer.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedOpensDiagnosticAnalyzer.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/Hints/FSharpInlayHintsService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix inline member optimization ordering
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore recursive optimizer dependency ordering
  src/Compiler/Optimize/Optimizer.fs
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update AOT trimming size baselines
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Perf: async isProjectInvalidated + debounce script updateProjectOptions
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix: keep updateProjectOptions debounce as plain async to avoid FS3401 resumable-code composition error; async invalidation via cancellableTask and stable emitCache for C# PE references
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Clarify recursive inline release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Insertion: wire the automated VS insertion PR (MicroBuildInsertVsPayload -> rel/d15.9), gated on _InsertVS
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Insertion: enable the automated VS insertion PR (_InsertVS=true) -> open F# 15.9 PR against rel/d15.9
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Insertion: revert _InsertVS to false after the deliverable PR (devdiv/VS #765497)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add OverloadResolutionRules + test Compile entries missed in merge staging
  src/Compiler/FSharp.Compiler.Service.fsproj
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix post-merge integration: FS3262 nullness + release-notes diff
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Symbols/XmlDocInheritance.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update target framework and PDB path in tests
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bump VS transitive package pins to satisfy Roslyn 5.11.0 dependencies
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore Arcade 10 NuGetRepack UsingTask for downgraded Arcade SDK
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI failures: make Arcade SDK version coherent with flowed eng/common
  eng/Version.Details.props
  eng/Version.Details.xml
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Secure release-note checks for fork pull requests (#20081)
  .github/workflows/check_release_notes.yml
Due: none

Clean up #20058 per-project vuln workarounds via CPM transitive pinning
  eng/Packages.props
  eng/Versions.props
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
  src/fsc/fscProject/fsc.fsproj
  src/fsi/fsiProject/fsi.fsproj
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix false prompt-injection alarm on PR Tooling Safety Check bypass labels
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Update test project to net11 (#20104)
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix Oxpecker regression test: reference TFM-appropriate local FSharp.Core
  UseLocalCompiler.Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix inverted candidate attribution in FS0041 concreteness detail
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix conflated FS0041 concreteness positions for multi-parameter overloads
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Promote overload-resolution RFCs to publishable FS-1340 / FS-1338
  docs/rfcs/FS-1338-OverloadResolutionPriorityAttribute.md
  docs/rfcs/FS-1340-most-concrete-tiebreaker.md
  docs/rfcs/FS-XXXX-most-concrete-tiebreaker.md
Due: none

Pin transitive MessagePack to 2.5.302 in CLSP Framework Proxy to fix NU1902/NU1903
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Pin transitive MessagePack to patched 2.5.302 in Framework.Proxy to fix NU1902/NU1903
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Resolve codeflow conflict: flow VMR build 325432 (fa94693)
  Build.cmd
  NuGet.config
  build.sh
  eng/Build.ps1
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/build.sh
  src/FSharp.Build/FSharp.Build.fsproj
  src/fsc/fsc.targets
  src/fsi/fsi.targets
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/fsharpqa/testenv/src/HostedCompilerServer/HostedCompilerServer.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update OpenTelemetry packages to 1.15.3 to fix NU1902 audit failures
  src/FSharp.VisualStudio.Extension/FSharp.VisualStudio.Extension.csproj
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Suppress NuGet audit advisories for test-only OpenTelemetry 1.11.2
  Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add VS release note for OpenTelemetry update
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Pin MessagePack to patched 2.5.302 in CLaSP Framework Proxy to fix NU1902/NU1903 audit
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Serialize ScriptDiagnosticsTests to fix flaky #r resolution failure (Bug4861)
  tests/FSharp.Compiler.Service.Tests/ErrorList/ScriptDiagnosticsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bump Microsoft.VisualStudio.Platform.VSEditor to 18.9.179 to match Text.* pulled by Roslyn 5.11
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move to Roslyn's unified ExternalAccess library (#20099)
  docs/release-notes/.VisualStudio/18.vNext.md
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
  vsintegration/Directory.Build.targets
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml
