Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Sprint 6 Fixup: Address CODE-QUALITY, HONEST-ASSESSMENT, NO-LEFTOVERS, TEST-CODE-QUALITY, TEST-COVERAGE verifier feedback
  .github/skills/fsharp-diagnostics/SKILL.md
  .github/skills/fsharp-diagnostics/scripts/get-fsharp-errors.sh
  .github/skills/fsharp-diagnostics/server/FSharpDiagServer.fsproj
  .github/skills/fsharp-diagnostics/server/Server.fs
  .github/skills/fsharp-diagnostics/tests/DesignTimeBuildTests.fs
  .github/skills/fsharp-diagnostics/tests/ProjectManagerTests.fs
  .github/skills/fsharp-diagnostics/tests/ResolveProjectTests.fs
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 7 Fixup: Address PERF and TEST-COVERAGE verifier feedback
  .github/skills/fsharp-diagnostics/server/ProjectManager.fs
  .github/skills/fsharp-diagnostics/server/Server.fs
  .github/skills/fsharp-diagnostics/tests/DesignTimeBuildTests.fs
  .github/skills/fsharp-diagnostics/tests/ProjectManagerTests.fs
  .github/skills/fsharp-diagnostics/tests/ResolveProjectTests.fs
Due: none

Link release notes to originating PRs
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

Extract p_nullnessB helper to reduce repetition in p_ty2
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add inline comments for B-stream nullness tag constants
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

AllowNullLiteral not warn if used right after .ctor call
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

After assignment, strip KnownFromConstructor
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

cleanup
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/CodeGen/EraseClosures.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Symbols/Exprs.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions.fs
  tests/FSharp.Compiler.Service.Tests/ExprTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Ident.MakeSynthetic() helper and refactor call sites
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix query shadowing: group by Val.Range instead of name in transferVarSpaceReferences
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: consistent comments, shouldFail usage, sortBy test coverage
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: remove syntheticPat dead code, revert .gitignore, parameterize tests with Theory/MemberData and withWarnOn
  .gitignore
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: remove redundant comments restating test names/assertions in QueryTests.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Linq/QueryTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add sprint file for Fixup #1
  .tools/ralph/sprints/03_Fixup_1.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Try trx again
  azure-pipelines-PR.yml
  azure-pipelines.yml
  eng/Build.ps1
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cleaning up comments
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  tests/FSharp.Compiler.ComponentTests/Language/ComputationExpressionTests.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Linq/QueryTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test orphans
  TEST_ORPHANS.md
  tests/FSharp.Compiler.ComponentTests/AttributeUsage.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/Platform.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/MultiTargeting.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/TypeForwardingHelpers.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/RealInternalSignature/ClassTypeVisibility.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/RealInternalSignature/RealInternalSignature.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Structure/StructFieldEquality.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
  tests/FSharp.Compiler.ComponentTests/Literals.fs
  tests/FSharp.Compiler.ComponentTests/OnOverridesAndIFaceImpl.fs
  tests/FSharp.Compiler.ComponentTests/Operators.fs
  tests/FSharp.Compiler.ComponentTests/StringFormatAndInterpolation.fs
  tests/FSharp.Compiler.ComponentTests/TailCalls.fs
  tests/FSharp.Compiler.ComponentTests/TupleElimination.fs
  tests/FSharp.Compiler.ComponentTests/TypeChecks/TypeExtensions/PropertyShadowingTests.fs
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Linq/NullableOperators.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/Utilities.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add .github/skills/ to .fantomasignore (#19268)
  .fantomasignore
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/Driver/FxResolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

improving file specific instructions, adding postmortem skill
  .github/instructions/CodeGen.instructions.md
  .github/instructions/DebugEmit.instructions.md
  .github/instructions/FSComp.instructions.md
  .github/instructions/FSharpCore.instructions.md
  .github/instructions/LSP.instructions.md
  .github/instructions/Optimizer.instructions.md
  .github/instructions/SyntaxTree.instructions.md
  .github/instructions/TypedTreePickle.instructions.md
  .github/skills/postmortem/SKILL.md
  docs/postmortems/README.md
  docs/postmortems/regression-fs0229-bstream-misalignment.md
Due: none

Ensure memory ordering in LazyWithContext for ARM64
  src/Compiler/Utilities/illib.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add RFC documents for tiebreaker and OverloadResolutionPriority features
  docs/rfcs/FS-XXXX-most-concrete-tiebreaker.md
  docs/rfcs/FS-XXXX-overload-resolution-priority.md
Due: none

Remove ORP RFC (already exists in fslang-design)
  docs/rfcs/FS-XXXX-overload-resolution-priority.md
Due: none

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

CI: fix fsharp-diagnostics formatting
  .github/skills/fsharp-diagnostics/server/DesignTimeBuild.fs
  .github/skills/fsharp-diagnostics/server/DiagnosticsFormatter.fs
  .github/skills/fsharp-diagnostics/server/Program.fs
  .github/skills/fsharp-diagnostics/server/ProjectManager.fs
  .github/skills/fsharp-diagnostics/server/Server.fs
Due: none

Don't use --report-xunit-filename for .sln files
  eng/Build.ps1
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete .tools/ralph/sprints/03_Fixup_1.md
  .tools/ralph/sprints/03_Fixup_1.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Rename BREAKING_CHANGES.md to PENDING_BREAKING_CHANGES.md
  docs/release-notes/PENDING_BREAKING_CHANGES.md
Due: none

Fix TFM resolution in build.sh: resolve after SDK init to avoid stdout pollution
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

simplify withoutDimCoverage logic
  src/Compiler/Checking/MethodOverrides.fs
  src/Compiler/Facilities/LanguageFeatures.fs
  tests/FSharp.Compiler.ComponentTests/Interop/DIMSlotCoverageTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release notes
  docs/release-notes/.Language/11.0.md
Due: none

Fix FS1182: move 'let g' back inside #if !NO_TYPEPROVIDERS in TcCtorItemThen
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

FastBuildFromCache: minimal optimizer, NormalizeAssemblyRef internal, filewatcher pre-warming, --times profiling
  .github/skills/fsharp-diagnostics/scripts/get-fsharp-errors.sh
  .github/skills/fsharp-diagnostics/server/DesignTimeBuild.fs
  .github/skills/fsharp-diagnostics/server/Directory.Build.props
  .github/skills/fsharp-diagnostics/server/FSharpDiagServer.fsproj
  .github/skills/fsharp-diagnostics/server/ProjectManager.fs
  .github/skills/fsharp-diagnostics/server/Server.fs
  eng/targets/FastBuildFromCache.targets
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

skill reworded
  .github/skills/fsharp-diagnostics/PLAN_FOR_WINDOWS.md
  .github/skills/fsharp-diagnostics/SKILL.md
Due: none

tests, release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  tests/FSharp.Compiler.ComponentTests/Debugger/CEDebugPoints.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/MatchEndSequencePoint.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Extract shared AllowNullLiteral+consumeNonNull test preamble to reduce duplication
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete docs/regression-fs0229-bstream-misalignment.md
  docs/regression-fs0229-bstream-misalignment.md
Due: none

docs: minor formatting cleanup in compiler and editor
  src/Compiler/SyntaxTree/SyntaxTree.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.Attributes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
