Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Give FSharpPackage its own VSPackage resource set
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/VSPackage.resx
  vsintegration/src/FSharp.Editor/xlf/VSPackage.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.de.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.es.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.it.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Seed VSPackage translations and document the resource-set split
  vsintegration/src/FSharp.Editor/VSPackage.resx
  vsintegration/src/FSharp.Editor/xlf/VSPackage.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.de.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.es.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.it.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes entry for VSPackage.resx fix
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Avoid redundant allocations in Tokenizer.fs hot paths
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Harden Copilot provider registration and widen one-line snippets
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add VS release notes entry for SourceTextData thread-safety fix (PR #20113)
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Convert FSharpLineTokenizer.ScanToken to allocation-free voption struct return
  docs/fcs/tokenizer.fsx
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceLexing.fs
  src/Compiler/Service/ServiceLexing.fsi
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/TokenizerTests.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/src/FSharp.LanguageService/Colorize.fs
  vsintegration/src/FSharp.LanguageService/Intellisense.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Match declaration names over spans instead of building them
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Run the interactive server tests on desktop fsi too
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Surface what StreamJsonRpc the session loaded on a method-not-found failure
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Stop --realsig- from hiding FsiRpcTarget's methods from StreamJsonRpc
  src/fsi/fsiserver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Test/Transparent Compiler: test that TC reuses check results after project modifications
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/TransparentCompiler.fs
  tests/FSharp.Test.Utilities/ProjectGeneration.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove featureDefaultInterfaceMemberConsumption FSComp string and regenerate xlf
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add [<OptimizeClosureIfNotInlined>] to adapt opaque callbacks of inline HOFs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fsi
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  src/FSharp.Core/prim-types.fs
  src/FSharp.Core/prim-types.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/OptimizeClosureIfNotInlined.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Avoid per-call FSharpFunc closure in remapVal member-info remap
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Compact the OptimizeClosureIfNotInlined transform to reuse existing helpers
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/FSharp.Core/prim-types.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/OptimizeClosureIfNotInlined.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove per-call closure allocations from post-inference type checks
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cache IL method parameter attributes during overload resolution (#20353)
  src/Compiler/Checking/infos.fs
  tests/FSharp.Compiler.ComponentTests/Language/ExtensionMethodTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Avoid per-call closure allocation in type-hierarchy traversal (#20384)
  src/Compiler/Checking/TypeHierarchy.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use ListInline.foldBack in free-variable typar folds
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on language feature flag OverloadsForCustomOperations (#20427)
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on ExtendedFixedBindings language feature flag (#20429)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Language/FixedBindings/FixedBindings.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove the ArithmeticInLiterals language feature flag (#20430)
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/TypedTree/TypedTreeOps.Transforms.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Strengthen OptimizeClosureIfNotInlined test coverage
  tests/FSharp.Compiler.ComponentTests/EmittedIL/OptimizeClosureIfNotInlined.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix final do! computation expression desugaring
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add pull request link to release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Soften task{} guidance in FSharp.instructions.md
  .github/instructions/FSharp.instructions.md
Due: none

Prefer one traversal over a chain of transformations
  .github/instructions/FSharp.instructions.md
Due: none

Format illib.fsi and add the VisualStudio release note
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the outlining release note to its PR
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Address review: XML doc structure and shorthand lambda
  src/Compiler/Service/ServiceStructure.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Slice source text instead of copying it line by line for outlining
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceStructure.fs
  src/Compiler/Service/ServiceStructure.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Structure/BlockStructureService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Report an absolute index from the span IndexOfOrdinal overloads
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Scope the System.Memory pin to the net472 test build
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Track comment lines by number instead of storing their text
  src/Compiler/Service/ServiceStructure.fs
  tests/FSharp.Compiler.Service.Tests/StructureTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Drop the span IndexOfOrdinal overloads that take a start index
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update coroutine tail-call test
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix release notes check: add PR link and VS entry
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Address review: fail fast when pickling, no writes from getters
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreePickle.fs
  src/Compiler/Utilities/lib.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/UnlinkedEntityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
