Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Cache IL method parameter attributes during overload resolution
  src/Compiler/Checking/infos.fs
  tests/FSharp.Compiler.ComponentTests/Language/ExtensionMethodTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fantomas
  src/Compiler/TypedTree/TypedTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Suppress net10.0 TFM-support build error from MSBuild 18.10 packages
  Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bump transitive package pins to satisfy Roslyn 5.11 graph (fix NU1605)
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

update to supporting ildasm version
  eng/Versions.props
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Finish 10.0.10 runtime block: bump DiagnosticSource + Cryptography.Xml (fix MSB3277)
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move System.* 10.0.10 bump to Version.Details where they are declared (drop Versions.props duplicates)
  eng/Version.Details.props
  eng/Version.Details.xml
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move product build to .NET 11 (SDK + product TargetFramework)
  Directory.Build.props
  eng/TargetFrameworks.props
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

handle local mutables
  docs/runtime-async.md
  src/Compiler/Optimize/LowerLocalMutables.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "update to supporting ildasm version"
  eng/Versions.props
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncEdgeCaseTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove always-on language feature flag LowercaseDUWhenRequireQualifiedAccess (#20170)
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on language feature flag EscapeDotnetFormattableStrings (#20181)
  src/Compiler/Checking/CheckFormatStrings.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on language feature flag DelegateTypeNameResolutionFix
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Calculate Entity.PublicPath instead of storing (#20285)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/ServiceDeclarationLists.fs
  src/Compiler/Symbols/Exprs.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on language feature flag PreferStringGetPinnableReference (#20186)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cleanup: use `FindByNameAndArity` guard in `CheckILBaseCall` to avoid exception-based control flow for inherited IL methods (#20272)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Interop/SimpleInteropTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reject bitwise operators on char-backed enums (#11785) (#20322)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/E_BitwiseOpsOnCharEnum.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/EnumTypes.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/EnumTypes/ExtensionBitwiseOrOnCharEnum.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on language feature flag ImprovedImpliedArgumentNames (#20195)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Unpickling: share one EntityRef per non-local reference row
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Perf: eliminate closure allocs in List.mapq / List.lengthsEqAndForall2
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on IndexerNotationWithoutDot language feature flag (#20319)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/SyntaxTree/LexFilter.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Replace the stringified pattern-match memo key with a typed one (#20337)
  src/Compiler/Checking/PatternMatchCompilation.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/PatternMatching/GuardedOrPatternComplexity.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Inline TryD to remove closure allocations in the constraint solver
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Perf: eliminate per-call closure in StackGuard.Guard via InlineIfLambda
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/FindUnsolved.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/TailCallChecks.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/TypedTree/TypedTreeOps.Transforms.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Collapse NullableOptionalInterop enforcement sites to always-on path
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Compaction: drop dead checkq, simplify lengthsEqAndForall2, trim comments/test
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Make zero-based Array2D operations trimming- and AOT-clean
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/array2.fs
  tests/AheadOfTime/NativeAOT/Array2DProgram.fs
  tests/AheadOfTime/NativeAOT/NativeAOT_Test.fsproj
  tests/AheadOfTime/NativeAOT/Program.fs
  tests/AheadOfTime/NativeAOT/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/Array2Module.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Warn at the call site when Array2D allocates a based array
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/array2.fs
  tests/AheadOfTime/NativeAOT/Array2DProgram.fs
  tests/AheadOfTime/NativeAOT/check.ps1
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/Array2Module.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Correct the Array2D release note wording
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

Scope the release note per asset and use the AOT suppression category
  docs/release-notes/.FSharp.Core/11.0.100.md
  tests/AheadOfTime/NativeAOT/Array2DProgram.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Polyfill RequiresDynamicCode instead of guarding each use site
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/array2.fs
  src/FSharp.Core/prim-types.fs
  src/FSharp.Core/prim-types.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim Array2D comments and rename the private based helpers
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/array2.fs
  tests/AheadOfTime/NativeAOT/Array2DProgram.fs
  tests/AheadOfTime/NativeAOT/check.ps1
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/Array2Module.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove dead LanguageFeature.NullableOptionalInterop flag definition
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add some IAsyncEnumerable tests
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeAsyncEnumerable.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Simplify primitives and make the characterization test readable
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test basic AsyncLocal propagation
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeAsyncAsyncLocal.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release note for NullableOptionalInterop flag removal
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
