Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

filterByOverloadResolutionPriority refactor
  src/Compiler/Checking/OverloadResolutionRules.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix honest assessment issues: remove phantom --nowarn:75, clean up isTimingLine, add file check
  eng/scripts/ExtractTimingsFromBinlog.fsx
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix Desktop test failures: guard net472-incompatible tiebreaker tests with FactForNETCOREAPP
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore --nowarn:75 in OtherFlags: FS0075 (InternalCommandLineOption) is real
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add NoWarn 0075 to PrepareRepoForRegressionTesting.fsx
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove fragile NoWarn element; rely on --nowarn:75 in OtherFlags only
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove self-explanatory comments from CI scripts
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup 3: Restore non-obvious dotnet fsi arg layout comments
  eng/scripts/ExtractTimingsFromBinlog.fsx
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #1: Address CODE-QUALITY, PERF, and TEST-CODE-QUALITY verifier feedback
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup 1: Fix timing extraction filtering and script messaging
  eng/scripts/ExtractTimingsFromBinlog.fsx
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #1 (iteration 2): Address remaining CODE-QUALITY, PERF, TEST-CODE-QUALITY feedback
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: Use StartsWith instead of Contains for timing line pipe detection
  eng/scripts/ExtractTimingsFromBinlog.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove dead code and reduce API surface in OverloadResolutionRules
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Apply patch from /run fantomas
  vsintegration/tests/FSharp.Editor.Tests/FindReferencesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

release notes added
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
Due: none

Fix ExtractTimingsFromBinlog SDK mismatch and false failure reports
  .tools/ralph/BACKLOG.md
  .tools/ralph/sprints/08_CI_Fixup_ExtractTiming.md
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use <NoWarn> MSBuild property instead of --nowarn:75 for FS0075 suppression
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update inline IL baselines for sequence point changes
  tests/fsharp/Compiler/CodeGen/EmittedIL/TaskGeneratedCode.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use --nowarn:75 in OtherFlags instead of separate NoWarn element
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #2: Remove dead FS3590 diagnostic, hide TiebreakRule from API surface, fix test quality and coverage
  src/Compiler/Checking/OverloadResolutionRules.fsi
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Show the actual type of RHS on error when LHS is a pattern with a type annotation
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/TypeMismatchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove self-explanatory comments from eng/scripts
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update .net472 IL baselines for sequence point changes
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Compare04.fsx.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOff.OptimizeOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOff.OptimizeOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOn.OptimizeOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOn.OptimizeOn.il.net472.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update debug info baseline and trimming size
  tests/AheadOfTime/Trimming/check.ps1
  tests/fsharp/Compiler/CodeGen/EmittedIL/ComplexShadowingFunction.debuginfo.expected
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #2 (iteration 2): Remove leftover docs, deduplicate tests, parameterize Optional/ParamArray tests
  docs/TIEBREAKERS_DESIGN.md
  docs/TIEBREAKERS_DIAGRAM.md
  docs/rfcs/FS-XXXX-most-concrete-tiebreaker.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release note for type reporting on pattern binding with type annotation
  docs/release-notes/.FSharp.Compiler.Service/9.0.200.md
Due: none

Remove internal sprint tracking files from git
  .tools/ralph/BACKLOG.md
  .tools/ralph/sprints/08_CI_Fixup_ExtractTiming.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #2 (iteration 3): Remove redundant comments, merge duplicate Warning 3576 test, remove placeholder test
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/ORPTestRunner.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix net472 baselines: restore .assembly extern runtime line
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOff.OptimizeOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOff.OptimizeOn.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOn.OptimizeOff.il.net472.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOn.OptimizeOn.il.net472.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Clean up test comments, consolidate debug point helpers
  tests/FSharp.Compiler.ComponentTests/Debugger/CEDebugPoints.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/DebuggerTestHelpers.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/ForArrowDebugPoints.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/MatchEndSequencePoint.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix extract timing SDK mismatch: use Pipeline.Workspace as working directory
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use NoWarn MSBuild property for FS0075 instead of --nowarn:75 in OtherFlags
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #3: Address PERF, TEST-CODE-QUALITY, and NO-LEFTOVERS verifier feedback
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/SharedTestHelpers.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix FS0075 CI failure: use --nowarn:75 in OtherFlags instead of NoWarn property
  eng/scripts/PrepareRepoForRegressionTesting.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Highlight pattern range instead of annotation range
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/TypeMismatchTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #3 (iteration 2): Cache GetParamDatas and SRTP checks in moreConcreteRule, remove redundant doc comments
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
  src/Compiler/Checking/infos.fs
  src/Compiler/Checking/infos.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/SharedTestHelpers.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Re-trigger CI with sprint 1-5 fixes
  tests/fsharp/Compiler/CodeGen/EmittedIL/TaskGeneratedCode.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix release notes: add PR #19277 links and FSharp.Compiler.Service entries
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.Language/preview.md
Due: none

Fixup #1: Address PERF, TEST-COVERAGE, HONEST-ASSESSMENT, NO-LEFTOVERS feedback
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #2: Commit 4 test upgrades from typecheck to compileAndRun with runtime assertions
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
