Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

v2-p4: Relax methInst.IsEmpty guard for RefSafetyRules >= 11
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

v2-p3: Add implicit out and ref-to-refstruct scoping for RefSafetyRules >= 11
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/import.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix verifier issues: RFC contradictions, test dedup, and misleading names
  docs/rfc/FS-XXXX-improved-byreflike-escape-analysis.md
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Extract shared bindings for remaining 2 duplicated test pairs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

v2-p6: Update RFC, release notes, and architecture guide for V2
  .github/instructions/EscapeAnalysis.instructions.md
  docs/release-notes/.Language/preview.md
  docs/rfc/FS-XXXX-improved-byreflike-escape-analysis.md
Due: none

Fix runtimeconfig: use actual runtime version for preview SDK compat
  tests/FSharp.Test.Utilities/CompilerAssert.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add Debug.Assert traces to IlxGen ErrorResult paths
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Replace failwith in ApplyScopedMask with conservative fallback
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Merge IL helpers and extract nonEmptyMask
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add CompilerCompat test for extension operator on external type
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/CompilerCompatLib.fsproj
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Rename E_MemoryMarshal tests and update RFC row 8
  docs/rfc/FS-XXXX-improved-byreflike-escape-analysis.md
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add 4 SRTP extension operator tests
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add non-gated bugfix and TaskCE escape analysis tests
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix method signatures and calling conventions
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Signatures.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Define WellKnownILAttributes, WellKnownEntityAttributes, WellKnownValAttributes flag enums
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix runtime crashes: TypeLoadException, InvalidProgramException, stack corruption
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/CodeGen/EraseClosures.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Crashes.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StaticOptimizations/String_Enum.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction03.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction03.fs.OptimizeOn.il.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction03b.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction03b.fs.OptimizeOn.il.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction03c.fs.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction03c.fs.OptimizeOn.il.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOff.OptimizeOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOff.OptimizeOn.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOn.OptimizeOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/TestFunction22h.fs.RealInternalSignatureOn.OptimizeOn.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix SRTP extension tests: use real recursion and extension (+) operators
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix struct/closure byref capture and let-rec initialization order
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/CodeGen/EraseClosures.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Closures.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest05.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest05.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest06.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionStepping/SeqExpressionSteppingTest06.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowStaticProperty.fsx.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowStaticProperty.fsx.realInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowStaticProperty.fsx.realInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithLastOpenedTypeExtensions.fsx.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithLastOpenedTypeExtensions.fsx.realInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithLastOpenedTypeExtensions.fsx.realInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithTypeExtension.fsx.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithTypeExtension.fsx.realInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithTypeExtension.fsx.realInternalSignatureOn.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix DU duplicate methods, event metadata
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_TypeDefs.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rewrite 'Recursive inline SRTP function' test as negative test for error 1114
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix F# exception serialization to preserve fields
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions_Exceptions.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/ExceptionType.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOff.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule.fs.RealInternalSignatureOn.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOff.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace.fs.RealInternalSignatureOn.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add computeILWellKnownFlags and migrate IL attribute check sites
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilread.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/TypeHierarchy.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/CodeGen/EraseUnions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rewrite RFC widening test with actual RFC example
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CompilerCompat suite: move LangVersion to MSBuild args, revert Program.fs structure
  tests/FSharp.Compiler.ComponentTests/CompilerCompatibilityTests.fsx
  tests/projects/CompilerCompat/CompilerCompatApp/Program.fs
  tests/projects/CompilerCompat/CompilerCompatLib/CompilerCompatLib.fsproj
  tests/projects/CompilerCompat/CompilerCompatLib/Library.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix IL Compute And Migration: scope-safe comparison, TypeHierarchy migration, remove dead enums
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/TypeHierarchy.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix AllowOverloadOnReturnType test: assert compile failure until attribute ships in SDK FSharp.Core
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add WellKnownEntityAttribs struct and migrate Entity.entity_attribs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Migrate 30 entity-level existence checks to EntityHasWellKnownAttribute
  src/Compiler/Checking/AugmentWithHashCompare.fs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix 3 remaining SRTP reification tests and remove Debug.Assert in codegen
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 4: Val Container And Infrastructure - WellKnownValAttribs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/FindUnsolved.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/Interactive/fsi.fs
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  src/Compiler/TypedTree/TypedTreePickle.fs
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Polish: update instructions, add missing backward-compat twin
  .github/instructions/EscapeAnalysis.instructions.md
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 05: Migrate Val/ArgReprInfo-level existence checks to well-known attribute flags
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckIncrementalClasses.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/Checking/infos.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 6: Hybrid mapping functions and TyconRef migration
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 7: Final validation fixes - conditional compile mapILFlagToAttribInfo
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 7: Fix isByrefLikeTyconRef to use name-based attribute matching
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 7: Fix PostInferenceChecks IsByRefLike to use name-based matching per RFC FS-1053
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

remove v2 remnants, add deterministic init via assembly fixture
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/XunitHelpers.fs
  tests/FSharp.Test.Utilities/XunitSetup.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix bug [#19345]: rearrange the LetOrUse patterns into proper order. Add tests.
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ComputationExpressions/ComputationExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add an release-note entry
  docs/release-notes/.FSharp.Compiler.Service/9.0.200.md
Due: none

Move the entry to proper file
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.FSharp.Compiler.Service/9.0.200.md
Due: none

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
