Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

fix: adapt to main's Entity.Typars becoming a property (drops TyparsNoRange)
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Report the resolved overload for [<CustomOperation>] keywords in QuickInfo and SymbolUse (#19865)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckComputationExpressionsCustomOps.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  tests/FSharp.Compiler.Service.Tests/TooltipTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Combine address-of clauses for val and type-instantiated val into a shared or-pattern
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): drop the redundant module prefix in rude-edit symbol names
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Aggressively read the real lightbulb to catch the unstable ErrorFix session
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Implementation
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs.RealInternalSignatureOn.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateExtensionMethod.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateGenericStaticMethod.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateILMethod.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateILMethod.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateILMethod.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateILMethod.fs.RealInternalSignatureOn.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateILMethod.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateInstanceMethod.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateInstanceMethod.fs.RealInternalSignatureOn.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateKnownFunction.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.RealInternalSignatureOn.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateNonInlinable.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStaticMethod.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs.RealInternalSignatureOn.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateStructTarget.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs.RealInternalSignatureOn.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateUnitReturn.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): preserve deltas with added rows
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): preserve unsigned AssemblyRef versions
  src/Compiler/CodeGen/DeltaMetadataTables.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): reject embedded PDB capture
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/Driver/fsc.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): compare output paths by platform
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): treat all metadata rows as payload
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): use runtime type shapes for entity digests
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): reject removed source files
  src/Compiler/HotReload/DeltaBuilder.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): parse split long out option
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): fail closed on unresolved method updates
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): use runtime identity for signature changes
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): include literal values in field digests
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): preserve active statement ranges
  src/Compiler/HotReload/ActiveStatements.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): align delta PDB state machine headers
  src/Compiler/CodeGen/HotReloadPdb.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): serialize PDB document names structurally
  src/Compiler/CodeGen/HotReloadPdb.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Stuff
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NotNullIfNotNullTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add unit test
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NotNullIfNotNullTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

style(hot-reload): apply fantomas to review fixes
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/DeltaBuilder.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes, custom delegate tests
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateCustomType.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateCustomType.fs.RealInternalSignatureOn.OptimizeOff.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateCustomType.fs.RealInternalSignatureOn.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateCustomType.fs.RealInternalSignatureOn.OptimizeOn.Preview.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DelegateCustomType.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix(hot-reload): tolerate compiler-generated companions in fail-closed check
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): fold unit return identity to void in signature diff
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Respect canFail mode for generic attribute error to avoid duplicate diagnostics
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Attributes/GenericAttributeAbbreviations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fsi: gate multi-emit DebuggableAttribute on optimizations, not --debug
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.ComponentTests/Scripting/Interactive.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI regressions on determinism PR: predicated cctor, raw-data field, soften gate
  azure-pipelines-PR.yml
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Do not classify recursive self-reference ref cells as mutable (#19918)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/SemanticClassification.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CI round 2: correct AOT sizes to CI values + regen OptionalAndOutParameters
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/OptionalAndOutParameters.fs.RealInternalSignatureOff.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 11a: pin the serviced VS-15.9 Roslyn (2.10.0-beta2) - editor compiles
  NuGet.Config
  RoslynPackageVersion.txt
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add Map.merge function to FSharp.Core
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/map.fs
  src/FSharp.Core/map.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Collections/MapModule.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim verbose comment coupled to downstream handlers (PR review feedback)
  src/Compiler/Interactive/fsi.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix comment-ratio awk meter to not double-count comments as code
  .github/skills/code-compaction/SKILL.md
Due: none

Add test verifying second duplicate module body is analyzed and reported to sink
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ModuleTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 11b: build the full vsintegration insertion solution, drop the vulnerable e_sqlite3
  build/targets/PackageVersions.props
  vsintegration/Directory.Build.props
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.LanguageService/FSharp.LanguageService.fsproj
  vsintegration/src/FSharp.ProjectSystem.PropertyPages/FSharp.PropertiesPages.vbproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
