Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Record file-watching design review vs Roslyn
  docs/ide/file-watching-design-review.md
Due: none

Link the file-watching release note to its PR
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Wire reference file watching into FSharpProjectOptionsReactor
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review: mandatory watcher, voption, illib string helpers
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
  vsintegration/tests/FSharp.Editor.Tests/FileChangeWatcherTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add IVsAsyncFileChangeEx2 file change watcher adapter
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review: ImmutableArray contract, cancellable batch application
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/tests/FSharp.Editor.Tests/FileChangeWatcherTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Call String.StartsWith/EndsWith directly instead of the illib helpers
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add String.StartsWithOrdinalIgnoreCase next to EndsWithOrdinalIgnoreCase
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Watch a reference's appearance and removal, not only its writes
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Dispose the watcher's agent directly
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Never cache a reference stamp before its watch is confirmed active
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
  vsintegration/tests/FSharp.Editor.Tests/FileChangeWatcherTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Drop the reference subscription: Roslyn already covers it
  docs/ide/file-watching.md
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use a second constructor instead of an optional delay parameter
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review: per-sink batching, timer race, diffed watches, tests
  docs/ide/file-watching-design-review.md
  docs/ide/file-watching.md
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
  vsintegration/tests/FSharp.Editor.Tests/FileChangeWatcherTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep one release note, in the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Keep reference stamps inside the tracker's watch entries
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
  vsintegration/tests/FSharp.Editor.Tests/FileChangeWatcherTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use Seq.tryFindIndexV instead of the option-returning Seq.tryFindIndex
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Expose Dispose directly on the tracker and sort the reactor's opens
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/FileChangeWatcher.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Wrap the recording service's doc comment in summary for the cref
  vsintegration/tests/FSharp.Editor.Tests/FileChangeWatcherTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix the FS0760 that broke every Windows leg, and stop timing the IsActive tests
  vsintegration/tests/FSharp.Editor.Tests/FileChangeWatcherTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Read snapshot reference stamps from the tracker instead of stat'ing
  vsintegration/src/FSharp.Editor/LanguageService/WorkspaceExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Watch each project's reference set for its stamps
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Document the stamp consumer and add its release note
  docs/ide/file-watching.md
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Serialize the reactor's reference-watch bookkeeping
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Drop the release note for the reference invalidation this PR no longer does
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Keep the reference-stamp entry point internal and read FileSystem late
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Service/FSharpProjectSnapshot.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/ProjectSnapshot.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Leave FromOptions as it was and name the host's entry point
  src/Compiler/Service/FSharpProjectSnapshot.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/ProjectSnapshot.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Let FromOptions take reference stamps from the host
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/FSharpProjectSnapshot.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/ProjectSnapshot.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Move the release note to the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Address review: version-first lookup, no Refresh race, dead removals dropped
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Wrap the PE reference cache doc comment in <summary> and reference Compilation with <see cref>
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the shorter release note, the one the review asked for
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Add a focused test counting PE emits across unchanged/changed reference stamps
  tests/fsharp/Compiler/Service/MultiProjectTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Reuse a C# project's in-memory PE reference while its semantic version holds
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Link the PE reference release note to PR #20460
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Keep one copy of the release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Build multi-project and multi-target Roslyn solutions in FSharp.Editor tests
  vsintegration/tests/FSharp.Editor.Tests/Helpers/RoslynHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Document TryGetSolutionDocumentFromPath
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve navigation targets through the workspace's current solution
  vsintegration/src/FSharp.Editor/Common/CodeAnalysisExtensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/SymbolHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/Symbols.fs
  vsintegration/src/FSharp.Editor/Navigation/FindUsagesService.fs
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test Go To Definition against a solution snapshot that predates the target document
  vsintegration/tests/FSharp.Editor.Tests/GoToDefinitionServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
