Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

collect stats better
  src/Compiler/Utilities/Caches.fs
  src/Compiler/Utilities/Caches.fsi
  tests/FSharp.Compiler.ComponentTests/CompilerService/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

show stats in vs output pane
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update tests/ILVerify/ilverify.ps1
  tests/ILVerify/ilverify.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run ilverify
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Core_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Core_Debug_netstandard2.1.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netstandard2.1.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/OverloadingMembers.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/OverloadingMembers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

do what the error says
  vsintegration/src/FSharp.ProjectSystem.FSharp/FSharp.ProjectSystem.FSharp.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

try this
  vsintegration/src/FSharp.ProjectSystem.FSharp/FSharp.ProjectSystem.FSharp.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/Symbols/FSharpDiagnostic.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ExtendedDiagnosticDataTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Unify anonymous record fields
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Driver/GraphChecking/FileContentMapping.fs
  src/Compiler/Service/FSharpParseFileResults.fs
  src/Compiler/Service/ServiceParseTreeWalk.fs
  src/Compiler/Service/SynExpr.fs
  src/Compiler/SyntaxTree/SyntaxTree.fs
  src/Compiler/SyntaxTree/SyntaxTree.fsi
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/pars.fsy
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/service/data/SyntaxTree/Expression/AnonRecd - Quotation 01.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonRecd - Quotation 02.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonRecd - Quotation 03.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonRecd - Quotation 04.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-01.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-02.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-03.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-06.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-07.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-08.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-09.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-10.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-11.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-12.fs.bsl
  tests/service/data/SyntaxTree/Expression/AnonymousRecords-13.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 01.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 02.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 07.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 08.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 09.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 10.fs.bsl
  tests/service/data/SyntaxTree/Expression/Record - Anon 11.fs.bsl
  tests/service/data/SyntaxTree/Expression/SynExprAnonRecdWithStructKeyword.fs.bsl
  tests/service/data/SyntaxTree/Expression/SynExprAnonRecordContainsTheRangeOfTheEqualsSignInTheFields.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

better condition
  vsintegration/src/FSharp.ProjectSystem.FSharp/FSharp.ProjectSystem.FSharp.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/TypeConstraints/IWSAMsAndSRTPs/IWSAMsAndSRTPsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix method missing at runtime - ns2.0 haha
  src/Compiler/Utilities/Caches.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

wip
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Reduce diff
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

format
  src/Compiler/Utilities/Caches.fs
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

update baselines
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

wip
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Facilities/DiagnosticsLogger.fs
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/Service/FSharpProjectSnapshot.fs
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/TransparentCompiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

wip
  tests/FSharp.Compiler.Service.Tests/BuildGraphTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Checker: fix declaring type for abbreviated types extensions (#18909)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/AbbreviationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix dotnet build VisualFSharp.sln (#18914)
  vsintegration/src/FSharp.ProjectSystem.FSharp/FSharp.ProjectSystem.FSharp.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Normalize ILVerify output to remove auto-generated numeric suffixes (#18912)
  tests/ILVerify/ilverify.ps1
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_net10.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Core_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Core_Debug_netstandard2.1.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Core_Release_netstandard2.1.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Tests: set test source for range debug printing
  src/Compiler/Utilities/range.fs
  src/Compiler/Utilities/range.fsi
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

Symbols: add Mfv.ApparentEnclosingType
  src/Compiler/Service/ServiceInterfaceStubGenerator.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/Symbols.fsi
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Surfface area
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fantomas
  src/Compiler/Service/ServiceInterfaceStubGenerator.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

wip
  src/Compiler/Utilities/Async2.fs
  tests/FSharp.Compiler.Service.Tests/BuildGraphTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix Editor
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fantomas
  vsintegration/src/FSharp.Editor/Navigation/GoToDefinition.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Tests: set test source for range debug printing (#18879)
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  src/Compiler/Utilities/range.fs
  src/Compiler/Utilities/range.fsi
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

make it public for now
  src/Compiler/Utilities/Async2.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.Service.Tests/BuildGraphTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

ensure that line directives are applied to source identifiers
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/SyntaxTree/LexHelpers.fs
  src/Compiler/SyntaxTree/LexHelpers.fsi
  src/Compiler/SyntaxTree/SyntaxTreeOps.fs
  src/Compiler/SyntaxTree/SyntaxTreeOps.fsi
  tests/FSharp.Compiler.ComponentTests/CompilerDirectives/Line.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
Due: none

fix test
  tests/FSharp.Compiler.ComponentTests/CompilerDirectives/Line.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/AbstractIL/il.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

wip
  src/Compiler/Symbols/FSharpDiagnostic.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/ExtendedDiagnosticDataTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
