Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Fix CoreEscapeAnalysis test: restore distinct UseSpanFromLocalByref.fs, fix FileInlineData naming
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/UseSpanFromLocalByref.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 03: Fix code quality — eliminate duplication, fix layering and pipe style
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sprint 03: ScopedRefAttribute consumption for imported methods
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CoreEscapeAnalysis tests: add backward-compat tests, remove duplicate UseSpanFromLocalByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/UseSpanFromLocalByref.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes and RFC for ImprovedByRefLikeEscapeAnalysis
  docs/release-notes/.Language/preview.md
  docs/rfc/FS-XXXX-improved-byreflike-escape-analysis.md
Due: none

Fix code quality: remove unnecessary #nowarn "67" and revert to 'with _ ->'
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix MemoryMarshal.CreateSpan soundness hole in escape analysis
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor: use limitArgs.IsLocal instead of scope >= 1
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Deduplicate control flow test sources into shared private bindings
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Tests added
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/E_IndexerSpanCapturingByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/E_MatchExpressionSpanCapturingByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/E_OperatorOverloadSpanCapturingByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/TestGaps.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/TestGaps2.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/TestMemoryMarshal.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FS3235 typo ('ths' -> 'this') and add misc escape analysis tests
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor: cache ImprovedByRefLikeEscapeAnalysis feature flag in cenv
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix code quality: use 'with _ ->' and remove gap tests with missing source files
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add C# interop edge case tests for byref safety analysis
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix grammatical error and logic inversion in RFC struct receiver rule
  docs/rfc/FS-XXXX-improved-byreflike-escape-analysis.md
Due: none

Fix: replace Debug.Assert with failwith in ApplyScopedMask
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Read [UnscopedRef] attribute to fix struct receiver false positives
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Deduplicate IL method resolution in escape analysis helpers
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Narrow exception handler in tryGetScopedParamMask to System.Exception
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Deduplicate test data in ByrefSafetyAnalysis tests
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add control flow and chaining tests for byref safety analysis (C1-C3, CH2-CH3)
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix Sprint 5: move tests to NET7_0_OR_GREATER, fix test2.bsl typo, deduplicate sources
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
  tests/fsharp/core/span/test2.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Feature: implement ScopedRef F# authoring for same-assembly calls
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Feature: read UnscopedRefAttribute from per-parameter IL attributes
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refactor: merge two methDefOpt match blocks into single dispatch
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Test: add missing RFC coverage tests
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Test: wire orphaned test files into ByrefSafetyAnalysis harness
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/E_IndexerSpanCapturingByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/E_MatchExpressionSpanCapturingByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/E_OperatorOverloadSpanCapturingByref.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/TestGaps.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refactor: remove dead _hasUnscopedRef parameter from CheckCall
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Docs: update RFC and release notes for completed implementation
  docs/release-notes/.Language/preview.md
  docs/rfc/FS-XXXX-improved-byreflike-escape-analysis.md
Due: none

Upgrade control-flow test assertions to withDiagnostics (Q6)
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

v2-p2: Add RefSafetyRulesVersion plumbing (TcGlobals, CcuData, import, helper)
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/import.fs
  src/Compiler/Checking/import.fsi
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/ParseAndCheckInputs.fs
  src/Compiler/TypedTree/TcGlobals.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

v2-p1: Add V2 tests documenting current behavior
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix EscapeAnalysis instructions: correct helpers inventory, add Q6
  .github/instructions/EscapeAnalysis.instructions.md
Due: none

Update EscapeAnalysis instructions: all round 2 items resolved
  .github/instructions/EscapeAnalysis.instructions.md
Due: none

Extract tryGetILParamAttrMask to dedup mask helpers (Q1)
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add cross-assembly F#→F# ScopedRef test + RFC decisions (B1, B5, B6)
  docs/rfc/FS-XXXX-improved-byreflike-escape-analysis.md
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Flatten scoped mask computation and remove dead guard (Q2, Q3, Q5)
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add backward-compat twins, inline escape, and UnscopedRef param tests (B2-B4)
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add EscapeAnalysis instructions for PostInferenceChecks and tests
  .github/instructions/EscapeAnalysis.instructions.md
Due: none

v2-p5: Emit [module: RefSafetyRules(11)] on F# assemblies
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
