Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

TType_app only
  src/Compiler/Checking/TypeRelations.fs
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

memoize only stable structures
  src/Compiler/Checking/TypeRelations.fs
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update Visual Studio and xcopy-msbuild in global.json (#19041)
  global.json
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix AddReturnType refactoring throwing when file not in project (#19052)
  vsintegration/src/FSharp.Editor/Refactor/AddReturnType.fs
  vsintegration/tests/FSharp.Editor.Tests/Refactors/AddReturnTypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update Versions.props
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add FSharpCodeCompletionOptions (#19030)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/Checking/AttributeChecking.fs
  src/Compiler/Checking/AttributeChecking.fsi
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  tests/FSharp.Compiler.Service.Tests/Checker.fs
  tests/FSharp.Compiler.Service.Tests/CompletionTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  vsintegration/src/FSharp.Editor/Completion/CompletionProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

omfg
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

do not weakly memoize when typars are involved, ignore nullness
  src/Compiler/Utilities/TypeHashing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bump dependency versions in Version.Details.props
  eng/Version.Details.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestion from @T-Gro
  tests/FSharp.Test.Utilities/VSInstallDiscovery.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestions from code review
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/NativePtrOverloads03.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Implement test-only Visual Studio installation discovery infrastructure (#18906)
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/FSharp.Test.Utilities/VSInstallDiscovery.fs
  vsintegration/tests/FSharp.Editor.Tests/Helpers/AssemblyResolver.fs
  vsintegration/tests/Salsa/VisualFSharp.Salsa.fsproj
  vsintegration/tests/UnitTests/AssemblyResolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix nativeptr type erasure to preserve element type in overload resolution (#18911)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  docs/release-notes/.Language/preview.md
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/NativePtrOverloads01.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/NativePtrOverloads02.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/NativePtrOverloads03.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/NativePtrOverloads04.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MemberDefinitions/OverloadingMembers/OverloadingMembers.fs
  tests/fsharp/typecheck/sigs/neg23.bsl
  tests/fsharp/typecheck/sigs/neg23.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

It works, but it sure ain't pretty
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/SpreadTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update expected trim size
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

do not overwrite good idents
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/SignatureConformance.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert "disable cosmetic typar overwrite in type extensions"
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

save declared typar ident in opt data
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeBasics.fs
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

format
  src/Compiler/TypedTree/TypedTree.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add test
  tests/FSharp.Compiler.ComponentTests/Signatures/TypeTests.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

rn
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Fix lexer token mapping for SEMICOLON
  src/Compiler/Service/ServiceLexing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

WIP: MethodImplOption.Async support
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/AbstractIL/ilprint.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/MethodImplAttribute/MethodImplAttribute.Async.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/MethodImplAttribute/MethodImplAttribute.Async.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/MethodImplAttribute/MethodImplAttribute.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix lexer token mapping for SEMICOLON (#19064)
  src/Compiler/Service/ServiceLexing.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix backport workflow to exclude release notes and eng/common files (#19019)
  .github/workflows/backport.yml
Due: none

Debugger: provide breakpoint ranges for short lambdas
  src/Compiler/Service/FSharpParseFileResults.fs
  tests/FSharp.Compiler.Service.Tests/BreakpointLocationTests.fs
  tests/FSharp.Compiler.Service.Tests/Checker.fs
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Fantomas
  src/Compiler/Service/FSharpParseFileResults.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Type checker: recover on checking binding parameter contraints
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.Service.Tests/TypeChecker/TypeCheckerRecoveryTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Drop old test
  tests/fsharp/typecheck/sigs/neg68.bsl
  tests/fsharp/typecheck/sigs/neg68.fsx
  tests/fsharp/typecheck/sigs/neg68.vsbsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update baselines
  tests/fsharp/typecheck/sigs/neg68.bsl
  tests/fsharp/typecheck/sigs/neg68.fsx
  tests/fsharp/typecheck/sigs/neg68.vsbsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Type subsumption cache: handle unsolved type vars (#19040)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/Checking/TypeRelations.fs
  src/Compiler/Utilities/TypeHashing.fs
  src/Compiler/Utilities/lib.fs
  src/Compiler/Utilities/lib.fsi
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/TypeChecks/CrgpLibrary.fs
  tests/FSharp.Compiler.ComponentTests/TypeChecks/TypeRelations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add explicit test for DeclaredName
  tests/FSharp.Compiler.ComponentTests/TypeChecks/TyparNameTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Debugger: provide breakpoint ranges for short lambdas (#19067)
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
  src/Compiler/Service/FSharpParseFileResults.fs
  tests/FSharp.Compiler.Service.Tests/BreakpointLocationTests.fs
  tests/FSharp.Compiler.Service.Tests/Checker.fs
  tests/FSharp.Compiler.Service.Tests/Common.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
