Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Optimize list creation in `IlxGen.fs`
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Type `DelayedILModuleReader.result` as nullable instead of boxing
  src/Compiler/Service/FSharpCheckerResults.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add `Array.tryPickV` and hand back `voption` from `CompilationBinOutputPath`
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/IProjectSite.fs
  vsintegration/src/FSharp.Editor/LanguageService/LegacyProjectWorkspaceMap.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert the IlxGen.fs list-creation micro-optimization
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release notes for the allocation and nullness cleanups
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Use struct tuples for the F# project options caches
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Solve enum constraints once the representations of a recursive group are established (#14580)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/Constraints/ConstraintSyntax.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve resumable state-machine lowering in Debug
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Resumable 04 - Builder Run is inlined.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep ordinary debug inlining on the existing path
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim comments
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep the xml docs in the signature file only
  src/Compiler/TypedTree/TypedTreeOps.ExprConstruction.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Avoid per-call FSharpFunc closure in remapVal member-info remap
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Inline the remaining free-variable foldBacks
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add quotation and mixed-use guards from the imba-review residuals
  tests/FSharp.Compiler.ComponentTests/EmittedIL/OptimizeClosureIfNotInlined.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep final do! expressions on the Bind path (#20449)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
  tests/FSharp.Compiler.ComponentTests/Language/tailcalls.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use ListInline.foldBack in free-variable typar folds
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

[MicroPerf] Inline the remaining free-variable foldBacks (#20439)
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reject OptimizeClosureIfNotInlined where the optimizer cannot act on it
  src/Compiler/Checking/PostInferenceChecks.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/OptimizeClosureIfNotInlined.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Enforce OptimizeClosureIfNotInlined signature/implementation conformance
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/Signatures/SignatureEnforcedAttributes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Tidy the OptimizeClosureIfNotInlined transform and builder
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Simplify OptimizeClosureIfNotInlined checks and sharpen its diagnostics
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  src/FSharp.Core/prim-types.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Harden and compact the OptimizeClosureIfNotInlined tests
  tests/FSharp.Compiler.ComponentTests/Conformance/Signatures/SignatureEnforcedAttributes.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/OptimizeClosureIfNotInlined.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Deduplicate well-known value attribute caching
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Eliminate closure allocations in well-known-attribute queries
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTree.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  src/Compiler/TypedTree/WellKnownAttribs.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run Repo Assist only on schedule or manual dispatch
  .github/workflows/repo-assist.lock.yml
  .github/workflows/repo-assist.md
Due: none

Minimize comments to non-obvious rationale only
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/OptimizeClosureIfNotInlined.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add feature-completeness skill (no deferral of useful work)
  .github/skills/feature-completeness/SKILL.md
Due: none

FCS: add FSharpCheckFileResults.FileSignature
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckDeclarations.fsi
  src/Compiler/Driver/ParseAndCheckInputs.fs
  src/Compiler/Driver/ParseAndCheckInputs.fsi
  src/Compiler/Service/BackgroundCompiler.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/IncrementalBuild.fs
  src/Compiler/Service/IncrementalBuild.fsi
  src/Compiler/Service/TransparentCompiler.fs
  src/Compiler/Service/TransparentCompiler.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove per-call closure allocations from post-inference type checks
  src/Compiler/Checking/PostInferenceChecks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cut allocations in the VS project options caches and drop a boxing check (#20413)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Service/FSharpCheckerResults.fs
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
  vsintegration/src/FSharp.Editor/LanguageService/IProjectSite.fs
  vsintegration/src/FSharp.Editor/LanguageService/LegacyProjectWorkspaceMap.fs
  vsintegration/src/FSharp.ProjectSystem.FSharp/Project.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add concrete code block to feature-completeness skill
  .github/skills/feature-completeness/SKILL.md
Due: none

FCS: fix races that made the background builder repeat work
  src/Compiler/Service/BackgroundCompiler.fs
  src/Compiler/Service/IncrementalBuild.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/IncrementalBuilderRaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

icrease pool size brcause for debug runs
  src/Compiler/SyntaxTree/LexFilter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

add failing code to test fixture
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeAsyncEnumerable.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeAsyncEnumerableTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

disalow runtime async fragments in ComputeSplitToMethodCondition
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Adapt opaque callbacks in inlined List/Array higher-order functions
  src/FSharp.Core/array.fs
  src/FSharp.Core/list.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(Task, Async): parallelLimit, sequential, startAsyncImmediate (#20294)
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/async.fs
  src/FSharp.Core/async.fsi
  src/FSharp.Core/tasks.fs
  src/FSharp.Core/tasks.fsi
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard20.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.debug.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core.SurfaceArea.netstandard21.release.bsl
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncModuleFunctions.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
