Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

docs: Add FSharp.Core release notes for event nullness constraints
  docs/release-notes/.FSharp.Core/10.0.200.md
Due: none

Move the fix
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove test utilities from eng/build.sh
  eng/build.sh
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore TypeForwarding NegativeCases tests from fsharpqa migration
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Class_NG_MethodParam.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Class_NG_NormalClass.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Class_NG_TurnToStruct.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Class_NG_WidenAccess.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Cycle_Cycle001.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Cycle_Cycle002.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Cycle_Cycle004.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Cycle_Dummy.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Delegate_NG_MethodParam.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Delegate_NG_NormalDelegate.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Delegate_NG_TurnToClass.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Delegate_NG_WidenAccess.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Interface_NG_MethodParam.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Interface_NG_NormalInterface.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Interface_NG_TurnToClass.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Interface_NG_WidenAccess.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Struct_NG_MethodParam.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Struct_NG_NormalStruct.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Struct_NG_TurnToClass.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/TypeForwarding/NegativeCases/Struct_NG_WidenAccess.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add tests for all 19 async diagnostic files
  tests/FSharp.Compiler.ComponentTests/Diagnostics/async.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply patch from /run fantomas
  src/Compiler/Checking/Expressions/CheckExpressionsOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Delete .ralph/VISION.md
  .ralph/VISION.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix ILVerify CI failure: disable UpdateXlf target for net10.0 builds (#19220)
  tests/ILVerify/ilverify.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix buildScript syntax in azure-pipelines-PR.yml
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update regression-test-jobs.yml
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

PR URL added to release notes
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  docs/release-notes/.FSharp.Core/10.0.200.md
Due: none

further cleanups
  azure-pipelines-PR.yml
  azure-pipelines.yml
  tests/fsharp/Compiler/Language/FixedIndexSliceTests.fs
  tests/fsharp/FSharpSuite.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/FixIndexerAccessLegacyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Final cleanup: remove HostedCompilerServer from solution, update infrastructure references
  SUMMARY_FINAL_VERIFICATION.md
  VisualFSharp.sln
  src/Compiler/Legacy/LegacyHostedCompilerForTesting.fs
  tests/scripts/update-baselines.fsx
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Clean up .ralph artifacts, DELETION_EXPLANATION.md, and LANGVERSION_IN_TESTS_MIGRATION.md
  .ralph/PROBLEMS.md
  .ralph/PROPOSED_PLAN.md
  .ralph/VISION.md
  .ralph/logs/Architect-20260115-113449.prompt.txt
  .ralph/logs/Implement-1-20260115-114146.prompt.txt
  .ralph/logs/Implement-2-20260115-120632.prompt.txt
  .ralph/logs/Implement-2-20260115-123702.prompt.txt
  .ralph/logs/Implement-2-20260115-125740.prompt.txt
  .ralph/logs/Implement-2-20260115-131722.prompt.txt
  .ralph/logs/Implement-3-20260115-134358.prompt.txt
  .ralph/logs/Implement-4-20260115-141523.prompt.txt
  .ralph/logs/Implement-5-20260115-144541.prompt.txt
  .ralph/logs/Review-1-20260115-115623.prompt.txt
  .ralph/logs/Review-2-20260115-133529.prompt.txt
  .ralph/logs/Review-3-20260115-140654.prompt.txt
  .ralph/logs/Review-4-20260115-142154.prompt.txt
  .ralph/logs/Verify-20260115-114835.prompt.txt
  .ralph/logs/Verify-20260115-115907.prompt.txt
  .ralph/logs/Verify-20260115-120951.prompt.txt
  .ralph/logs/Verify-20260115-124117.prompt.txt
  .ralph/logs/Verify-20260115-130024.prompt.txt
  .ralph/logs/Verify-20260115-132834.prompt.txt
  .ralph/logs/Verify-20260115-133752.prompt.txt
  .ralph/logs/Verify-20260115-134806.prompt.txt
  .ralph/logs/Verify-20260115-140908.prompt.txt
  .ralph/logs/Verify-20260115-141715.prompt.txt
  .ralph/logs/Verify-20260115-142242.prompt.txt
  .ralph/notes.txt
  .ralph/status.txt
  DELETION_EXPLANATION.md
  LANGVERSION_IN_TESTS_MIGRATION.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Delete HYPOTHESIS.md
  HYPOTHESIS.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes for SRTP resolution fix
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
Due: none

Non hardcoded resolution of external assembly ref sigs
  src/Compiler/Driver/XmlDocFileWriter.fs
  src/Compiler/Driver/XmlDocFileWriter.fsi
  src/Compiler/Driver/fsc.fs
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
  src/Compiler/Symbols/XmlDocInheritance.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

adjust quickinfo
  vsintegration/tests/UnitTests/LegacyLanguageService/Tests.LanguageService.QuickInfo.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add auto LangVersion setting for preview SDKs
  src/FSharp.Build/Microsoft.FSharp.NetSdk.props
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add runFsiProcess and runFscProcess CLI subprocess helpers
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/CliProcessTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Change default language version to 10.0
  src/Compiler/Facilities/LanguageFeatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update default F# language version to 11.0
  tests/fsharpqa/Source/CompilerOptions/fsi/langversion/langversionhelp.437.1033.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove SKIP_NETCURRENT_FSC_BUILD from ILVerify step
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Migrate 7 FSI CLI tests to ComponentTests
  .ralph/CONTEXT.md
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCliTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Migrate E_MissingSourceFile CLI tests to ComponentTests
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/Fsc/FscCliTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI test failures for langversion 8.0 migration
  RAW_ANALYSIS_v8.md
  tests/fsharp/Compiler/Language/OpenTypeDeclarationTests.fs
  tests/fsharp/typecheck/sigs/neg02.vsbsl
  tests/fsharp/typecheck/sigs/neg132.bsl
  tests/fsharpqa/Source/Conformance/Expressions/ExpressionQuotations/Regressions/env.lst
  tests/fsharpqa/Source/Conformance/Expressions/Type-relatedExpressions/E_RigidTypeAnnotation02_5_0.fsx
  tests/fsharpqa/Source/Conformance/ImplementationFilesAndSignatureFiles/NamespacesFragmentsAndImplementationFiles/global/E_Abbreviation.fsx
  tests/fsharpqa/Source/Conformance/ObjectOrientedTypeDefinitions/InterfaceTypes/env.lst
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/.!40563!E_MemberConstraint04.fs
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/DefaultConstructorConstraint02.fs
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/E_ComparisonConstraint01.fs
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/E_EqualityConstraint01.fs
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/E_MemberConstraint02.fs
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/E_MemberConstraint04.fs
  tests/fsharpqa/Source/Conformance/TypesAndTypeConstraints/CheckingSyntacticTypes/E_UnmanagedConstraint01.fs
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/FixIndexerAccessLegacyTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove temp analysis file
  RAW_ANALYSIS_v8.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix whitespace in QuickInfo test baseline - no space before colon
  vsintegration/tests/UnitTests/LegacyLanguageService/Tests.LanguageService.QuickInfo.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove duplicate LangVersion60 SerializableAttribute tests
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/SerializableAttribute.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs.RealInternalSignatureOff.il.net472.debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs.RealInternalSignatureOff.il.net472.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs.RealInternalSignatureOff.il.netcore.debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs.RealInternalSignatureOff.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs.RealInternalSignatureOn.il.net472.debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs.RealInternalSignatureOn.il.net472.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs.RealInternalSignatureOn.il.netcore.debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelModule60.fs.RealInternalSignatureOn.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs.RealInternalSignatureOff.il.net472.debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs.RealInternalSignatureOff.il.net472.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs.RealInternalSignatureOff.il.netcore.debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs.RealInternalSignatureOff.il.netcore.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs.RealInternalSignatureOn.il.net472.debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs.RealInternalSignatureOn.il.net472.release.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs.RealInternalSignatureOn.il.netcore.debug.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SerializableAttribute/ToplevelNamespace60.fs.RealInternalSignatureOn.il.netcore.release.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix formatting issues in regression test YAML
  eng/templates/regression-test-jobs.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove orphan version-suffixed test files
  tests/fsharp/core/array-no-dot-warnings/test-langversion-5.0.bsl
  tests/fsharp/core/array-no-dot-warnings/test-langversion-5.0.fsx
  tests/fsharpqa/Source/Conformance/ObjectOrientedTypeDefinitions/InterfaceTypes/E_ConsumeMultipleInterfaceFromCS.5.0.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

FIx resolution of external .xml files for .dll imports
  src/Compiler/Driver/XmlDocFileWriter.fs
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
  src/Compiler/Symbols/XmlDocInheritance.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Migrate FSIMODE=PIPE InteractiveSession tests (32 new tests)
  .ralph/CONTEXT.md
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix overload resolution concreteness tiebreaker to compare formal parameter types
  .ralph/VISION.md
  .ralph/logs/Architect-20260119-173758.prompt.txt
  .ralph/logs/Implement-1-20260119-174606.prompt.txt
  .ralph/notes.txt
  .ralph/status.txt
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add 32 additional FSIMODE=PIPE InteractiveSession tests
  .ralph/CONTEXT.md
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/Misc.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Sprint 2: Verify test expectations - all RFC examples correctly configured
  .ralph/CONTEXT.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bugfix :: Nullness :: Eliminate spurious warnings when working with CLI events (#19221)
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  docs/release-notes/.FSharp.Core/10.0.200.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/infos.fs
  src/FSharp.Core/event.fs
  src/FSharp.Core/event.fsi
  src/FSharp.Core/prim-types.fs
  src/FSharp.Core/prim-types.fsi
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/EventNullnessTests.fs
  vsintegration/tests/UnitTests/LegacyLanguageService/Tests.LanguageService.QuickInfo.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
