Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Update test sources/baselines for emit-order changes (#19732)
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/OptionalAndOutParameters.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/OptionalAndOutParameters.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/StaticLet/StaticLetInUnionsAndRecords.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/UnionTypes/UnionStructTypes.fs
  tests/FSharp.Compiler.ComponentTests/Interop/StaticsInInterfaces.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

IlxGen: preserve field/event insertion order (don't sort) (#19732)
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

EmittedIL: third baseline regen for field-order-preserve fix (#19732)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/ForLoop03.fs.RealInternalSignatureOff.OptimizeOff.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd01.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd01.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd02.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd02.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd03.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd03.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd03.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd04.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd04.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd04.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd05.fs.RealInternalSignatureOff.OptimizeOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd05.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals10.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals12.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals13.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals15.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals16.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals18.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/CustomType.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/GenericStructDu.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/Records.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionTailCalls/SeqExpressionTailCalls01.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/SeqExpressionTailCalls/SeqExpressionTailCalls02.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/StaticOptimizations/String_Enum.fs.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Structure/FloatsAndDoubles.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Structure/FloatsAndDoubles.fs.RealInternalSignatureOn.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs: add PR link to release notes entry (#14572)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Fix Mermaid rendering: strip semicolons from edge labels
  .github/docs/state-machine.md
  .github/workflows/agentic-state-machine.md
Due: none

Trim release notes for FS3888 per review feedback (issue #19560)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Core/11.0.100.md
  docs/release-notes/.Language/preview.md
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

fantomas: format IlxGen.fs after merge (#19732)
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update AOT trim test8901 expectation for anon-record `{| ... |}` printing (#6116)
  tests/AheadOfTime/Trimming/Program.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bump expected trimmed DLL sizes for #6116 sformat.fs additions
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Update FSharpSuite printing baselines for anon-record `{| ... |}` (#6116)
  tests/fsharp/core/anon/lib.fs
  tests/fsharp/core/anon/test.fsx
  tests/fsharp/core/printing/output.1000.stdout.bsl
  tests/fsharp/core/printing/output.200.stdout.bsl
  tests/fsharp/core/printing/output.multiemit.stdout.bsl
  tests/fsharp/core/printing/output.off.stdout.bsl
  tests/fsharp/core/printing/output.stdout.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test(checker): add RED tests for CompiledName on multi-value bindings (#6131)
  tests/FSharp.Compiler.ComponentTests/Attributes/CompiledNameMultipleValues.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix(checker): emit FS0755 for CompiledName on multi-value bindings (#6131)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs(release-notes): note FS0755 fix for CompiledName on multi-value bindings (#6131)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add RED tests for #9838: extension method overload error shows wrong type
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/Issue9838Tests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Compact state-machine doc and add readability budget to generator
  .github/docs/state-machine.md
  .github/workflows/agentic-state-machine.md
Due: none

Update release notes with PR link (#19922)
  docs/release-notes/.FSharp.Compiler.Service/9.0.300.md
Due: none

Gate Span<T>-based RED tests for #9838 on NETCOREAPP, add failure-log comment
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/Issue9838Tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add NoBloat instruction file for compiler / VS / test code
  .github/instructions/NoBloat.instructions.md
Due: none

Refactor String IL-method matchers via active pattern + InlineIfLambda
  src/Compiler/Optimize/Optimizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #9838: render extension declaring type in overload errors
  src/Compiler/Checking/NicePrint.fs
  src/Compiler/Checking/NicePrint.fsi
  src/Compiler/Driver/CompilerDiagnostics.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/Issue9838Tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix bare 'equals' shadowed by TaggedText AutoOpen in merged code (issue #19560)
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor(checker): use semantic val-count for FS0755 on CompiledName (#6131)
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Attributes/CompiledNameMultipleValues.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Move #11526 release-notes entry to VNEXT (11.0.100)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/9.0.300.md
Due: none

Add release notes entry for #9838 overload-error fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Add PR link to release notes entry for #9838
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

FS3888: tighten enforced set + skip hidden-repr sigs; mirror merged-from-main attribs (issue #19560)
  src/Compiler/AbstractIL/il.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fsi
  src/Compiler/TypedTree/TypedTreeOps.Transforms.fsi
  src/Compiler/Utilities/range.fsi
  src/Compiler/Utilities/sformat.fs
  src/Compiler/Utilities/sformat.fsi
  tests/FSharp.Compiler.ComponentTests/Conformance/Signatures/SignatureEnforcedAttributes.fs
  vsintegration/src/FSharp.Editor/Common/Constants.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update VS code-fix tests: replace [<AutoOpen>] with [<RequireQualifiedAccess>] (issue #19560)
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/AddMissingAttributeToSignatureTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

FS3888: include modules in the check (IsHiddenReprTycon is true for modules) (issue #19560)
  src/Compiler/Checking/SignatureConformance.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Signatures/SignatureEnforcedAttributes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Mirror [<RequireQualifiedAccess>] to .fsi for 4 internal compiler modules (issue #19560)
  src/Compiler/Facilities/DiagnosticsLogger.fsi
  src/Compiler/SyntaxTree/PrettyNaming.fsi
  src/Compiler/SyntaxTree/WarnScopes.fsi
  src/Compiler/Utilities/FileSystem.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add failing regression tests for #10819 (fsi.CommandLineArgs ignores --)
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCommandLineArgsTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop PostProcessCompilerArgs from mutating fsi script args after -- (fix #10819)
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsi/FsiCommandLineArgsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format and document #10819 fix
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Interactive/fsi.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add PR link to release notes entry for #10819
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Refuse TLR when body references private member under --realsig+
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_TLR_RealsigPrivate.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Tighten TLR private-ref guard to type-scoped members only
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CI: drop seq-vs-par determinism leg, keep strict same-flags Release (#19732)
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

WIP: PerFileClosureNameScope for closure type names — partial fix for #19928
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Determinism: SEQ=PAR byte-identical (closes #19928)
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
