Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Generalize article examples and clarify measurement evidence
  .github/agents/performance-celebration-article.agent.md
Due: none

Add reusable performance celebration article agent
  .github/agents/performance-celebration-article.agent.md
Due: none

Use concise F# prose in the performance article
  docs/fsharp11-performance/presentation/README.md
  docs/fsharp11-performance/presentation/article.md
  docs/fsharp11-performance/presentation/chart-data.json
  docs/fsharp11-performance/presentation/generate.mjs
Due: none

Make the F# performance article a celebration, not a lab report
  .github/agents/performance-celebration-article.agent.md
  docs/fsharp11-performance/presentation/article.md
  docs/fsharp11-performance/presentation/chart-data.json
  docs/fsharp11-performance/presentation/generate.mjs
Due: none

Lead F# release documentation with design motivations
  .github/agents/fsharp-whatsnew-expert.agent.md
Due: none

Use F# snippets and remove supplementary links from the final article
  .github/agents/performance-celebration-article.agent.md
  docs/fsharp11-performance/presentation/README.md
  docs/fsharp11-performance/presentation/article.md
  docs/fsharp11-performance/presentation/chart-data.json
  docs/fsharp11-performance/presentation/generate.mjs
Due: none

Migrate Apex pipeline to DartLab-1ES
  azure-pipelines-integration-dartlab.yml
  docs/release-notes/.VisualStudio/18.vNext.md
  eng/pipelines/apex-integration/README.md
  eng/pipelines/apex-integration/integration-job.yml
  eng/pipelines/apex-integration/run-apex.ps1
  eng/pipelines/apex-integration/stage.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep single-file project options in a named record (#20455)
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/LanguageService/FSharpProjectOptionsManager.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Migrate internal tools feed authentication to WIF (#20583)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Let a consumer take a navigable container apart and rebuild one
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceNavigation.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link the release note to PR #20529
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Put the container's fields back on its case
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Service/ServiceNavigation.fs
  src/Compiler/Service/ServiceNavigation.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep one release note, in the version in development
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Distinguish release and feature introductions
  .github/agents/fsharp-whatsnew-expert.agent.md
Due: none

Explain closure savings briefly and use multiline F# examples
  .github/agents/performance-celebration-article.agent.md
  docs/fsharp11-performance/presentation/README.md
  docs/fsharp11-performance/presentation/article.md
  docs/fsharp11-performance/presentation/chart-data.json
  docs/fsharp11-performance/presentation/generate.mjs
Due: none

Remove the ambiguous zero-allocation operation count
  .github/agents/performance-celebration-article.agent.md
  docs/fsharp11-performance/presentation/article.md
Due: none

List lambda-inlining APIs and explain captured partial applications
  .github/agents/performance-celebration-article.agent.md
  docs/fsharp11-performance/presentation/README.md
  docs/fsharp11-performance/presentation/article.md
  docs/fsharp11-performance/presentation/chart-data.json
  docs/fsharp11-performance/presentation/function-inlining.json
  docs/fsharp11-performance/presentation/generate.mjs
Due: none

Remove always-on NonInlineLiteralsAsPrintfFormat flag
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add a VS/FCS performance review agent
  .github/agents/vs-integration-perf.md
Due: none

Remove always-on SelfTypeConstraints language feature flag
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on TailCall warning language feature
  src/Compiler/Checking/TailCallChecks.fs
  src/Compiler/Checking/TailCallChecks.fsi
  src/Compiler/Driver/fsc.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on ResumableStateMachines language feature flag
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/PostInferenceChecks.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add a VS/FCS performance review agent (#20674)
  .github/agents/vs-integration-perf.md
Due: none

Avoid duplicate CI package uploads and guard SDK MT evidence
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove always-on AdditionalTypeDirectedConversions flag
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix anonymous-record structness mismatch diagnostic
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/AnonymousRecords.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on ExpandedMeasurables language feature
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove always-on PackageManagement language feature flag
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Interactive/fsi.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/fsharp/core/printing/output.47.stderr.bsl
  tests/fsharp/core/printing/output.47.stdout.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Deduplicate structness diagnostic test setup
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/AnonymousRecords.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.200.md
Due: none

Avoid repeated tooling scans and unchanged-label comments
  .github/docs/state-machine.md
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Preserve direct return for exact-type propagating expressions
  src/Compiler/Checking/Expressions/CheckExpressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Avoid repeated tooling scans and unchanged-label comments (#20682)
  .github/docs/state-machine.md
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
Due: none

Simplify article attribution and note existing Option inlining
  .github/agents/performance-celebration-article.agent.md
  docs/fsharp11-performance/presentation/article.md
  docs/fsharp11-performance/presentation/chart-data.json
  docs/fsharp11-performance/presentation/function-inlining.json
  docs/fsharp11-performance/presentation/generate.mjs
Due: none

[release/10.0.4xx] Preserve resumable state-machine lowering in Debug
  docs/release-notes/.FSharp.Compiler.Service/10.0.402.md
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/TypedTree/TcGlobals.fsi
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fs
  src/Compiler/TypedTree/TypedTreeOps.FreeVars.fsi
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Resumable 01.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Resumable 02.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Resumable 03.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/Resumable 04 - Builder Run is inlined.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 13 - Witness - Struct with ResumableCode and partially resolved type args.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DebugInlineAsCall/SRTP 14 - StateMachine with unresolved trait from composed inline function.bsl
  tests/FSharp.Compiler.ComponentTests/Language/StateMachineTests.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/TaskGeneratedCode.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link servicing release note to backport PR
  docs/release-notes/.FSharp.Compiler.Service/10.0.402.md
Due: none

Convert FSharpLineTokenizer.ScanToken to allocation-free voption struct return
  docs/fcs/tokenizer.fsx
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceLexing.fs
  src/Compiler/Service/ServiceLexing.fsi
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/TokenizerTests.fs
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
  vsintegration/src/FSharp.LanguageService/Colorize.fs
  vsintegration/src/FSharp.LanguageService/Intellisense.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add VS release notes entry for SourceTextData thread-safety fix (PR #20113)
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
