Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Allow 'reraise' in computation expression handlers
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Checking/PatternMatchCompilation.fs
  src/Compiler/Checking/PatternMatchCompilation.fsi
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/ReraiseInComputationExpressionsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Report a hand-written `__` self identifier to the name resolution sink
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Take the span ordinal helpers from illib instead of copying them
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add release note
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Refuse `_` as a rename target for a binding that has uses
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Refuse a rename whose set of locations omits the declaration
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add inline rename tests for self identifiers
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/InlineRenameServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Resolve only the open documents up front, walk the rest on demand
  vsintegration/src/FSharp.Editor/Copilot/CopilotContextProvider.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release note
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Recover per resolution in GetSemanticClassification
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Service/SemanticClassification.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert `p_tcaug` improvement
  src/Compiler/TypedTree/TypedTreePickle.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix https://github.com/dotnet/fsharp/pull/20274#discussion_r3871250493
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/TypedTree/TypedTreePickle.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/UnlinkedEntityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reference EditorFeatures from the editor test project
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert "Take the span ordinal helpers from illib instead of copying them"
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Point the __ use-site caret at the use
  vsintegration/tests/FSharp.Editor.Tests/InlineRenameServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Support multithreaded MSBuild in F# build tasks (#20506)
  azure-pipelines-PR.yml
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Facilities/CompilerLocation.fs
  src/Compiler/Facilities/CompilerLocation.fsi
  src/FSharp.Build/CreateFSharpManifestResourceName.fs
  src/FSharp.Build/FSharp.Build.fsproj
  src/FSharp.Build/FSharpEmbedResXSource.fs
  src/FSharp.Build/FSharpEmbedResourceText.fs
  src/FSharp.Build/Fsc.fs
  src/FSharp.Build/Fsi.fs
  src/FSharp.Build/GenerateILLinkSubstitutions.fs
  src/FSharp.Build/MapSourceRoots.fs
  src/FSharp.Build/SubstituteText.fs
  src/FSharp.Build/TaskEnvironmentPaths.fs
  src/FSharp.Build/WriteCodeFragment.fs
  tests/EndToEndBuildTests/MultithreadedTasks/Fixture.fsproj
  tests/EndToEndBuildTests/MultithreadedTasks/Probe.cs
  tests/EndToEndBuildTests/MultithreadedTasks/Program.fs
  tests/EndToEndBuildTests/MultithreadedTasks/README.md
  tests/EndToEndBuildTests/MultithreadedTasks/check.fsx
  tests/EndToEndBuildTests/MultithreadedTasks/run.fsx
  tests/FSharp.Build.UnitTests/BuildTaskTestHelpers.fs
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/FSharp.Build.UnitTests/FileTaskEnvironmentTests.fs
  tests/FSharp.Build.UnitTests/MapSourceRootsTests.fs
  tests/FSharp.Build.UnitTests/MultiThreadedTaskTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Reject runtime async Await in ordinary task state machines (#20584)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Look a declaration up in the tests without FSharp.Editor's inline helper
  vsintegration/tests/FSharp.Editor.Tests/CopilotContextProviderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert "Compare spans through ordinal helpers instead of spelling StringComparison out"
  vsintegration/src/FSharp.Editor/Common/Extensions.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolMapping.fs
  vsintegration/src/FSharp.Editor/Copilot/CopilotSymbolSnippets.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move the string and span ordinal extensions into Strings.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Utilities/Strings.fs
  src/Compiler/Utilities/Strings.fsi
  src/Compiler/Utilities/illib.fs
  src/Compiler/Utilities/illib.fsi
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve handler-local stackalloc helpers during let elimination
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Libraries/NativeInterop.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix `NullReferenceException` in `Entity` on unlinked placeholder entities (#20274)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
  src/Compiler/Service/SemanticClassification.fs
  src/Compiler/TypedTree/TypedTreePickle.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/UnlinkedEntityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add AGENTS.md and Claude Code rules mirroring Copilot instructions (#20398)
  .claude/rules/CodeGen.md
  .claude/rules/ComponentTests.md
  .claude/rules/DebugEmit.md
  .claude/rules/EngVersioning.md
  .claude/rules/ExpertReview.md
  .claude/rules/FSComp.md
  .claude/rules/FSharpCore.md
  .claude/rules/LSP.md
  .claude/rules/NoBloat.md
  .claude/rules/Optimizer.md
  .claude/rules/SyntaxTree.md
  .claude/rules/TypedTreePickle.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI failures
  eng/Version.Details.props
  eng/Version.Details.xml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Use the ordinal helpers where the editor spells out StringComparison
  vsintegration/src/FSharp.Editor/LanguageService/Tokenizer.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI failures
  azure-pipelines-PR.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cleanup: use print/printn for simple string literals and drop redundant sprintf (#20544)
  .github/skills/release-notes/pick-insert-line.fsx
  docs/debug-emit.md
  eng/scripts/ExtractTimingsFromBinlog.fsx
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/SynExpr.fs
  src/Compiler/Service/SynPat.fs
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/TypedTree/TypedTreeOps.ExprOps.fs
  src/FSharp.Core/array.fsi
  src/FSharp.Core/async.fsi
  src/FSharp.Core/fslib-extra-pervasives.fsi
  src/FSharp.Core/list.fsi
  src/FSharp.Core/seq.fsi
  tests/FSharp.Compiler.ComponentTests/Language/coroutines.fsx
  tests/FSharp.Core.UnitTests/FSharp.Core/ComparersRegression.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncModule.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/ContinuationsThreadingDetailsStandaloneExe.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/Tasks.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TasksDynamic.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/OperatorsModule2.fs
  tests/fsharp/core/attributes/test.fsx
  tests/fsharp/core/topinit/generate.fsx
  tests/scripts/codingConventions.fsx
  tests/scripts/identifierAnalysisByType.fsx
  tests/walkthroughs/DebugStepping/TheBigFileOfDebugStepping.fsx
  vsintegration/tests/FSharp.Editor.Tests/CodeFixes/RemoveUnnecessaryParenthesesTests.fs
  vsintegration/tests/UnitTests/TestLib.Utils.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Accept an escaped `_` and rename active pattern cases
  vsintegration/src/FSharp.Editor/InlineRename/InlineRenameService.fs
  vsintegration/tests/FSharp.Editor.Tests/InlineRenameServiceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review feedback
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableRegressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve outer rethrows in nested runtime async try/with (#20586)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/RuntimeAsyncExceptionRewrite.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeAsyncReraiseOwnership.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsyncTests.fs
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Handle commas in embedded resource paths
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerConfig.fs
  src/Compiler/Driver/CompilerConfig.fsi
  src/FSharp.Build/Fsc.fs
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/FSharp.Build.UnitTests/ResourceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Allow 'reraise' in computation expression handlers (#20405)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Checking/PatternMatchCompilation.fs
  src/Compiler/Checking/PatternMatchCompilation.fsi
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/ReraiseInComputationExpressionsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Prevent scheduled agentic workflows from running in forks
  .github/workflows/agentic-state-machine.lock.yml
  .github/workflows/agentic-state-machine.md
  .github/workflows/labelops-pr-maintenance.lock.yml
  .github/workflows/labelops-pr-maintenance.md
  .github/workflows/labelops-pr-security-scan.lock.yml
  .github/workflows/labelops-pr-security-scan.md
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/msbuild-quality-review.md
  .github/workflows/regression-pr-shepherd.lock.yml
  .github/workflows/regression-pr-shepherd.md
  .github/workflows/repo-assist-scheduled.lock.yml
  .github/workflows/repo-assist-scheduled.md
Due: none

cleanup and fix MergeSources
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTaskBuilder.fs
  tests/FSharp.Compiler.ComponentTests/Language/RuntimeAsync/RuntimeTasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix false FS3261 warnings for unions in recursive declarations (#20562)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fsi
  src/Compiler/TypedTree/TypedTreeOps.Attributes.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/InlineIfLambdaClosureForms.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableRegressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Update trimming integration expectation
  tests/EndToEndBuildTests/MultithreadedTasks/run.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Allow optional arguments in indexer setters (#20570)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/IndexerSetterOptionalArguments.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Sort the merged property definitions in one array (#20456)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netcoreapp.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Test/Transparent Compiler: test that TC reuses check results after project modifications (#20444)
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/TransparentCompiler.fs
  tests/FSharp.Test.Utilities/ProjectGeneration.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make Debug OTLP export opt-in via FSHARP_OTEL_EXPORT (#20468)
  DEVGUIDE.md
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/Vsix/VisualFSharpFull/Properties/launchSettings.json
  vsintegration/src/FSharp.Editor/Common/DebugHelpers.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
