Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Minimize in-process compiler surface drift
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/Driver/OptimizeInputs.fs
  src/Compiler/Driver/OptimizeInputs.fsi
  src/Compiler/Driver/fsc.fs
  src/Compiler/Driver/fsc.fsi
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ArchitectureGuardTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Lock intentional hot reload interface drift
  tests/scripts/main-fsi-allowlist.txt
  tests/scripts/main-fsi-drift-hashes.txt
Due: none

Report hot reload update capabilities
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/DefinitionMap.fs
  src/Compiler/HotReload/FSharpSymbolChanges.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Expose required hot reload capabilities
  src/Compiler/HotReload/DeltaBuilder.fs
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DefinitionMapTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/SymbolChangesTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/HotReload/DeltaBuilderTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Document F# hot reload rude-edit diagnostics
  docs/hot-reload-rude-edits.md
Due: none

Format delta metadata writer sources
  src/Compiler/AbstractIL/DeltaMetadataTables.fs
  src/Compiler/AbstractIL/FSharpDeltaMetadataWriter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format hot reload compiler sources
  src/Compiler/CodeGen/ILBaselineReader.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format hot reload compiler sources
  src/Compiler/TypedTree/GeneratedNames.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format hot reload emitter sources
  src/Compiler/AbstractIL/ILBaselineReader.fs
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format hot reload session sources
  src/Compiler/AbstractIL/ILBaselineReader.fs
  src/Compiler/CodeGen/ILBaselineReader.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Service/service.fs
  src/Compiler/TypedTree/GeneratedNames.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format in-process hot reload sources
  src/Compiler/AbstractIL/ILBaselineReader.fs
  src/Compiler/CodeGen/ILBaselineReader.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Service/service.fs
  src/Compiler/TypedTree/GeneratedNames.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format umbrella hot reload sources
  src/Compiler/AbstractIL/ILBaselineReader.fs
  src/Compiler/CodeGen/HotReloadPdb.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Service/service.fs
  src/Compiler/TypedTree/GeneratedNames.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

don't use quoted name
  src/Compiler/Checking/AugmentWithHashCompare.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

int version of reflectionfree-printing doc
  docs/reflectionfree-printing.md
Due: none

doc tweaks
  docs/reflectionfree-printing.md
Due: none

Link release note to the printing doc and cover anonymous records
  docs/reflectionfree-printing.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

test backticks
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/reflectionfree.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Share the ToString recursion guard with anonymous records
  src/Compiler/Checking/AugmentWithHashCompare.fs
  src/Compiler/Checking/AugmentWithHashCompare.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add EmittedIL baselines for struct and anonymous record ToString
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ReflectionFreeToString.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3013177 (#20023)
  src/Compiler/xlf/FSStrings.cs.xlf
  src/Compiler/xlf/FSStrings.de.xlf
  src/Compiler/xlf/FSStrings.es.xlf
  src/Compiler/xlf/FSStrings.fr.xlf
  src/Compiler/xlf/FSStrings.it.xlf
  src/Compiler/xlf/FSStrings.ja.xlf
  src/Compiler/xlf/FSStrings.ko.xlf
  src/Compiler/xlf/FSStrings.pl.xlf
  src/Compiler/xlf/FSStrings.pt-BR.xlf
  src/Compiler/xlf/FSStrings.ru.xlf
  src/Compiler/xlf/FSStrings.tr.xlf
  src/Compiler/xlf/FSStrings.zh-Hans.xlf
  src/Compiler/xlf/FSStrings.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bump FSBuildVersion to 111 to fix Check_Published_Package_Versions CI failure
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml
