Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

feat(hot-reload): feed on-disk portable PDBs into sequence point analysis
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ArchitectureGuardTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): active statement and line update coverage
  docs/hot-reload-active-statements.md
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/HotReload/ActiveStatementTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore(hot-reload): refresh fsi drift hash for committed service.fsi
  tests/scripts/main-fsi-drift-hashes.txt
Due: none

Add wait for gotodefinition tests
  vsintegration/tests/FSharp.Editor.IntegrationTests/GoToDefinitionTests.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix(hot-reload): read accessor-edit property/event rows from fresh-compile coordinates
  docs/hot-reload-member-additions.md
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): emit added modules in deltas
  src/Compiler/HotReload/DeltaBuilder.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NewTypeDefinitionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fantomas: format IlxGen.fs (#19928)
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Poll and retry for lightbulb tests
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

More telemetry for debugging tests
  vsintegration/tests/FSharp.Editor.IntegrationTests/DebuggingSequencePointTests.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/ShellInProcess_Debugging.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/SolutionExplorerInProcess_Files.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(hot-reload): emit added enums in deltas
  src/Compiler/CodeGen/DeltaMetadataSerializer.fs
  src/Compiler/CodeGen/DeltaMetadataSrmWriter.fs
  src/Compiler/CodeGen/DeltaMetadataTables.fs
  src/Compiler/CodeGen/DeltaMetadataTypes.fs
  src/Compiler/CodeGen/FSharpDeltaMetadataWriter.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NewTypeDefinitionTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/FSharpDeltaMetadataWriterTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): emit added interfaces and delegates in deltas
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NewTypeDefinitionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): added type coverage consolidation
  docs/hot-reload-member-additions.md
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NewTypeDefinitionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CI: format EraseUnions.fs + add FSharp.Core release note
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/Compiler/CodeGen/EraseUnions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Rework waiting for lightbulb
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI: remove broken implicit-yield caching, restore format specifier dedup
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Checking/NameResolution.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Revert release notes to match actual dedup implementation
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

refactor(hot-reload): per-project session state inside an explicit session object
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): public FSharpHotReloadSession API
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
  tests/scripts/main-fsi-drift-hashes.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs(hot-reload): architecture entity model
  docs/hot-reload-architecture.md
Due: none

feat(hot-reload): pin deterministic sequential codegen for baseline capture
  docs/hot-reload-architecture.md
  src/Compiler/Driver/fsc.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test(hot-reload): pin baseline determinism
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/HotReload/BaselineDeterminismTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

feat(hot-reload): scope in-process compiles to the emitting session
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor(hot-reload): migrate tests to the session object API
  tests/FSharp.Compiler.ComponentTests/HotReload/AttributeEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/GenericEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/MdvValidationTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NewTypeDefinitionTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/ParameterEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ActiveStatementTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadCheckerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

refactor(hot-reload): remove the static session surface and ambient store
  docs/hot-reload-architecture.md
  src/Compiler/Driver/HotReloadEmitHook.fs
  src/Compiler/HotReload/HotReloadState.fs
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
  tests/projects/HotReloadDemo/HotReloadDemoApp/HotReloadSession.fs
  tests/projects/HotReloadDemo/HotReloadDemoApp/Program.fs
  tests/scripts/main-fsi-drift-hashes.txt
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trim bloat comments per NoBloat rules (issue #19560)
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/TypedTree/WellKnownAttribs.fsi
  vsintegration/src/FSharp.Editor/CodeFixes/AddMissingAttributeToSignature.fs
  vsintegration/src/FSharp.Editor/CodeFixes/RemoveExtraAttributeFromImplementation.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove accidentally-committed build artifacts (#19928)
  FSComp.resources
  FSIstrings.resources
  FSStrings.resources
  FSharpOptimizationCompressedData.FSharp.Compiler.Service
  FSharpOptimizationCompressedDataB.FSharp.Compiler.Service
  FSharpSignatureCompressedData.FSharp.Compiler.Service
  FSharpSignatureCompressedDataB.FSharp.Compiler.Service
  UtilsStrings.resources
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Regen OptionalAndOutParameters baselines for deferred-codegen order (#19928)
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/OptionalAndOutParameters.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/MethodResolution/OptionalAndOutParameters.fs.RealInternalSignatureOn.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestion from @abonie
  .github/instructions/NoBloat.instructions.md
Due: none

[fsharp-15.9] Block 8.0: 1ESPT compliance — wrap pipeline 499 stub in MicroBuild.1ES.Official.yml
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

ForLoop03 .net472: regen by copying netcore + .mresource blocks (#19928)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/ForLoop03.fs.RealInternalSignatureOff.OptimizeOff.il.net472.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert "Poll and retry for lightbulb tests"
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert "Rework waiting for lightbulb"
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add workflow alias key above Labels table; encode rule in generator
  .github/docs/state-machine.md
  .github/workflows/agentic-state-machine.md
Due: none

AnonRecords .net472: regen by appending polyfill classes to netcore (#19928)
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/AnonRecords.fs.il.net472.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix quotations leaking empty-string match lowering into AST (#19873) (#19923)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/Checking/PatternMatchCompilation.fs
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/Symbols/Exprs.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/Chars.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/ConsecutiveInts.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/Decimal.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/EmptyString.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/Int64.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/NonEmptyString.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/NullOrEmpty.bsl
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ExpressionQuotations/QuotationRendering/QuotationRenderingTests.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TypeTestsInPatternMatching.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
