Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/ComponentTests.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/CodeGen.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Don't mirror CcrOptout into Claude Code sessions
  .claude/rules/CcrOptout.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Stop eagerly loading mirrored instructions via @-include
  .claude/rules/TypedTreePickle.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Drop external URL from CLAUDE.md (prompt injection risk)
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Move Visual Studio guidance into copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Prefer the Visual Studio MCP server over the shell
  CLAUDE.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add a JSON-RPC server mode to F# Interactive
  FSharp.slnx
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  eng/Packages.props
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsi.targets
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Exempt StreamJsonRpc's serialization stack from Microsoft signing
  eng/Signing.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Register the new test project with TestSplit.fsx
  eng/tests/TestSplit.fsx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Exempt the new test project from the embedded-pdb check
  buildtools/AssemblyCheck/SkipVerifyEmbeddedPdb.txt
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Point the release notes entry at the pull request
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Trim the comments to the repository style rule
  src/Compiler/Interactive/fsi.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run fantomas on the files it actually covers
  src/Compiler/Interactive/fsi.fs
  src/fsi/fsimain.fs
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add the new test project to VisualFSharp.slnx too
  VisualFSharp.slnx
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Drop the % specifiers from the interpolated strings
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep the execution queue off the wire and move the directory on it
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Stop --realsig- from hiding FsiRpcTarget's methods from StreamJsonRpc
  src/fsi/fsiserver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use .NET format specifiers for the generated names in the tests
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Interpolate strings and mark up the doc comments in the new code
  src/fsi/fsiserver.fs
  src/fsi/interactiveProtocol.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiJsonRpcServerTests.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Surface what StreamJsonRpc the session loaded on a method-not-found failure
  src/fsi/fsiserver.fs
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run the interactive server tests on desktop fsi too
  tests/FSharp.Compiler.Interactive.Server.Tests/FSharp.Compiler.Interactive.Server.Tests.fsproj
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore producer-owned F# metadata trimming rules
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/Driver/ILLinkSubstitutions.fs
  src/Compiler/Driver/StaticLinking.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Utilities/FileSystem.fs
  src/FSharp.Build/FSharp.Build.fsproj
  src/FSharp.Build/GenerateILLinkSubstitutions.fs
  src/FSharp.Build/Microsoft.FSharp.NetSdk.targets
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/CustomSubstitutions.xml
  tests/AheadOfTime/Trimming/SelfContained_Trimming_Test/SelfContained_Trimming_Test.fsproj
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/StaticLinking/StaticLinking.fs
  tests/FSharp.Compiler.Service.Tests/ByteMemoryTests.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/StaticLinkTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Shorten the test pipe name to fit the macOS socket path limit
  tests/FSharp.Compiler.Interactive.Server.Tests/FsiServerHarness.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Give FSharpPackage its own VSPackage resource set
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/VSPackage.resx
  vsintegration/src/FSharp.Editor/xlf/VSPackage.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.de.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.es.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.it.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release notes entry for VSPackage.resx fix
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

Seed VSPackage translations and document the resource-set split
  vsintegration/src/FSharp.Editor/VSPackage.resx
  vsintegration/src/FSharp.Editor/xlf/VSPackage.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.de.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.es.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.it.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/VSPackage.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review: stale caches on ProjectChanged and reference nav identity
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserItems.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserLibrary.fs
  vsintegration/tests/FSharp.Editor.Tests/ObjectBrowserListTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Populate Object Browser and Class View for F# projects
  docs/ide/ObjectBrowser-Integration.md
  docs/release-notes/.VisualStudio/18.vNext.md
  vsintegration/src/FSharp.Editor/Common/Constants.fs
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.resx
  vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/NavInfo.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserDescription.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserItems.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserLibrary.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserList.fs
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserModel.fs
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.cs.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.de.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.es.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.fr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.it.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ja.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ko.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pl.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.pt-BR.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.ru.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.tr.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hans.xlf
  vsintegration/src/FSharp.Editor/xlf/FSharp.Editor.zh-Hant.xlf
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/FSharp.Editor.Tests/ObjectBrowserListTests.fs
  vsintegration/tests/FSharp.Editor.Tests/ObjectBrowserNavInfoTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Keep the project check out of the Object Browser's background task
  vsintegration/src/FSharp.Editor/ObjectBrowser/ObjectBrowserLibrary.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix CI failures
  eng/Version.Details.props
  eng/Version.Details.xml
  tests/ILVerify/ilverify.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Ship net10.0 FSharp.Core with the SDK tools
  Directory.Build.targets
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Driver/CompilerImports.fs
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.nuspec
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Link SDK FSharp.Core release note to its PR
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Plan TDD fix for accessor MethodImpl metadata
  .tools/ralph/BACKLOG.md
  .tools/ralph/sprints/01_Fix_Accessor_MethodImpl.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Plan TDD getter slicing overflow fix for #20530
  .tools/ralph/BACKLOG.md
  .tools/ralph/sprints/01_Fix_Getter_Slice_Overflow.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Simplify metadata helpers and verify actual removal rules
  src/Compiler/Driver/StaticLinking.fs
  src/FSharp.Build/GenerateILLinkSubstitutions.fs
  tests/FSharp.Compiler.ComponentTests/StaticLinking/StaticLinking.fs
  tests/fsharp/Compiler/CodeGen/EmittedIL/StaticLinkTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Plan TDD fix for record field-order diagnostics (#20410)
  .tools/ralph/BACKLOG.md
  .tools/ralph/sprints/01_Record_Field_Order_Diagnostics.md
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix MethodImpl flags on property accessors
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/MethodImplAttribute/MethodImplAttribute.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix getter slice overflow for extreme bounds (#20530)
  docs/release-notes/.FSharp.Core/11.0.100.md
  src/FSharp.Core/prim-types.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/OperatorsModule1.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix misleading record field-order diagnostics (#20410)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/SignatureConformance.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Signatures/Signatures.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
