Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Add stable synthesized-name replay infrastructure for hot reload (#20024)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/TypedTree/CompilerGeneratedNameMapState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/GeneratedNames.fs
  src/Compiler/TypedTree/SynthesizedTypeMaps.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CompilerGeneratedNameDeterminism.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/HotReload/GeneratedNamesTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/NameMapTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: expand implicit <inheritdoc/> on constructors at the IDE layer
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: add constructor inheritdoc edge cases (generic base, no-match, struct)
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review
  docs/release-notes/.Language/preview.md
  src/Compiler/Optimize/DelegateForwarding.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/DirectDelegates/DirectDelegates.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CPM: centrally pin Microsoft.VisualStudio.ComponentModelHost 18.9.453
  eng/Packages.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: drop StreamJsonRpc VersionOverride in FSharp.Compiler.LanguageServer
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: replace unreachable H6 ambiguity test with observable cross-class winner (red)
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: pin constructor overload selection at the tooltip layer
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs: note constructor inheritdoc support in release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  docs/release-notes/.VisualStudio/18.vNext.md
Due: none

fix: scope ORPA priority by declaring type, not extended type (H6)
  src/Compiler/Checking/OverloadResolutionRules.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix XML doc include test framework review items
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

test: cover generic base class, generic interface and generic base method
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: splice expanded inheritdoc as XML instead of escaped text
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: add naked-generic-receiver cross-class ORPA discriminator; inline group-key
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use FS3887 for XML doc include warnings
  src/Compiler/FSComp.txt
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs: correct H7 discriminator comments to match empirical grouping
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Release notes
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Parser: recover on unfinished abstract members
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
  src/Compiler/pars.fsy
  tests/service/data/SyntaxTree/Member/Abstract - Method 01.fs
  tests/service/data/SyntaxTree/Member/Abstract - Method 01.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Method 02.fs
  tests/service/data/SyntaxTree/Member/Abstract - Method 02.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Property 06.fs
  tests/service/data/SyntaxTree/Member/Abstract - Property 06.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Property 07.fs
  tests/service/data/SyntaxTree/Member/Abstract - Property 07.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Property 08.fs
  tests/service/data/SyntaxTree/Member/Abstract - Property 08.fs.bsl
  tests/service/data/SyntaxTree/Member/Abstract - Property 09.fs
  tests/service/data/SyntaxTree/Member/Abstract - Property 09.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fantomas
  src/Compiler/SyntaxTree/ParseHelpers.fs
  src/Compiler/SyntaxTree/ParseHelpers.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Handle inline XML doc includes
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: apply ORPA among applicable members before betterness (H1)
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Phase 2 review fixes: reuse illib helpers, add multi-sibling + sibling-survival tests
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: degrade gracefully when an inheritdoc path selects text nodes
  src/Compiler/Symbols/XmlDocInheritance.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix XML doc include cycle key
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor: apply Gate 3V findings (List.memq, tighter comment, 3 guard tests)
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Phase 3 review: add mutual-cycle and DAG-sibling include tests
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs: tighten Gate 3V comments (compactness reviewer)
  src/Compiler/Checking/ConstraintSolver.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/CSharpPriorityLib.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: avoid surfacing wrong inherited docs on two resolver paths
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix include xmldoc zero-match handling
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor: drop unused range param from inheritdoc engine
  src/Compiler/Symbols/SymbolHelpers.fs
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
  src/Compiler/Symbols/XmlDocInheritance.fsi
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Harden include zero-match handling against non-element XPath results
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

test: add XmlDoc include behavior locks
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove dead nestedA/nestedB include test snippets
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Address review
  docs/release-notes/.Language/preview.md
Due: none

Refactor XML doc include expansion
  src/Compiler/Driver/XmlDocFileWriter.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Collapse copy-pasted completion sources in PatternMatching and Generics
  tests/FSharp.Compiler.Service.Tests/Completion/CompletionTests.Generics.fs
  tests/FSharp.Compiler.Service.Tests/Completion/CompletionTests.PatternMatching.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: gate ORPA/concreteness diagnostics behind their language features (H3)
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insertion: build the lean .vsman via the MODERN SwixBuild plugin (main's restorable one)
  azure-pipelines.yml
  eng/CIBuild.cmd
  setup/Swix/Microsoft.FSharp.Lean.vsmanproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make included XML params validate
  src/Compiler/SyntaxTree/XmlDoc.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
