Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Tighten #17773 test to the direct cross-assembly member refs
  tests/FSharp.Compiler.ComponentTests/Conformance/GeneratedEqualityHashingComparison/Basic/Basic.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Make provided-type lookup caches lock-free via entity version stamping
  src/Compiler/TypedTree/TypedTree.fs
  src/Compiler/Utilities/lib.fs
  src/Compiler/Utilities/lib.fsi
  tests/FSharp.Compiler.Service.Tests/ManglingNameOfProvidedTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Block 12: ship ZERO sqlite from the F# VS insertion (drop SourceGear swap)
  Tools/FSharp.SqliteVendored/.gitignore
  Tools/FSharp.SqliteVendored/Directory.Build.props
  Tools/FSharp.SqliteVendored/Directory.Build.targets
  Tools/FSharp.SqliteVendored/README.md
  Tools/FSharp.SqliteVendored/SourceGearSqlite.csproj
  eng/Signing.props
  setup/Swix/Microsoft.FSharp.SDK/SourceGearSqlite.signproj
  setup/Swix/Microsoft.FSharp.SDK/SourceGearSqlite.swr
  vsintegration/Directory.Build.props
  vsintegration/Vsix/VisualFSharpFull/VisualFSharpFull.csproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.LanguageService/FSharp.LanguageService.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bound the provided-type cache-coherence stress test for CI
  tests/FSharp.Compiler.Service.Tests/ManglingNameOfProvidedTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

FS1113: also catch private union cases captured by inline members
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/ClassTypes/MemberDeclarations/MemberDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Allow closures to read a protected base field (#19991)
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/AccessibilityLogic.fs
  src/Compiler/Checking/AccessibilityLogic.fsi
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/OptimizeInputs.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fsi
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/BaseClass.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/OnTypeMembers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(fcs): expose FSharpMemberOrFunctionOrValue.IsPropertyAccessor (#19883)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/Symbols.fsi
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3011756
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3011756
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix F# semantic classification for delegates, slices, CEs, open type (#19960)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Service/SemanticClassification.fs
  src/Compiler/Service/ServiceAnalysis.fs
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address PR review: use g.ilg.typ_Object check and dedup decode comments
  src/Compiler/AbstractIL/il.fs
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep enum-decode int32 note in il.fsi only; leave pre-existing fallback comment unchanged
  src/Compiler/AbstractIL/il.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Narrow inherit FS0039 classifier to UndefinedName/WrappedError
  src/Compiler/Checking/CheckDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CI: run compiler smoke tests after the product build
  eng/CIBuild.cmd
  eng/run-smoke-tests.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

FS1113: base inline-member check on free value references only
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/ClassTypes/MemberDeclarations/MemberDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore release-notes entries dropped by union merge
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Buffer the seq implicit-yield probe's reporting instead of suspending it
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Pin VS-compatible package versions for local dev
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Restore release-note entries dropped by the main merge
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

Extract RunWithBufferedReporting helper for the seq implicit-yield probe
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Report FS0039 only once for undefined type in inherit clause (#19862)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/ClassTypes/InheritsDeclarations/InheritsDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CI: build and run the 15.9 NUnit unit-test suites (5417 tests)
  azure-pipelines.yml
  eng/CIBuild.cmd
  eng/run-tests.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add ResolveOverloads.Yes fallback before textual recovery (#19906 review)
  src/Compiler/Service/FSharpCheckerResults.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address review: honest ranges + tighter range assertions
  src/Compiler/Checking/CheckRecordSyntaxHelpers.fs
  src/Compiler/Checking/NameResolution.fs
  tests/FSharp.Compiler.Service.Tests/Symbols.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #16419: report seq implicit-yield format specifiers and diagnostics once (#19895)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckSequenceExpressions.fs
  src/Compiler/Checking/NameResolution.fs
  src/Compiler/Checking/NameResolution.fsi
  tests/FSharp.Compiler.Service.Tests/EditorTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bucket closure type-name suffix per codegen file scope; re-enable FSCS.dll determinism gate
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  eng/test-determinism.ps1
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Regenerate ComponentTests EmittedIL baselines for residue-drain emit order
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest1.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest2.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest3.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest4.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest5.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/AsyncExpressionStepping/AsyncExpressionSteppingTest6.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd03.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd03.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd04.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/ForLoop/NonTrivialBranchingBindingInEnd04.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals10.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals11.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals12.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals13.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals14.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals15.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals16.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals17.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/GenericComparison/Equals18.fsx.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/AugmentationClosureNesting.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/AnonRecd.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/CodeGenRenamings01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/LetIfThenElse01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/Lock01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/ModuleWithExpression01.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Misc/ModuleWithExpression01.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Nullness/AnonRecords.fs.il.netcore.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOff.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/TestFunctions/Verify13043.fs.RealInternalSignatureOn.OptimizeOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithExtensionMethod.fsx.realInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithLastOpenedTypeExtensions.fsx.realInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithLastOpenedTypeExtensions.fsx.realInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowWithTypeExtension.fsx.realInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/TypeChecks/Shadowing/ShadowingAndStillOkWithChainedCalls.fsx.realInternalSignatureOn.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Pin AOT trimmed sizes; fantomas-format residue-drain block
  src/Compiler/CodeGen/IlxGen.fs
  tests/AheadOfTime/Trimming/check.ps1
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insert release notes at a random line to avoid merge conflicts (#20008)
  .github/skills/release-notes/SKILL.md
  .github/skills/release-notes/pick-insert-line.fsx
Due: none

Add regression test for cross-assembly private-constructor record equality (#20009)
  tests/FSharp.Compiler.ComponentTests/Conformance/GeneratedEqualityHashingComparison/Basic/Basic.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix Go-to-Definition for provided constructors without definition location (#19917)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Symbols/SymbolHelpers.fs
  tests/FSharp.Compiler.Service.Tests/ProjectAnalysisTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Avoid false FS1113 on inline instance members with class-scope self identifiers (#19761)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Optimize/Optimizer.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/ObjectOrientedTypeDefinitions/ClassTypes/MemberDeclarations/MemberDeclarations.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add computation-expression tests for warning 20 range (follow-up to #19896) (#19992)
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/WarnExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Remove [UnusedOpens] debug tracing from product hot paths
  src/Compiler/Service/ServiceAnalysis.fs
  vsintegration/src/FSharp.Editor/Diagnostics/UnusedOpensDiagnosticAnalyzer.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add code-compaction skill for shrinking bloated diffs (#19954)
  .github/skills/code-compaction/SKILL.md
  .github/skills/code-compaction/templates/garbage-hunt.md
  .github/skills/code-compaction/templates/logic-rounds.md
  .github/skills/code-compaction/templates/test-compaction.md
Due: none

Add Roslyn-format EnC CustomDebugInformation codec and portable PDB method CDI emission
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/EncMethodDebugInformation.fs
  src/Compiler/AbstractIL/EncMethodDebugInformation.fsi
  src/Compiler/AbstractIL/ilwrite.fs
  src/Compiler/AbstractIL/ilwrite.fsi
  src/Compiler/AbstractIL/ilwritepdb.fs
  src/Compiler/AbstractIL/ilwritepdb.fsi
  src/Compiler/Driver/fsc.fs
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/Interactive/fsi.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add ECMA-335 EnC metadata delta writer
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/AbstractIL/DeltaIndexSizing.fs
  src/Compiler/AbstractIL/DeltaMetadataEncoding.fs
  src/Compiler/AbstractIL/DeltaMetadataSerializer.fs
  src/Compiler/AbstractIL/DeltaMetadataTables.fs
  src/Compiler/AbstractIL/DeltaMetadataTypes.fs
  src/Compiler/AbstractIL/DeltaTableLayout.fs
  src/Compiler/AbstractIL/FSharpDeltaMetadataWriter.fs
  src/Compiler/AbstractIL/ILDeltaHandles.fs
  src/Compiler/AbstractIL/ILMetadataHeaps.fs
  src/Compiler/AbstractIL/IlxDeltaStreams.fs
  src/Compiler/AbstractIL/ilwrite.fsi
  src/Compiler/FSharp.Compiler.Service.fsproj
  tests/FSharp.Compiler.Service.Tests/DeltaMetadata/CodedIndexTests.fs
  tests/FSharp.Compiler.Service.Tests/DeltaMetadata/FSharpDeltaMetadataWriterTests.fs
  tests/FSharp.Compiler.Service.Tests/DeltaMetadata/MetadataDeltaTestHelpers.fs
  tests/FSharp.Compiler.Service.Tests/DeltaMetadata/SrmReaderParityTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fail closed on baseline-less compiler-generated types under external naming
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add flag-gated experimental in-process compile for hot reload
  src/Compiler/Driver/CompilerImports.fs
  src/Compiler/Driver/CompilerImports.fsi
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/Service/FSharpCheckerResults.fs
  src/Compiler/Service/FSharpCheckerResults.fsi
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  src/Compiler/TypedTree/CompilerGlobalState.fs
  src/Compiler/TypedTree/CompilerGlobalState.fsi
  tests/FSharp.Compiler.Service.Tests/CompilerGlobalStateTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Use ProcessStartInfo.Arguments for net472 compatibility
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml
