Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Add inheritdoc unit tests; commit perf optimization and test refactoring
  .tools/ralph/BACKLOG.md
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDoc.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Remove agent artifacts and working files from PR
  .github/skills/honest-planner/SKILL.md
  .tools/ralph/BACKLOG.md
  PR_DESCRIPTION.md
  SPEC-TODO.MD
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Add release note for inheritdoc XML documentation support
  docs/release-notes/.FSharp.Compiler.Service/11.0.0.md
Due: none

Fix IlxGen: tail call ordering, NoHelpers discard guards, revert GenConstant refactor
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: code quality, perf, test quality, and override inheritdoc resolution
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
  src/Compiler/Symbols/XmlDocSigParser.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: perf, code quality, and test improvements
  src/Compiler/Symbols/Symbols.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: eliminate redundant allocations, extract shared cref dispatch, strengthen tests
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
  src/Compiler/Symbols/XmlDocInheritance.fsi
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: fix missing [<Theory>], remove dead code, deduplicate expand logic, strengthen assertions
  src/Compiler/Symbols/XmlDocInheritance.fs
  src/Compiler/Symbols/XmlDocInheritance.fsi
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: fix F: cref field resolution, remove unused import, strengthen edge case test assertions
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: inline trivial wrapper, tighten parseCref fallback, improve test helpers and coverage
  src/Compiler/Symbols/Symbols.fs
  src/Compiler/Symbols/XmlDocInheritance.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup #1: fix broken component tests using removed expandInheritDoc API
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDoc.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fixup #1: fix stale ILVerify baselines and use correct cref prefixes for properties/events
  src/Compiler/Symbols/Symbols.fs
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Debug_netstandard2.0.bsl
  tests/ILVerify/ilverify_FSharp.Compiler.Service_Release_netstandard2.0.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #17539: UoM ToString returns string instead of string|null
  src/Compiler/Checking/MethodCalls.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Performance: Optimize nullness type checking operations
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Code quality refactoring: extract shared helpers and improve documentation
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #18334: Allow 'not null' constraint on type extensions
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #18021: No false positive warning when passing non-null AllowNullLiteral instance
  src/Compiler/TypedTree/TypedTreeOps.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add edge case tests for tuple null elimination with restricting patterns
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix #18013: Pipe operator error location points to nullable argument
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.checknulls_on.err.bsl
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.nullness_disabled.err.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add regression test for issue #17727 - Option.toObj inference
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Code quality refactoring: rename function, use List.map3, extract helper, parameterize tests
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix #19042: Multi-match tuple null elimination
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add regression tests for #18034: FSharpPlus monad CE with nullness
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix nullness bugs, improve code quality, and add comprehensive tests
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/SignatureConformance.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/Symbols/Exprs.fs
  src/Compiler/Symbols/FSharpDiagnostic.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: Extract helpers, strengthen tests, fix misleading comments
  src/Compiler/AbstractIL/il.fs
  src/Compiler/AbstractIL/il.fsi
  src/Compiler/CodeGen/EraseClosures.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cleanup: Remove tracking files and redundant comments
  .ralph/VISION.md
  CODEGEN_REGRESSIONS.md
  REFACTORING.md
  src/Compiler/CodeGen/EraseClosures.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: Use struct tuple in fixFuncTypeArgs, apply getActualIL helper consistently
  src/Compiler/CodeGen/EraseClosures.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix for-arrow debug points in comprehensions (#13504)
  src/Compiler/Optimize/LowerComputedCollections.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/ForArrowDebugPoints.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cleanup: Remove redundant comments across changed files
  src/Compiler/CodeGen/EraseClosures.fs
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fixup: Deduplicate GenConstant type mapping, merge DU discard branches, remove redundant comments
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Cleanup: Remove redundant comments that restate code or test names
  src/Compiler/Checking/MethodCalls.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CE debug point bugs (issues 19248 and 19255)
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/CEDebugPoints.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Test.Utilities/Compiler.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix CEDebugPoints test expected values for issues 19248 and 19255
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Debugger/CEDebugPoints.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Strengthen test coverage for three codegen regression tests
  tests/FSharp.Compiler.ComponentTests/EmittedIL/CodeGenRegressions/CodeGenRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Cleanup: Revert unrelated release-notes/version changes, remove redundant comments
  docs/release-notes/.FSharp.Compiler.Service/10.0.100.md
  docs/release-notes/.FSharp.Compiler.Service/10.0.200.md
  docs/release-notes/.Language/10.0.md
  docs/release-notes/.Language/preview.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.Service.Tests/ExprTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add tests for return! and yield! CE debug point coverage (issues 19248, 19255)
  tests/FSharp.Compiler.ComponentTests/Debugger/CEDebugPoints.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fsharp-diagnostics skill added
  .github/skills/fsharp-diagnostics/SKILL.md
  .github/skills/fsharp-diagnostics/scripts/get-fsharp-errors.sh
  .github/skills/fsharp-diagnostics/server/DesignTimeBuild.fs
  .github/skills/fsharp-diagnostics/server/DiagnosticsFormatter.fs
  .github/skills/fsharp-diagnostics/server/Directory.Build.props
  .github/skills/fsharp-diagnostics/server/FSharpDiagServer.fsproj
  .github/skills/fsharp-diagnostics/server/Program.fs
  .github/skills/fsharp-diagnostics/server/ProjectManager.fs
  .github/skills/fsharp-diagnostics/server/Server.fs
Due: none

Extract capturedTypeForFreeVar helper for byref free variable handling
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Restore missing doc comment on GenGetFreeVarForClosure (#19068)
  src/Compiler/CodeGen/IlxGen.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix nullness bugs: #17539, #18013, #18021, #18334, #19042
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/ConstraintSolver.fs
  src/Compiler/Checking/ConstraintSolver.fsi
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/Checking/MethodCalls.fs
  src/Compiler/Driver/CompilerDiagnostics.fs
  src/Compiler/Symbols/FSharpDiagnostic.fs
  src/Compiler/TypedTree/TypedTreeOps.fs
  src/Compiler/TypedTree/TypedTreeOps.fsi
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/NullableReferenceTypesTests.fs
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.checknulls_on.err.bsl
  tests/FSharp.Compiler.ComponentTests/Language/Nullness/using-nullness-syntax-positive.fs.nullness_disabled.err.bsl
  tests/fsharp/typecheck/sigs/neg83.vsbsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml
