Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md

Checker: recover on checking language version (#19970)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/CheckFormatStrings.fs
  src/Compiler/Checking/CheckPatterns.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/Language/BooleanReturningAndReturnTypeDirectedPartialActivePatternTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Block 10a: fix vsintegration BC30389/FS1092 by emitting IVT for SDK-style projects
  vsintegration/Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Strengthen #16268 concrete-disposable test to exercise Item.Types arm
  tests/FSharp.Compiler.ComponentTests/FSharpChecker/SemanticClassificationRegressions.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Block 10b: wire SDK-style vsintegration projects to the proto fsc.exe
  vsintegration/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Handle remaining interpolated-string forms adjacent to '=' (#16696)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/lex.fsl
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsExtendedMultiDollar.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsExtendedMultiDollar.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsVerbatim.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsVerbatim.fs.bsl
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsVerbatimAtDollar.fs
  tests/service/data/SyntaxTree/String/SynExprInterpolatedStringAdjacentEqualsVerbatimAtDollar.fs.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add run test for '=' adjacent to a multi-dollar interpolated string with a hole
  tests/FSharp.Compiler.ComponentTests/Language/InterpolatedStringsTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Hot reload tests: add suspend/surrounding-edit coverage; consolidate capability lists
  src/Compiler/Utilities/EditAndContinueCapabilities.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/AttributeEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/GenericEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/NewTypeDefinitionTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/ParameterEditTests.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix(hot-reload): encode state-machine shape digest via injective type identity
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ArchitectureGuardTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor(hot-reload): remove dead UpdateActiveStatements forwarder
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/HotReloadState.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

ILVerify: soft comparison ignoring IL byte offset drift (#18090) (#19553)
  .github/skills/ilverify-failure/SKILL.md
  DEVGUIDE.md
  tests/ILVerify/ilverify.Tests.ps1
  tests/ILVerify/ilverify.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply fantomas formatting to UnusedOpens diagnostic tracing
  src/Compiler/Service/ServiceAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Trigger reanalysis once, not periodically, so slow unused-opens analysis completes
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FSI pretty printing for anonymous records (#19919)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Utilities/sformat.fs
  tests/AheadOfTime/Trimming/Program.fs
  tests/AheadOfTime/Trimming/check.ps1
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/InteractiveSession/AnonRecordPrinting.fs
  tests/fsharp/core/anon/lib.fs
  tests/fsharp/core/anon/test.fsx
  tests/fsharp/core/printing/output.1000.stdout.bsl
  tests/fsharp/core/printing/output.200.stdout.bsl
  tests/fsharp/core/printing/output.multiemit.stdout.bsl
  tests/fsharp/core/printing/output.off.stdout.bsl
  tests/fsharp/core/printing/output.stdout.bsl
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address Eugene's feedback on PR #19504 (#19896)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/WarnExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix lost source range for empty-bodied computation expressions in pipelines (#19550) (#19849)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckComputationExpressions.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.ComponentTests/Language/CE_PipelineRange19550.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add FS3889 diagnostic for namespace/type collision (#19802)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/FSComp.txt
  src/Compiler/TypedTree/TypedTreeOps.Remapping.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/NamespaceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3006490
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3006490
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Move print/printn release notes to FSharp.Core 11.0.100
  docs/release-notes/.FSharp.Core/10.0.300.md
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

Add static optimizations for string, char, and bool
  .fantomasignore
  src/FSharp.Core/fslib-extra-pervasives.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/PrintFunction.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat(hot-reload): carry structured rude-edit diagnostics through the error channel
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/Compiler/HotReload/EditAndContinueLanguageService.fs
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/HotReload/HotReloadContracts.fs
  src/Compiler/HotReload/RudeEditDiagnostics.fs
  src/Compiler/Service/service.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/RuntimeIntegrationTests.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.SurfaceArea.netstandard20.bsl
  tests/FSharp.Compiler.Service.Tests/HotReload/ActiveStatementTests.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadCheckerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs(hot-reload): record the FSHRDL vs ENC id-namespace decision at the swap point
  src/Compiler/HotReload/RudeEditDiagnostics.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Separate produce from read: wait for a fix to be offered before invoking the lightbulb (B+)
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/InProcess/EditorInProcess.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs(hot-reload): one-command setup + dogfood-based quickstart
  docs/hot-reload-quickstart.md
  docs/hot-reload-setup.sh
  docs/hot-reload-sync-fcs.sh
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 3006599
  src/Compiler/xlf/FSStrings.cs.xlf
  src/Compiler/xlf/FSStrings.de.xlf
  src/Compiler/xlf/FSStrings.es.xlf
  src/Compiler/xlf/FSStrings.fr.xlf
  src/Compiler/xlf/FSStrings.it.xlf
  src/Compiler/xlf/FSStrings.ja.xlf
  src/Compiler/xlf/FSStrings.ko.xlf
  src/Compiler/xlf/FSStrings.pl.xlf
  src/Compiler/xlf/FSStrings.pt-BR.xlf
  src/Compiler/xlf/FSStrings.ru.xlf
  src/Compiler/xlf/FSStrings.tr.xlf
  src/Compiler/xlf/FSStrings.zh-Hans.xlf
  src/Compiler/xlf/FSStrings.zh-Hant.xlf
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs(hot-reload): fix the SDK build command for a fresh checkout
  docs/hot-reload-quickstart.md
  docs/hot-reload-setup.sh
Due: none

Add spaced fallback read for gate-blind fixes (F# ErrorFix)
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix open declaration insertion in .fsx scripts after #r/#load directives (#16271) (#19879)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Service/ServiceParsedInputOps.fs
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/OpenDeclarationInsertionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Regenerate AugmentationClosureNesting IL baselines after merge with main
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/AugmentationClosureNesting.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/AugmentationClosureNesting.fs.RealInternalSignatureOn.il.bsl
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix FS1110 in task { let! } when generic IL extension is in scope (#19938)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/NameResolution.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Expressions/ComputationExpressions/CEExtensionMethodCapture.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Run inttests via VSTest to enable MaxAttempts retry; pure B+ gate
  eng/Build.ps1
  eng/Versions.props
  vsintegration/tests/FSharp.Editor.IntegrationTests/AbstractIntegrationTest.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/FSharp.Editor.IntegrationTests.csproj
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Nest augmentation-member closures inside their declaring type under --realsig+ (#19955)
  .github/instructions/CodeGen.instructions.md
  .github/skills/realsig-codegen/SKILL.md
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/AugmentationClosureNesting.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/AugmentationClosureNesting.fs.RealInternalSignatureOff.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/AugmentationClosureNesting.fs.RealInternalSignatureOn.il.bsl
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Inlining.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Inlining/Regression_RealsigAugmentationClosure.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Quarantine UnusedOpenDeclarations: flaky F# unused-opens diagnostic production
  vsintegration/tests/FSharp.Editor.IntegrationTests/CodeActionTests.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Enable reading a protected base field from a closure (#5302)
  docs/release-notes/.Language/preview.md
  src/Compiler/Checking/AccessibilityLogic.fs
  src/Compiler/Checking/AccessibilityLogic.fsi
  src/Compiler/Checking/CheckBasics.fs
  src/Compiler/Checking/CheckBasics.fsi
  src/Compiler/Checking/CheckDeclarations.fs
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/CodeGen/IlxGen.fs
  src/Compiler/Driver/OptimizeInputs.fs
  src/Compiler/FSComp.txt
  src/Compiler/Facilities/LanguageFeatures.fs
  src/Compiler/Facilities/LanguageFeatures.fsi
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fs
  src/Compiler/Optimize/InnerLambdasToTopLevelFuncs.fsi
  src/Compiler/Optimize/Optimizer.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/BaseClass.cs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/AccessibilityAnnotations/OnTypeMembers/OnTypeMembers.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add computation-expression tests for warning 20 range (follow-up to #19896)
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/WarnExpressionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Don't regenerate xlf files in source-only builds (#19968)
  FSharpBuild.Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Revert VSTest+MaxAttempts; restore the fallback-read state where AddMissingFun passed
  eng/Build.ps1
  eng/Versions.props
  vsintegration/tests/FSharp.Editor.IntegrationTests/AbstractIntegrationTest.cs
  vsintegration/tests/FSharp.Editor.IntegrationTests/FSharp.Editor.IntegrationTests.csproj
  vsintegration/tests/FSharp.Editor.IntegrationTests/Helpers/LightBulbHelper.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Apply suggestion from @abonie
  tests/FSharp.Compiler.ComponentTests/ErrorMessages/Issue9838Tests.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml
