Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Insertion: point SwixPluginDir at the plugin build\ folder (not content\)
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Correct StructLayout size emission for data-less struct unions (#19759)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/CodeGen/IlxGen.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/BasicGrammarElements/CustomAttributes/Basic/Basic.fs
  tests/FSharp.Compiler.ComponentTests/EmittedIL/Structure/Structure.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Format umbrella integration fixes
  src/Compiler/AbstractIL/IlxDeltaStreams.fs
  src/Compiler/Service/service.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insertion: pin SwixBuild plugin 1.1.286 + robust plugin-dir find
  eng/CIBuild.cmd
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Report FS3350 for record constructor use on an unsupported langversion
  src/Compiler/Checking/InfoReader.fs
  src/Compiler/Checking/MethodCalls.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Types/RecordTypes/RecordTypes.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insertion: construct SwixPluginDir directly (drop the broken PowerShell find)
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Insertion: skip .NETFramework ref-assembly resolution in the .vsmanproj (MSB3644)
  setup/Swix/Microsoft.FSharp.Lean.vsmanproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Fix empty anonymous record ToString rendering a doubled space
  src/Compiler/Checking/AugmentWithHashCompare.fs
  tests/FSharp.Compiler.ComponentTests/CompilerOptions/fsc/reflectionfree.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

tidy comment
  src/Compiler/Checking/AugmentWithHashCompare.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insertion: stage the finalized .vsman into the insertion drop folder
  setup/Swix/Microsoft.FSharp.Lean.vsmanproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Insertion: patch component json payload size to the signed VSIX (fix .vsman hash/size consistency)
  eng/CIBuild.cmd
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Debug logging
  eng/Build.ps1
Due: azure-pipelines-PR.yml, azure-pipelines.yml

doc: Polish CL
  docs/release-notes/.FSharp.Core/11.0.100.md
Due: none

fix: Make test compile on ns2.0/net471
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/AsyncType.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

refactor: extract paramsMentionSRTP; de-tag test comments (Gate 6V compactness)
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: cap inheritdoc expansion depth to prevent stack overflow on deep chains
  src/Compiler/Symbols/XmlDocInheritance.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insertion: probe the VSTS drop upload (main's dnceng-devdiv-drop-rw-code-rw-wif)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: Correct #if guard using wrong symbol
  tests/FSharp.Compiler.ComponentTests/Conformance/InferenceProcedures/ByrefSafetyAnalysis/ByrefSafetyAnalysis.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs: pin and document nested-inheritdoc-in-element limitation
  src/Compiler/Symbols/XmlDocInheritance.fs
  tests/FSharp.Compiler.Service.Tests/XmlDocInheritanceTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Simplify XML doc include expansion
  src/Compiler/SyntaxTree/XmlDoc.fs
  src/Compiler/SyntaxTree/XmlDoc.fsi
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor: SRTP detection via free-typar walker; add SRTP-ambiguous guard (Gate 6V)
  src/Compiler/Checking/OverloadResolutionRules.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Report XML doc include budget limit once per document
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

feat: include errors name both file and xpath (FS3887, Roslyn parity)
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

docs+cleanup: reconcile RFC with shipped scope incl. constructors (a), dedupe release notes, fix spelling (A8)
  docs/release-notes/.FSharp.Compiler.Service/10.0.300.md
  docs/release-notes/.Language/preview.md
  docs/rfcs/FS-XXXX-most-concrete-tiebreaker.md
  src/Compiler/Checking/ConstraintSolver.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

refactor: localize include-error frame via FSComp and broaden diagnostic tests
  src/Compiler/FSComp.txt
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insertion: make the VSTS drop upload a required step (probe confirmed 499 is authorized)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

docs: consolidate <include> release note into a single Added entry
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
Due: none

test: cover a non-well-formed included XML file (warns once, keeps tag)
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Do not expand foreign-namespace <include>; simplify path resolution
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Compiler.ComponentTests/Miscellaneous/XmlDocInclude.fs
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Keep rooted-include fast path in resolveFilePath
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: Catch mapper/binder exn as Fault
  src/FSharp.Core/tasks.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

chore: Clone impl and tests for ValueTask
  src/FSharp.Core/tasks.fs
  tests/FSharp.Core.UnitTests/FSharp.Core/Microsoft.FSharp.Control/TaskModuleFunctions.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refine inheritdoc depth-cap comment wording
  src/Compiler/Symbols/XmlDocInheritance.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Address rubber-duck review: FSComp sort, expander compaction, whitespace
  src/Compiler/FSComp.txt
  src/Compiler/SyntaxTree/XmlDocIncludeExpander.fs
  tests/FSharp.Test.Utilities/Compiler.fs
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Report FS3888 for generic attribute type abbreviations instead of FS0193 (#19915)
  docs/release-notes/.FSharp.Compiler.Service/11.0.100.md
  src/Compiler/Checking/Expressions/CheckExpressions.fs
  src/Compiler/FSComp.txt
  src/Compiler/xlf/FSComp.txt.cs.xlf
  src/Compiler/xlf/FSComp.txt.de.xlf
  src/Compiler/xlf/FSComp.txt.es.xlf
  src/Compiler/xlf/FSComp.txt.fr.xlf
  src/Compiler/xlf/FSComp.txt.it.xlf
  src/Compiler/xlf/FSComp.txt.ja.xlf
  src/Compiler/xlf/FSComp.txt.ko.xlf
  src/Compiler/xlf/FSComp.txt.pl.xlf
  src/Compiler/xlf/FSComp.txt.pt-BR.xlf
  src/Compiler/xlf/FSComp.txt.ru.xlf
  src/Compiler/xlf/FSComp.txt.tr.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hans.xlf
  src/Compiler/xlf/FSComp.txt.zh-Hant.xlf
  tests/FSharp.Compiler.ComponentTests/Attributes/GenericAttributeAbbreviations.fs
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fix net472 build: use String.Contains(string) not the char overload
  tests/FSharp.Test.Utilities/XmlDocIncludeTestFramework.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

chore: fantomas
  src/FSharp.Core/tasks.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: Update tooltip expected to include Await
  tests/FSharp.Compiler.Service.Tests/Tooltip/TooltipTests.Types.fs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

fix: gate net472-incompatible ORPA test + fold rubber-duck review findings
  src/Compiler/Checking/OverloadResolutionRules.fs
  src/Compiler/Checking/OverloadResolutionRules.fsi
  src/Compiler/Checking/infos.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/OverloadResolutionPriority/OverloadResolutionPriorityTests.fs
  tests/FSharp.Compiler.ComponentTests/Conformance/Tiebreakers/TiebreakerTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

fix: Adjust ifdef'd xmldoc to pass validation
  src/FSharp.Core/async.fsi
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
