Repository dotnet/fsharp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

azure-pipelines-PR.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - ${{ if eq(variables['System.TeamProject'], 'public') }}:
      - template: /eng/common/templates/jobs/jobs.yml
        parameters:
          enableMicrobuild: false
          enablePublishBuildArtifacts: false
          enablePublishTestResults: false
  ...

azure-pipelines-regression-test.yml:
  stages:
  - stage: RegressionTest
    displayName: F# Compiler Regression Tests (Standalone)
    jobs:
    - job: BuildCompiler
      displayName: Build F# Compiler for Regression Tests
      pool:
        name: $(DncEngPublicBuildPool)
        demands: ImageOverride -equals $(WindowsMachineQueueName)
  ...

azure-pipelines.yml:
  extends:
    template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
    parameters:
      featureFlags:
        autoBaseline: true
      sdl:
        binskim:
          enabled: true
        policheck:
          enabled: true
        sbom:
          enabled: false
  ...

Harden delta metadata identity and cleanup
  src/Compiler/CodeGen/HotReloadBaseline.fs
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
  tests/FSharp.Compiler.ComponentTests/HotReload/DeltaEmitterTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Harden baseline metadata parsing
  src/Compiler/AbstractIL/ILBaselineReader.fs
  src/Compiler/CodeGen/HotReloadBaseline.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Preserve threaded optimizer state in incremental emit cache
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  src/Compiler/Service/service.fs
  src/Compiler/Service/service.fsi
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Ignore transient provider scopes in body identity
  src/Compiler/TypedTree/TypedTreeDiff.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add Directory.Packages.props + eng/Packages.props (CPM central list)
  Directory.Packages.props
  eng/Packages.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Preserve recorded synthesized alias replay
  src/Compiler/CodeGen/IlxDeltaEmitter.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Refresh intentional service signature drift guard
  tests/scripts/main-fsi-drift-hashes.txt
Due: none

Opt auxiliary/consumer subtrees out of CPM
  .github/skills/fsharp-diagnostics/server/Directory.Build.props
  buildtools/checkpackages/Directory.Build.props
  docs/fcs-samples/Directory.Build.props
  setup/Swix/Directory.Build.props
  tests/AheadOfTime/Directory.Build.props
  tests/EndToEndBuildTests/Directory.Build.props
  tests/benchmarks/Directory.Build.props
  tests/fsharp/SDKTests/Directory.Build.props
  tests/projects/CompilerCompat/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: reference MIBC optimization packages by identity only
  Directory.Build.targets
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: remove inline Version from centralized PackageReferences
  Directory.Build.targets
  buildtools/AssemblyCheck/AssemblyCheck.fsproj
  buildtools/fslex/fslex.fsproj
  buildtools/fsyacc/fsyacc.fsproj
  src/Compiler/FSharp.Compiler.Service.fsproj
  src/FSharp.Build/FSharp.Build.fsproj
  src/FSharp.Compiler.Interactive.Settings/FSharp.Compiler.Interactive.Settings.fsproj
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.Nuget.fsproj
  src/FSharp.VisualStudio.Extension/FSharp.VisualStudio.Extension.csproj
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
  src/Microsoft.FSharp.Compiler/Microsoft.FSharp.Compiler.fsproj
  src/fsc/fsc.targets
  src/fsi/fsi.targets
  tests/Directory.Build.props
  tests/FSharp.Build.UnitTests/FSharp.Build.UnitTests.fsproj
  tests/FSharp.Compiler.ComponentTests/FSharp.Compiler.ComponentTests.fsproj
  tests/FSharp.Compiler.LanguageServer.Tests/FSharp.Compiler.LanguageServer.Tests.fsproj
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
  tests/FSharp.Core.UnitTests/FSharp.Core.UnitTests.fsproj
  tests/FSharp.Test.Utilities/FSharp.Test.Utilities.fsproj
  tests/service/data/TestTP/TestTP.fsproj
  vsintegration/Directory.Build.targets
  vsintegration/Vsix/VisualFSharpFull/VisualFSharp.Core.targets
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.LanguageService.Base/FSharp.LanguageService.Base.csproj
  vsintegration/src/FSharp.LanguageService/FSharp.LanguageService.fsproj
  vsintegration/src/FSharp.ProjectSystem.Base/FSharp.ProjectSystem.Base.csproj
  vsintegration/src/FSharp.ProjectSystem.FSharp/FSharp.ProjectSystem.FSharp.fsproj
  vsintegration/src/FSharp.ProjectSystem.PropertyPages/FSharp.ProjectSystem.PropertyPages.vbproj
  vsintegration/src/FSharp.VS.FSI/FSharp.VS.FSI.fsproj
  vsintegration/tests/Directory.Build.targets
  vsintegration/tests/FSharp.Editor.IntegrationTests/FSharp.Editor.IntegrationTests.csproj
  vsintegration/tests/FSharp.Editor.Tests/FSharp.Editor.Tests.fsproj
  vsintegration/tests/Salsa/VisualFSharp.Salsa.fsproj
  vsintegration/tests/UnitTests/VisualFSharp.UnitTests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Add orchestration for CI and fix missing assertion
  azure-pipelines-PR.yml
  eng/Build.ps1
  vsintegration/tests/FSharp.Editor.Apex.IntegrationTests/CodeFixes/SuggestionCodeFix.cs
  vsintegration/tests/FSharp.Editor.Apex.IntegrationTests/TestFramework/FSharpLanguageServiceApexTest.cs
  vsintegration/tests/FSharp.Editor.Apex.IntegrationTests/TestFramework/ProjectCreationHelper.cs
  vsintegration/tests/FSharp.Editor.Apex.IntegrationTests/TestFramework/SynchronizationHelper.cs
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: VersionOverride for VS.Threading/StreamJsonRpc divergences
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
  src/FSharp.VisualStudio.Extension/FSharp.VisualStudio.Extension.csproj
  src/Microsoft.CommonLanguageServerProtocol.Framework.Proxy/Microsoft.CommonLanguageServerProtocol.Framework.Proxy.csproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CPM: resolve NU1109 downgrades (S.S.C.Xml 10.0.9, DI 10.0.0)
  eng/Packages.props
  eng/Versions.props
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CPM: resolve NU1109 for System.Collections.Immutable / System.Reflection.Metadata
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: resolve VS-integration NU1109 + MIBC opt-out NU1015
  Directory.Build.targets
  eng/Packages.props
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: suppress NU1507 multi-source warning after project bodies
  Directory.Build.targets
  Directory.Packages.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: darc-aware System.* central floor to preserve nuspec + source-build
  eng/Packages.props
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: version test-package refs in ImportDirectoryPackagesProps opt-out subtrees
  tests/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: address review nits (dead no-ops, comment noise, docs)
  Directory.Build.targets
  eng/Packages.props
  src/FSharp.VisualStudio.Extension/FSharp.VisualStudio.Extension.csproj
  vsintegration/src/FSharp.Editor/FSharp.Editor.fsproj
  vsintegration/src/FSharp.ProjectSystem.Base/FSharp.ProjectSystem.Base.csproj
  vsintegration/src/FSharp.VS.FSI/FSharp.VS.FSI.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CPM: round 2 review polish (comment grouping, consistency)
  eng/Versions.props
  src/FSharp.Compiler.LanguageServer/FSharp.Compiler.LanguageServer.fsproj
  tests/AheadOfTime/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Insertion: build a lean VS .vsman drop (compiler + IDE VSIX only)
  azure-pipelines.yml
  eng/CIBuild.cmd
  setup/Swix/Microsoft.FSharp.Lean.vsmanproj
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CI: restore green after the SWIX plugin 401 (revert the loose MicroBuildSwixPlugin task)
  azure-pipelines.yml
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: remove dead version properties
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: inline single-use package versions into eng/Packages.props
  eng/Packages.props
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

CPM: drop direct package references now covered by transitive pinning
  src/FSharp.Build/FSharp.Build.fsproj
  src/FSharp.DependencyManager.Nuget/FSharp.DependencyManager.Nuget.fsproj
  src/fsc/fsc.targets
  tests/FSharp.Compiler.Service.Tests/FSharp.Compiler.Service.Tests.fsproj
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CPM: compaction round 1 — single-source floor, bind VSEditor, dedup comment, extract test predicate
  eng/Packages.props
  eng/Versions.props
  tests/Directory.Build.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bound decision-tree identity traversal
  src/Compiler/TypedTree/TypedTreeDiff.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/TypedTreeDiffTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bound baseline string heap reads
  src/Compiler/CodeGen/ILBaselineReader.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Fail closed on closure-name recapture mismatch
  src/Compiler/HotReload/FSharpHotReloadSession.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/HotReloadSessionTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Bound baseline string heap reads
  src/Compiler/AbstractIL/ILBaselineReader.fs
  src/Compiler/CodeGen/HotReloadBaseline.fs
  tests/FSharp.Compiler.ComponentTests/CompilerService/EncMethodDebugInformationTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

CPM: compaction round 2 — drop dead xunit ItemGroup, trim duplicated policy comment
  Directory.Build.targets
  eng/Versions.props
Due: azure-pipelines-PR.yml, azure-pipelines.yml

Bound baseline string heap reads
  src/Compiler/AbstractIL/ILBaselineReader.fs
  tests/FSharp.Compiler.Service.Tests/HotReload/ILBaselineReaderTests.fs
Due: azure-pipelines-PR.yml, azure-pipelines-regression-test.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-PR.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
  azure-pipelines-regression-test.yml: any of: src, but not: docs, .github, *.md
  azure-pipelines.yml: any of: *, but not: .github, docs, .vscode, .devcontainer, tests/scripts, attributions.md, CODE_OF_CONDUCT.md, DEVGUIDE.md, INTERNAL.md, Language-Version-History.md, License.txt, README.md, release-notes.md, TESTGUIDE.md
